[2016-10-24 15:08] MarcusBarnes commented on #255
Please also update any documentation as appropriate.

[2016-10-24 15:43] mjordan commented on #255
Already done!

[2016-10-24 16:53] bondjimbond commented on #253
Re your last post, Mark - fixing the display doesn't fix the core problem of not adhering to standards, so I'd prefer to make sure the metadata going in is right instead.

Re the .ini file bit: sounds good, I'll do that. We'll see how it works out.

[2016-10-25 02:01] mjordan opened #256 "Add an Islandora toolchain"
It should be fairly simple to migrate from one Islandora instance to another, particularly with the load-all-datastreams functionality of the newspaper and book batch modules, and https://github.com/mjordan/islandora_batch_with_derivs.

Two use cases are:

* move content from an Islandora instance whose support is no longer viable into a consortial instance
* transfer specific collections from one

[2016-10-25 02:05] mjordan commented on #256
@MarcusBarnes I also think that the Compound Batch module can ingest correctly named datastreams. Is that correct?

[2016-10-25 14:32] mjordan commented on #255
RandomSet and SpecificSet fetcher manipulators work out of the box. Neato.

[2016-10-25 14:40] mjordan opened #257 "Add the [WRITER] datastreams[] option to the OAI toolchain"
Would be very useful to testing, etc. as it has proven to be in other toolchains.

[2016-10-25 14:51] mjordan commented on #164
@MarcusBarnes just noticed that we hadn't merged in the issue-163 and issue-164 branches. Want me to see if they still merge cleanly?

[2016-10-25 15:02] MarcusBarnes commented on #164
@mjordan Yes please.  Thank you.

[2016-10-25 15:22] mjordan commented on #164
issue-163 branch was merged into master, issue-164 was not. There are now conflicts, which I will resolve and test.

[2016-10-25 15:45] mjordan commented on #164
OK, have fixed conflicts and committed fix to issue-164 branch. Will test this evening and report back, so we can merge into master and close this issue.

[2016-10-25 22:03] bondjimbond opened #258 "Add Guzzle option in .ini to disable certificate verification"
If Guzzle can't find the path to a certificate bundle, it throws up errors and won't download files. Add option to disable certificate verification to fix this easily.

[2016-10-26 00:46] mjordan commented on #258
We can probably disable CA verification as documented at http://docs.guzzlephp.org/en/latest/request-options.html?highlight=client%20verify#verify by providing an .ini option like the `[FILE_GETTER] http_timeout` configuration option. In the OAI-PMH toolchain, we create the Guzzle client in the Writer (https://github.com/MarcusBarnes/mik/blob/master/src/writers/Oaipmh.php#L65), which is where we'd

[2016-10-26 05:42] mjordan commented on #164
@MarcusBarnes I've completely and profoundly screwed up the issue-164 branch. Reminder to self to not drive a vehicle, operate heavy machinery, or use git when tired. I can salvage the code that does the validation of the CSV file but I'm going to delete it and start from a fresh branch from master if that's OK with you.

[2016-10-26 14:03] MarcusBarnes commented on #164
@mjordan That's OK with me.  Thank you for your efforts.

[2016-10-26 16:42] MarcusBarnes commented on #258
I'm hesitant to add this as a configuration option, since this technically makes things less secure and people may copy configuration files to projects where CA verification is vital.   My hope is that the issue with Mac's and Guzzle can be resolved by the respective communities (outside of MIK).   However, it would definitely make it easier for me (as a regular Mac user) to simply include a line

[2016-10-26 16:42] MarcusBarnes commented on #258
@bondjimbond Would you also share which OS X version you're using?

[2016-10-26 16:54] bondjimbond commented on #258
El Capitan (10.11.5).

I'm using the OAI toolchain. I think that's the only one that uses Guzzle.

[2016-10-26 16:57] bondjimbond commented on #258
I wouldn't want to wait for the Guzzle people to solve the issue, since we want MIK to work _now_... Definitely would be happy to see the option to skip verification in the .ini file.

[2016-10-26 17:05] MarcusBarnes commented on #258
@bondjimbond @mjordan I'll see what I can do - starting with the OAI toolchain.   @bondjimbond I may ask that you help test.   Thanks.

[2016-10-26 18:11] mjordan commented on #258
The CONTENTdm toolchains also use Guzzle, but the reason this didn't come up during our migration was that our CONTENTdm wasn't running https.

@MarcusBarnes I appreciate your point about security, but most of the time running MIK against a remote repository will be short-lived during migrations. I don't see a problem with this as long as we document any workarounds we build into MIK so that users

[2016-10-26 18:31] MarcusBarnes commented on #258
@mjordan Thanks.  We'd also remove such functionality once this is no longer an issue with Macs.

[2016-10-26 18:57] mjordan commented on #258
Agreed - removing it when it's no longer necessary will mean simpler configuration and simpler code :smile:

[2016-10-26 19:13] mjordan commented on #258
I just ran issue-255 on our Windows VM here with not complaints about certificates, so this might be an OSX issue only (although we probably should test on more Windows and Linux machines to make sure).

[2016-10-26 19:16] MarcusBarnes commented on #258
Should the issue-255 branch be merged before I do work on this issue?

[2016-10-26 19:18] mjordan commented on #258
Probably, since the new and improved OAI toolchain is where this issue is easiest to test.

[2016-10-26 19:24] MarcusBarnes commented on #258
OK.  I'll wait until the issue-255 branch is merged, then I will work on this issue.

[2016-10-26 19:45] mjordan commented on #258
@MarcusBarnes unless you want to do further testing on issue-255, I think it's ready to merge. I can open a PR if you want.

[2016-10-26 19:50] MarcusBarnes commented on #258
@mjordan Please create a pull-request.   Thanks.

[2016-10-26 19:55] mjordan commented on #258
Done!

[2016-10-26 20:01] MarcusBarnes commented on #255
Addressed with commit 7fed3f0.

[2016-10-26 20:01] #255 closed

[2016-10-28 00:37] mjordan commented on #164
OK, done. All PHPUnit tests pass. If you want to smoketest (I don't think it's necessary), take the tutorial CSV file and add a column header to the end of the first row, then run `./mik -c tutorial_config.ini -cc csv`.

In either case I can create a PR.

[2016-10-28 02:49] mjordan opened #260 "Create a toolchain to illustrate outputting packages other than Islandora ingest packages"
For example, where the metadata is in serialized JSON instead of MODS XML.

[2016-10-28 04:07] mjordan commented on #260
@MarcusBarnes I've got a CSV toolchain that produces JSON metadata files instead of XML. Its output looks like:

[code]

A typical .ini file looks like:

[code]

Question: should we add the writer, metadata parser, and sample metadata manipulator to their respective class file directories, and just document that they are for illustration purposes only? Also, I was thinkig about adding an "Extendin

[2016-10-28 04:48] mjordan commented on #260
I've pushed up the issue-260 branch just to get it off my laptop. We can work out how we want to organize this sample toolchain later.

[2016-10-28 13:06] MarcusBarnes commented on #258
For reference, this comment gives an explanation of why this happens on Macs and how to adjust things on your Mac so that CA verification issue no longer comes up:  http://stackoverflow.com/questions/26461966/osx-10-10-curl-post-to-https-url-gives-sslread-error/26538127#26538127

However, since it may not always be possible for an MIK user to implement the adjustments on their system, I have an in

[2016-10-28 13:25] MarcusBarnes commented on #260
@mjordan Very cool.  Documenting that the parts of the toolchain are for illustration purposes only at this time is sufficient.  Also, adding sections on "Extending MIK" in the cookbook would be useful, even if we only provide stubs at this time.  It will help inform potential users of the flexibility of MIK as both a migration tool, but also a tool that can be used as part of digital preservation

[2016-10-28 13:42] mjordan commented on #260
Excellent. There's a bit more cleanup I want to do, and maybe add some more inline comments to explain what's going on, but I'll do those things over the weekend. Will also update the wiki as discussed.

[2016-10-28 13:44] mjordan commented on #260
@MarcusBarnes one more question: when you say:

Do you mean that you'd rather not see these files mingled with the other (production) classes, and to put them all under a directory in extras/sample? Or mix them with the production classes and also make sure we document that they are samples only?

[2016-10-28 13:46] MarcusBarnes commented on #260
We can add them in [src/](https://github.com/MarcusBarnes/mik/tree/master/src) and make sure we document that they are currently only samples.

[2016-10-28 13:57] MarcusBarnes commented on #258
@bondjimbond @mjordan I've addressed this for the basic OAI toolchain.   Please review and test the pull-request https://github.com/MarcusBarnes/mik/pull/261.  If @mjordan feels comfortable merging, we can apply similar logic to other toolchains.   Thank you.

[2016-10-28 14:21] mjordan opened #262 "Move the saxon/images directory under extras/lsu"
@jpeak5 would you have any objections if we moved the saxon/images under extras/lsu? We're doing some cleanup/documentation/test addtion/example adding and I'm thinking that we want to keep the top-level MIK directory on the lean side. I can take complete the task.

[2016-10-28 14:57] jpeak5 commented on #262
Mark, please do feel free to clean up as you see fit.!

- jrp

________________________________
From: Mark Jordan <notifications@github.com>
Sent: Friday, October 28, 2016 9:21:27 AM
To: MarcusBarnes/mik
Cc: Jason R Peak; Mention
Subject: [MarcusBarnes/mik] Move the saxon/images directory under extras/lsu (#262)

@jpeak5<https://github.com/jpeak5> would you have any objections if we moved the saxo

[2016-10-28 15:24] mjordan commented on #262
@jpeak5 no problem, we appreciate your work on MIK!

[2016-10-28 19:59] bondjimbond commented on #258
It works! I got my downloads, and only four items in the problem records log:

[2016-10-28 18:53:19] ProblemRecords.INFO: Initializing log {"configuration":{"config_id":"KORA migration","last_updated_on":"2016-10-22","last_update_by":"mj"}} []
[2016-10-28 19:04:12] ProblemRecords.ERROR: oai%3Akora.kpu.ca%3Afacultypub-1077 [] []
[2016-10-28 19:04:13] ProblemRecords.ERROR: oai%3Akora.kpu.ca%3Afacult

[2016-10-28 20:39] mjordan commented on #258
Awesome! The four problem items are the same ones I have been getting. The source repository is returning a 404 in response to the request for the PDF.
I'll merge this weekend. Thanks Marcus!
On 28 Oct 2016 12:59 p.m., Brandon Weigel <notifications@github.com> wrote:It works! I got my downloads, and only four items in the problem records log:

[2016-10-28 18:53:19] ProblemRecords.INFO: Initializin

[2016-10-29 14:33] mjordan commented on #262
Looking at this a bit more closely, I'd like to propose:

1. `renaming extras/scripts/postwritehooks/apply_xslt.php to` to `extras/scripts/postwritehooks/apply_xslt_with_saxon.php`
1. moving `extras/scripts/xslt-postwrite.md` to `extras/scripts/postwritehooks/apply_xslt_with_saxon.md`
1. moving `saxon/images/tree.png` to `extras/lsu/tree.png`

Plus updating all internal references to the new paths

[2016-10-29 14:42] mjordan commented on #258
Tested (on Llinux, not OS X) with `[SYSTEM] verify_ca = false` absent, and with it present. Every appeared to work as intended.

I'll add this nice new feature to the other toolchains that use Guzzle, test as above, and merge.

Nice work @MarcusBarnes and @bondjimbond.

[2016-10-29 16:38] mjordan commented on #258
In addition Marcus' addition of this feature to 'src/writers/Oaipmh.php',  04f37f0 adds it to the following classes that use Guzzle clients:

* src/config/Config.php
* src/fetchermanipulators/CdmByDmDate.php
* src/filegetters/CdmCompound.php
* src/filegetters/CdmNewspapers.php
* src/filegetters/CdmPhpDocuments.php
* src/filegetters/CdmSingleFile.php
* src/filegetters/OaipmhOjsPdf.php
* src/fileget

[2016-10-29 17:08] mjordan commented on #258
OK, I've updated all the toolchain wiki pages to document this feature, and I've merged the PR.

[2016-10-29 17:08] #258 closed

[2016-10-29 17:37] mjordan commented on #260
OK, will finish off/merge and document this weekend, then close this issue.

[2016-10-29 22:21] MarcusBarnes commented on #262
@mjordan No objections from me.  Thank you for the suggestion.

[2016-10-30 14:55] jpeak5 commented on #262
No objections here!

Sent from my iPhone

On Oct 29, 2016, at 5:21 PM, Marcus Emmanuel Barnes <notifications@github.com<mailto:notifications@github.com>> wrote:

@mjordan<https://github.com/mjordan> No objections from me. Thank you for the suggestion.

-
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/MarcusBarnes/mik/issues/262

[2016-10-30 15:50] mjordan opened #263 "Provide a metadata manipulator that will allow mapping of multiple source fields to a single MODS snippet"
MIK mappings for CONTENTdm and CSV toolchains assume a 1-to-1 relationship between the input metadata field and the output snippets. A use case for mapping multiple source fields to one snippet is provided in [this post](https://groups.google.com/d/msg/islandora/QjkAWUn42ls/ukGM_GitBgAJ) to the Islandora user group.

We can use [Twig](http://twig.sensiolabs.org/) templates to allow implementers to

[2016-10-30 15:56] mjordan commented on #263
Branch issue-263 contains a working implementation. Needs to be documented (I'll move on to that next), but Twig templates have access to all the source metadata for an object, which can then be inserted into the templates using a standard syntax.

Since this branch adds Twig as a component, to test, you need to run `composer update`.

[2016-10-30 16:01] mjordan commented on #263
@MarcusBarnes you will notice that in this branch I have modified the Cdm and Csv MODS metadata parsers by adding a `->fieldName` property to the metadatamanipulator objects that are instantiated in the parsers ([example](https://github.com/MarcusBarnes/mik/compare/issue-263?expand=1#diff-b5cce51d895812a35debd83b31917a66R448)). This has no side effects and will let us perform more efficient logic

[2016-10-30 20:53] mjordan commented on #263
Documentation for this manipulator is at https://github.com/MarcusBarnes/mik/wiki/Metadata-manipulator:-InsertXmlFromTemplate.

[2016-10-30 21:49] #260 closed

[2016-10-30 22:15] mjordan commented on #203
Tutorial has been updated to show no `=` in MIK commands. Closing.

[2016-10-30 22:15] #203 closed

[2016-10-30 22:30] mjordan commented on #262
Done!

[2016-10-30 22:30] #262 closed

[2016-10-30 23:16] mjordan commented on #263
To test:

* in the MIK directory, `git fetch`
* `git checkout issue-263`
* `composer update`
* [add an entry to your .ini file's MANIPULATORS section as documented in the wiki page]
  * make sure the field you identify in the entry is present in your mappings file
* [create a Twig template for the MODS you want to generate, using either CSV column headings or CONTENTdm field nicknames as the varia

[2016-10-31 13:01] patdunlavey commented on #263
This looks like a great solution. Thanks so much for jumping on this!

I'll test this over the next day or so and let you know how it goes.

[2016-10-31 14:15] patdunlavey commented on #263
One thing I want to look into is if it can interact constructively with other metadata manipulators. Here's a possible thought; if instead of putting "{{ some_field }}" in the template, I put in "%value%", then a subsequent manipulator targeting "some_field" could take the output of this manipulator as its input snippet and perform its normal operation on that value.

[2016-10-31 14:56] mjordan commented on #263
@patdunlavey currently, each field in the incoming CSV and CONTENTdm metadata is passed through every registered metadata manipulator, which means that a value can be acted on by more than one manipulator. So the process you describe of have more than one manipulator act on a value should be working already.

However, the tricky part is controlling (or predicting) the order in which the fields are

[2016-10-31 15:09] patdunlavey commented on #263
@mjordan I'm thinking this may just be a special-case documentation task. Unless I'm mistaken, the nature of the InsertXmlFromTemplate manipulator presents the possibility of having more than one manipulator operating on the same field, by first having it run, leaving "%value%" in its output, so that another manipulator can run on its output, as though it was the original snippet coded in the mapp

[2016-10-31 16:58] mjordan commented on #263
Yes, if you run InsertXmlFromTemplate first, its output should be available to subsequent metadata manipulators, just like any other metadata manipulator.

That's correct - they fire in the same order they appear in in the .ini file.

I will document that the metadata manipulators run in the order in which they appear in the .ini file, and that each metadata value is passed through all manipulator

[2016-10-31 17:22] patdunlavey commented on #263
Re. the ->fieldName property, yes, I think that makes sense.

[2016-10-31 17:32] mjordan commented on #263
I've documented the behavior of metadata manipulators on the [manipulators overview page](https://github.com/MarcusBarnes/mik/wiki/Manipulators). Thanks for pointing this deficiency out @patdunlavey.

[2016-10-31 18:29] patdunlavey commented on #263
I tested out the [InsertXmlFromTemplate](https://github.com/MarcusBarnes/mik/wiki/Metadata-manipulator:-InsertXmlFromTemplate) manipulator, and it does what I needed perfectly. Is it premature to think about a merge request?

[2016-10-31 22:16] mjordan commented on #252
Just testing this now prepping to migrate a collection and it appears that for CONTENTdm toolchains, the fist parameter, the source field, must be a nickname, not a human-readable label. Makes sense. I'll update the wiki page.

[2016-11-01 02:36] mjordan commented on #79
Done.

[2016-11-01 02:36] #79 closed

[2016-11-01 02:39] mjordan commented on #112
All toolchains other than CONTENTdm books and CONTENTdm compound have full docs on the wiki. As part of our current cleanup sweep, I'll close this since docs for those two are forthcoming.

[2016-11-01 02:39] #112 closed

[2016-11-01 02:42] mjordan commented on #200
@MarcusBarnes we do this in `--checkconfig` for the CSV input file. I can add similar code to do it for the mappings file.

[2016-11-01 02:50] mjordan commented on #263
@patdunlavey we generally merge manipulators pretty quickly but in this case I made some changes to the metadata parser classes (the `->fieldName` stuff) so I'd like to get @MarcusBarnes to do some QA and a smoketest before merging. Thanks for reminding me of this use case and for testing! Feel free to open any other issues that come up.

[2016-11-01 02:52] mjordan commented on #263
@patdunlavey one more question - is the wiki page for this manipulator reasonably clear and complete?

[2016-11-01 02:53] mjordan commented on #253
@bondjimbond just doing some catch up on the MIK issue queue and am wondering what your take on this one is at this point.

[2016-11-01 03:51] mjordan commented on #238
@MarcusBarnes I've written an end-to-end test for the CsvToJson toolchain, which writes out a single package and then tests the value of a field in the JSON and also tests for the existence of the JPG file. It's in `tests/CsvToJsonToolchainTest.php` if you want to take a look, specifically the `testWritePackages()` function.

I'll move on to write equivalent tests for all of the CSV toolchains.

[2016-11-01 13:01] patdunlavey commented on #263
@mjordan Re. the wiki page, I'd offer two comments.

First, it should be made more clear that the snippet in the mapping file is not actually used - it is replaced in its entirety by the rendered twig template. The example with
[code]
could be interpreted to mean that a _relatedItem_ is going to wrap the output of this manipulator. Also, might it be more important to demonstrate the case when you

[2016-11-01 14:20] mjordan commented on #263
@patdunlavey thanks very much for the suggestions on the docs, I'll address them.

Re. a test, we are attempting to write as many tests for metadata manipulators as possible. We're using PHPUnit, not SimpleTest. If you want to add a test for this one to tests/MetadataManipulatorTest.php that would be awesome. Just fork and open an pull request. Note that we use CSV input data for the tests since i

[2016-11-01 14:29] MarcusBarnes commented on #238
@mjordan Awesome. Thank you.

[2016-11-01 14:37] mjordan commented on #77
Initial work on a CSV Books toolchain. Input looks like:

[code]

.ini file looks like:

[code]

Output looks like:

[code]

[2016-11-01 17:54] bondjimbond commented on #253
Haven't got to it yet; busy with some other stuff at the moment. Configuring MIK will become a priority late this week I think.

[2016-11-01 18:16] patdunlavey opened #267 "CsvCompound: Fails if metadata_filename or child_title not provided"
I could not get a CsvCompound toolchain to run unless I provided values for `metadata_filename` and `child_title`. Both values are expected to be present in the __construct() method for CsvCompound. (`src/writers/CsvCompound.php:41-44`).

It could be that an older version of php, or php with different settings, does not fail.

Possible solutions are:

1. Fix documentation to reflect the fact that

[2016-11-01 19:08] mjordan commented on #267
@patdunlavey I wrote that toolchain, so I'll take a look. Might not be for a day or two however. Will report back here when I've found something.

[2016-11-01 19:30] mjordan commented on #256
Just a note - we'll need a way of updating the PIDS in RELS-EXT to preserve relationships between the migrated objects once they get into the destination Islandora.

[2016-11-02 00:33] patdunlavey commented on #263
Hi @mjordan, I wrote a very simple test https://github.com/patdunlavey/mik/commit/e97045e60cc52f7ba8ea9b729232c3f1e38af1e4?

I have not actually run it! Maybe you could point me to some basic info on how to run these tests? And any review/feedback is very welcome.

[2016-11-02 00:51] mjordan commented on #263
@patdunlavey in your mik directory, run

`phpunit --exclude-group FITS --bootstrap vendor/autoload.php tests`

[2016-11-02 00:54] mjordan commented on #263
All your code and sample data look good. Nice work!

[2016-11-02 01:01] mjordan commented on #263
@patdunlavey just another comment on running the tests. You should see something like:

[code]

The number of tests and assertions will likely differ for you since you're running an additional test, but I wanted to tell you that the "Filtering...." output and the progress bar are from mik itself, not the PHPUnit tests. Their output is summarized at the bottom of the output.

[2016-11-02 03:22] mjordan commented on #267
@patdunlavey they are both required. Not mentioning `metadata_filename` is an omission. Not mentioning that `child_title` is required is a confusing convention; we (mainly I) indicate when a configuration option is optional but not when it is required. If adding 'Required' to entries that are required is clearer (and it is), I'll do that. Sorry for the confusion, and thanks for the feedback.

[2016-11-02 03:51] mjordan commented on #263
@patdunlavey I've cleaned up the docs for this manipulator based on your earlier [feedback](https://github.com/MarcusBarnes/mik/issues/263#issuecomment-257560771). Please [take a look](https://github.com/MarcusBarnes/mik/wiki/Metadata-manipulator:-InsertXmlFromTemplate) and let me know if they still aren't clear.

[2016-11-02 04:14] mjordan opened #268 "Should MIK support toolchains that write DC instead of MODS?"
MIK was designed to write out either MODS or DC datastreams. For OAI-PMH toolchains, this makes sense since they will commonly harvest DC from the remote repository. However, is it worth supporting the ability to write DC in the CONTENTdm and CSV toolchains? Since MIK makes writing out MODS fairly easy, would any Islandora site want a CONTENTdm or CSV toolchain to generate DC instead?

I think tha

[2016-11-02 04:37] mjordan commented on #267
I've added "Required." to all options' entries in all toolchain wiki pages that were not already indicated as 'Optional."

[2016-11-02 05:30] mjordan commented on #252
Wiki page updated.

[2016-11-02 13:08] patdunlavey commented on #263
The doc changes look great. And I wrote a phpunit test for InsertXMLFromTemplateManipulator. Pull request is [here](https://github.com/MarcusBarnes/mik/pull/269).

Thanks!!!!!

[2016-11-02 13:10] patdunlavey commented on #267
Thanks!

[2016-11-02 13:11] #267 closed

[2016-11-02 13:56] mjordan commented on #263
@patdunlavey thanks, tests pass for me. I'll merge into issue-263 and then merge that branch into master. @MarcusBarnes any objections?

[2016-11-02 14:50] MarcusBarnes commented on #263
@patdunlavey @mjordan No objections.  Thanks for the awesome work.

[2016-11-02 14:54] mjordan commented on #263
OK, will merge now. Indeed @patdunlavey thanks. We'd be interested to hear if you have any other use cases or suggestions.

[2016-11-02 14:58] mjordan commented on #263
All merged into master. You may need to run `composer dump-autoload` before everything works.

Closing this issue. Thanks both!

[2016-11-02 14:58] #263 closed

[2016-11-02 18:13] mjordan opened #271 "Test on PHP 7"
PHP 7 is becoming more common. Our installation requirements indicate "PHP 5.5.0 (or higher)" so we should be clear about what "higher" means.

[2016-11-02 19:15] mjordan commented on #245
@MarcusBarnes it appears that the issue-245 branch was never merged into master. The new test passes - mind if I merge it?

[2016-11-02 19:20] mjordan commented on #164
@MarcusBarnes Any objections to me merging the issue-164 branch into master?

[2016-11-02 19:23] MarcusBarnes commented on #164
We can merge.  Thank you.

[2016-11-02 19:25] MarcusBarnes commented on #245
Please merge as appropriate.  Thank you.

[2016-11-02 19:29] mjordan opened #272 "Use Travis-CI to run PHPUnit tests?"
Now that we're adding more tests, should we be configuring Travis to run them on master? Might be nice to have in place for the 1.0 milestone.

We could also test various versions of PHP (as in #271). We probably want to postpone adding PHP style checks for now :nerd_face:

[2016-11-02 19:32] MarcusBarnes commented on #272
Agreed.  It's good to get started on this and add more checks as get past the 1.0 milestone.  Thank you for the suggestion.

[2016-11-02 19:33] mjordan commented on #272
@MarcusBarnes I can probably find some time tomorrow to start this if you want.

[2016-11-03 00:58] mjordan commented on #272
Thee following .travis.yml file works:

[code]

Adding this markdown immediately after the `# MIK, the Move to Islandora Kit.` should render the build badge:

[code]
@MarcusBarnes do you want me to add the travis file and the badge markdown to master, and then you can configure Travis on this repo? That should do it!

[2016-11-03 03:43] mjordan commented on #268
Looking at the various groups of classes,  mention of MODS is absent from fetchers and filegetters (which is not surprising), but it is frequently used in writer classes, and there is quite a bit of code in the writers that assumes we are writing MODS. CdmSingleFile and CsvSingleFile writers can accommodate either MODS or DC, but, ironically, in both cases the .xml file that is written is *not* na

[2016-11-03 13:46] MarcusBarnes commented on #272
@mjordan Sounds good.  Thank you.

[2016-11-03 20:06] mjordan commented on #272
@MarcusBarnes once you've set up travis to run on the MIK repo, and then merged the issue-272 branch in, the tests should start running against the master branch (and the build status badge should show green).

[2016-11-04 01:18] mjordan commented on #164
Done.

[2016-11-04 01:18] #164 closed

[2016-11-05 01:30] mjordan commented on #256
We may be able avoid updating PIDS and reuse the source objects' PIDs. See https://github.com/mjordan/islandora_batch_with_derivs/issues/1 for more info.

[2016-11-05 18:21] mjordan opened #275 "Update oai_dc_to_mods.php postwrite hook script"
The XSLT provided by @bondjimbond in https://github.com/MarcusBarnes/mik/pull/274 uses a PHP extension (trim_date()). The oai_dc_to_mods.php postwrite hook script I added in #255 doesn't contain that function. I'll also remove the XSLT stylesheet I pushed up in #255 since the one provided in https://github.com/MarcusBarnes/mik/pull/274 is much more complete.

I'm documenting how to use oai_dc_to_m

[2016-11-06 21:17] mjordan commented on #256
Not only can we retain the source objects' PIDs, we can also batch ingest their RELS-EXT datastreams (although there is an issue with duplicate RDF statements). See https://github.com/mjordan/islandora_batch_with_derivs/issues/1#issuecomment-258711053 for an example.

[2016-11-06 21:34] mjordan commented on #256
To summarize the relevance of https://github.com/mjordan/islandora_batch_with_derivs/issues/1 to an Islandora toolchain:

* we can ingest an object and all of its datastreams, including RELS-EXT, and retain the object's PID
* because complex objects are defined solely by the relationships in RELS-EXT, we do not need to use content-model specific batch importers to populate the target Islandora. A

[2016-11-07 15:48] mjordan commented on #256
In the initial issue I said

That assumes that the Islandora OAI-PMH and REST modules are running on the source Islandora, and that it is possible to install them if they are not already installed. Probably also assumes that the source is running Islandora 7.x and not 6.x. The "fetch" components of this toolchain should not make those assumptions.

If we can avoid retaining the structure of comple

[2016-11-07 18:22] MarcusBarnes commented on #272
@mjordan Thank you.  I've set up https://travis-ci.org to run against MIK.  It uses the ``.travis.yml`` file contained in pull-request https://github.com/MarcusBarnes/mik/pull/273 as expected.  Closed with commit f445e10a9d1da30b8852f04bee77d64564bf98c9.

[2016-11-07 18:22] #272 closed

[2016-11-07 18:29] mjordan commented on #272
:+1:

[2016-11-08 15:40] mjordan opened #277 "Start reviewing code for compliance with PSR2"
Our README_DEV.md file recommends running PHP_CodeSniffer. I've been reluctant to do this against existing, production-tested code for fear of introducing recursion errors. Now that we are writing more tests ([example 1](https://github.com/MarcusBarnes/mik/issues/238), [example 2](https://github.com/MarcusBarnes/mik/blob/master/tests/MetadataManipulatorTest.php#L148)), we can probably start thinki

[2016-11-08 16:08] mjordan commented on #277
I'm doing some work on #238 and am running PHP_CodeSniffer against the new test files.

[2016-11-10 04:40] mjordan commented on #176
Perhaps we can use the [InsertXmlFromTemplate](https://github.com/MarcusBarnes/mik/wiki/Metadata-manipulator:-InsertXmlFromTemplate) to add this, using a template like:

[code]

We could document this in a cookbook entry.

[2016-11-10 14:36] MarcusBarnes commented on #176
@mjordan  Thanks.  Are you able to test your suggested approach?

[2016-11-10 14:52] mjordan commented on #176
Yup, just tested and works as expected. Should I document how to use the InsertXmlFromTemplate manipulator for this, and then remove the hard-wired code in the Cdm* classes?

[2016-11-10 14:53] MarcusBarnes commented on #176
@mjordan Yes please.  This is a better approach.

[2016-11-10 14:57] mjordan commented on #176
Will do. I only have to modify the CdmToMods.php metadata parser. If you don't mind, I'll delete the issue-176 branch and cut a new one to do this work in.

[2016-11-10 14:57] MarcusBarnes commented on #176
@mjordan That's fine.  Thank you.

[2016-11-10 15:07] mjordan commented on #176
We still have the problem of applying manipulators to page-level metadata. I'll see if I can address that as well in this branch.

[2016-11-11 15:55] mjordan commented on #77
@MarcusBarnes mind if we merge this into master fairly soon? I'd like to continue with work on #238, which depends on this branch. If you want to test I can send you some input data.

[2016-11-11 15:58] MarcusBarnes commented on #77
@mjordan Yes - please send me some input data so I can test.  Thank you.

[2016-11-11 16:10] mjordan commented on #77
Zip file containing input data plus .ini is at https://vault.sfu.ca/index.php/s/ZXUoZN17cUENqiN. You'll need to run `composer dump-autoload`. Thanks!

[2016-11-11 17:31] MarcusBarnes commented on #77
@mjordan Worked as expected.  Please create a pull-request and then I'll merge.  Thanks.

[2016-11-11 17:42] mjordan commented on #77
Great, thanks for testing - here's the PR: https://github.com/MarcusBarnes/mik/pull/278

I'll document the toolchain (our last remaining major one to complete!) and update README.md over the weekend.

[2016-11-11 17:45] MarcusBarnes commented on #77
Closed with pull-request https://github.com/MarcusBarnes/mik/pull/278 (commit https://github.com/MarcusBarnes/mik/commit/503033cff290e707921bf7e8c27f59ac12578ede).  Thank you @mjordan for your contribution.

[2016-11-11 17:45] #77 closed

[2016-11-11 22:19] mjordan commented on #238
@MarcusBarnes we how have end-to-end tests for all but the CSV compound object toolchain, which I will add later. I had to name two of the test files with a leading 'X' so that they get executed after the other two; see my comment at the tops of each file. All four CSV toolchain test files pass PRS2 code checks. All you have to do to test these tests (:smile:) is run

```phpunit --exclude-group FI

[2016-11-12 17:58] mjordan commented on #238
@MarcusBarnes I'm working on the compound tests now, will push to the issue-238 branch when they're done.

[2016-11-14 15:03] mjordan commented on #238
@MarcusBarnes I've added a test file for the CsvCompound toolchain, but have encountered more strangeness within the test environment. In a nutshell, the creation of child-specific MODS is failing during tests but works as expected when run outside of the test environment. Therefore the tests for this toolchain are incomplete. I'll open a separate issue for this latest behaviour. Please test as ab

[2016-11-14 15:19] mjordan opened #279 "Creation of child-specific MODS doesn't work in PHPUnit tests"
#238 provides tests for all CSV toolchains, but the tests for the CSV Compound toolchain are incomplete since they do not test the creation of child-specific metadata. The code for this test is there, but it is currently commented out pending a solution to this current issue.

When run with the following .ini file, using the test data in `tests/assets/csv/compound`, MIK creates the expected child-

[2016-11-14 15:36] mjordan commented on #221
https://github.com/MarcusBarnes/mik/wiki/Fetcher-manipulator:-CdmCompound

[2016-11-14 15:36] #221 closed

[2016-11-14 15:54] mjordan commented on #111
@MarcusBarnes any objection to closing this issue since https://github.com/MarcusBarnes/islandora_compound_batch is now ready for production?

[2016-11-14 15:55] MarcusBarnes commented on #111
@mjordan No objection.  Thank you.

[2016-11-14 15:55] #111 closed

[2016-11-14 17:13] MarcusBarnes commented on #238
Closed with merging of pull-request https://github.com/MarcusBarnes/mik/pull/280 (commit https://github.com/MarcusBarnes/mik/commit/0d9862aa0a5abf2c54c5e14feecaed7446be15b5).

[2016-11-14 17:13] #238 closed

[2016-11-14 22:03] mjordan commented on #207
Catching up on this one late - https://github.com/MarcusBarnes/mik/wiki/Cookbook:-Generating-OBJ-datastreams-for-book-and-newspaper-pages-if-you-have-no-master-files

[2016-11-14 22:03] #207 closed

[2016-11-14 22:16] mjordan opened #281 "Did we get rid of the FilterCdmNewspaperMasterPaths filegetter manipulator?"
https://github.com/MarcusBarnes/mik/wiki/File-getter-manipulator:-FilterCdmNewspaperMasterPaths documents the use of `src/filegettermanipulators/FilterCdmNewspaperMasterPaths.php`, which is no longer in the master branch. We did reference it in #150.

The wiki page documenting the manipulator is linked from https://github.com/MarcusBarnes/mik/wiki/Toolchain:-CONTENTdm-newspapers.

[2016-11-18 00:19] mjordan opened #283 "Provide an option to not log mappings files mismatches"
Currently, the [CdmToMods](https://github.com/MarcusBarnes/mik/blob/master/src/metadataparsers/mods/CdmToMods.php#L144) and [CsvToMods](https://github.com/MarcusBarnes/mik/blob/master/src/metadataparsers/mods/CsvToMods.php#L104) metadata manipulators log when the mappings file contains a row for a field that is not in the incoming metadata. This is sensible default behavior but gets annoying when

[2016-11-18 04:10] mjordan opened #284 "In the CSV toolchains, if MODS is only datastream in datastreams[] list, don't require source files"
In the CSV Single File toolchain (and possibly others), if there is no source file in the `[FILE_GETTER] input_directory`, MIK will not generate MODS files, even if MODS is the only datastream indicated in the `[WRITER] datastreams[]` list. This makes testing metadata creation on developer laptops, for example, impossible unless source files are present. We should allow an empty value for `[FILE_G

[2016-11-18 04:38] mjordan commented on #284
Proposed solution is to add logic like this to the code that skips outputting an object is it can't find the source files:

[code]

[2016-11-18 14:26] MarcusBarnes commented on #283
@mjordan Maybe included as part of a more general ``--verbose`` option?

[2016-11-18 14:42] mjordan commented on #283
That's a good idea. I think if we added an entry to the `[CONFIG]` settings section dynamically (i.e., if the `--verbose` option was passed on the mik command line), we could then access that option in any of our class files to write out log entries. If we wanted to support verbosity levels, we could pass in an integer. There may be other implementations but it would be nice to not have to write a

[2016-11-18 16:06] MarcusBarnes commented on #252
Addressed in pull-request https://github.com/MarcusBarnes/mik/pull/285 (merged into master with commit 172a274db2582d931ec58ec5782c48821b3c6461).

[2016-11-18 16:06] #252 closed

[2016-11-18 16:11] MarcusBarnes commented on #275
Addressed in pull-request https://github.com/MarcusBarnes/mik/pull/276 (merged into master with commit https://github.com/MarcusBarnes/mik/commit/472b0df298d11f62bbc84e2d99ca21cb0404a267).

[2016-11-18 16:11] #275 closed

[2016-11-18 19:19] bondjimbond opened #286 "SplitRepeatedValues: Repeating wrapper element"
Either the Wiki documentation needs clarification about how to do this, or it simply doesn't work...

Under metadata_parser:
repeatable_wrapper_element[] = subject

Under manipulators:
`metadatamanipulators[] = "SplitRepeatedValues|disciplines|/subject/topic|;"
`
Mapping file:
`disciplines,<subject><topic>%value%</topic></subject>`

Desired output:
[code]

Actual output:
[code]

Is there a specifi

[2016-11-18 19:28] mjordan commented on #286
@bondjimbond I'll take a look at this today.

[2016-11-18 19:55] mjordan opened #287 "CSV checks are missing some configuration options"
['FETCHER']['field_delimiter'], ['FETCHER']['field_enclosure'], and ['FETCHER']['escape_character'] are not used by the validation function (called with the `--checkconfig` option) `checkCsvFile()`.

[2016-11-18 21:56] bondjimbond commented on #286
Doing a search in the repository, "repeatable_wrapper_element" doesn't seem to appear anywhere in the actual code - just in documentation. Does putting the phrase in the config file map it to a variable with a different name, or was this a feature that didn't get merged?

[2016-11-18 22:12] mjordan commented on #286
It's in both metadataparsers/mods/CsvToMods.php and metadataparsers/mods/CdmToMods.php.

[2016-11-18 22:15] bondjimbond commented on #286
Ah, never mind then. Github's search function just isn't friendly.

[2016-11-19 02:52] mjordan commented on #286
Yeah, it's pretty mediocre.

[2016-11-19 16:25] mjordan commented on #286
@bondjimbond It's documented wrong. The *correct* spelling for the option is `repeatable_wrapper_elements[]` (plural). Sorry about that, I've corrected it on the wiki page. Also, this manipulator doesn't work consistently if you're also running the Filter MODS Topic manipulator, but that's OK since this one is intended to be a replacement for Filter MODS Topic.

[2016-11-20 23:26] mjordan commented on #287
@MarcusBarnes To test, run the PHPUnit teests.

[2016-11-21 00:02] mjordan commented on #284
Logic added for all four Csv toolchains. All PHPUnit tests pass.

[2016-11-21 15:26] MarcusBarnes commented on #287
Addressed in pull-request https://github.com/MarcusBarnes/mik/pull/288 (closed with commit https://github.com/MarcusBarnes/mik/commit/69b3902b2eea367ca687c005e5f30361207cb571).

[2016-11-21 15:26] #287 closed

[2016-11-21 20:44] mjordan commented on #257
This toolchain could write out DC, MODS, ETDMS, or any other metadata format, depending on the OAI metadata specified in the `[FETCHER] metadata_prefix` option. Perhaps valid options for `datastreams[]` for this toolchain should be none (i.e. produce all datastreams), 'OBJ', and 'OAI', the latter standing for whatever is specificed in `[FETCHER] metadata_prefix`.

[2016-11-21 23:38] mjordan opened #290 "CSV Compound toolchain fails on Windows"
I spent a handful of hours finding this one. :frowning: The CSV Compound toolchain fails on Windows because the DIRECTORY_SEPARATOR constant on Windows is a `\`. https://github.com/MarcusBarnes/mik/blob/master/src/writers/CsvCompound.php#L230 uses it within a regex pattern, which had the effect of escaping the next character, causing the match to fail.

I have a fix and will open a PR this evening

[2016-11-21 23:43] mjordan commented on #290
I'll also check the book and newspaper CSV toolchains to make sure they don't also suffer from this bug.

[2016-11-22 00:28] mjordan opened #291 "CSV Compound toolchain should skip input directories that contain only one child file"
Currently, if an input directory for the CSV Compound toolchain contains a single child file, e.g.:

input_directory/
├── compounddobject1
│   ├── image_01.tif
├── compounddobject2
│   ├── image_01.tif
│   ├── image_02.tif
│   ├── image_03.tif
│   └── image_04.tif

a compound object containing one child will be generated. MIK should provide an option to either skip generating this object or to gen

[2016-11-22 00:36] mjordan commented on #291
Mini-gist reminder to self: put

[code]

at the very top of `->writePackages()`.

[2016-11-22 18:36] MarcusBarnes commented on #284
Addressed in pull-request https://github.com/MarcusBarnes/mik/pull/289 (merged in commit https://github.com/MarcusBarnes/mik/commit/37ae197e46c5d761c1c1de4b28377bd92d0003d9).

[2016-11-22 18:36] #284 closed

[2016-11-22 18:38] MarcusBarnes opened #292 "Review samples in extras to make sure they still work"
There have been several recent changes to key toolchains (e.g., CSV).  Please review the [samples](https://github.com/MarcusBarnes/mik/tree/master/extras/samples) to make sure they still work, and if not, update them as appropriate.

[2016-11-23 15:55] mjordan opened #293 "SplitRepeatedValues metadata manipulator fails if values to split contain a regex character or an ampersand"
If values in a field that SplitRepeatedValues is being applied to contain any of ` . \ + * ? [ ^ ] $ ( ) { } = ! < > | : -`, the regex used to get the markup fails. `&` is not a reserved regex character but its presence is also causing the regex (or some other part of the code) to fail. Discovered working with @bondjimbond.

[2016-11-23 21:30] bondjimbond commented on #156
Here's a use case for this kind of functionality. Specifically, I'd like to see an option to clear the temp_directory after the run. Here's why:

I’ve got 11 different CSV files to process. The first runs through MIK smoothly. But for all subsequent runs, despite MIK correctly finding the desired CSV, MIK spits out XML and PDFs as if it were reading the first CSV.

This happens because of the temp

[2016-11-23 21:37] mjordan commented on #156
We could provide a standard script to clear out the temp directory. All you'd need to do is enable/disable the script in the `[WRITER] postwritehooks[]` section of your .ini file.

[2016-11-23 21:39] MarcusBarnes commented on #156
Further to @mjordan's comment, such as script would also make a nice example (while still being useful).

[2016-11-23 21:46] mjordan commented on #156
@MarcusBarnes I'd like to pursue adding a register_shutdown_function() to mik which would loop through all registered scripts. What do you think? We could register them in `[WRITER] shutdownhooks[]` entries. Any objections? Might not get to it until the weekend.

[2016-11-23 21:47] MarcusBarnes commented on #156
@mjordan Sounds like a good approach to explore.  Thank you.

[2016-11-23 21:53] mjordan commented on #156
I said the weekend, but I need to put https://github.com/MarcusBarnes/mik/issues/293 to bed first.

[2016-11-23 22:35] bondjimbond opened #294 "CSV: Multiple problems for records with no file"
In the CSV toolchain, multiple issues crop up if you have records with no associated file. (This assumes that you do want XML files generated for records without files -- we do.)

1. Filename column exists, record has nothing in that field:
MIK creates one XML file, named after the input directory (e.g. kora_files.xml). If there are multiple records with nothing in the filename field, only one XML

[2016-11-23 22:37] bondjimbond commented on #294
#1 is the really strange one, which I would classify as a bug.

For 2 and 3, it would be useful to throw up an error like "file_name_field not defined" or "file_name_field not present" to assist in troubleshooting.

[2016-11-23 23:31] bondjimbond commented on #294
More info re number 1: The resulting XML file contains only the data from the last row in the CSV.

Hypothesis: each row is processed, but is written to the same file name each time, so only the final row's XML file is present.

Possible solution: logic that appends the key field's content (e.g. 1, 2, etc) to the XML filename?

[2016-11-23 23:57] bondjimbond commented on #286
After processing a number of files with the corrected spelling, I'd say it's working (pending of course the resolution of #293). I'm comfortable closing this one.

[2016-11-23 23:57] #286 closed

[2016-11-23 23:58] mjordan commented on #286
Thanks @bondjimbond

[2016-11-23 23:59] bondjimbond commented on #253
Since SplitRepeatedValues supersedes FilterModsTopic, and we've worked out the documentation problem, I think this one can be closed.

[2016-11-23 23:59] #253 closed

[2016-11-24 16:11] mjordan commented on #293
Most recent commits do the following:

* Escape regex special characters in raw field values so that regex does not fail if one of the characters is present in the field value to split. This change also means that MIK will complete processing all input more often.
* Adds better logging (to manipulator.log or configured equivalent) when regex that splits the field value does fail. Log entries look

[2016-11-24 16:44] mjordan commented on #294
@bondjimbond problem 1 is clearly a bug. We (SFU) didn't forsee not having a value in that field and intended that if the source file could not be found (it was misnamed, etc.) we'd want MIK to log that fact and to move on to the next entry in the CSV file, and not create a MODS-only package. If we want to support both use cases (if no source file, then don't create an Islandora package, and if no

[2016-11-24 18:12] bondjimbond commented on #294
Thanks, Mark... here's a set of thoughts on this:

Running MIK twice - once for records with files and once for records without - would not be the hoped-for solution, but I could accept it as a workaround. In a typical CSV dump of objects from a repository, there's a mix of objects with files and objects that are metadata-only. Would this mean that the MODS files for objects with files are generat

[2016-11-24 18:15] bondjimbond commented on #293
I'll test it today. So this commit doesn't address the ampersand problem, just the regex?

[2016-11-24 18:24] bondjimbond commented on #293
Tested it with the CSV that brought up the error in the first place -- all records processed!

[2016-11-24 18:26] mjordan commented on #293
Thanks, that's good to hear. Check your manipulator log to see which values weren't split. The  commits address the ampersand problem by failing, logging the failure, and moving on. To allow ampersands someone would have to figure out why they are causing the failure. I gave up after 2 hours.

[2016-11-24 18:27] mjordan commented on #293
@MarcusBarnes, since this fix has passed @bondjimbond's smoke test, could you merge the issue-293 branch at your convenience?

[2016-11-24 18:28] mjordan commented on #294
I mention the workaround because it will work today. But it's still a workaround. Thanks for offering the use case of not having a file but wanting a MODS file.  In the workaround, MODS files for objects with files would be generated twice, but that shouldn't be a problem since the twice-generated files should be identical. Or, you could output the MODS for each run of MIK into different output di

[2016-11-24 18:31] bondjimbond commented on #293
CORRECTION: All but one records processed. The very last record not processed. Doesn't show up in the PROBLEM RECORDS log either.

However, this is probably unrelated to the issue discussed here.

[2016-11-24 18:32] mjordan commented on #293
Is it in mik.log?

[2016-11-24 18:48] MarcusBarnes commented on #293
@mjordan When you think it's ready enough, please create a pull-request.

[2016-11-24 18:50] mjordan commented on #293
@MarcusBarnes thanks, will do so as soon as @bondjimbond can confirm that the missing record is unrelated to this issue.

[2016-11-24 19:05] bondjimbond commented on #294
Yep, I think so. So what's going on with kora_files.xml then? It looks like it actually is generating XML and saving it for blank fields, but it's either only doing it for the last one, or it's doing it over and over again with the same filename.

[2016-11-24 19:07] bondjimbond commented on #293
Sent an email to @mjordan with details about the missing record problem; appears completely unrelated to this issue, so I think it's ready for a pull request.

[2016-11-24 19:09] mjordan commented on #293
Agreed, it's almost certainly unrelated. I'll open a PR now.

[2016-11-24 19:13] MarcusBarnes commented on #293
Initially addressed in pull-request https://github.com/MarcusBarnes/mik/pull/295 (merged with commit https://github.com/MarcusBarnes/mik/commit/ca6e38f6ca50ffebf25db9c3a202829ba31724d3).  Thank you @mjordan and @bondjimbond for your work on this issue.

[2016-11-24 19:13] #293 closed

[2016-11-24 19:19] bondjimbond opened #296 "CSV single file toolchain: Error not logged when file doesn't exist"
When a filename is present in the file_name_field, but the file referenced is not actually present in the input_directory, the following happens:

- No package is created for that record
- The failure is not logged in mik.log, nor in problem_records.log

The net result of this is that neglecting to include a file in the input_directory could mean unnoticed loss of records in a migration.

Related

[2016-11-24 19:20] bondjimbond commented on #294
Another file_name_field error comes up in #296.

[2016-11-24 19:20] mjordan commented on #296
"The failure is not logged in mik.log, nor in problem_records.log" qualifies this as a bug since the intended behavior is to log it.

[2016-11-24 19:34] bondjimbond commented on #294
Re the workaround to generate only MODS:
As directed, set:
`[WRITER]
datastreams[] = MODS`
Ran MIK on a CSV with 50 records, each with no file. Same problem crops up. Only a single file, [input_directory name].xml, is created.

Confirm that the code above does generate xml-only files as expected; tried running a CSV with seven records - 6 with file, 1 without. Created six XML-only records named fo

[2016-11-24 19:37] bondjimbond commented on #294
To see if the single-XML-file problem was tied to a config setting, tried commenting out `preserve_content_filenames = true`, but this generated an error:

[2016-11-24 19:53] mjordan commented on #294
Try with `[FILE_GETTER] input_directory =` (i.e., an empty value) with MODS as the only value for `datastreams[]`. Just recently added feature.

[2016-11-24 19:57] bondjimbond commented on #294
Even worse -- same file, now just called ".xml" which defaults to being a hidden file.

[2016-11-24 20:01] mjordan commented on #294
Are you on a recent pull (within last two days) of master branch? Also, at this point blank values for whatever field is defined in `[FILE_GETTER] file_name_field` are not allowed (to be fixed with work on https://github.com/MarcusBarnes/mik/issues/296).

[2016-11-24 20:56] mjordan commented on #296
I just tried to confirm this bug and could not. By removing a file named in my `file_name_field` and running MIK, I do get the following entry in my mik.log:

`[2016-11-24 12:35:17] writer.WARNING: Source file does not exist, skipping writing package {"source_file":"/home/mark/Downloads/mik_csv_no_file_input/IMG_2958.JPG"} []`

and no MODS file corresponding to the missing image was generated. You

[2016-11-24 21:07] mjordan opened #297 "Allow blank entries in file name field for CSV single file toolchain"
This issue comes out of #294. Summary of relevant discussion:

Currently MIK skips creation of a MODS file if the corresponding PDF, etc. named in the field identified in `[FILE_GETTER] file_name_field` is not found. However, in some cases it is desirable to generate a MODS file even though there is no corresponding PDF, etc. In these cases, the file name field may contain an empty value because t

[2016-11-24 21:10] bondjimbond commented on #296
Right - now that I look for this, I can find it too. I was thrown off because all the other entries in mik.log reference the key field - this one doesn't, so I couldn't find it. problem_records.log also references the key field, which makes it seem like this is how you should be looking for these things.

I'd call the failure to find a file and therefore not creating a record a pretty clear candid

[2016-11-24 21:13] bondjimbond commented on #294
Yes, I pulled yesterday and again after you merged the fix for #293.

Sorry, Mark - maybe I'm not clear on what you're asking me to try. Which problem is this workaround intended to fix, if I can't have blank fields for the filename?

[2016-11-24 21:15] mjordan commented on #296
Thanks for pointing out that the record key is not logged - it should be. I'll fix that and open a PR for it. When you respond to #297 would you mind indicating that if a package is skipped and `[WRITER] require_source_file` is true that it be logged in problem_records.log? I'd still like to hear @MarcusBarnes recollection of what currently triggers an entry in problem_records.log however, just so

[2016-11-24 21:19] mjordan commented on #296
On second thought, adding the record key to the mik.log entry can be done at the same time as work on #297.

[2016-11-24 21:22] mjordan commented on #294
Yeah- things are changing pretty fast. The combination of `[FILE_GETTER] input_directory =` and `[WRITER datastreams[] = MODS` was supposed to let you generate MODS files without having any input files as described in #284.

[2016-11-24 21:24] MarcusBarnes commented on #296
@mjordan My recollection was that any problem that would cause a package to fail should be logged to the problem_records.log.  Then the problem can be investigated (it's not just a warning, but an error that needs investigation).  Once the problem has been resolved, a list of keys/pointers can be extracted using a script like the [specific set from problem records script](https://github.com/Marcus

[2016-11-24 21:27] mjordan commented on #296
Thanks, I'll check the CdmNewspapers toolchain. Adding an entry to problem_records.log for any package that was not generated sounds like a reasonable guideline, and is consistent with @bondjimbond's argument above.

[2016-11-24 21:28] bondjimbond commented on #297
To clarify the two use cases above:

1. If file is referenced in file_name_field but is not found in the input_directory, package creation gets skipped. This is not currently logged in problem_records.log - it should be. (Additionally, the entry that is created in mik.log fails to include the key field, making it even harder to identify.)

2. If the file_name_field contains an empty value, a MODS

[2016-11-24 21:34] bondjimbond commented on #294
Right; that's the setup I put in my .ini file, which does not behave as intended.

Just to be clear -- it IS generating MODS files anyway, whether or not you make the changes you suggest. The problem is that it only generates one MODS file for the whole CSV (or rather, for all entries that have an empty value in the file_name_field). My suspicion is that this is simply a case of MIK failing to cha

[2016-11-24 22:28] mjordan commented on #294
Sure, I'm out of my meeting now and can meet - but currently, MIK doesn't know how to deal with empty file field values. Work against #297 will address this.

[2016-11-24 23:56] bondjimbond opened #298 "Wiki: Create Migration Guides for various repositories"
As I'm going through the process of migrating KPU from Digital Commons, it seems logical to document the process for other Digital Commons users (and save them several weeks' worth of configuring and debugging). It would be nice to have Migration Guide pages on the wiki, to take people through some known working pathways to successfully migrating with MIK.

I'd be happy to document my process migr

[2016-11-25 00:04] mjordan commented on #284
For the record, wiki pages for CSV single file, compound, books, and newspapers have been updated to document this feature.

[2016-11-25 00:06] mjordan commented on #298
I'd be happy to do one for CONTENTdm as well.

[2016-11-25 00:13] bondjimbond commented on #284
Need to add some documentation for this feature... Filename field can't be blank, must have unique string in each row (even if it's garbage) or will write over and over to same file.

[2016-11-25 00:16] mjordan commented on #284
A resolution to #297 will mean we won't need to mention those things, correct?

[2016-11-25 03:14] mjordan commented on #296
@MarcusBarnes In my local working branch for this issue I have records skipped due to missing input files logging to problem_records.log. To do this, I instantiated a "problemLog" object in the base Writer class, paralleling the "log" object we've always had. The CsvSingleFile writer writes these entries with the following code:

[code]

This $writer->problemLog object is completely separate from

[2016-11-25 03:35] mjordan commented on #296
Note for later - the regex at https://github.com/MarcusBarnes/mik/blob/master/extras/scripts/specificsetfromproblemrecords.php#L52 only catches numbers. Once this all settles we'll need to update it to pick out any type of `record_id` values.

[2016-11-25 13:57] mjordan commented on #297
I think this is ready to test:

* Empty values in field defined in `[FILE_GETTER] file_name_field` are now allowed in the input fie for the CSV Single File toolchain
  * Rows whose file name field are empty will get a MODS file named after the record_id
* The new .ini option `[WRITER]require_source_file` determines whether packages are created for rows whose file name field is empty; if set to fal

[2016-11-25 15:02] mjordan commented on #298
Some notes for the CONTENTmd guide:

## Overview

MIK provides several toolchains designed for migrations from CONTENTdm to Islandora. Detailed documentation on these toolchains is available:

* [CONTENTdm single file](https://github.com/MarcusBarnes/mik/wiki/Toolchain:-CONTENTdm-single-file-objects)
* [CONTENTdm generic compound](https://github.com/MarcusBarnes/mik/wiki/Toolchain:-CONTENTdm-Gener

[2016-11-25 15:38] MarcusBarnes commented on #296
@mjordan A new issue would be appropriate to discuss a broader change in how we're handling various logging activities.  Thank you for the suggestions and for pointing out that the helper script in the extras folder should be updated to accommodate any type of `record_id` value.

[2016-11-25 16:19] mjordan commented on #296
OK, will do.

[2016-11-25 16:51] mjordan commented on #159
Just occurred to me that a Drupal module would be a convenient GUI framework. The module would not be required to run MIK, it would just provide some helper tools for creating mappings and .ini files, for example, SFU could run one on behalf of the Islandora community, or sites could install it themselves if they wanted. I might try a proof of concept of this over the holidays.

[2016-11-25 17:37] mjordan opened #299 "Review how we are logging things, particularly exceptions or errors"
Coming out of #296, we should centralize logging, particularly problem or error logging. Currently exception logging bubbles up to mik, which has worked well for us so far, but this situation makes it awkward to use the same Monolog logger in manipulators or post-write hook scripts.

[2016-11-25 18:56] bondjimbond commented on #297
Tested a 50-record CSV with blank entries in the filename field. Expecting 50 XML files labeled 1.xml to 50.xml.

Test 1:
[code]
Result: 50 good XML files.

Test 2:
`input_directory =` WITHOUT `datastreams[] = MODS`
Result: 50 good XML files.

Test 3:
`input_directory = "/Users/Brandon/mik/kora_files"`
Result: 50 good XML files.

Conclusion: It works! But the special configurations (`input directo

[2016-11-25 19:00] bondjimbond commented on #297
Testing bad filenames:

Test 4: Garbage entries in the file_name_field, each with unique file names.
Result: 50 entries in problem_records.log.

Test 5: Garbage entires in file_name_field, all identical.
Result: 50 entries in problem_records.log.

Conclusion: It works.

[2016-11-25 19:02] bondjimbond commented on #297
I think we're ready for a pull request - but may need to review the case for `input_directory =`. And `datastreams[] = MODS` is not needed in this case.

[2016-11-25 19:03] mjordan commented on #297
@bondjimbond sweet, thanks. With great functionality comes great configuration bloat. I'll take a crack at updating the docs for all of this and ask you to take a look if that's OK.

@MarcusBarnes I'll open a PR and once you've merge it, move on to updating the documentation.

[2016-11-25 19:14] mjordan commented on #297
@bondjimbond  `input_directory =`. And `datastreams[] = MODS` still applies if I am testing on a laptop with no access to the source files. Plus, the other three CSV toolchains can use the same pair of configuration options. I'd rather retain these options for the CSV Single File toolchain and maybe add some scenarios to https://github.com/MarcusBarnes/mik/wiki/Cookbook:-Generating-metadata-only,-

[2016-11-25 19:15] bondjimbond commented on #297
I should add that in my testing I neglected to include the new require_source_file option. Will test now.

[2016-11-25 19:19] bondjimbond commented on #297
Test: 50 blank filenames, set `require_source_file = true`
Result: No XML, 50 problem record entries. Good to go!

[2016-11-25 19:20] bondjimbond commented on #297
Final test: a CSV with 7 records - six with files, one without. Result: all processed as expected.

[2016-11-25 19:21] mjordan commented on #297
Any objections to closing this issue then?

[2016-11-25 19:21] mjordan commented on #296
Fix to this has been merged - any objections to closing?

[2016-11-25 19:22] bondjimbond commented on #297
Close it and merge!

[2016-11-25 19:24] mjordan commented on #297
Already merged by @MarcusBarnes. Thanks both!

[2016-11-25 19:24] #297 closed

[2016-11-25 20:38] mjordan commented on #297
Documentation updated in the "The FILE_GETTER section" of https://github.com/MarcusBarnes/mik/wiki/Toolchain:-CSV-single-file-objects" and in https://github.com/MarcusBarnes/mik/wiki/Cookbook:-Generating-metadata-only,-not-content-files.

[2016-11-25 21:31] mjordan commented on #236
Perhaps we can use the new InsertXmlFromTemplate metadata manipulator, or a specialized version of it, to do this?

[2016-11-25 21:32] mjordan commented on #299
#199 may be related?

[2016-11-25 21:33] mjordan commented on #156
#188 may offer another potential use case.

[2016-11-25 21:54] bondjimbond commented on #296
I'm good.

[2016-11-25 21:54] #296 closed

[2016-11-25 21:55] bondjimbond commented on #294
I think the merging of #297 closes this issue.

[2016-11-25 21:55] #294 closed

[2016-11-25 23:20] bondjimbond opened #301 "OAI toolchain: files-only config setting?"
Would it be possible to add a configuration to just extract files, rather than getting XML as well? Use case would be the two-stage Digital Commons migration: step 1 - download all files via OAI, step 2 - generate metadata via CSV.

[2016-11-25 23:27] mjordan commented on #301
Yes. #257 would address this. What's your timeline?

Can I mark this a duplicate of #257?

[2016-11-25 23:30] mjordan opened #302 "check_files.php assumes source data is from CONTENTdm"
check_files.php contains logic that assumes that the input data is from CONTENTdm. We need to create a version that will work on CSV and other toolchains.

I need this pretty urgently to ingest a batch of CSV compound objects so I plan to have a more generic version of check_files.php over the weekend.

[2016-11-25 23:39] bondjimbond commented on #301
In #257, would OBJ mean "just write the file referenced in xpath_expression", and OAI "just write the XML"?

If so, then yes, it's a duplicate.

[2016-11-25 23:42] mjordan commented on #301
I think so, but what xpath_expression are you referring to?

[2016-11-25 23:43] bondjimbond commented on #301
i.e. `<dc:identifier>[2]` - the xpath to the downloadable file.

[2016-11-25 23:45] bondjimbond commented on #301
Re timeline: no timeline, just something I thought of i process of writing up the Digital Commons migration guide. If you're starting out with a plan to use OAI to download files and CSV to get metadata, there's no need to download the Dublin Core XML or transform it to MODS.

[2016-11-25 23:53] mjordan commented on #301
Yes, OBJ is what we've been using for the file that will correspond to the OBJ datastream, which for the OAI toolchain for Digital Commons that would be correct. #257 will address this.

[2016-11-25 23:54] mjordan commented on #301
Duplicate of #257.

[2016-11-25 23:54] #301 closed

[2016-11-29 18:00] bondjimbond commented on #298
Digital Commons guide in progress: https://github.com/MarcusBarnes/mik/wiki/Migration-Guide:-Digital-Commons

[2016-11-29 23:26] bondjimbond opened #307 "SplitRepeatedValues vs FilterModsTopic"
The Wiki currenlty says that SplitRepeatedValues is a "more general alternative to FilterModsTopic" (https://github.com/MarcusBarnes/mik/wiki/Metadata-manipulator:-SplitRepeatedValues).

Given that FilterModsTopic's functionality is duplicated here, AND that some bugs are fixed in this more general application, should (a) documentation be updated to say that FilterModsTopic is deprecated, and/or (

[2016-11-30 15:52] mjordan commented on #307
I'm happy with removing FilterModsTopic. @MarcusBarnes any objections? It is used in the [tutorial](https://github.com/MarcusBarnes/mik/wiki/Tutorial) but I can update that. It's mentioned on https://github.com/MarcusBarnes/mik/wiki/Manipulators but, strangely, searching the wiki for 'filter' doesn't find this page. I don't think it's mentioned anywhere else, but I could be wrong.

[2016-11-30 16:15] MarcusBarnes commented on #307
@mjordan I have no objections to removing the FilterModsTopic metadata manipulator given that it has been superseded by SplitRepeatedValues.

[2016-11-30 18:59] bondjimbond commented on #307
@mjordan Odd, when I type "filter" into the Wiki filter, the page does come up.

[2016-12-01 23:45] mjordan commented on #159
Inspired by @terrywbrady's talk at Code4libBC, perhaps an AppScript is another approach. https://github.com/terrywbrady/UsingAppScript

[2016-12-04 23:45] mjordan commented on #159
@MarcusBarnes and @bondjimbond  Can you take a look at this proof of concept "starter" MIK mappings tool? It's a Google spreadsheet that lets users choose a target snippet from a controlled list. It also contains a "Move to Islandora Kit" menu that provides a function to check the current snippet (i.e. where the cursor is) for syntax errors.

https://docs.google.com/spreadsheets/d/1zbiBZ8s4AUk0Q8b

[2016-12-05 00:09] mjordan commented on #159
Working on a basic configuration file template generator as well.

[2016-12-05 16:16] MarcusBarnes commented on #159
@mjordan Tested and works as you [described](https://github.com/MarcusBarnes/mik/issues/159#issuecomment-264741476).  Would it be possible to get some feedback from non-programmers - maybe metadata librarians who might be tasked with creating the mappings for migrations?  I know Google Sheets would likely be familiar to those working collaboratively on metadata issues, so this approach would defin

[2016-12-05 16:23] mjordan commented on #159
@MarcusBarnes thanks for taking a look. Perhaps members of the Islandora Metadata IG could offer some feedback. I'm happy to reach out to them to ask.

[2016-12-05 16:27] MarcusBarnes commented on #159
@mjordan Excellent idea regarding reaching out to members of the [Islandora Metadata IG](https://github.com/islandora-interest-groups/Islandora-Metadata-Interest-Group).

[2016-12-05 21:58] mjordan commented on #159
End user documentation, with screen shots, is at https://github.com/MarcusBarnes/mik/wiki/Metadata-Mappings-Helper.

[2016-12-06 00:40] mjordan commented on #159
... and code for the Apps Script that adds the menu in Sheets and that checks the XML snippet syntax is at https://github.com/mjordan/mik_mappings_helper.

[2016-12-07 05:20] mjordan commented on #302
I've started work on the [Islandora Import Package QA Tool](https://github.com/mjordan/iipqa) as a more robust replacement for check_files.php.

[2016-12-07 05:23] mjordan commented on #143
This feature should probably be available to any toolchain whose fetcher and/or filegetter use Guzzle.

[2016-12-07 05:25] mjordan commented on #302
This issue is a duplicate of #102, but I'll close that one since this one offers a concrete reason why we need a more generic tool.

[2016-12-07 05:26] mjordan commented on #102
Closing in favour of #302.

[2016-12-07 05:26] #102 closed

[2016-12-07 15:37] mjordan commented on #307
.ini file in tutorial files updated, but I can't modify the wiki page as I'm still getting 500 errors from github.

[2016-12-07 17:34] mjordan commented on #307
OK, Github had to clear a cache to resolve the 500 errors on this repo (fallout from yesterday's issues).

I've updated https://github.com/MarcusBarnes/mik/wiki/Metadata-manipulator:-FilterModsTopic to say this manipulator is deprecated, and have cleaned up any other references to it I can find, including the tutorial page. I'll open a PR later today to remove the class file.

[2016-12-07 18:42] mjordan commented on #226
Resolved with PR #306.

[2016-12-07 18:42] #226 closed

[2016-12-08 17:57] MarcusBarnes commented on #290
Addressed in pull-request  https://github.com/MarcusBarnes/mik/pull/305 (merged with commit https://github.com/MarcusBarnes/mik/commit/9cda145293a8009fbd2c410d059dde6980c2eece).

[2016-12-08 17:57] #290 closed

[2016-12-08 20:52] mjordan commented on #307
@bondjimbond OK to close this issue?

[2016-12-08 23:16] bondjimbond commented on #307
Sounds good to me.

[2016-12-08 23:16] #307 closed

[2016-12-08 23:43] bondjimbond commented on #159
That's a pretty nice basic mapping-maker. Probably doesn't need to be much fancier than that.

[2016-12-09 00:09] mjordan opened #310 "Let git manage source code line endings across platforms"
It's common  practice to add a .gitattributes file to a repo and in it, indicate that all text files should be normalized to LF on commit and back to the native line ending (CRLF on Windows) on checkout/clone. A sample .gitattributes file that would apply to MIK is:

[code]

I'm happy to test this since I'm working with MIK both on Linux and Windows.

[2016-12-09 00:13] mjordan opened #311 "Title of compound CSV child objects needs to be HTML escaped"
CSV Compound child object that don't have their own row in the .csv input file get a generic title based on their parent's title. While parent titles that contain HTML special characters work as expected, titles in child MODS files generated from the parent title need to have the title escaped.

[2016-12-09 03:56] mjordan commented on #311
Fix applied to CSV newspaper and book toolchains as well.

[2016-12-09 15:20] MarcusBarnes commented on #311
@mjordan Thank you.   Addressed in pull-request https://github.com/MarcusBarnes/mik/pull/312 (merged with commit https://github.com/MarcusBarnes/mik/commit/4b2fa9e2c4804279697e90a4600c4ce292554edc).

[2016-12-09 15:20] #311 closed

[2016-12-09 15:34] MarcusBarnes commented on #310
@mjordan Excellent suggestion.  If you could please test on Linux and Windows, that would be great, since I can test on a Mac.

[2016-12-12 00:11] mjordan commented on #310
@MarcusBarnes tested this by adding .gitattributes similar to above on Linux, then pushing to my fork. Then cloned my fork to Windows and opened a file. Line endings were converted to CLRF. Made a change in Windows and committed it back to my fork. Cloned to a new repo in Linux and opened modified file, and line endings were LF. So this appears to work as intended. If you open a file from this bra

[2016-12-12 14:46] MarcusBarnes commented on #310
This confirmed that when I opened a file from this branch on OSX and my line endings were LF as expected.  Please feel free to create a pull-request.

[2016-12-12 14:56] mjordan commented on #310
Sweet, thanks, will do.

[2016-12-12 22:49] mjordan commented on #159
We've been getting some positive feedback from early testers... any objection to linking to the Helper's documentation from https://github.com/MarcusBarnes/mik/wiki/The-mappings-file, maybe adding a brief cookbook entry pointing to the Helper, and updating the main README to remove the reference to "tools for creating mappings files"?

I assume we'll want to leave this issue open since it's more g

[2016-12-13 14:25] MarcusBarnes commented on #159
@mjordan  No objections since it appears to help some users.  Thank you.

[2016-12-13 15:11] mjordan commented on #159
Done. Cookbook entry is at https://github.com/MarcusBarnes/mik/wiki/Cookbook:-Using-the-Metadata-Mappings-Helper.

[2016-12-13 15:16] MarcusBarnes commented on #310
Addressed in pull-request https://github.com/MarcusBarnes/mik/pull/313 (merged with commit https://github.com/MarcusBarnes/mik/commit/773a629e8d250e08c7ae7be313c271af2fcfef8e).

[2016-12-13 15:16] #310 closed

[2016-12-13 15:30] mjordan commented on #310
Thanks @MarcusBarnes!

[2016-12-13 15:43] mjordan commented on #240
@MarcusBarnes I've been thinking about starting some work on this. What do you think of the following approach? We would write a single class file for each toolchain that this would apply to (initially each of the CSV toolchains, eventually each of the Cdm toolchains) that would validate the content file input (and perhaps the CSV input file if existing validation of it is not sufficient). Each of

[2016-12-13 15:44] mjordan commented on #240
Also, I'm thinking that the validation should write to its own log, so as to keep mik.log clean. Thoughts?

[2016-12-13 15:51] MarcusBarnes commented on #240
@mjordan This would be particularly useful when using MIK as part of an ongoing digitization pipeline.   For migrations, this would add another level of quality control, but it would also mean that developers such as ourselves would need to extend various base-classes to better match local situations.

My initial thoughts based on your comments above is that input validators should be in a new nam

[2016-12-13 15:54] mjordan commented on #240
OK, let me do up a simple proof of concept for CSV Single File and we can go from there.

[2016-12-14 15:14] mjordan commented on #240
@MarcusBarnes I'm thinking that we could implement the validation in two ways. In the first, MIK validates all input, and can be configured to exit with a non-zero status code if any packages fail. This could be called a "preprocessing" validation mode. The second is that MIK validates each package just before it creates it, and if the current package fails, MIK skips it and moves to the next. Thi

[2016-12-14 15:55] mjordan commented on #240
For config options, how about
[code]

[2016-12-14 15:57] MarcusBarnes commented on #240
@mjordan The option names make sense.   Thank you for the suggestions.

[2016-12-21 01:26] mjordan commented on #240
@MarcusBarnes after struggling for quite a while trying to figure out why fetcher instances seemed to persist across tests, I remembered that adding 'use_cache = false' to the fetcher config prevents this from happening. This is documented, I just forgot to check the documentation (that I wrote). I will add a note to https://github.com/MarcusBarnes/mik/wiki/Extending-MIK reminding developers who a

[2017-01-20 23:31] mjordan commented on #240
I'll open a PR for the issue-240 branch over the weekend, but to summarize the work I've completed on this issue:

* added working input validators for CSV Single File, CSV Newspapers, and Csv Compound toolchains
* modified mik to integrate the validators in 'strict' mode (see below)
* modified the writers for those three toolchains to integrate the validators in 'realtime' mode (see below)
* adde

[2017-01-23 18:10] mjordan commented on #240
Added working input validator, with PHPUnit tests, for CsvBooks.

[2017-01-25 14:54] mjordan commented on #240
@MarcusBarnes just reminded myself while using this new feature that in strict mode, if MIK does not find any validation errors, it moves on to create the ingest packages. Would this be expected behavior? Or should strict mode *always* exit, regardless of whether or not it found any validation errors, and not produce any packages? I'm thinking about its use within scripted workflows. If it always

[2017-01-25 20:32] mjordan opened #316 "Clean up the CSV Newspaper writer code"
The CSV Newspapers writer contains some [cruft](https://github.com/MarcusBarnes/mik/blob/master/src/writers/CsvNewspapers.php#L91-L108) and some [misleading](https://github.com/MarcusBarnes/mik/blob/master/src/writers/CsvNewspapers.php#L119) or [incomplete ](https://github.com/MarcusBarnes/mik/blob/master/src/writers/CsvNewspapers.php#L121)comments. This should be cleaned up.

[2017-01-26 03:01] mjordan commented on #123
@MarcusBarnes I know you assigned this to yourself, but I thought I'd pop in to see if I could find the mismatch. I think I did; I have a small change that now produces mik.log entries like:
[code]

I'll open a PR and if you think the fix is not thorough enough, don't hesitate to let me know.

[2017-01-30 15:31] MarcusBarnes commented on #123
Addressed in pull-request https://github.com/MarcusBarnes/mik/pull/317 (merged into master with commit https://github.com/MarcusBarnes/mik/commit/230814b18d08839bef453f6f0747ee39424be576).

[2017-01-30 15:31] #123 closed

[2017-02-06 18:28] bondjimbond commented on #233
Related to this issue: difficulty with parsing more complex uses of repeatable elements and the relatedItem set...

Take a mapping file with the following in the top level:
`"Publisher","<originInfo><publisher>%value%</publisher></originInfo>
"Frequency",<originInfo><frequency>%value%</frequency></originInfo>
"Place",<originInfo><place><placeTerm>%value%</placeTerm></place></originInfo>"`

Because

[2017-02-06 19:48] mjordan commented on #233
It's going to be challenging to offer control over when the wrapper element consolidation happens and when it doesn't. For example, what if you wanted consolidation in the main MODS document but not in subdocuments that exist within `<relatedItem>` or `<extension>`? I'm wondering if we can modify `oneParentWrapperElement()` to accept a list of XPaths that identify elements not to be consolidated,

[2017-02-06 20:04] MarcusBarnes commented on #233
After reading http://www.loc.gov/standards/mods/userguide/relateditem.html#guidelines and seeing how many valid variations are possible, I'm inclined to remove the `oneParentWrapperElement()` method from the `CdmToMods` metadataparser class and instead create a metadataparser or postwritehook to deal with situations like this.  That way, rather than having one configuration setting that deals with

[2017-02-06 20:38] MarcusBarnes commented on #240
@mjordan For scripted workflows, one might consider using a two stage process.  The first process runs in strict mode, exiting and not creating any packages.  The results from the strict mode could be used to generate a list of record_keys where no problems were detected and a list of record_keys where problems were detected.

The list of record_keys for which there were no problems detected, coul

[2017-02-06 20:40] mjordan commented on #233
XML cleanup is a solid use case for post-write hooks for sure. So the idea would be to let MIK just add duplicate wrapper elements and then let the post-write hook script clean up the resulting MODS as necessary?

[2017-02-06 20:42] mjordan commented on #240
Now that the input validation is in master, I'm going to write up a cookbook entry for the placeholder on the cookbook table of contents, "Automating content-creation / ingestion workflows". I'll make sure to include the scenario you mention.

[2017-02-06 20:48] MarcusBarnes commented on #233
This would seem like the better approach.  When we first built in the `oneParentWrapperElement` method, we had not yet started leveraging the concept of post-write hooks.  In fact, I think [LSU](https://github.com/lsulibraries/) used post-write hooks for the majority of their XML cleanup via XSLTs - see https://github.com/MarcusBarnes/mik/tree/master/extras/lsu/xsl for some examples.

[2017-02-06 20:51] mjordan commented on #233
Yes. @bondjimbond what are your thoughts?

[2017-02-06 21:20] bondjimbond commented on #233
So long as it's simple to use and well-documented, any solution that works looks good to me.

[2017-02-07 00:23] mjordan commented on #233
Just adding a note that this issue also applies to CsvToMods metadata parser, which is what @bondjimbond was using.

[2017-02-07 20:37] MarcusBarnes commented on #291
@mjordan The relevant pull-requests that address this issue have been merged into master.  We need to update the wiki and related documentation regarding the `min_children` configuration setting and default value.

[2017-02-07 20:37] #291 closed

[2017-02-07 20:39] MarcusBarnes opened #318 "Documenet min_children configuration setting."
Document the `min_children` configuration setting for compound toolchains.  See issue https://github.com/MarcusBarnes/mik/issues/291.

[2017-02-08 02:27] mjordan commented on #318
OK, I've updated the `[WRITER]` section of the CSV Compound toolchain wiki page:

* min_children: Optional. The minimum number of child objects allowed in compound objects. If the number of children in a compound object is less than this number, MIK will skip creating the corresponding ingest package and log that it has been skipped. Defaults to 2.

[2017-02-08 19:05] mjordan opened #319 "CONTENTdm compound PDF documents with only one page cannot be migrated"
CONTENTdm compound PDF documents with only one page fail to migrate, because the "page" element in their structural metadata is different than that of a compound PDF document that has more than one page. We can see this by dumping the `$document_structure` variable at [line 106](https://github.com/MarcusBarnes/mik/blob/master/src/filegetters/CdmPhpDocuments.php#L106) of the file getter class:

[co

[2017-02-08 19:36] MarcusBarnes commented on #319
@mjordan Thank you for spotting this.

[2017-02-08 19:40] mjordan commented on #319
OK, have fix and can open PR. Mind if I roll in #223, which I've also fixed and tested?

[2017-02-08 19:47] MarcusBarnes commented on #319
Yes, please roll in your fix to #223.

[2017-02-09 05:37] mjordan commented on #302
I've done some work on this tool, and I think it's ready to be considered a replacement for check_files.php. It can validate packages generated with MIK (or hand assembled) for single-file content models, books, newspapers, and compound objects.

[2017-02-09 15:01] MarcusBarnes commented on #302
@mjordan Thank you.  We can get rid of check_files.php and suggest that people use [Islandora Import Package QA Tool](https://github.com/mjordan/iipqa) instead.

[2017-02-09 15:11] mjordan commented on #302
Let me do a bit more work on the tool first, but I agree.

[2017-02-14 16:56] mjordan opened #321 "CSV fetcher should tolerate empty lines in input metadata file"
Blank lines in the CSV input metadata file will produce an error indicating that the blank rows links didn’t have the same number of columns as the header row.  Since empty rows may be common in the wild, MIK should not produce an error but rather log the presence of the blank line and move on to the next one without an error.

[2017-02-14 17:35] MarcusBarnes commented on #319
Addressed in pull-request https://github.com/MarcusBarnes/mik/pull/320 (merged with commit https://github.com/MarcusBarnes/mik/commit/3613a3d5ae49a6828d278a4171ce4b2575fa7e4a).

[2017-02-14 17:35] #319 closed

[2017-02-14 17:35] MarcusBarnes commented on #223
Addressed in pull-request https://github.com/MarcusBarnes/mik/pull/320 (merged with commit https://github.com/MarcusBarnes/mik/commit/3613a3d5ae49a6828d278a4171ce4b2575fa7e4a).

[2017-02-14 17:35] #223 closed

[2017-02-14 17:39] mjordan commented on #319
Thanks!

[2017-02-15 17:19] mjordan commented on #321
@MarcusBarnes I have introduced blank lines into the tutorial_metadata.csv file on both Linux and Windows and as far as I can tell, they do not cause any problems. My mik.log and problem.log are clean, and all iipqa tests pass on the output.

[2017-02-15 17:22] MarcusBarnes commented on #321
@mjordan Thank you for the follow up.  I was able to view the error on an install on Ubantu and a Mac.  These were new installs of MIK, so I wonder if it related to one of the dependencies.  Have you done a `composer update` recently?

[2017-02-15 22:04] mjordan commented on #321
I've run `composer update` on both machines and rerun MIK and still can't produce any problems. What was the specific error that the blank lines caused?

[2017-02-15 22:17] MarcusBarnes commented on #321
Running `--checkconfig` all should produce:

`Error with CSV input file: it appears that row 7 does not have the same number of colums (1) as the header row (7).`

[2017-02-15 22:47] mjordan commented on #321
I get the same output with `--checkconfig all` but when I run MIK to produce packages (i.e., without checkconfig), there are no entries in mik.log or problem.log. All 5 pairs of JPEG and XML files are generated. So it looks like checkconfig picks up the blank lines but the lines have no effect on MIK's output. Can you confirm that your packages and logs look OK?

[2017-02-15 23:04] mjordan commented on #321
Separate but related issue, noted here so it's not forgotten: the `-cc` option (short form of `--checkconfig`) no longer works:

[code]

[2017-02-15 23:28] mjordan opened #322 "`-cc` option doesn't work"
Coming out of #321, he `-cc` option (short form of `--checkconfig`) no longer works:

[code]

I am sure this worked in the past. Perhaps running a `composer update` has introduced a problem with the Commando CLI library. I will investigate.

[2017-02-15 23:31] mjordan commented on #321
I've opened #322.

[2017-02-16 19:04] jpeak5 opened #323 "Sample data "Error with CSV input file""
Removing the extra empty line at the end of `tutorial_metadata.csv` fixes the error output below. I do not see anywhere obvious to make a pull request, but might be useful for others...

While getting started on the __CSV Single File toolchain__,

- using the tutorial sample data https://www.dropbox.com/s/30jeudn9cve87k5/mik_tutorial_data.zip?dl=1,
- MIK version https://github.com/MarcusBarnes/mik

[2017-02-16 20:17] mjordan commented on #323
@jpeak5, welcome back! We're very happy to see people are using the tutorial!

This issue is related to #321. Since I can't see any problem with MIK's output when there are blank lines in the CSV file, my take on this is that the output of `--checkconfig` is misleading and should be made less so.

However, I might be completely wrong about that. If MIK does produce malformed output when there are

[2017-02-16 20:39] MarcusBarnes commented on #321
@mjordan I'm able to generate the packages when I comment out the included metadatamanipulator line:

`metadatamanipulators[] = "SplitRepeatedValues|Subjects|/subject/topic|;"`

[2017-02-16 20:41] mjordan commented on #321
Sounds like the packages are malformed because of the blank rows - is that the case?

[2017-02-16 20:48] MarcusBarnes commented on #321
@mjordan Apologies - it looks like I introduced a typo while testing the tutorial config file.  I've updated my comment above.   I'm able to generate the packages.  It's just the misleading message when using the `--checkconfig all` option.

[2017-02-16 20:50] mjordan commented on #321
No problem. What say you to closing this issue but continuing the discussion over at #323?

[2017-02-16 20:51] #321 closed

[2017-02-16 20:54] mjordan commented on #323
@jpeak5 and @MarcusBarnes I'm happy to change the output of `--checkconfig` when it encounters in the input CSV to something like

`Row X in [input file] is empty. This is harmless but we thought you should know it's empty in case it isn't intentional.`

Any objections? Plus I'll remove the blank row from the tutorial input file.

[2017-02-16 21:29] jpeak5 commented on #323
For sure, that sounds good, @mjordan

[2017-02-17 17:22] mjordan commented on #318
@MarcusBarnes we can close this issue, I've updated the CSV Compound toolchain wiki page.

[2017-02-17 17:28] #318 closed

[2017-03-01 21:05] mjordan opened #324 "Provide a utility function for logging the value of a variable"
It would be useful for developers and testers to be able to dump the value of a variable to mik.log or a separate debug  log. Something similar to Drupal's `drupal_debug()` function. Possibly something like:

[code]

[2017-03-01 21:29] mjordan opened #325 "SplitRepeatedValues metadata manipulator incorrectly reports failed regex"
Doing some pre-ingest tests with a large collection (11k CSV objects) and I'm finding that the SplitRepeatedValues metadata manipulator is reporting a failed regex about 50% of the time. Eyeballing the failed values doesn't reveal any obvious errors to me. Will investigate.

[2017-03-02 22:18] mjordan commented on #325
I tracked the problem down (unnecessary checking of a preg_match()'s $matches within a loop) and fixed it.

In the process of debugging this, I discovered another, unrelated problem: some metadata manipulators throw an exception when the XML snippet they are processing has no length, writing the exception message "DOMDocument::loadXML(): Empty string supplied as input" to the mik.log. By checking

[2017-03-02 22:22] MarcusBarnes commented on #325
@mjordan Please add the two fixes together. Thank you in advance for this work.

[2017-03-02 22:24] mjordan commented on #325
Great, just running another job on the 11k objects. So nice to have a clean mik.log and valid MODS for each one! If my QA on the MODS finds no issues I'll open a PR.

[2017-03-03 21:55] mjordan opened #326 "Add an option to the Random Set fetcher manipulator to write out the IDs it chooses"
It would be useful to be able to "replay" a set of objects processed with the Random Set fetcher manipulator, e.g., during A/B testing of MIK code/configuration, for doing demos, having a consistent set of input during speed profiling, etc. We could provide an option to this manipulator that would do that. The output of this file would act as the input of the Specific Set fetcher manipulator.

May

[2017-03-05 16:21] mjordan opened #329 ".gitattributes not working, master branch is borked"
Doing a fresh clone to a Linux machine shows that some files are being marked as modified:

[code]

`git diff` shows that all lines in each file are being marked as changed, which suggests that it's the line endings that git is detecting as different. I suspect that each of these files was last updated on Windows (some of them quite a while ago, well before #310. Why are they showing up now? And h

[2017-03-06 15:42] MarcusBarnes commented on #329
@mjordan Just tested on my Mac and I don't experience the same issue.  I assume you're cloning into a brand new directory.  I'm going to ask a someone who is using Ubantu to see if they can reproduce.

[2017-03-06 15:43] mjordan commented on #329
Yes, that's correct, it's a completely new clone into its own directory. Thanks for testing.

[2017-03-06 15:44] MarcusBarnes commented on #329
I'm going to test using my development Islandora Vagrant machine and report back.

[2017-03-06 15:46] mjordan commented on #329
I just cloned to a second Linux machine, and `cd`ing into the mik directory and running `git status` shows the same modified files.

[2017-03-06 15:46] MarcusBarnes commented on #329
@mjordan I can confirm this behavior via my Islandora Vagrant instance.  Thank you for spotting it.

[2017-03-06 15:47] mjordan commented on #329
@MarcusBarnes thanks for the sanity check. Should I open a PR after correcting the problem as described above?

[2017-03-06 15:48] MarcusBarnes commented on #329
@mjordan Yes - a pull-request is best.  I'll review on my Mac (where I don't get the issue) and on a Linux machine.    Thank you in advance.

[2017-03-06 18:52] mjordan commented on #329
Tested and looks good.

[2017-03-06 18:52] #329 closed

[2017-03-06 19:02] mjordan opened #331 "Move information in README_DEV to wiki"
The information in README_DEV.md should be added to the "Extending MIK" wiki entry at https://github.com/MarcusBarnes/mik/wiki/Extending-MIK. If we do this, we should update the Contributing section of the README.md top point to the wiki.

We should be sure to document that in order for PHPUnit tests to run successfully, you need to run PHPUnit twice, as is illustrated in the .travis.yml file:

[c

[2017-03-06 23:55] mjordan opened #333 "Tests are failing on Windows"
On Windows, running `./vendor/bin/phpunit --exclude-group inputvalidators --bootstrap vendor/autoload.php tests` on Windows results in six test failures ("Tests: 42, Assertions: 52, Errors: 2, Failures: 6."):

* mik\writers\CsvSingleFileToolchainTest::testCreateMetadata
* mik\writers\CsvSingleFileToolchainTest::testWritePackages
*  mik\metadataparsers\mods\MetadataManipulatorTest::testInsertXMLFro

[2017-03-07 01:12] mjordan commented on #333
Same tests fail on a completely different Windows machine, using a clean clone of the mik repo.

[2017-03-07 03:10] mjordan commented on #331
I've moved information from README_DEV.md over to a new page https://github.com/MarcusBarnes/mik/wiki/Information-for-developers, and have deleted README_DEV. I've also modified the main README.md file slightly to point to this new wiki page and remove references to README_DEV, and I've also moved the 1.0 release date ahead to "late spring 2017." Will open a PR.

[2017-03-07 17:49] mjordan commented on #325
Closed.

[2017-03-07 17:49] #325 closed

[2017-03-07 17:50] MarcusBarnes commented on #325
Addressed in pull-request https://github.com/MarcusBarnes/mik/pull/328 (committed with https://github.com/MarcusBarnes/mik/commit/7ce0163c80d2d5b7f9143a5cba7ddb2d97254051).

[2017-03-07 18:01] mjordan opened #335 "Add migration guide for SFU's Editorial Cartoons collection"
Following the example of @bondjimbond's https://github.com/MarcusBarnes/mik/wiki/Migration-Guide:-Digital-Commons, I would like to add a guide documenting the migration of our Editorial Cartoons Collection. The source platform is a total one-off that uses a MySQL backend and a custom public front end. I will spin this guide as more of a "migrating from a custom platform" task using the CSV single

[2017-03-07 19:19] #331 closed

[2017-03-07 21:45] bondjimbond opened #336 "OAI toolchain: Add Set ID config option"
Add an option to include a Set in the OAI request.

e.g. http://oclscore.ca/vital/oai/provider?verb=ListRecords&metadataPrefix=oai_dc&set=SCSet

To allow the extraction of objects from a particular set/collection/etc.

[2017-03-07 21:46] bondjimbond opened #337 "OAI toolchain: document To/From config options"
OAI toolchain includes the feature to limit results by date. The method for doing this needs to be documented in the wiki.

[2017-03-07 21:50] mjordan commented on #337
Totally. My bad. I will fix.

[2017-03-07 21:51] mjordan commented on #336
It is there already, see https://github.com/MarcusBarnes/mik/wiki/Toolchain:-OAI-PMH-for-repositories-that-identify-resource-files-in-a-record-element under the `[FETCHER]` section.

[2017-03-07 22:10] bondjimbond commented on #336
Ack, I totally missed this. Thanks.

[2017-03-07 22:10] #336 closed

[2017-03-07 22:12] bondjimbond commented on #336
However - could it perhaps be tweaked to run multiple queries in sequence, and add the results of each set to a separate subdirectory within the output_directory?

This may be a separate issue and a more complex feature.

[2017-03-07 22:53] mjordan commented on #336
Sure, open an separate issue for using multiple setspecs.

[2017-03-07 23:03] bondjimbond opened #338 "OAI toolchain: Use multiple set_spec options"
Goal: run multiple OAI requests from one config file, once for each set_spec. The output of each request would go into a separate subdirectory below output_directory, each named for the set.

Related is an option to run without specifying sets individually, but still split the output into directories based on set.

[2017-03-07 23:33] mjordan opened #339 "OAI toolchain: provide options for rate limiting"
The OAI-PMH harvester MIK uses, https://github.com/caseyamcl/phpoaipmh, doesn't provide any built-in rate limiting options like pausing, etc, but its README points out that https://github.com/guzzle/retry-subscriber can be used for this sort of thing. We should add rate-limiting options so brittle OAI-PMH providers don't crash as often when we point MIK at them.

[2017-03-07 23:43] mjordan commented on #337
Done - @bondjimbond please take a look in the `[FETCHER]` section of the wiki page and let me know if my docs are OK.

[2017-03-07 23:50] mjordan commented on #338
From what I can tell, the [OAI-PMH spec](https://www.openarchives.org/OAI/2.0/openarchivesprotocol.htm#SelectiveHarvestingandSets) only allows for a single setSpec per request ([more here](https://www.openarchives.org/OAI/2.0/openarchivesprotocol.htm#Set). I'd have to think about how to implement allowing multiple setSpec values in MIK's configuration. If we allowed multiple values, we'd need to p

[2017-03-08 17:36] bondjimbond commented on #338
That sounds about right. You'd want to send an OAI request once per set; otherwise, even if OAI allowed multiple sets in a request, you'd get them all in one list. Looping makes sense.

[2017-03-08 18:21] bondjimbond commented on #337
Makes sense. Maybe add the to and from parameters in the example too, to make it completely clear.

[2017-03-08 19:03] mjordan commented on #335
Draft is at https://github.com/MarcusBarnes/mik/wiki/Migration-Guide:-Simon-Fraser-University-Library-Editorial-Cartoons-Collection. Comments are welcome.

[2017-03-08 19:51] bondjimbond commented on #298
Digital Commons guide more or less complete - I have added documentation from Linda Woodcock about how to export metadata spreadsheets from the DC admin interface.

[2017-03-08 19:53] mjordan commented on #335
Feedback from Ian on this draft was that we may want to include mention of the issue I raise in [this Google Groups thread](https://groups.google.com/forum/#!topic/islandora/cm_6zCt-3PY). In a nutshell, if we map the 'cartoon text' to MODS title, we'll have some objects (about 400 out of 11,600) whose Fedora object 'label' property is longer the the maximum allowed 255 characters. I'm waiting to h

[2017-03-08 19:58] mjordan commented on #337
OK, examples in yyyy-mm-dd format added.

[2017-03-08 21:47] bondjimbond commented on #335
My suggestion re where to store the caption is in the MODS abstract element. For the title/label I'd probably go with a combination of newspaper and date, if not also the author.

[2017-03-08 21:48] bondjimbond commented on #337
Looks good!

[2017-03-08 21:48] #337 closed

[2017-03-09 15:49] mjordan commented on #335
I've done a "day after" editing job on this guide, e.g. cleaned up some awkward paragraphs, broken out some dense passages into better writing for the web, and added some additional examples. I also added a description of our iterative workflow while testing our mappings file.

I'm going to wait until we come to a landing on the long-title question and add a bit about that, then actually migrate t

[2017-03-09 17:41] mjordan opened #340 "Change URLs to images and other files currently hosted on Dropbox"
Most of the images used in the wiki, and the sample files provided as part of the tutorial, are hosted in my Drupbox account. Dropbox is going to convert public folders to non-public one [on March 15](https://www.dropbox.com/help/16).

I will go through the linked images and change the URLs as documented in the Dropbox help page linked above.

[2017-03-09 17:42] mjordan commented on #340
Another option is to host images, etcl. within the MIK Wiki git repo, as @MarcusBarnes suggested. Maybe that's the better way to go, at some added inconvenience since adding new images will require cloning the wiki repo down and editing it.

[2017-03-10 04:41] mjordan commented on #340
"Share links" will continue to work. Share links I have created are in the form `https://dl.dropboxusercontent.com/u/1015702/linked_to/MIK_overview_general.png`, i.e., `u/1015702/linked_to`, where 'linked_to' is the folder they are in on my Dropbox space.

I cloned the MIK wiki and then `grepped` through the files for 'dropbox'. All occurrences contain `u/1015702/linked_to`, so perhaps we're OK?

[2017-03-10 05:42] mjordan commented on #323
I've removed the empty line from the tutorial metadata and uploaded the fixed .zip file. Will move on to the `--checkconfig` work next.

[2017-03-10 06:01] mjordan commented on #323
I've added a check to see if rows in the CSV input file are empty; if `--checkconfig` encounters an empty row (in this case, row 6), it will report:

`Row 6 in the CSV input file appears to be empty; this is OK, just reporting it in case it's unintentional.`

Will open a PR.

[2017-03-10 06:02] mjordan commented on #323
Full output of `--checkconfig`:

[code]

[2017-03-10 15:39] mjordan opened #342 "Add link to KORA"
Now that the KORA institutional repository is live in Arca, we should add it to the list in the main MIK README of collections migrated using MIK:

arcabc.ca/islandora/object/kora:root

We could even include a link to @bondjimbond's [migration guide](https://github.com/MarcusBarnes/mik/wiki/Migration-Guide:-Digital-Commons).

[2017-03-10 15:44] mjordan commented on #326
Closing this since its PR has been merged with 8a2b1d3fd10f18bce0820daa0bac24f39e049ee6 and documentation has been updated:

* https://github.com/MarcusBarnes/mik/wiki/Manipulators
* https://github.com/MarcusBarnes/mik/wiki/Fetcher-manipulator:-CdmSingleFileByExtension
* https://github.com/MarcusBarnes/mik/wiki/Fetcher-manipulator:-RandomSet
* https://github.com/MarcusBarnes/mik/wiki/Cookbook:-Pro

[2017-03-10 15:44] #326 closed

[2017-03-10 17:34] MarcusBarnes commented on #340
A similar approach would be to download the Dropbox folder with the images, add the folder and files to the MIK wiki repo, and then update the links in a similar manner.  Then push back up.  Similar to what is outlined in this blog post on how to [add images to GitHub Wikis](http://mikehadlow.blogspot.ca/2014/03/how-to-add-images-to-github-wiki.html).

We can review on on or after March 15th to se

[2017-03-10 18:28] bondjimbond commented on #342
Better to use the official KORA URL: http://kora.kpu.ca
Unless you like to point specifically to root Islandora collection, in which case it would be http://kora.kpu.ca/islandora/object/kora:root

[2017-03-10 18:33] mjordan commented on #342
Nothing wrong with http://kora.kpu.ca. I'll open a PR.

[2017-03-12 18:04] mjordan commented on #323
@jpeak5 fix has been merged, mind if we close this issue?

[2017-03-13 14:30] #342 closed

[2017-03-13 20:51] mjordan commented on #132
@MarcusBarnes I don't know how many more tests we should be adding. I was hoping to add some tests for the CONTENTdm toolchains but short of mocking up a CONTENTdm server I don't see how we can do that. Thoughts?

[2017-03-13 20:57] MarcusBarnes commented on #132
@mjordan For sources like a CONTENTdm server, we may just have to document that they are examples and will likely need to be modified in order to work since they lie outside the main testing suite.  We can explain that we haven't included them in the main unit testing suite since we don't have regular access to a CONTENTdm server and there are issues if we try mocking up the API for ongoing testin

[2017-03-13 21:07] mjordan commented on #132
Yeah, that's reasonable. Same goes for OAI-PMH toolchains. We do have fairly good test coverage of the CSV toolchains, although I would love to see someone well versed in PHPUnit testing review the existing test to see why some of them exhbit quirky behavior.

I'm happy to just document tests for those toolchains as you describe (i.e., they're impractical to write) on https://github.com/MarcusBarn

[2017-03-13 21:11] MarcusBarnes commented on #132
@mjordan Yes - I think we can close this issue and create more specific issues as needed.

[2017-03-13 21:14] mjordan commented on #132
OK, agreed. But mind if I open a PR based on this issue to remove "more tests" from the README.md file?

[2017-03-14 13:44] MarcusBarnes commented on #132
@mjordan Sure.  That's sound good.  Thank you in advance.

[2017-03-15 18:43] bondjimbond opened #344 "OAI filegetter: resume if process freezes?"
Would it be possible to build in a way to resume downloading a large set if the process freezes? Perhaps the process could save the last-received resumption token, and a line in config could instruct MIK to use that when querying OAI the next time?

Very large sets appear to just hang up or time out, and a mechanism for recovering from a crash without re-initiating the process from the beginning w

[2017-03-16 16:55] bondjimbond commented on #344
Another (though perhaps slower) option would be to check the output_directory for each record to see whether a file already exists before attempting to download.

[2017-03-16 22:20] GarrettArm commented on #233
If this were done post creation of the mods document, then an analog to python's lxml ElementTree library could do this.  For example:

def merge_same_fields(orig_etree):
    for elem in orig_etree:
        for following_elem in elem.itersiblings():
            if elem.tag == following_elem.tag and elem.attrib == following_elem.attrib:
                for child in following_elem.iterchildren():

[2017-03-16 22:57] mjordan commented on #340
Welp, I can confirm that the share links didn't work.

[2017-03-16 23:23] mjordan commented on #344
I don't think resumption tokens would work here since they are internal to the OAI harvester, and because they represent chuncks of records, usually 100 but I think that is configurable. However, we have approached this sort of problem in the CONTENTdm toolchains by using the Specific Set fetcher manipulator, which, as the name suggests, fetches specific records from the source. It could be used i

[2017-03-17 02:31] mjordan commented on #344
@bondjimbond just to clarify, when you say "to resume downloading a large set if the process freezes", do you mean the OAI part of the harvest, or the downloading of the payload (PDF, etc.) file? Rereading your initial issue it appears you mean the OAI part, but your follow up comments suggest the file download part.

[2017-03-17 02:34] mjordan commented on #344
Consulting the fine docs at https://github.com/MarcusBarnes/mik/wiki/Toolchain:-OAI-PMH-for-repositories-that-identify-resource-files-in-a-record-element I see that this toolchain already supports the SpecificSet fetcher manipulator. We could give that a try.

[2017-03-17 02:53] mjordan commented on #324
@MarcusBarnes where do you think this function should be defined? We don't have a 'utilities' namespace. I'm tending to think that it would be useful to have one, but at the same time I can't think of any other utility classes we'd need. Perhaps there are some other methods we use across multiple toolchains that would fit into a 'utilities' class? On the other hand, we have an 'exceptions' namespa

[2017-03-17 17:21] bondjimbond commented on #344
I guess the issue here is downloading the payload. I'd say the OAI part of the harvest completes rather quickly, as the "temp" directory generates a huge number of .metadata files right away. (I don't know exactly how the toolchain works after you get all the .metadata files; it still takes some time to generate the XML files from them.)

SpecificSet is good and helpful in limiting the download -

[2017-03-17 17:50] mjordan commented on #344
You can split up large sets into smaller ones, which would reduce the risk.

What you describe in the last paragraph could pretty easily be coded up as a filegetter manipulator. Given that the OAI "fetching" appears to be fairly reliable, this is probably the most direct solution to your problem. You would run MIK configured with this manipulator as many times as necessary until you got all your f

[2017-03-17 17:52] mjordan commented on #344
I say that on the assumption that it's OK to rerun the OAI-PMH half of this process as many times as you need to.

[2017-03-17 18:38] bondjimbond commented on #344
It would be nice to have something like that. It would even work for unexplained hiccups - for example, I'm running a download right now where an object downloaded successfully before, but just failed for no reason this time. Running it again would probably be successful. Would be great if I could run the entire set again but skip all the files that already downloaded.

Your advice on writing this

[2017-03-17 19:00] mjordan commented on #344
Agreed about nice to have. Such a filegetter manipulator may be applicable to other toolchains that get files from a remote URL, both existing and yet-to-be-imagined ones. Let me put some initial thought into how to generalize this out without jeopardizing your immediate use case. I think MIK's abstraction of 'record keys' in other toolchains (in other words, unique IDs) is all we need to pay atte

[2017-03-17 19:38] mjordan commented on #344
A quick look at the two existing filegetter manipulators at https://github.com/MarcusBarnes/mik/tree/master/src/filegettermanipulators reminds me that they are additive - they return likely paths to files. The use case we are circling around in the last few comments is subtractive. Despite my having said

I am now flipflopping back to implementing this as a fetcher manipulator, but one where the "

[2017-03-17 19:59] mjordan commented on #344
Pondering this while eating my lunch, I think we can base this fetcher manipulator on [SpecificSet](https://github.com/MarcusBarnes/mik/blob/master/src/fetchermanipulators/SpecificSet.php) pretty easily. All we need to do is replace the code inside its `getSpecificSet()` method with code that returns a list of keys that don't have corresponding files in the output directory.  Does that make sense?

[2017-03-17 22:53] bondjimbond commented on #344
Probably... I don't know exactly how SpecificSet works, but we can look it over.

[2017-03-17 22:55] mjordan commented on #344
I can give this a first crack over the weekend. I think it should be pretty straight forward.

[2017-03-17 23:01] bondjimbond opened #345 "OAI toolchain - MIK confuses quotes with directory name on some(?) computer(s)"
I ran into some truly bizarre behaviour today. Installed MIK on another computer so that I could leave it running the OAI-PMH download over the weekend. I used the exact same config file I use on my own computer, but on the other Mac it generated errors.

It expected a trailing slash in my output_directory setting.

Original (failed):
`output_directory = "/tmp/oaitest_output"`

Edited (success):
`

[2017-03-17 23:27] mjordan commented on #345
What happens if you don't use quotation marks around your paths? I think they are only necessary if there is a space or an escape character in the .ini value.

[2017-03-18 15:17] bondjimbond commented on #345
Don't know; I'll have to check on Monday.

[2017-03-18 16:21] mjordan commented on #344
@bondjimbond could you could send me an .ini file for an OAI-PMH toolchain that uses a setSpec that retrieves a relatively small (< 50 or even fewer) set of objects? By email is OK if you prefer.

[2017-03-19 16:54] mjordan commented on #344
I've pushed up a new fetcher manipulator that filters out records that do not have a JPEG, etc. file in the output directory. To test it,

1. add the following line to the `[MANIPULATORS]` section of your .ini file: `fetchermanipulators[] = OaiMissingFileSet`
1. `git fetch` and then `git checkout issue-344`
1. `composer dump-autoload` or equivalent on your system
1. run mik to create some packages

[2017-03-20 13:50] MarcusBarnes commented on #340
@mjordan Thank you for confirming.  We can use the approach in the first paragraph of [my earlier comment](Bibliography).

[2017-03-20 13:58] mjordan commented on #340
To create a share link for images in Dropbox, in the web client,

1. hover over the filename until the "Share" link appears
1. click on it, then click on "Create a link"
1. click on "Copy link"
1. paste the link into your text editor. It will look like `https://www.dropbox.com/s/2cxnybrhs4o3klr/mik_tutorial_batch_upload.png?dl=0`
1. change the "dl=0" at the end to "dl=1" to avoid Dropbox's adverti

[2017-03-20 14:01] mjordan commented on #340
OK, I've updated the links in the tutorial. I'll open a PR later today using this issue number for image embedded in the MIK README.

[2017-03-20 14:35] mjordan commented on #340
@MarcusBarnes thanks. Should we close this issue? I can continue working on updating the image URLs on the other wiki pages.

[2017-03-20 14:37] #340 closed

[2017-03-20 17:23] mjordan opened #347 "Add a filegetter for the OAI toolchain that fetches OBJ datastreams from Islandora"
We have to filegetters that work with OAI-PMH toolchains, one for Open Journal Systems and one for OAI-PMH providers that include a full URL to a payload file. The first is really just a demo while the latter has already been used in production.

The OJS filegetter scrapes values from HTML, so it is brittle. It would be useful to provide a filegetter that doesn't require a full URL in the OAI meta

[2017-03-20 22:53] bondjimbond commented on #347
Is this much different from my OAI filegetter for Vital (which isn't really Vital-exclusive)? This lets you set:

- Base URL for download link
- Datastream IDs to download

And cycles through the DSIDs in order until it finds a valid one. This is useful to Islandora too, given that not all objects have OBJ datastreams (i.e. some have PDF instead).

Maybe better, more generalized to tweak the Vital

[2017-03-20 23:17] mjordan commented on #347
I think this would work, but you get you record key from the OAI identifier:

[code]

My filegetter parses the DC metadata to get the record key. I think that if I changed mine to get the key from the OAI identifier, and we provided a base URL option that allowed us to insert the record key into the URL, e.g., `base_url = http://foo.org/object{id}/whatever`, the two filegetters could use your code

[2017-03-21 14:32] mjordan commented on #347
Getting the record key from the OAI identifier may be problematic. Islandora uses identifiers like `oai%3Adigital.lib.sfu.ca%3Asome_pid` whereas Vital produces identifiers like `oai:SGOCLSAPP1:some_pid`. In order to use the same filegetter, we can provide a configuration option that will allow variable patterns in the identifiers. An .ini file setting defining the pattern like `pid_in_oai_identife

[2017-03-21 16:10] bondjimbond commented on #347
For Vital you could get it from the <identifier> element as well, actually; I don't quite remember why it was done this way. But I agree that the easy thing to do is to leave both as-is; may be worth combining them in the future when one/both of us has more time.

[2017-03-21 18:52] bondjimbond opened #349 "CSV Newspapers: Mishandling columns in CSV?"
I'm running into strange behaviour with the CSV Newspapers toolchain. MIK seems to be unable to recognize the presence of data in one of the columns, starting from a certain point.

In the attached CSV, MIK correctly processes the first 3 rows. But from the 4th row onward, MIK logs the following error:

Data in the Issue Title column is identical from rows 1-3 and from 4-onward, except for dates.

[2017-03-21 19:44] mjordan commented on #349
Two questions:

1. Is the place where the strange behavior starts reproducible? In other words, does the error start at the same row all the time?

1. My gut tells me that there may be some unprintable characters in your CSV that are causing this. The CSV parser that we use is very robust but we've seen instances in the past where BOMs (byte order marks) and other nonprintable characters throw it

[2017-03-21 19:52] MarcusBarnes commented on #349
What happens when you run using the `--checkconfig all` option?

[2017-03-21 19:52] mjordan commented on #349
@bondjimbond FYI this toolchain came after our migration, which used the CONTENTdm Newspapers toolchain. Like with other non-CONTENTdm toolchains, you're the first one to use them in production.

[2017-03-21 20:11] bondjimbond commented on #349
`--checkconfig all` looks good:

[2017-03-21 20:14] MarcusBarnes commented on #349
@bondjimbond Thank you for confirming.  Another quick thing to double check is to to run `composer update` and or `composer dumb-autoload`.  I'm assuming that you're using the latest commit from master.

[2017-03-21 20:18] bondjimbond commented on #349
Sigh... Well, over lunch I unplugged the hard disk I was writing to and had some problems afterward, so I reformatted it and renamed it -- and after renaming the target disk, the title field is working.

So - I have no explanation for why it changed, but it's working now. I doubt I could replicate the problem.

[2017-03-21 20:35] bondjimbond commented on #349
Closing the issue since it solved itself in a weird way and I'd probably have a hard time duplicating it.

[2017-03-21 20:35] #349 closed

[2017-03-21 20:37] MarcusBarnes commented on #349
Interesting that the error manifested the way it did.  For reference, the error message is generated in this block https://github.com/MarcusBarnes/mik/blob/master/src/metadataparsers/mods/CsvToMods.php#L103-L109.

[2017-03-21 22:55] mjordan commented on #347
OK, given the narrow scope of the Islandora filegetter let's keep them separate for now. I'll add some additional text to the file-level comment to make its purpose clearer.

[2017-03-22 14:55] mjordan commented on #256
In cases where and OAI-PMH provider is not available, perhaps we can use a simple scraper to get all the members of a collection from the collection browse pages. Here's an example using the [Goutte](https://github.com/FriendsOfPHP/Goutte) scraper library:

[code]

This scraper produces output like this:

[code]

An advantage of this approach is that every Islandora instance will expose members of

[2017-03-22 16:43] mjordan commented on #339
@bondjimbond can we close this since we have #344?

[2017-03-22 18:11] bondjimbond commented on #339
The fix for #344 is related but different - but perhaps good enough for now? Are there other use cases for rate limiting specifically that aren't covered in #344?

[2017-03-22 19:52] mjordan commented on #339
Fair enough - but AFAIK implementing this will be non-trivial since we'll need to dig into the OAI-PMN harvester. Let's leave it open in case someone gets the time to take a closer look.

I can't think of a more specific use case for rate limiting on the OAI harvest other than to not swamp the OAI provider, but as I understand it, the whole reason they included resumption tokens was to allow for a

[2017-03-22 22:42] mjordan opened #351 "Provide an option in CSV toolchains to not use record_key value as output filenames"
CSV Single File toolchain allows either the use of the value defined in the `record_key` .ini option or the original filename as well as the `preserve_content_filenames` option. However, we are getting CSV files from content owners that have identifiers and filenames that contain spaces. Consequently, MIK produces output packages that have spaces in the filenames, something which we don't want.

W

[2017-03-22 22:51] mjordan commented on #338
Potentially related issue: #248.

[2017-03-22 22:52] mjordan commented on #248
Potentially related issue: #338.

[2017-03-23 00:25] MarcusBarnes commented on #351
@mjordan Would this task be better addressed using a postwritehook or via the new shutdown hook mechanisms?

[2017-03-23 14:43] mjordan commented on #256
Here's a better version:

[code]

[2017-03-23 22:16] bondjimbond opened #352 "Wiki: add downloadable example .ini files for each toolchain"
Wiki pages for each toolchain contain example config settings that can be copied and added to a .ini file. This is useful, but more user-friendly would be to also include a link to download a complete example.ini file with all common settings and required entries.

This would save a lot of time and confusion, particularly in cases like today's work with Carly.

[2017-03-23 22:18] mjordan opened #353 "Provide defaults for .ini options that are documented as "required""
[code]

in the CSV Books and Newspapers is one example. There is no need for people to have to enter these type of options in .ini files.

[2017-03-23 22:45] mjordan commented on #156
First version of the wiki docs at https://github.com/MarcusBarnes/mik/wiki/Shutdown-hooks. Please take a look.

[2017-03-23 22:50] mjordan opened #354 "Add a shutdown hook script to clear out the temp_directory"
It is useful to delete the contents of the MIK temp directory between runs, especially if you are playing with metadata generation options. We should provide a shutdown script (thanks again @jpeak5!) to do this. It would be registered like this:

[code]
I have this script ready, and will open a PR to include it. @bondjimbond should test since he suggested it.

[2017-03-23 23:25] mjordan opened #356 "--checkconfig on mappings files ignores commented out mappings"
If a mappings file contains a commented-out row (using the #), `--checkconfig` ignores the commenting and reports errors, etc. in the mapping. `--checkconfig` should probably respect the #.

[2017-03-24 03:11] mjordan commented on #322
I can no longer replicate this problem. Can anyone else?

[2017-03-24 15:03] mjordan commented on #159
Oh man we need a GUI for creating .ini files (and creating/validating mappings, etc.). Would love to see a desktop app written in https://electron.atom.io/ if we had resources.

[2017-03-24 15:12] MarcusBarnes commented on #159
@mjordan https://electron.atom.io/ looks promising.   I may investigate as it may prove useful for wrapping other work for cross-platform desktop usage. Thank you.

[2017-03-24 15:51] mjordan commented on #240
The Cookbook entry is under way:https://github.com/MarcusBarnes/mik/wiki/Cookbook:-Automating-content-ingestion-workflows

Mind if I close this issue?

[2017-03-24 15:53] #240 closed

[2017-03-24 16:07] mjordan commented on #159
It does look good.  But, desktop apps have their own liabilities, like the fact that someone  (in some cases, IT) needs to install them. As an alternative to a desktop app, HTML5 offers a lot of interactive features that we might use. That way, we could provide a web page that generates .ini files.

But, in terms of lowering the barrier to using MIK, there might be some other things we can do. For

[2017-03-24 16:24] MarcusBarnes commented on #347
Initially address in pull-request https://github.com/MarcusBarnes/mik/pull/348 (merged with commit https://github.com/MarcusBarnes/mik/commit/a8b85d936558bc3b3e6712f47f946aab8233f597).

[2017-03-24 16:24] #347 closed

[2017-03-24 16:26] MarcusBarnes opened #358 "Document the OAI-PMH Islandora OBJ filegetter class."
https://github.com/MarcusBarnes/mik/blob/master/src/filegetters/OaipmhIslandoraObj.php

[2017-03-24 16:38] mjordan commented on #358
Thanks, will do.

[2017-03-24 17:06] mjordan commented on #358
Here's a draft. I hope it is clear that this toolchain is for demonstration purposes only.

https://github.com/MarcusBarnes/mik/wiki/OAI-PMH-for-Islandora-repositories

[2017-03-24 17:41] mjordan commented on #323
@jpeak5 OK to close this issue?

[2017-03-24 17:48] mjordan commented on #353
Just grepped through the wiki files for ` grep "Required" * | grep "Must be"
` and got the following list:

[code]

[2017-03-24 17:58] jpeak5 commented on #323
For sure, Mark; thx much!

jrp

Sent from my iPhone

On Mar 24, 2017, at 12:41 PM, Mark Jordan <notifications@github.com<mailto:notifications@github.com>> wrote:

@jpeak5<https://github.com/jpeak5> OK to close this issue?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/MarcusBarnes/mik/issues/323#issuecomment-289093008>, or m

[2017-03-24 17:59] #323 closed

[2017-03-24 17:59] mjordan commented on #351
Could be addressed using either, but I'm not sure about "better" since if we use the row number in the CSV, the filename will have some traceable relation to the row. I guess the same thing could be done via a post-write hook though. I'll check that out.

[2017-03-24 19:24] MarcusBarnes commented on #354
Addressed in pull-request https://github.com/MarcusBarnes/mik/pull/355 (merged into master with commit b5d76dcfc49a943f37e6662d0e5abdf1621cc143).

[2017-03-24 19:24] #354 closed

[2017-03-24 19:28] mjordan commented on #354
Thanks! I'll add mention of the script to https://github.com/MarcusBarnes/mik/wiki/Shutdown-hooks

[2017-03-24 20:28] MarcusBarnes commented on #356
Addressed in pull-request https://github.com/MarcusBarnes/mik/pull/357 (merged with commit https://github.com/MarcusBarnes/mik/commit/86d21316384b1d66afe418c6d4322ec7765202fb).

[2017-03-24 20:29] #356 closed

[2017-03-24 22:23] jpeak5 commented on #354
Mark,

Thanks for drawing attention to our xslt in the mik wiki.

LSU Librarians @myqua and @carakey have evolved the xsl quite a bit on our fork of mik, and I wonder if we might open a new pull request to submit those changes as well as some documentation describing their use in a little more depth.

jrp

Sent from my iPhone

On Mar 24, 2017, at 2:28 PM, Mark Jordan <notifications@github.com<mail

[2017-03-24 22:32] jpeak5 commented on #156
@mjordan I added a comment about the wiki here https://github.com/MarcusBarnes/mik/issues/354

[2017-03-24 22:59] bondjimbond commented on #347
Reiterating the note I made above: what about objects in CModels without an OBJ datastream? (i.e. theses, citations, etc.) Can the filegetter be tweaked to accommodate several different DSIDs? Either by configuration, or hard-coding them in (as there are only a handful of different DSIDs that Islandora uses for the original object file).

[2017-03-24 23:03] bondjimbond opened #359 "Islandora OBJ Filegetter: get other DSIDs"
Reiterating the note I made in #347: This filegetter is hard-coded to grab OBJ files. What about objects in CModels without an OBJ datastream? (i.e. theses, citations, etc.) Can the filegetter be tweaked to accommodate several different DSIDs? Either by configuration, or hard-coding them in (as there are only a few different DSIDs that Islandora uses for the original object file).

@mjordan

[2017-03-24 23:23] mjordan commented on #354
@jpeak5 totally. PR is welcome.

[2017-03-24 23:28] mjordan commented on #359
Yes, I think we should add the ability to check for other DSIDs, using your Vital configuration options as a model. I'll probably get to it this weekend.

[2017-03-26 20:58] mjordan commented on #117
@MarcusBarnes grepping through the MIK source code the only places I can see any reference to file manipulators is in the CONTENTdm toolchains, which do use https://github.com/MarcusBarnes/mik/blob/master/src/filemanipulators/ThumbnailFromCDM.php. We probably should supply a post-write hook script to replace this functionality before we remove filemanipulators from the source code tree and documen

[2017-03-26 22:43] mjordan commented on #335
I've updated the migration guide to include our solution to the long title problem, and have linked it from the wiki table of contents.

[2017-03-26 22:46] mjordan commented on #335
Going to close this issue and open another related one.

[2017-03-26 22:46] #335 closed

[2017-03-26 23:00] mjordan opened #361 "Add a Twig extension to truncate titles on word boundaries"
MIK's [InsertXmlFromTemplate]( https://github.com/MarcusBarnes/mik/wiki/Metadata-manipulator:-InsertXmlFromTemplate) metadata manipulator uses the Twig templating engine to generate MODS xml. Since titles [longer than 255 characters are problematic in Islandora](https://groups.google.com/forum/#!searchin/islandora/255%7Csort:relevance/islandora/cm_6zCt-3PY/JuMnRDQfEQAJ), one solution to populating

[2017-03-26 23:07] mjordan commented on #335
Related issue is #361.

[2017-03-27 06:02] mjordan opened #363 "Add a metadata parser that generates XML files from Twig templates"
MIK's uses the Twig templating engine to generate top-level MODS element markup via the [InsertXmlFromTemplate]( https://github.com/MarcusBarnes/mik/wiki/Metadata-manipulator:-InsertXmlFromTemplate) metadata manipulator. It would be useful to use Twig to generate complete metadata XML files. Such a metadata parser would not use mappings but would insert values from fields directly into the templat

[2017-03-27 15:54] mjordan commented on #353
I spent 20 minutes yesterday figuring out why MIK was core dumping, and it was because I didn't have the required `preserve_content_filenames` option in my .ini file. Also was helping someone else via email use MIK and she had the exact same problems. I'd like to fix this one in the short term. It is used in the CsvSingleFile and CsvSingleFileJson writers. Might be good to have this one done befor

[2017-03-27 22:26] mjordan opened #365 "Clean up the CsvToMods metadata parser code"
The CsvToMods metadata parser contains a reference to [CONTENTdm](https://github.com/MarcusBarnes/mik/blob/master/src/metadataparsers/mods/CsvToMods.php#L142) and some other cruft we should clean out.

[2017-03-27 22:27] mjordan commented on #365
Related issue is #316.

[2017-03-27 22:27] mjordan commented on #316
Related issue is #365.

[2017-03-28 03:03] mjordan commented on #351
Spaces in identifiers cause all sorts of problems. I can't seem to get a post-write hook to work because we pass in record key in like this:

` $cmd = "$hook $record_key $children_record_ids $config_path";`

So a record key with a space in it (like some of the ones I'm dealing with) pass in only the part of the key before the first space, then the part after the first space as the $children_record

[2017-03-28 14:16] mjordan commented on #351
Although `$cmd = "$hook '$record_key' $children_record_ids $config_path";` appears to work (i.e., adding quotes around `$record_key`).

[2017-03-29 00:22] mjordan opened #367 "SimpleReplace metadata manipulator replaces text matched by pattern with ''"
The SimpleReplace metadata manipulator replaces the target text found by the regex pattern with a two quotation marks (`''`)  when used as documented:

`metadatamanipulators[] = "SimpleReplace|/foo/|''"`

We should change this behavior so that the second parameter is not required but is optional. If it is not present, the target text found by the regex pattern is replaced with an empty string, tha

[2017-03-29 06:58] mjordan commented on #363
I added a metadata manipulator that does a preg_replace() on the XML file generated by the template.

[2017-03-31 02:34] mjordan commented on #257
Talked to @bondjimbond about this today and we agreed that the intent of this feature is to be able to only get the metadata from the remote OAI repo, not to determine which datastreams are processed. I had originally use `datastreams[]` because in the CONTENTdm and CSV toolchains, you  use `datastreams[] = MODS` to achieve the same outcome.

[2017-03-31 02:54] mjordan commented on #301
@bondjimbond looking at this now, I think it's not possible to not do an OAI harvest, since it's only through an OAI harvest that we'd know which files to then get. Does that make sense? If you didn't want to see the .xml files in your output directory because you have metadata from a CSV (your use case), you could just delete the *.xml files.

[2017-03-31 02:57] mjordan commented on #322
Hm, I confirmed this today on Windows at work, but `-cc` works fine on my linux laptop. Will confirm again tomorrow and rename this isssue if it's specific to Windows.

[2017-03-31 17:45] mjordan opened #370 "Make page filename segment separator in CsvBooks and CsvNewspaper toolchains configurable"
The character that is used to separate the parts of page-level filenames in the [CSV Newspapers](https://github.com/MarcusBarnes/mik/blob/master/src/writers/CsvNewspapers.php#L132) and [CSV Books](https://github.com/MarcusBarnes/mik/blob/master/src/writers/CsvBooks.php#L110) toolchains is hard-coded to be a hyphen (`-`):

[code]

This should be a configurable option for each of those writers, to a

[2017-03-31 18:11] mjordan commented on #370
@MarcusBarnes I can work on this but I'd like to ask if you are OK with my adding a PHPUnit test to test for it and skip the human smoke testing? I don't really see a need to do both.

[2017-03-31 18:12] MarcusBarnes commented on #370
@mjordan Adding the PHPUnit test would be great.  Thank you!

[2017-03-31 18:38] mjordan commented on #370
One thing I'm finding with opening PRs is that assembling sufficient data for someone to test my work takes a lot of effort. Where that only means creating an .ini file it's not so bad, but in most cases asset files will also be required.  Maybe we could consider making it explicit in the PR that there is a PHPUnit test included (e.g., in the "How should this be tested" section). If the test passe

[2017-03-31 19:07] MarcusBarnes commented on #361
Addressed in pull-request https://github.com/MarcusBarnes/mik/pull/362 (merged with commit https://github.com/MarcusBarnes/mik/commit/aa03acab4a6f1e8382312ad6838443a591f95958).

[2017-03-31 19:07] #361 closed

[2017-03-31 23:27] mjordan commented on #322
It's specific to Windows:

[code]

[2017-04-02 16:11] mjordan commented on #359
PR is merged, closing.

[2017-04-02 16:11] #359 closed

[2017-04-03 15:35] MarcusBarnes commented on #363
Addressed in pull-request https://github.com/MarcusBarnes/mik/pull/364 (merged with commit https://github.com/MarcusBarnes/mik/commit/5139b27e45df0b6f02dae803654b71ec80e2ff15)

[2017-04-03 15:35] #363 closed

[2017-04-03 15:41] MarcusBarnes opened #371 "Checkgconfig all fails for templated metadataparser class"
With the inclusion of the new metadata parser class that generates output from Twig templates (templated), the checkconfig functionality needs to be updated to accommodate tool-chain combinations that do not require mappings files.  Please see the comment on the pull-request https://github.com/MarcusBarnes/mik/pull/364#issuecomment-291171505 and the original enhancement issue https://github.com/Ma

[2017-04-03 16:05] mjordan commented on #371
@MarcusBarnes perhaps the easiest way to deal with this is to change the logic at https://github.com/MarcusBarnes/mik/blob/master/src/config/Config.php#L122 to look for only the metadata manipulators that use mappings files, i.e., CdmToMods and CsvToMods. That way, we can fix this issue for the OAI toolchains as well.

[2017-04-03 18:10] mjordan opened #372 "Best place to link to documentation for partial toolchains / single components"
The wiki has entries for complete toolchains, but we now have several components that are drop-in replacements for compontents documented as part of existing toolchains. The two components are the [new Templated metadata parser](https://github.com/MarcusBarnes/mik/issues/363) and the [Islandora OBJ OAI-PMH filegetter](https://github.com/MarcusBarnes/mik/issues/347). The former is intended for prod

[2017-04-03 18:11] mjordan opened #373 "Document the Templated metadata parser"
We need to document the  [new Templated metadata parser](https://github.com/MarcusBarnes/mik/issues/363). Probably best to wait on some discussion at #372.

[2017-04-03 18:14] MarcusBarnes commented on #372
Cookbook entries could be another possibility to consider.

[2017-04-03 18:16] mjordan commented on #372
@MarcusBarnes yes that is a good idea, and it would be simple to incorporate links to the cookbook entries from the existing toolchains' wiki entries (see the second paragraph of my original issue, above).

[2017-04-04 02:05] mjordan commented on #373
First draft is at at https://github.com/MarcusBarnes/mik/wiki/Cookbook:-Templated-Metadata-Parser, with the entry for the SimpleReplaceTemplated metadata manipulator at https://github.com/MarcusBarnes/mik/wiki/Metadata-manipulator:-SimpleReplaceTemplated.

[2017-04-04 02:06] mjordan commented on #372
OK, links to the Cookbook entry on the Templated Metadata Parser and accompanying manipulator are in my latest comment in #373.

[2017-04-04 16:25] MarcusBarnes opened #376 "Update toolchain documentation to indicate preserve_content_filenames is optional."
As noted in the Additional Notes section of https://github.com/MarcusBarnes/mik/pull/366, we need to update relevant toolchain documentation to indicate that the `[WRITER] preserve_content_filenames` setting is now optional in CSVSingleFIle and CSVJson toolchains (and set to false by default).

[2017-04-04 16:28] mjordan commented on #376
I'll take care of this today.

[2017-04-04 17:41] mjordan commented on #376
Updated on https://github.com/MarcusBarnes/mik/wiki/Toolchain:-CSV-single-file-objects, but there is no documentation for the CSV to JSON toolchain other than its mention on https://github.com/MarcusBarnes/mik/wiki/Information-for-developers. Related issue is #372.

Maybe we can close this now and I can write a Cookbook entry as per #372?

[2017-04-04 17:42] MarcusBarnes commented on #376
@mjordan Thank you.  That works well for me.

[2017-04-04 17:42] #376 closed

[2017-04-04 18:09] MarcusBarnes commented on #367
Addressed in pull-request https://github.com/MarcusBarnes/mik/pull/368 (merged with commit https://github.com/MarcusBarnes/mik/commit/53eec7319906f406c19a0b8699d2946b12cd21a6).

[2017-04-04 18:09] #367 closed

[2017-04-04 18:12] MarcusBarnes opened #377 "Update SimpleReplace Metadata Manipulator documenation (parameters)."
Documentation at https://github.com/MarcusBarnes/mik/wiki/Metadata-manipulator:-SimpleReplace needs to be updated to reflect changes introduced via pull-request https://github.com/MarcusBarnes/mik/pull/368 (the second parameter is not required but is optional).

[2017-04-04 19:24] mjordan commented on #377
Done, please take a look.

[2017-04-04 19:28] #377 closed

[2017-04-04 19:43] mjordan commented on #372
Ha. Too many issues. I just #358 takes care of the Islandora OBJ OAI-PMH Filegetter.

[2017-04-04 20:20] MarcusBarnes commented on #371
Addressed in pull-request https://github.com/MarcusBarnes/mik/pull/374 (merged with commit https://github.com/MarcusBarnes/mik/commit/2c910302669ab18609621e2a5602d18676359be6).

[2017-04-04 20:20] #371 closed

[2017-04-04 21:13] MarcusBarnes commented on #257
Addressed in pull-request https://github.com/MarcusBarnes/mik/pull/369 (merged with commit https://github.com/MarcusBarnes/mik/commit/d6ff97fd57d8ec927d56eb330de526e1d4ae0ca7).

[2017-04-04 21:13] #257 closed

[2017-04-05 13:58] mjordan commented on #107
I wonder if we can add logic to the abstract classes for fetchers, filegetters, metadataparsers, and writers to check for the existence of the common .ini settings and if they are present, populate the existing .ini values using them. At least we'd only need to touch 4 files instead of every instance class.

[2017-04-06 14:32] mjordan opened #378 "Add a Fedora 4 toolchain"
Importing into Islandora (CLAW) or Hydra will likely be preferable to importing directly into Fedora 4, but we should create a toolchain that outputs packages compliant with the [Fedora 4 Import/Export Utility](https://github.com/fcrepo4-labs/fcrepo-import-export).

[2017-04-10 17:16] MarcusBarnes commented on #324
Address in pull-request https://github.com/MarcusBarnes/mik/pull/375 (merged with commit https://github.com/MarcusBarnes/mik/commit/b331cfa54693b3ee620a355d36520700811b4de2).

[2017-04-10 17:16] #324 closed

[2017-04-10 17:18] MarcusBarnes commented on #324
@mjordan I like the idea and it provides for use-cases we haven't considered yet, especially once MIK is used as part of digitization workflows and not just for helping migrate content.

[2017-04-25 17:42] mjordan opened #379 "Move TwigTruncate code from manipulator class to utility class"
The custom Twig filter [TwigTruncate](https://github.com/MarcusBarnes/mik/blob/master/src/metadatamanipulators/InsertXmlFromTemplate.php#L124) should be moved to a utility class so it can be shared across all Twig template implementations (other manipulators, metadataparsers, etc). The first instance where we could reuse it is in the [Templated](https://github.com/MarcusBarnes/mik/blob/master/src/

[2017-04-25 21:01] mjordan commented on #324
Cookbook entry is at https://github.com/MarcusBarnes/mik/wiki/Cookbook:-Inspecting-a-variable's-value.

[2017-04-27 03:31] mjordan commented on #298
First complete draft of the CONTENTdm migration guide is now available at https://github.com/MarcusBarnes/mik/wiki/Migration-Guide:-CONTENTdm. Comments are welcome!

[2017-04-27 18:09] mjordan opened #381 "Improve documentation of the CdmNoParent fetcher manipulator"
I am not fully understanding why we need the CdmNoParent fetcher manipulator. By default, CONTENTdm browsing, which is what is used by the Cdm fetcher, only exposes top-level objects, not ones that are children of compound objects. The [wiki entry](https://github.com/MarcusBarnes/mik/wiki/Fetcher-manipulator:-CdmNoParent ) for this manipulator suggest that this is not the case.

I'll do some testi

[2017-04-28 14:18] MarcusBarnes commented on #298
Once the first draft of the CONTENTdm migration guide is fully posted (i.e., added to the wiki Table of Contents), we should consider closing this issue and creating separate documentation issues for specific migration guides and or migration cookbook documentation.   Thank you @bondjimbond and @mjordan for your awesome initial drafts.

[2017-04-28 14:33] mjordan commented on #298
Sounds like a plan. I've linked the CONTENTdm guide from the wiki table of contents. @bondjimbond if you agree with this plan feel free to close.

[2017-04-28 18:43] MarcusBarnes commented on #379
Addressed in pull-request https://github.com/MarcusBarnes/mik/pull/380 (merged with commit https://github.com/MarcusBarnes/mik/commit/2eef264e07aec75fd76dcf8658e7b59f24d2b673).

[2017-04-28 18:43] #379 closed

[2017-04-28 22:30] mjordan commented on #344
@bondjimbond can you give this a test?

[2017-05-01 20:53] #298 closed

[2017-05-05 21:48] bondjimbond commented on #344
Having some weird troubles checking out your branch due to some git strangeness; can't test at the moment, sorry.

[2017-05-11 19:05] MarcusBarnes opened #382 "Improve project description and topics"
Improve the Github project description and use the topics tag feature.

[2017-05-24 16:44] mjordan commented on #373
@MarcusBarnes or @bondjimbond would you mind taking a look at the draft documentation for this so we can close this issue (and/or improve the docs)?

[2017-05-24 16:45] mjordan commented on #345
@bondjimbond should we leave this issue open or can we close it?

[2017-05-24 16:46] mjordan commented on #344
@bondjimbond bump, if you have time.

[2017-05-24 16:55] bondjimbond commented on #345
Let's leave open for now... I haven't had a chance to try anything. Regardless, it's an issue; either a documentation one ("Don't use quotes here") or a code fix.

[2017-05-24 18:20] mjordan commented on #345
http://php.net/manual/en/function.parse-ini-file.php indicates that

So it would appear that we must wrap paths that contain non-alphanumeric characters (`/`, `.`, `_`, `-`, etc.) in double quotes. I'll confirm this behavior and update https://github.com/MarcusBarnes/mik/wiki/Configuring-MIK and the toolchain pages accordingly.

[2017-05-24 19:26] mjordan commented on #190
Just encountered another user whose data contained a bunch o'BOMs. If there is no good reason to not implement the CSV parser's option to remove BOMs, we should do it.

[2017-05-24 21:24] mjordan commented on #190
Adding `$reader->stripBOM(TRUE);` within the CsvToMods parser's `getMappingsArray()` isn't working. Going to continue trying.

[2017-05-26 04:46] mjordan opened #383 "Allow inclusion of OCR files in newspaper issue directories"
Currently, input for the CSV Newspaper toolchain only allows master page image files:

[code]
We should allow the inclusion of OCR .txt files to accommodate users who prefer to generate OCR outside of Islandora:

[code]

The *.txt files will get copied into the ingest packages as OCR.txt datastream files.

[2017-05-26 05:28] mjordan commented on #370
Getting hung up on PHPUnit tests again, but will persist a bit longer.

[2017-05-26 14:15] mjordan commented on #370
@MarcusBarnes PHPUnit tests now pass for this new option. To revive my question above from March 31, if we add PHPUnit tests for a new feature/option, and those tests pass, do you think it's necessary to perform an additional smoke test that requires the person opening the PR to assemble test data and configurations? I'm suggesting that if the tests pass, our PR wouldflow could be something like:

[2017-05-26 14:29] MarcusBarnes commented on #370
@mjordan I'm in favor of doing as much testing as possible.  However, I realize that creating sample data for each new configuration variation can be too time consuming, especially for certain types of toolchains.   In addition to your points above, I suggest that we start creating tagged releases of the code base (and documentation), running sample data through before each release as a double che

[2017-05-26 14:54] MarcusBarnes commented on #42
@mjordan We've made progress on this issue.  Are you OK if we close this, and then open more specific task issues for logging improvements as they arise?   Thank you.

[2017-05-26 15:17] mjordan commented on #370
Sounds like a plan. I'll open a PR for this issue. Maybe we should open a new issue about the new workflow and releases (or even separate ones)? I totally agree we should be doing releases (in fact our main README mentions releases).

[2017-05-26 15:25] mjordan commented on #370
OK, PR forthcoming, plus new issues on modified workflow and releases.

[2017-05-26 15:34] mjordan opened #384 "Simplify pull request workflow for testable changes"
As discussed in #370, we should introduce a new workflow that allows work that is covered by PHPUnit tests to be merged, at the discretion of the reviewer, without a full smoketest. The intent of this change is to reduce the burden on the person opening the PR to provide sample configuration and data to perform the smoke test. The proposed new workflow is:

1. Person working on issue must incorpor

[2017-05-26 15:35] mjordan commented on #42
Yes, I am, feel free to close at your convenience.

[2017-05-26 15:36] #42 closed

[2017-05-26 15:42] mjordan opened #385 "Create releases, and establish roadmap or similar plan for future releases"
In #370, @MarcusBarnes wrote:

This issue is intended to encourage discussion on what should be included in the 1.0 release (or 0.9, etc. if preferred), and how we should plan for future releases (e.g., consensus, feature milestones, periodic, Semver, etc.). https://en.wikipedia.org/wiki/Software_versioning may be of interest in this discussion.

[2017-05-26 17:15] mjordan commented on #385
@MarcusBarnes about running sample data through MIK before each release, I wonder if it's worth considering automating this. In https://github.com/MarcusBarnes/mik/wiki/Cookbook:-Automating-content-ingestion-workflows we have a shell script that can fire MIK and then check its output using the iipqa. We could scale this to run MIK using a bunch of different configurations. We'd want to use input d

[2017-05-26 17:35] MarcusBarnes commented on #385
@mjordan I was thinking about automating running sample data through MIK (separate from unit tests) too, but wanted to investigate more into how to best implement this for ongoing quality control of the code-base.  I'm open to your suggestion of using iipqa or other tools.   Thanks.

[2017-05-26 17:38] mjordan commented on #385
Another approach would be to use the one that https://github.com/mjordan/islandora_stack_tests takes. Even though PHPUnit is used as the framework, the tests themselves are not of PHP classes. Or, we could look at wring behat tests that do the same thing.

[2017-05-26 18:33] MarcusBarnes commented on #370
Addressed in pull-request https://github.com/MarcusBarnes/mik/pull/386 (merged with commit https://github.com/MarcusBarnes/mik/commit/ee7c168f8f193a2bfac566fc2a0074d74dcbc145).

[2017-05-26 18:33] #370 closed

[2017-05-26 18:35] mjordan commented on #370
Thanks, I'll update the two toolchains' wiki pages.

[2017-05-26 18:52] mjordan commented on #370
Done

[2017-05-26 18:59] mjordan commented on #384
@MarcusBarnes I'm thinking ahead a bit to how we want to describe this in a revised CONTRIBUTING.md. Can we call this new workflow the "testable" workflow, and call the other one the "smoketest" workflow, just to distinguish them? Can you think of other labels we might give them?

[2017-05-26 20:16] mjordan commented on #384
Also, reminder to also update the PR template as per https://github.com/MarcusBarnes/mik/pull/386#issuecomment-304357684.

[2017-05-29 20:32] MarcusBarnes commented on #383
Addressed in pull-request https://github.com/MarcusBarnes/mik/pull/387 (merged with commit https://github.com/MarcusBarnes/mik/commit/0d64935d9d51df4220a60fc6fd8a5552b24758fb).

[2017-05-29 20:32] #383 closed

[2017-05-29 20:34] MarcusBarnes commented on #316
@mjordan Has this issue been adequately addressed in the merged pull-request https://github.com/MarcusBarnes/mik/pull/387 to merit closing the issue?  Thanks.

[2017-05-29 20:35] mjordan commented on #316
Closed with #387 PR.

[2017-05-29 20:35] #316 closed

[2017-05-30 18:43] mjordan commented on #333
Just for kicks I ran the PHPUnit tests on Windows just now (running 0d64935d9d51df4220a60fc6fd8a5552b24758fb) and got the following failures. These same tests pass on Linux and OSX. I ran these tests using PHPUnit 4.8.35 on Windows 7 Enterprise running Git Bash, using the command `vendor/bin/phpunit --exclude-group inputvalidators --bootstrap vendor/autoload.php tests`.

All of the failures are of

[2017-05-30 23:11] mjordan opened #388 "Allow CSV input files to contain commented out rows"
It would be useful to be able to comment out a row in a CSV input file, during troubleshooting, for example. A `#` would make a suitable comment marker, e.g.,

`#"I am","a commented","row"`

[2017-05-30 23:22] mjordan opened #389 "Make 'child_key' column in CSV Compound optional"
Nothing like eating your own dogfood. The CSV Compound toolchain docs say:

This should be an optional column in batches that do not use child-level metadata. This is an instance of the options described in #353.

[2017-05-31 18:58] mjordan commented on #388
Because our CSV parser creates an object for each row, we can't use simple beginning-of-line pattern matching to allow commenting out of records. Instead, we need to add the commenting character (e.g. `#` to the beginning of the column configured to be the `record_key` of the row:

`"#postcard_100","Waterfront and Shipping Vancouver, B.C.","1907","Vancouver, BC","Waterfronts; Vessels; Shipping","A

[2017-05-31 19:55] mjordan commented on #389
Looking into this, I'm not sure it's worth the trouble. Closing.

[2017-05-31 19:55] #389 closed

[2017-05-31 20:28] mjordan opened #391 "Create a shutdown hook that generates compound structure files"
The Compound Batch module provides a [script](https://github.com/MarcusBarnes/islandora_compound_batch/blob/master/extras/scripts/create_structure_files.php) that generates the compound-object-level structure.xml files required by that module. I know we have discussed whether MIK should generate these files and decided that it shouldn't. However, generating this sort of data is exactly what we int

[2017-05-31 21:22] mjordan opened #392 "Shutdown scripts throw an exception in Windows"
Running shutdown scripts on Windows produces the following type of error:

[code]

The script ends up not running. This is an [known issue](https://packagist.org/packages/cocur/background-process) with the Cocur library we are using.

This makes me wonder if we need to run shutdown scripts as background processes. It makes a lot of sense to run post-write hooks in the background so they don't slow

[2017-05-31 21:24] mjordan commented on #391
Related issue is #392.

[2017-05-31 21:29] jpeak5 commented on #392
That sounds good to me!

[2017-06-01 17:38] mjordan commented on #392
Looking back over the background to shutdown scripts, (e.g. #156  and #354) I see no rationale for having them run in the background other than a casual mention by me in #156:

 It may actually be misleading to to have long-running shutdown scripts run in the background since the user would not see a clear indication that it had completed.

I just ran a version of the create_structure_files.php sc

[2017-06-01 18:46] jpeak5 commented on #392
I favor foreground so that, as you say, the user will know when they have completed.

Sent from my iPhone

On Jun 1, 2017, at 1:38 PM, Mark Jordan <notifications@github.com<mailto:notifications@github.com>> wrote:

Looking back over the background to shutdown scripts, (e.g. #156<https://github.com/MarcusBarnes/mik/issues/156> and #354<https://github.com/MarcusBarnes/mik/issues/354>) I see no ratio

[2017-06-01 18:48] mjordan commented on #392
Thanks for the feedback @jpeak5. I'll wait for @MarcusBarnes to weigh in before opening a PR.

[2017-06-02 14:04] MarcusBarnes commented on #392
A second @jpeak5 take.  Thank you.

[2017-06-02 14:06] mjordan commented on #392
OK, sounds like we have consensus. I'm happy to open a PR for evaluation.

[2017-06-02 15:13] mjordan opened #393 "Write a sample MIK input data generator script"
It would be really useful to be able to generate some simple content for development and testing. E.g., for each CSV toolchain, write out X number of raw input objects comprised of files created using `touch` based on the tutorial or iCon workshop metadata CSV. The script should also write out a basic .ini file.

[2017-06-02 17:55] MarcusBarnes commented on #388
This has been addressed in pull-request https://github.com/MarcusBarnes/mik/pull/390 (merged with commit https://github.com/MarcusBarnes/mik/commit/f2cbdec527fe8a15e6488503f09f2496a8deb725).  Thank you @mjordan.

[2017-06-02 17:55] #388 closed

[2017-06-02 17:59] mjordan commented on #384
@MarcusBarnes  now that we've used the "testable" workflow in #386 and #390, are you comfortable officially adopting it? I guess by that I mean updating the CONTRIBUTING.md to describe it.

[2017-06-02 18:03] MarcusBarnes commented on #384
Let's officially adopt the testable workflow for appropriate pull-requests.

[2017-06-02 18:07] mjordan commented on #384
OK, I'll open a PR updating the CONTRIBUTING.md and PR template.

[2017-06-02 19:20] MarcusBarnes commented on #384
Addressed in pull-request https://github.com/MarcusBarnes/mik/pull/394 (merged with commit https://github.com/MarcusBarnes/mik/commit/174be7b2f986fa2a17b1f6f0b9d8b37a823fb61c).

[2017-06-02 19:20] #384 closed

[2017-06-05 20:24] MarcusBarnes commented on #393
Initial work on this is in pull-request https://github.com/MarcusBarnes/mik/pull/395 (merged with commit https://github.com/MarcusBarnes/mik/commit/f487d3827ca5cfce19f35f801cb4aa52b4c65b5b).  Further work still needs to be done  - best if we close this ticket and create separate issues as appropriate for the compound, book, and newspaper sample file functionality.  @mjordan What do you think?

[2017-06-05 20:27] mjordan commented on #393
I'm cool with that approach.

[2017-06-06 03:43] mjordan opened #397 "Add support for compound, book, and newspaper issue sample data to the MIK input data generator script"
As discussed in #393, we need to complete work on th MIK input data generator so that is creates compound, book, and newspaper issue output.

[2017-06-08 17:07] MarcusBarnes commented on #392
Addressed in pull-request https://github.com/MarcusBarnes/mik/pull/396 (merged with commit https://github.com/MarcusBarnes/mik/commit/9d5eae6516610a3346c00c8d3be91d928ddcb3e8).

[2017-06-08 17:07] #392 closed

[2017-06-08 17:34] mjordan commented on #392
Thanks @MarcusBarnes, I'll update https://github.com/MarcusBarnes/mik/wiki/Shutdown-hooks to reflect this change.

[2017-06-08 18:18] MarcusBarnes commented on #391
Addressed in pull-request https://github.com/MarcusBarnes/mik/pull/399 (merged with https://github.com/MarcusBarnes/mik/commit/b3027ed1036910fdd503af9cf9e209a8311a11e5).

[2017-06-08 18:18] #391 closed

[2017-06-08 18:26] mjordan commented on #391
Excellent, thanks, I've updated https://github.com/MarcusBarnes/mik/wiki/Shutdown-hooks to describe this new script.

[2017-06-08 20:35] MarcusBarnes commented on #397
Addressed in pull-request https://github.com/MarcusBarnes/mik/pull/398 (merged with commit https://github.com/MarcusBarnes/mik/commit/045f58f2b2e4c33d876a7c8297329ede191e7211).

[2017-06-08 20:35] #397 closed

[2017-06-08 20:36] #393 closed

[2017-06-08 20:41] mjordan commented on #397
Thanks @MarcusBarnes, I've updated https://github.com/MarcusBarnes/mik/wiki/Information-for-developers.

[2017-06-15 19:38] MarcusBarnes commented on #382
I've made some improvements to the Github project description and topics.  Please feel free to suggest a better description and or better topic tags to add.  Closing this issue for now.  Thank you.

[2017-06-15 19:38] #382 closed

[2017-06-15 20:41] mjordan commented on #382
Looks good @MarcusBarnes , thanks!

[2017-06-15 20:43] MarcusBarnes commented on #382
I was actually looking into using something like https://github.com/Richdark/RAKE-PHP  to extract keywords from our Wiki documentation for weighted suggestions on appropriate keywords, but decided that given my other work commitments, that I should leave that for another time. :)

[2017-06-20 13:32] whikloj opened #400 "What are the required functions of a "FileGetter/FileManipulator/InputValidator/etc""
This is a semi-documentation, semi-codebase question.

I am looking to to use MiK to move our Manitobia TEI stuff into Islandora. I went in to look at how to extend the base classes and they don't seem to have any abstract required functions that would be called?

I was expecting something more like an Interface which defines the required methods which each implementation would then `implement`. S

[2017-06-20 13:46] MarcusBarnes commented on #400
@whikloj You are correct in that the fileGetter abstract class is vary bare:  https://github.com/MarcusBarnes/mik/blob/master/src/filegetters/FileGetter.php  This is in part to allow maximum flexibility for different workflows.   Maybe you can write me about where your TEI data is stored and which solution pack you'll be targeting for use in Islandora?  I can then suggest a toolchain that you can

[2017-06-20 13:59] whikloj commented on #400
It is not stored in a custom system, so it is fairly easy to access from the filesystem.

I just need to grab the TEI files and Tiffs. I have some that will go to Large Image (maps, photos), some for compound (postcards, reports) and some for books (diaries).

[2017-06-20 14:01] mjordan commented on #400
@whikloj developer docs are one of MIK's most glaring gaps. We've known this since #14, way back in May 2015. That said, if @MarcusBarnes 's advice doesn't yield a useful existing toolchain, and it's been on our 1.0 release roadmap since the beginning. :disappointed:

[2017-06-20 14:27] whikloj commented on #400
Looking through the FileGetters it appears that `getChildren()` is in all of them and `getFilePath()` is in most (but not all) of them. In the cases where they don't have `getFilePath()` how do they know what gets executed?

This is just something I noticed and you can ignore it, but you have several ContentDM classes that have the same `__construct`. That seems like it is a perfect place for a su

[2017-06-20 14:34] mjordan commented on #400
@whikloj That's a totally reasonable impression on your part.

@MarcusBarnes 's point about allowing the most diverse implementations is correct, but we probably overloaded that ability early on and didn't pay attention to it as the number of FileGetter classes grew. For example, all child classes have a `getChildren()` method:

[code]

All FileGetter classes that deal with single file objects (Cs

[2017-06-20 14:37] mjordan commented on #400
@whikloj sorry I posted my last comment before seeing your latest one. Yes, would make sense. I'm not sure we have the appetite to refactor the Cdm classes at this point since we don't have unit tests for those (we never got around to mocking a CONTENTdm server....) and they were certainly written on a fast timeline, so they are not perfect OOP code.

[2017-06-20 14:41] mjordan commented on #400
@whikloj to answer your question about what fires the correct method in the FileGetters, it's whatever is within the toolchain's Writer, specifically, within the Writer's `writePackages()` method. We started developer docs to explain all this in the "Writing fetchers, file getters, metadata parsers, and writers" section of https://github.com/MarcusBarnes/mik/wiki/Information-for-developers, but ne

[2017-06-20 14:47] MarcusBarnes commented on #400
@mjordan I'm expecting to have an opportunity to use the CONTENTdm classes again.  If things come together properly, I'll aim to do the simple refactoring of the CONTENTdm classes as suggested in the second part of https://github.com/MarcusBarnes/mik/issues/400#issuecomment-309773381 as I'll have access to a CONTENTdm instance to test against.

[2017-06-20 14:52] whikloj commented on #400
Oh okay, so the `Writer` is what calls stuff in the `Getter` and the `Writer.php` is an abstract class with required methods so that would be the entry point to the workflow. Your writer uses your getter to _get_ files to write out. Am I close?

[2017-06-20 15:02] MarcusBarnes commented on #400
@whikloj That's the idea.   For certain toolchains (particularly CONTENTdm toochains), a great deal of compilation needs to take place before everything is in place to write out packages.

[2017-06-21 14:43] mjordan commented on #400
@whikloj I've just added a section to https://github.com/MarcusBarnes/mik/wiki/Information-for-developers, directly at the top of the "Extending MIK" section, that explains MIK's overall workflow and the importance of the Writer's `writePackages()` method. I know you are asking for class API documentation, but does the new section fill in the context a bit?

[2017-06-21 15:06] mjordan commented on #373
@MarcusBarnes a little bump on this, if you have time.

[2017-06-21 15:06] mjordan commented on #358
Gentle bump on this one too, the docs don't need to be perfect.

[2017-06-21 16:59] whikloj opened #401 "Undefined variables"
As I am reading, I found 2 undefined variables. Not a big issue, but they should be removed.

[2017-06-21 19:17] MarcusBarnes commented on #373
I've reviewed both https://github.com/MarcusBarnes/mik/wiki/Cookbook:-Templated-Metadata-Parser  and https://github.com/MarcusBarnes/mik/wiki/Metadata-manipulator:-SimpleReplaceTemplated.  They both look good.  I'm going to close this issue.  @bondjimbond and others, if you're able to take a look, please do and we can incorporate any feedback you provide.

[2017-06-21 19:17] #373 closed

[2017-06-21 20:08] mjordan commented on #373
Thanks @MarcusBarnes. I've linked the cookbook recipe from the Cookbook table of contents and updated all applicable toolchain documentation.

[2017-06-21 20:22] mjordan commented on #268
I think it would be possible for MIK output DC instead of MODS XML using a combination of the ]templated metadata parser](https://github.com/MarcusBarnes/mik/wiki/Cookbook:-Templated-Metadata-Parser) (using a DC template instead of a MODS template) and setting applicable toolchains' `[WRITER] metadata_filename` config option to "DC.xml". If that's the case, maybe we can document this capability mo

[2017-06-21 21:13] mjordan commented on #401
Resolved with 1f89e2768dd664a981b63a6922b7ca6495fcc255.

[2017-06-21 21:13] #401 closed

[2017-06-23 13:47] mjordan opened #403 "Add an Excel fetcher"
Working on some automation workflows here it is becoming apparent that having an Excel fetcher would simplify things immensely. I've played with the [Spout](http://opensource.box.com/spout/) component and it appears to work quite well. We could probably perform some magick allow a user to configure a path to an Excel file and then behind the scenes convert it to CSV for use in the existing CSV too

[2017-06-23 19:12] mjordan commented on #403
Tested on Linux and Windows with CsvToMods and Templated metadata parsers, and appears to work as intended. Will open a PR.

[2017-06-23 20:23] mjordan commented on #403
Draft cookbook entry at https://github.com/MarcusBarnes/mik/wiki/Cookbook:-Using-the-Excel-fetcher.

[2017-06-23 21:20] mjordan commented on #381
Looking at this wiki entry and the code now, it's clear - since collections can contain both compound and non-compound objects, this fetcher manipulator allows you to configure the Cdm fetcher to exclude compound objects. Closing.

[2017-06-23 21:20] #381 closed

[2017-06-23 21:33] mjordan commented on #99
I think the InsertXmlFromTemplate metadata manipulator ([examples](https://github.com/MarcusBarnes/mik/tree/master/extras/bceln)) and the Templated metadata parser ([examples](https://github.com/MarcusBarnes/mik/wiki/Cookbook:-Templated-Metadata-Parser)) makes this issue redundant, since in it you can use Twig's control structures to do all sorts of complex stuff. Thoughts?

[2017-06-23 22:09] mjordan commented on #365
Also related is #40.

[2017-06-23 22:12] mjordan commented on #40
Related is #365.

[2017-06-23 22:34] mjordan commented on #25
Also related - #40 and #365.

[2017-06-23 22:38] mjordan commented on #230
Probably should only apply (at first anyway) to CsvSingleFile toolchain.

[2017-06-23 22:44] mjordan commented on #230
Looking at this, the filegetter just gets the path to the file, not the contents of the file. That happens in writer via a `copy()` operation. This path is also validated by the `inputValidator`. OK, so this is not as straight forward as it seemed.

[2017-06-25 17:38] mjordan opened #406 "Add abstract method `metadata` method to MetadataParser.php"
All metadataparser subclasses (MODS metadata parsers, Templated parser, the dc/OaiToDc parser, and the CsvToJson parser) all implement the `->metadata()` method in the same way. In the interests of a clean OO API, we should threrefore make that method abstract in the parent MetadataParser.php class.

Running PHPUnit tests with this in place reveals no errors so the change should have no side effec

[2017-06-25 18:01] mjordan opened #407 "Cache the CONTENTdm collection field configuration"
The CdmToMods metadata parser's `getCollectionFieldConfig()` method makes an HTTP request to `$wsUrl . 'dmGetCollectionFieldInfo/' . $alias . '/json'` for every MODS record it creates. This could be cached, reducing the number of calls to the CONTENTdm server and also allowing us to create a PHPUnit test for the CdmToMods metadata parser.

[2017-06-26 04:17] mjordan opened #408 "Add a "filesystem" fetcher"
Related to #403, and for use in automating ingesting content into Islandora. In some cases, there will be no input file (CSV or Excel), just files in a directory. The "filesystem" fetcher will look for each file in the input directory and use the filename as the record key and title. Like the Excel fetcher in #403, this would work with Csv toolchain components. In effect, it would produce a run-ti

[2017-06-26 19:25] mjordan commented on #408
Draft cookbook entry is at https://github.com/MarcusBarnes/mik/wiki/Cookbook:-Using-the-Filesystem-fetcher.

[2017-06-26 20:22] #403 closed

[2017-06-26 20:24] mjordan commented on #25
Addressed for now in #405, so closing.

[2017-06-26 20:24] #25 closed

[2017-06-26 20:24] mjordan commented on #365
Addressed for now in #405, so closing.

[2017-06-26 20:24] #365 closed

[2017-06-26 20:24] MarcusBarnes opened #410 "Config: input_directories is optional for Cdm toolchains"
The configuration checking functionality currently assumes that input_directories in the FILE_GETTER section is required not optional.   The [wiki documentation for CdmSingleFile](https://github.com/MarcusBarnes/mik/wiki/Toolchain:-CONTENTdm-single-file-objects#the-file_getter-section) correctly points out that it is optional.  When not included, you'll get a PHP offset error like:

``“PHP Notice:

[2017-06-26 20:34] #400 closed

[2017-06-26 20:38] whikloj opened #411 "Use relative file locations?"
Just wondering how you felt about relative file locations? Especially for logs and the like? I see you specify your log location directly from the settings file in several locations so you'd need to centralize that a bit.

But otherwise I was thinking something like changing this
https://github.com/MarcusBarnes/mik/blob/master/mik#L102-L106

to
[code]

[2017-06-26 20:53] whikloj opened #412 "SYSTEM required in config.ini always"
You must have a `[SYSTEM]` section in your `config.ini` due to https://github.com/MarcusBarnes/mik/blob/master/mik#L83

But if you have a timezone set, this section can be empty. ie. mine is
[code]

Probably nicer to see if you don't have it set in PHP first then try to load the SYSTEM section.

[2017-06-26 21:04] mjordan commented on #411
@whikloj can you give an example value for ['LOGGING']['path_to_log']? Would it be something like "/path_to/my/logs"?

The main `mik` script already does define a relative path to `problem_records.log`:

https://github.com/MarcusBarnes/mik/blob/master/mik#L192-L199

Is that the kind of thing you're proposing? If so, we probably should clean up the code there and create a utility function to get th

[2017-06-26 21:09] mjordan commented on #412
The timezone setting was the first but is not the only possible setting in the `[SYSTEM]` section, there's also https://github.com/MarcusBarnes/mik/wiki/Cookbook:-Running-MIK-on-Mac-OS-X. It would be good to come up with a way of not showing the PHP warning if the section is not present.

[2017-06-26 21:16] mjordan commented on #412
Running `--checkconfig` already does some foo here: https://github.com/MarcusBarnes/mik/blob/master/src/config/Config.php#L34. Maybe we could add the timezone check here too?

[2017-06-26 21:20] whikloj commented on #412
@mjordan is there another reason to re-parse the config there (line 83)?

Could we do something like:
[code]

[2017-06-26 21:23] whikloj commented on #412
Full block that seems to work for me
[code]

[2017-06-26 21:35] mjordan commented on #412
@whikloj  nice. It would be good to break out this check, and any others we do now (like the `verify_ca` setting) and in the future into a utility function we could call from within mik and anywhere else it might be needed like post-write hook scripts. We've already go a couple "utilities" in `src/utilities`. @MarcusBarnes any thoughts? I agree with @whikloj that the `[SYSTEM]` section shouldn't n

[2017-06-26 21:38] mjordan commented on #410
@MarcusBarnes I see you assigned yourself, but would you like me to take a crack at this, with you testing?

[2017-06-26 21:44] whikloj commented on #412
The only thing that this misses, is if you haven't set the `date_default_timezone` you get Vancouver by default. In past you get an Exception, but I think you could probably stick the Exception in instead of the `date_default_timezone_set('America/Vancouver');`

[2017-06-26 21:46] MarcusBarnes commented on #410
That's fine if you have a chance to get to this now.   Thanks.

[2017-06-26 21:46] whikloj commented on #408
@mjordan so I was just making a `FileFetcher`. Because our TEI files are just XML in a directory structure. I was looking at configuration options like
[code]
I can try to keep it fairly agnostic as long as we don't need to open the files in the Fetcher and just return the list of them?

[2017-06-26 21:48] mjordan commented on #410
OK, will do.

[2017-06-26 21:50] whikloj commented on #271
I am using this with PHP 7.1.3 so I can open issues if I start to have issues that seem specific to PHP 7.

[2017-06-26 21:56] mjordan commented on #408
@whikloj if all you want to do is jam all your TEI files in a single directory and not provide an accompanying CSV input file listing them, the "Filesystem" fetcher in the PR might do the trick. However, for each of your TEI files, MIK's output will be your .xml files plus stub MODS XML files... both using the same filename and extension... which will mean that the MODS file will overwrite the TEI

[2017-06-26 21:57] mjordan commented on #408
@whikloj but to answer your question, the fetcher doesn't need to open the files, it just creates a list of "records" for them. MIK copies the file content from the input directory to the output director[y|ies].

[2017-06-27 13:47] mjordan opened #414 "Change the abstract method in Filegettermanipulators to "manipulate()" to be consistent with other manipulators"
Fetcher manipulators and metadata manipulators implement an abstract method, `->manipulate()`, whereas filegetter manipulators implement a different abstract method, `->getMasterFilePaths()`. This anomalous method is implemented in only one subclass,  https://github.com/MarcusBarnes/mik/blob/master/src/filegetters/CdmSingleFile.php#L154.

In the interests of a consistent interface to manipulators,

[2017-06-27 14:41] whikloj commented on #408
Our files are XML with metadata and an associated JPG/TIFF. However the XML and images are in the same directory, so I'll continue with my filtering fetcher. Thanks.

[2017-06-27 15:53] mjordan commented on #408
Some examples that you might find useful are https://github.com/MarcusBarnes/mik/blob/issue-408/src/fetchers/Filesystem.php (not merged into master yet) and https://github.com/MarcusBarnes/mik/blob/master/src/fetchers/Oaipmh.php.

[2017-06-27 16:31] whikloj opened #415 "Make optional limit on Fetcher consistent"
The `getRecords()` function of the `Fetcher` class, says [it is optional](https://github.com/MarcusBarnes/mik/blob/master/src/fetchers/Fetcher.php#L89) so I think the `null` default used in the [Csv](https://github.com/MarcusBarnes/mik/blob/master/src/fetchers/Csv.php#L77) implementation should be added in the `Fetcher` class function signature. That means that the `Cdm` class would also need to a

[2017-06-27 16:43] mjordan commented on #415
@whikloj thanks for pointing this out. We welcome PRs ❤️ Your #400, and #406, #407, #414, and the now-closed #25 and #365 are all along the same lines.... we want to clean up our code. One obstacle we have is that we don't have a way to apply PHPUnit tests to entire CONTENTdm toolchains, and we don't have access to a live CONTENTdm instance any more either. So, we don't really have a good way of t

[2017-06-27 18:09] whikloj commented on #415
@mjordan I can't run your tests in PHP 7 (in a clean git clone phpunit explodes) and for my class I'm using PSR-4 which requires altering the composer.json autoload section. So I'm not sure if at this point I am just diverging from the existing codebase too much.

[2017-06-27 18:32] MarcusBarnes commented on #415
@mjordan We're actually requiring (targeting) an unsupported version of PHPUnit https://github.com/MarcusBarnes/mik/blob/master/composer.json#L10.   We may want to consider adjusting the tests to run in the current old stable release 5.7 to get support for PHP 5.6, PHP 7.0, and PHP 7.1.  This would mean dropping support for PHP < 5.6.   See https://phpunit.de/  for more details.   However, we shou

[2017-06-27 18:38] mjordan commented on #415
Well, we shouldn't be requiring an unsupported version of PHPUnit, that's for sure. I see no problem in moving our minimum PHP version to 5.6 if that will allow us to fix that. At least that will let us use the "Old stable release" of PHPUnit.

[2017-06-27 18:59] mjordan commented on #415
@MarcusBarnes good point::

If PHPUnit's PHP requirements are the biggest issue, is there a way to specify one PHP minimum version for development and another (lower) version for non-development environments?

[2017-06-27 20:33] whikloj commented on #415
I think the problem I am having is that the tests don't use the namespaced version of the classes. Is that what you mean @MarcusBarnes by the older version?

[2017-06-27 20:37] MarcusBarnes commented on #415
@whikloj The PHPUnit version installed by default when using composer is PHPUnit 4.8, which doesn't cover PHP 7.  There's also non-trivial differences between PHPUnit 4, 5, and 6.  I'm assuming that you probably have PHPUnit globally installed on your system and that since you're running PHP 7, that you're running PHPUnit 5 or 6.   Is that correct?

[2017-06-27 20:40] whikloj commented on #415
@MarcusBarnes yep 6.2.2

[2017-06-27 20:54] whikloj commented on #415
So here is what I am going to do, I'll work on migrating some of the tests to work with PHPUnit 6.2.2. I'll leave this in a separate branch on my repo. Once you guys are ready, you could fork my repo and push the branch up to yours as a starting point for your PHP 7 migration.

I will warn you that I also made [a fetcher called `FileFetcher`](https://github.com/MarcusBarnes/mik/compare/master...wh

[2017-06-28 02:53] mjordan commented on #415
@whikloj and @MarcusBarnes I'm missing something. Our .travis.yml file specifies PHP 7 and the PHPUnit tests pass. Is that because when Travis runs it tests in PHP 7, it is running a newer version of PHPUnit, like 6.x?

[2017-06-28 15:19] MarcusBarnes commented on #410
Addressed in pull-request https://github.com/MarcusBarnes/mik/pull/413 (merged with commit https://github.com/MarcusBarnes/mik/commit/a09226465febe91290250050447c55329b3f67a7).

[2017-06-28 15:19] #410 closed

[2017-06-28 16:00] whikloj commented on #415
@mjordan that is a good question, that is the same version I am running maybe its the inputvalidator exclusion that causes mine to explode

[2017-06-28 16:02] whikloj commented on #415
@mjordan actually its because there are no tests executed

https://travis-ci.org/MarcusBarnes/mik/jobs/247984075#L242
https://travis-ci.org/MarcusBarnes/mik/jobs/247984075#L253

[2017-06-28 16:04] mjordan commented on #415
Hm. The mystery deepens. If no tests are executed (which is is what it says), why do https://travis-ci.org/MarcusBarnes/mik/jobs/247984075#L245 and https://travis-ci.org/MarcusBarnes/mik/jobs/247984075#L256 exist?

[2017-06-28 16:09] whikloj commented on #415
Not sure I understand what you mean by "exist", but essentially if no tests failed then you pass. 😄

So as no tests were run there were no failures. The tests are still there, just that PHPUnit 6 is not seeing them. With my new test, I can run your testing command and see:
[code]

[2017-06-28 16:11] whikloj commented on #415
@mjordan this is exactly the problem that @jordandukart and...someone (@qadan maybe?) figured out for Islandora core. How do you run old and new PHPUnit to cover old and new versions of php. Perhaps he can provide you with some suggestions?

[2017-06-28 16:13] mjordan commented on #415
Fair enough, I was assuming that if no tests ran, PHPUnit wouldn't exit with a 0.

[2017-06-28 20:51] whikloj opened #417 "Static caching bleeding in tests"
This is more of a testing issue but I have found that due to static caches like (https://github.com/MarcusBarnes/mik/blob/master/src/fetchers/Csv.php#L81) the PHPUnit tests are not starting cleanly. It might be useful to have a way to clear the static cache on instantiation or something.

For example:
[code]

If I enable process isolation each test uses a separate PHP process and this issue is rem

[2017-06-28 21:29] whikloj opened #418 "Compound ToolChain Failure"
Related to the commented out test in [XCsvCompoundToolchainTest](https://github.com/MarcusBarnes/mik/blob/master/tests/XCsvCompoundToolchainTest.php#L167-L183)

I'm assuming that the test metadata record is wrong, but here is what I am seeing.

[Here](https://github.com/MarcusBarnes/mik/blob/master/tests/XCsvCompoundToolchainTest.php#L164) you start writing the packages
[code]

Once inside the `Cs

[2017-06-28 21:54] whikloj opened #419 "Move to support PHPUnit 6 tests"
This is related to discussion on #415 starting [here](https://github.com/MarcusBarnes/mik/issues/415#issuecomment-311445918)

I have a branch setup with tests working. Git registered 3 tests as deleted and added because the class names were incorrect and so I corrected them at the same time. If you prefer, you can fix those test class names and then it won't (or shouldn't) mess with history of tho

[2017-06-28 23:34] mjordan commented on #417
@whikloj the static cache leaks are likely the cause of a long-standing "problem" I've had with PHPUnit, where one test will interfere with another despite teardown between tests. To get around this, I have added 'X' to the start of some test files, which seemed to work, for some reason. Thanks for the tip on `--process-isolation`. I'm going to try to rename those 'X' tests to see if that works.

[2017-06-28 23:41] mjordan commented on #417
Bingo. Thank you very much! I owe you a 🍺. This has been plaguing me for a long time.

I'm going to open a PR to rename those test files, unless you think there's an underlying problem with the static caches.

[2017-06-28 23:52] mjordan commented on #417
@whikloj we use static caches in fetchers and filegetters to avoid re-parsing or re-retrieving source data (in the case of fetchers) or re-recursing deep directory structures (in the case of filegetters). Avoiding those expensive tasks is why the static caches speed up MIK substantially when using some toolchains.

[2017-06-29 02:24] whikloj commented on #417
@mjordan no I think you should have static caches, but if you add a method
to clear or force regeneration (maybe I missed it) then in the tests we
could call that to ensure each test uses a fresh cache. According to what I
read this occurs because the tests share the PHP instance so the static is
(in effect) working properly, except that in the phpunit context it causes
problems.

On 28 Jun 2017 6

[2017-06-29 15:10] whikloj commented on #299
Also, quasi-related could the logging level be configurable? I'd like to throw some debug level messages in that you'd only need to see it if something is going wrong.

[2017-06-29 16:54] mjordan commented on #417
@whikloj we have a configuration setting, `[FETCHER] use_cache`, that is documented in the CSV toolchains:

You can see it in use at https://github.com/MarcusBarnes/mik/blob/master/tests/CsvSingleFileToolchainTest.php#L28 for example. We could add logic to the various instances of static caches so that if this setting was `false` the static caching gets bypassed.

[2017-06-29 16:58] mjordan commented on #417
I'd love to resolve this before we look at the other issues and PRs, since like I said above, the bleeding has been chronic for some time and a real PITA. It's awesome that you discovered the cause, and at least one solution.

[2017-06-29 17:27] mjordan commented on #418
Thanks @whikloj I'll take a look.

[2017-06-29 17:33] mjordan commented on #299
In #283, @MarcusBarnes proposed a `--verbose` option. @whikloj do you mean a custom Monolog logging level (like "debug"), or the option to provide greater verbosity?

[2017-06-29 18:54] mjordan opened #421 "Allow inclusion of OCR files in book page directories"
Added similar feature for newspaper issues in #383. Makes me think MIK should be generating all paged content with a single class (maybe a kind of writer?) but I need to get this working ASAP for books here. We can refactor later?

[2017-06-29 20:21] MarcusBarnes commented on #408
Initially addressed in pull-request https://github.com/MarcusBarnes/mik/pull/409 (merged with commit https://github.com/MarcusBarnes/mik/commit/919629498e928c9718bd3d0b73ab8bfeabd05552).

[2017-06-29 20:21] #408 closed

[2017-06-29 21:11] whikloj commented on #299
@mjordan I'm good with verbosity more verbosity.

[2017-06-29 21:11] whikloj commented on #299
:man_facepalming: I'm good with _more_ verbosity

[2017-06-29 21:29] whikloj commented on #419
I'll also note that I enabled Travis and Codecov on my new_master branch which uses the updated tests and they still pass PHP 5.5, 5.6 and 7

https://travis-ci.org/whikloj/mik

However I'll also note that the testing coverage is quite low (< 30%)
https://codecov.io/gh/whikloj/mik/branch/new_master

[2017-06-30 03:05] whikloj commented on #417
@mjordan So this `use_cache` is currently documented for CSV, but not on the other fetchers? Do you want to add a `protected $use_cache` to the `Fetcher` base class. We would still have to document to use it in individual implementations like csv and cdm and Excel....

[2017-06-30 03:08] whikloj commented on #417
In the mean time I'll add `'use_cache' => false` to my version of the tests and work on adding it to the others to.

[2017-06-30 03:49] whikloj commented on #417
@mjordan Okay I have this working with my updated namespaced PHPUnit tests.  So I no longer need to use `--process-isolation`.
[code]
Do you want me to recreate my changes in the existing non-namespaced PHPUnit tests? What versions of PHP are you and @MarcusBarnes supporting? Because the current matrix works with namespaces. But if you want to add 5.4, then I think you start running into trouble.

[2017-06-30 04:35] whikloj commented on #277
I just did [all the files](https://github.com/whikloj/mik/commit/b7f7d0ad09c6e57e7c5bb7b9b8fae7733ef35627) to comply with PSR-2.
The majority was handled by `phpcbf` the rest were line lengths, having arguments with a default at the end of a function signature. I just removed the default as it was `$settings = null` and **mik** doesn't work without a `$settings` so I can't see why the function wou

[2017-06-30 16:37] mjordan commented on #417
@whikloj sorry, `use_cache` also applies (as you've discovered) and is documented for all fetchers, except for the new Filesystem fetcher where we probably never want to cache the contents of a directory. We currently require a minimum PHP version of 5.5 but as we were discussing in #415 we could probably move that up to 5.6 to support PHPUnit 5.7. We wouldn't want to go much higher than that as a

[2017-06-30 16:55] mjordan commented on #417
Even if I'm not qualified, I will say yes if it is relatively easy to do so. We really appreciate your work!

[2017-06-30 16:59] mjordan commented on #277
Wow, this a huge amount of work. If you want to open a PR I will test. @MarcusBarnes any objections?

[2017-06-30 17:02] MarcusBarnes commented on #277
No objections.

[2017-06-30 17:04] mjordan opened #422 "Update README"
I'd like to:

1. Remove the warning at the top of the README about the change in MIK's command syntax as of October 2016.
1. Update the "Current status" section to mention the new fetchers, and
1. Add @whikloj to the list of contributors.

[2017-06-30 18:00] MarcusBarnes commented on #412
Addressed in pull-request https://github.com/MarcusBarnes/mik/pull/416 (merged with commit https://github.com/MarcusBarnes/mik/commit/0bd2a7786316e11ff992fecafdc401bf9beccef0).  Thank you @whikloj.

[2017-06-30 18:00] #412 closed

[2017-06-30 18:58] mjordan commented on #277
My smoke tests:

1. `git checkout new_master`
1. `composer dump-autolad`
1. `vendor/bin/phpcs --standard=PSR2 /home/mark/Documents/hacking/mik/src`
1. `phpunit  --bootstrap vendor/autoload.php tests` (note, no more `exclude-group`!)
  * All tests pass but one is risky
1. Ran MIK with half a dozen or so configuration files testing various toolchains. *None failed, and none left errors in the MIK lo

[2017-07-01 23:18] mjordan commented on #422
Also in section "Islandora content that has been prepared using MIK" add link to [Abbotsford Sumas and Matsqui News](http://ufv.arcabc.ca/islandora/object/ufv%3A255). Maybe reorganize this list by repository, e.g. "SFU Library", "Arca"?

[2017-07-02 16:55] mjordan opened #423 "Missing input directory for CSV toolchains results in core dump; --checkconfig message is misleading"
If the directory specified in `[FILE_GETTER] input_directory` is does not exist, running MIK results in a segmentation fault/core dump. Running `--checkconfig` prior to running MIK doesn't catch this, since it states:

`--checkconfig` should indicate that MIK can't proceed without the input directory, and MIK itself should probably thow an exception and exit with 1 if the input directory (or in fa

[2017-07-03 04:00] whikloj commented on #277
@mjordan I think most of this would slide in pretty easily. I'd need to remove my FileFetcher as the name would conflict with your FileFetcher, but other that it and its test and assets. I can do that and open a PR if you'd like.

[2017-07-03 04:04] whikloj commented on #277
I'll also note I added a nice composer command (credit to @acoburn) so a `composer test` will run both PSR2 and phpunit tests. Also I moved the phpunit.xml file to the main directory so you can just run `phpunit` in the root repo directory and it should work. But for travis I just use the above mentioned `composer test`.
See [here](https://github.com/whikloj/mik/blob/new_master/composer.json#L32-L

[2017-07-03 04:09] whikloj commented on #417
Based on your comments in #277 I'm assuming that this can be halted and rolled in as part of that work. In which case I won't recreate that work and instead you'll move to use the namespaced versions of the PHPUnit classes.

But if you or @MarcusBarnes are unsure or would like to sit down and have a Skype chat I am certainly open to that. Sorry if I'm drenching you guys with code review, I'm sure

[2017-07-03 16:01] mjordan commented on #277
@whikloj yes please, open a PR.

WRT your fetcher, what does it do that the one we merged last week (docs at https://github.com/MarcusBarnes/mik/wiki/Cookbook:-Using-the-Filesystem-fetcher) doesn't do, other than use a regex to limit the files it recognizes? Maybe we can combine the two fetchers? Would the packages created by yours be ingested by the basic Islandora Batch (e.g., single-file conten

[2017-07-03 16:02] mjordan commented on #417
@whikloj yes, totally.

A skype call would be fabulous. I'm off today (Monday) but let's the three of us catch up early next week?

[2017-07-03 17:41] whikloj commented on #277
I'm not sure of the differences, I think they are that mine will recurse
directories and has the regex file name filter. Otherwise, yours calls the
fetchermanipulator and mine doesn't.

As for the ingest type...I haven't gotten there yet. I got side tracked. :)

On 3 Jul 2017 11:01 a.m., "Mark Jordan" <notifications@github.com> wrote:

[2017-07-03 17:44] whikloj commented on #417
Sounds good, I am also off today. But otherwise I am pretty flexible with
my time.

On 3 Jul 2017 11:02 a.m., "Mark Jordan" <notifications@github.com> wrote:

[2017-07-04 03:34] whikloj commented on #277
@mjordan https://github.com/MarcusBarnes/mik/pull/424

[2017-07-04 14:38] whikloj opened #425 "Clarify toolchain inputs/outputs or make content modules [META ISSUE]"
My difficulty with MIK is that while it says you can configure and add/remove parts. In fact much is required by the code and so there is a lot of duplication of code.

If you want to make this easier to extend, I think one of two things would be best.

1. Make each step in the toolchain more clearly defined with more rigid requirements. (ie. no longer allow fetchers to return an object **or** an

[2017-07-04 16:38] mjordan commented on #425
@whikloj my vision for Move to Islandora Kit focuses on "kit", where use of the out-of-the-box components is accomplished via configuration, and extending the kit for local, specialized use cases is possible via standard OOP techniques (and other mechanisms such as post-write and shutdown hook scripts, which we don't consider part of the core MIK codebase).

Your experience coming in as a (new to

[2017-07-04 16:42] MarcusBarnes commented on #425
It is appropriate for us to make an official release (even if it's v0.9) before addressing this meta-issue, as major architectural changes could impact existing users of MIK, even if they are ultimately for the best all-round.  Thanks!

[2017-07-04 16:42] mjordan commented on #425
Also, @MarcusBarnes and I have been mulling over when we should create a 1.0 tagged release. Maybe we should consider doing that after we merge #424 and decide that it had no major side effects. We could then start thinking about what an MIK 2.0 would look like.

[2017-07-04 16:43] mjordan commented on #425
Sorry @MarcusBarnes, didn't see your comment until after I posted my last one. I'm happy either way!

[2017-07-04 19:28] whikloj commented on #425
You know I think that is what I was missing from the start. This is a toolkit for those that don't want (or can't) write their own. I think there is room to adjust to allow some more code re-use, but I think I was trying to use `mik` for something it is not. I'm happy to help out where I can, I think some more test coverage is a good idea. But for the stuff I am migrating I'm just going to write a

[2017-07-04 20:41] mjordan commented on #425
Primarily, yes. We wrote it to support SFU's migration from CONTENTdm to Islandora, but since we had over 120 Cdm collections to migrate, we wanted to reduce the amount of work specific to each collection's migration down to a single configuration file and so we woudn't have to write 120 custom scripts! (In practice each collection tool a lot more work to migrate, but not because of MIK, because C

[2017-07-05 17:37] mjordan opened #426 "Several bugs in the sample content generator and CsvBooks writer; new integrations test script"
In preparation for merging #424, I discovered a couple of bugs with the sample content generator script:

* the mappings files should map "Date taken" to `<dateIssued>`, not `<dateCreated>`
* the .ini Twig template should add `shutdownhooks[] = 'php extras/scripts/shutdownhooks/create_structure_files.php'` to .ini files generated for compound objects

And a bug in the CsvBooks writer:

* some [cru

[2017-07-05 20:59] mjordan opened #428 "Regex in filegetters/CsvBooks.php fails on Windows"
The regex at https://github.com/MarcusBarnes/mik/blob/master/src/filegetters/CsvBooks.php#L158 fails on Windows, where `DIRECTORY_SEPARATOR` is `\`, which escapes the succeeding character.

Also, the function `determineObjItems()` can be eliminated without loss of functionality.

Once PR #424 has been merged, I'll open a PR to add this cleaned up class.

[2017-07-06 19:19] mjordan commented on #428
As far as I can tell, work on this issue should be merged into master before work on #421.

[2017-07-06 19:21] mjordan commented on #421
Work on #428 should be merged into master before work on this issue is.

[2017-07-06 23:42] mjordan commented on #385
@MarcusBarnes and I were chatting off-issue and we'd like to propose that we tag a 0.9.0 release soon (maybe after we close #421), then merge @whikloj's work on #424 into master. We focus on code cleanup and a few of the newer issues in master for a while (just throwing until end of summer out there as a possible timeline) and when we're happy master is stable we create a 1.0.0 release. The we can

[2017-07-07 12:56] whikloj commented on #385
No objections from me.

[2017-07-07 20:02] whikloj commented on #385
@mjordan sorry I'm not understanding the process here.

You have merged #427 into master. So you can tag your commit now as 0.9.0 without me doing anything.

Then you can merge #424 into master and continue on with your work on #421.

But if you merge in #424 then you will probably have to rebase the work you have done (on #421) to allow it to merge into master.

But again, I can wait until #421 l

[2017-07-07 20:50] mjordan commented on #385
@whikloj it's much more likely I am the one not understanding. Let's not worry about #421, since I'm not that far in. Tagging 0.9.0 now (with #427 having been merged) and then merging #424 into master after you have rebased changes from #427 sounds good. Does that makes sense?

[2017-07-07 21:59] mjordan commented on #422
Maybe defer until we tag 0.9.0?

[2017-07-10 17:03] MarcusBarnes commented on #428
Address in pull-request  https://github.com/MarcusBarnes/mik/pull/429 (merged with commit https://github.com/MarcusBarnes/mik/commit/830b54df8ca06bcaa985edd07c1968afb38b64bd).

[2017-07-10 17:03] #428 closed

[2017-07-12 17:15] MarcusBarnes opened #430 "Make MIK Codebase Citable with initial tagged release"
Using the steps in the [citable code guide](https://guides.github.com/activities/citable-code/), it's possible to mint a [DOI](https://en.wikipedia.org/wiki/Digital_object_identifier) to make the MIK code-base more easily citable.

[2017-07-13 16:11] MarcusBarnes commented on #430
I created an account with Zenodo.org and enabled release syncing with their system.  When we create a release, it should mint a DOI that we can add to the README to help when people wish to cite the MIK codebase.

[2017-07-13 21:42] mjordan commented on #430
Sounds cool.

[2017-07-13 22:00] mjordan opened #431 "Add writers that output packages that can be easily ingested using Islandora REST"
Currently, writers output packages that conform to the input expected by the various Islandora Batch modules. I'd like to experiment with adding a writer that outputs packages that are more amenable to ingesting using the megasuperawesome [Islandora REST](https://github.com/discoverygarden/islandora_rest) interface. The main feature of this proposed MIK writer would be that each content file gener