[2017-07-13 23:16] MarcusBarnes commented on #430
I used the [Islandoracon 2017 MIK workshop repository](https://github.com/MarcusBarnes/MIK_workshop_Islandoracon_2017) as a test.  It worked as expected.

[2017-07-13 23:18] mjordan commented on #430
Sweet - what's the DOI?

[2017-07-13 23:20] MarcusBarnes commented on #430
At the top of the workshop README.md I've added the badge that displays the DOI: 10.5281/zenodo.826891.

[2017-07-13 23:25] mjordan commented on #430
Frickin' awesome!

[2017-07-17 15:05] mjordan commented on #431
Over the weekend I wrote a script to ingest objects via REST: https://github.com/mjordan/islandora_rest_ingester. This script expects all files (MODS.xml, OBJ.tif) to be in a subdirectory, so the user can also add TNs, TECHMD, etc. However, if this script expected the same input as Islandora Batch, we wouldn't need a new writer, it could just use the output MIK already generates.

[2017-07-24 18:24] #200 closed

[2017-07-24 19:50] MarcusBarnes commented on #277
Initially addressed in  pull request https://github.com/MarcusBarnes/mik/pull/424  (merged with commit https://github.com/MarcusBarnes/mik/commit/a432ff634db51c1fa7c12458bb50bfb20881e60f).  Thank you @whikloj.

[2017-07-24 19:50] #277 closed

[2017-07-24 19:52] MarcusBarnes commented on #419
Initially addressed in pull-request https://github.com/MarcusBarnes/mik/pull/424 (merged with commit https://github.com/MarcusBarnes/mik/commit/a432ff634db51c1fa7c12458bb50bfb20881e60f).  Thank you @whikloj!

[2017-07-24 19:52] #419 closed

[2017-07-24 23:43] MarcusBarnes commented on #422
Address in pull-request https://github.com/MarcusBarnes/mik/pull/433 (merged with commit https://github.com/MarcusBarnes/mik/commit/0eda1bc9c72b26065e89bee780287123346b584b).  Thank you @mjordan.

[2017-07-24 23:43] #422 closed

[2017-09-20 20:25] mjordan opened #434 "Add collections from the Louisiana Digital Library (LDL) to the README"

[2017-09-20 21:56] mjordan opened #436 "Regex in filegetters/CsvNewspapers.php fails on Windows"
Related issue: #428.

Just hit this now. We've seen this problem before: since DIRECTORY_SEPARATOR on Windows is `\`, regexes can fail since the final pattern delimiter is escaped.

Will open a PR as soon as I get the test data assembled, but here's a diff for the fixed code:

[code]

[2017-09-22 16:54] mjordan opened #438 "Remove codecov.io from .travis.yml"
All of our PRs are failing because of codecov.io failures. As per an offline conversation between @MarcusBarnes and myself, we are commenting it out of .travis.yml for now.

[2017-09-22 16:56] mjordan commented on #438
Commit is 802f5bcbddebfbed8dffcae9ed4b02a973930e8e.

[2017-09-22 16:56] #438 closed

[2017-09-27 13:50] mjordan opened #439 "Create an OaiToMods metadata parser"
The only metadata parser that works with the OAI-PMH toolchains is OaiToDc. This effectively means that setting the OAI `metadata_prefix` to `oai_mods` has no effect.

We should add an OaiToMods metadata parser to remedy this.

[2017-09-28 19:19] mjordan opened #441 "Change metadata manipulators in OAI toolchains to manipulate entire XML document"
Currently, the OaiToDc and (new in the issue-439 branch) OaiToMods metadata parsers' `applyMetadatamanipulators()` method acts on XML snippets. This is probably because the code was simply copied from CONTENTdm toolchains (by me 🤕). Since the OAI toolchains harvest complete DC or MODS XML documents, metadata manipulators used in those toolchains should act on the complete XML document. We have alr

[2017-10-03 02:02] mjordan commented on #439
Merged, closing.

[2017-10-03 02:02] #439 closed

[2017-10-17 16:22] bondjimbond opened #442 "checkconfig failure on null mappings"
After a git pull, I tried running MIK on a new ini file that included some null lines in the mapping file, which map to templates (which is normal practice as far as I know). When I run MIK checkconfig, I get the following error:

Error: Mapping snippet null0 appears to be not well formed

I tried running on older ini files that I know work, and got the same error. Any ideas what's happening?

[2017-10-17 17:08] mjordan commented on #442
The validation happening at https://github.com/MarcusBarnes/mik/blob/master/src/config/Config.php#L135 is not taking into account that the right side of the null mapping (i.e, the second column) is not XML. I think all we need to do is add logic so that if the value begins with 'null' we should be ok.

[2017-10-17 18:10] mjordan commented on #442
Looking at this a bit more closely, I see the specific problem. The current check will pass null mappings like this:

[code]

but will fail for the reason I mentioned in the case of the InsertXmlFromTemplate metadata manipulator (the one you hit this on), like this:

[code]

So to address this we'll need to add an additional context check for that manipulator.

[2017-10-17 18:49] bondjimbond commented on #442
Thanks for looking into it, @mjordan. Was this check added/changed recently? I don't recall checkconfig failing on earlier mapping files with null values.

If you can advise on how I might go about adding such a check, I'd happily try my hand at it; or if you've got a branch for this already I'd be more than willing to test.

[2017-10-17 19:17] mjordan commented on #442
@bondjimbond we added the InsertXmlFromTemplate metadata manipulator in Nov. 2016, so `null0,null0`-style mappings have probably been failing since then.

I'm not sure what the best approach is here. This type of mapping is specific to that manipulator, and, if used incorrectly where a `null0,<xml></xml>`-style mapping is the correct type to use, would pass validation if we didn't check that the I

[2017-10-17 19:40] mjordan commented on #442
Some lunchtime poking around... In this case, the InsertXmlFromTemplate metadata manipulator knows what row in the mapping file its mapping is (the mapping key is passed in as a parameter). If the manipulator implemented a method such as `->validateNullMapping()`, it could pass back a TRUE of FALSE. In this case, the validation would simply be the the two parts of the mapping were the same. If it

[2017-10-17 19:48] MarcusBarnes commented on #442
@mjordan I'm happy with your [suggested approach ](https://github.com/MarcusBarnes/mik/issues/442#issuecomment-337346906).

[2017-10-17 19:50] bondjimbond commented on #442
As a simple approach, would it be possible to document the failure of checkconfig when null mappings are present, and provide an option (e.g. --ignore_null_mappings) that will skip them so we can still see any other config failures?

The need there is that the checkconfig fails when it reads the first null line, so you don't see any config problems further on in the process.

[2017-10-17 19:59] mjordan commented on #442
@bondjimbond, documenting the predictable failure and at most adding a `--ignore_null_mappings` option is the way to go. A lot less complicated for what is a fairly specific edge case.

[2017-10-17 20:06] bondjimbond commented on #442
Cool. I don't know how that would work, but if someone writes it I can test.

[2017-10-17 20:08] mjordan commented on #442
I'll open a PR adding the new option. If it works as intended you can merge as well 😄

[2017-10-17 20:41] mjordan commented on #442
Question: should the new `--ignore_null_mappings` option ignore only `null0,null0`-style mappings or also `null0,<accessCondition>This resource is in the Public Domain.</accessCondition>`-style mappings? We may not want to ignore the latter since it's really easy to mess up the XML.

[2017-10-18 15:16] bondjimbond commented on #442
@mjordan Wish I'd seen this before merging your PR... I'm not sure which approach you took. Yes, null mappings with XML should still be validated. Which way does yours work?

[2017-10-18 15:48] mjordan commented on #442
It only ignores the `null0,null0`-style, not the other style. So we're good.

[2017-10-18 16:29] #442 closed

[2017-10-25 16:02] bondjimbond opened #445 "Limit option causes errors, wrong number of packages"
Here's what happens whenever I run MIK with a limit option.

And 11 packages are created, instead of the 10 that are requested.

[2017-10-25 16:05] mjordan commented on #445
@bondjimbond how many total items in your fetcher's input?

[2017-10-25 16:08] bondjimbond commented on #445
You mean how many items total exist in the CSV file? Around 395 for this run, 999 for the previous run. Both runs had this result.

[2017-10-25 16:15] mjordan commented on #445
OK, thanks, I'll take a look. Does the error happen with other values of `--limit` such as 20, 30, etc.?

[2017-10-25 17:23] bondjimbond commented on #445
Confirmed: other values create same result.

-- limit X results in error message, and number of packages generated = X+1.

[2017-10-25 17:27] mjordan commented on #445
OK, thanks. I suspect someone, probably me, introduced an error in the `--limit` option sometime in the recent past.

[2017-10-29 16:49] mjordan commented on #445
Hm. I'm beginning to suspect this is an issue with a third-party module, either the CSV reader or the progress bar library, because I checkout out code all the way back to March of this year and the error  occurs there too (and it's impossible it would have gone undetected since March). I'll see if I can replicate this on Windows, which does not use the progress bar, tomorrow at work.

[2017-10-30 18:07] mjordan commented on #445
Plot thickens. Just tested this on Windows. No errors, but although I specified a limit of 10 (`-l 10`) MIK produced 15 packages.

[2017-11-10 15:10] mjordan commented on #445
Continuing to investigate. This error doesn't happen with OAI-PMH toolchains.

[2017-11-10 15:27] bondjimbond commented on #445
You got 15 packages out of a limit 10? Very weird. Every run I've tried has been x+1.

Another thing on the Limit topic... This may merit its own issue, depending on your response. I'm wondering about what would be considered "expected behaviour". If I set --limit 5 in my test run, and objects at lines 1 and 4 are "problem records", MIK will skip over them and generate packages for 2, 3, 5, 6, 7,

[2017-11-14 16:25] bondjimbond commented on #442
Before this error was introduced, did checkconfig evaluate the validity of the manipulators? If so, it doesn't now; I tested by adding some bad code and bad XML in a Twig template and it wasn't caught.

[2017-11-14 16:56] mjordan commented on #442
@bondjimbond no, the validity of the manipulators was never checked.

[2017-12-04 20:34] bondjimbond opened #446 "Improve error reporting by flagging missing required settings"
Today I was working on a metadata-only CSV, and having some annoying issues that were difficult to debug. The problem, it turns out, was that several parameters in the [FILE_GETTER] section are required, but I didn't realize it.

I was getting the following error:

Turns out I needed to add the following lines:

`[FILE_GETTER]
class = "CsvSingleFile"
input_directory =
validate_input = FALSE
file_n

[2017-12-05 17:10] bondjimbond opened #447 "Add --clear_temp parameter"
In cases where you're running MIK multiple times (right now I'm working on processing the same INI file with minor changes for several different directories), you need to clear the temp directory every time to get rid of the .metadata files or else the process doesn't work.

It would be nice to have a --clear_temp parameter that automatically empties the temp directory so that the next run can com

[2017-12-05 17:24] mjordan commented on #447
There's a shutdown script to do that, https://github.com/MarcusBarnes/mik/blob/master/extras/scripts/shutdownhooks/delete_temp_files.php. To use it, add this to your .ini file:

[code]

This is documented under the "Shutdown scripts" section of the wiki, but it would be useful to have a cookbook entry filed under "Working with Metadata". Any other suggestions for where it would be findable on the

[2017-12-05 18:24] bondjimbond commented on #447
Ack, thanks. Thinking back now, I'm pretty sure I had asked for that in the past and you suggested writing a shutdown hook to do it. Poor memory I guess. But it's nice to have it get more exposure in the wiki. Cookbook entry is a good idea... I can't think of any other spots offhand.

[2017-12-07 15:54] bondjimbond commented on #447
Thanks, @mjordan

Does this function simply clear out the entire temp directory, or just the .metadata files?

[2017-12-07 15:59] MarcusBarnes commented on #447
@bondjimbond It will clear out the entire temp directory.  This can be seen in this block of code in the shutdown script: https://github.com/MarcusBarnes/mik/blob/master/extras/scripts/shutdownhooks/delete_temp_files.php#L14-L18.

@mjordan The [wiki page on clearing metadata cache](https://github.com/MarcusBarnes/mik/wiki/Cookbook:-Keeping-your-metadata-cache-clear-during-testing) looks good.  Tha

[2017-12-07 16:40] mjordan commented on #447
Thanks @MarcusBarnes .

Filegetters and some manipulators store stuff in the temp directory, so their files would be removed as well. That should probably be added to the cookbook entry. But, whether or not those files are there should be transparent to the user, except for a potential decrease in speed.

[2017-12-15 20:12] mjordan commented on #436
I'd like to get this fix incorporated into the master branch, but it's only testable on Windows. I am running MIK in the issue branch just to complete some loads here internally. @MarcusBarnes and @bondjimbond, how do you want to handle testing a PR? Maybe settle for a regression test on Linux/OSX? In other words, if generating newspaper issues from CSV still works on those platforms, it's OK to m

[2017-12-15 20:18] MarcusBarnes commented on #436
@mjordan Your suggestion for a regression test on Linux/OsX for now is OK with me.  I'll look into getting a Windows VM setup for testing MIK PR in the new year to help with this.  @bondjimbond Your thoughts?

[2017-12-15 20:26] bondjimbond commented on #436
Makes sense to me. (More annoyed than ever that my Windows laptop is kaput.)

[2017-12-15 20:29] mjordan commented on #436
OK, thanks, I'll assemble some test data and open a PR later today or over the weekend.

[2017-12-18 15:21] #447 closed

[2018-01-01 15:31] mjordan opened #448 "Write a post-write hook script to reformat output so it can be used in the Islandora REST Ingester"
The [Islandora REST Ingester](https://github.com/mjordan/islandora_rest_ingester) requires that input data for single-file objects is arranged in subdirectories, e.g.,

[code]
A post-write hook script can create this arrangement.

Input for compound, book, and newspaper issue objects is same as MIK already creates, so these content types won't require a post-write hook script.

[2018-01-07 17:35] mjordan commented on #448
I've moved this issue over to the REST Ingester repo. Closing for now, if anyone wants to include the script MIK, let me know and I'll reopen and we can go from there.

[2018-01-07 17:35] #448 closed

[2018-02-08 14:30] bondjimbond opened #449 "Ignore/skip Thumbs.db files in CsvBooks toolchain"
When packages are created in Windows, you get a lot of directories with unwanted files called Thumbs.db. MIK does not like these; you end up with errors like this:

In a large package of directories it's not easy to delete these all manually. It would be nice if MIK could skip them.

[2018-02-08 14:35] bondjimbond commented on #449
Note that on a Mac at least, it's easy enough to remove all these files with a command:

`find /path/to/tree -name 'Thumbs.db' -delete`

But this requires that you know they're there, that you know they're the problem, and that you know how to do it. Since this is likely going to be a very common problem with any image set created in Windows, it's best if MIK knows how to deal with it.

[2018-02-08 14:43] MarcusBarnes commented on #449
There is a helper script to remove unwanted files for an input directory like Thumbs.db: https://github.com/MarcusBarnes/mik/blob/master/extras/scripts/remove_files.php  I haven't had a chance to test on Windows.

[2018-02-08 14:49] mjordan commented on #449
The REST Ingester skips these: https://github.com/mjordan/islandora_rest_ingester/blob/master/includes/Ingester.php#L30

[2018-02-08 14:53] bondjimbond commented on #449
MIK does already appear to skip .DS_Store automatically; I've always had those in my packages without problems.

[2018-02-08 14:57] mjordan commented on #449
We should test whether they show up in Windows, e.g., the files are written by OSX but if you run MIK Windows using that input, they might show up. I might be mistaken. Wouldn't hurt to have a list and just get the filegetters (or any other component that needs to) to skip every file in that list.

[2018-02-08 15:01] bondjimbond commented on #449
Agreed. I don't think we need to bother testing what Windows does, in that case; just tell it to skip that list of garbage files every time.

[2018-02-08 15:04] mjordan commented on #449
We should be able to write PHPUnit tests for this feature pretty easily.

[2018-02-13 21:31] jonathangreen opened #450 "Make migrated from URI configurable"
Looks like the migrated from URI is currently hard coded to contain `http://content.lib.sfu.ca/cdm/ref/collection/`:
https://github.com/MarcusBarnes/mik/blob/master/src/metadataparsers/mods/CdmToMods.php#L169

Be nice to be able to override that with your own CDM url.

[2018-02-13 21:36] mjordan commented on #450
Totally. Sorry we didn't catch this earlier. We already use Twig templates so maybe providing a config option to point to one of is a possible solution.

[2018-02-13 21:47] jonathangreen commented on #450
No worries! Just wanted to make a ticket to note it, since i just stumbled upon it. A small twig template makes sense to me.

[2018-02-14 00:24] mjordan opened #451 "Create metadata manipulator that adds a UUID to Templated output"
We have a metadata manipulator that [adds a UUID element to MODS](https://github.com/MarcusBarnes/mik/wiki/Metadata-manipulator:-AddUuidToMods) generated via mappings-based metadata parsers. I would like to add UUIDs to MODS generated using the Templated parser.

[2018-02-15 16:43] MarcusBarnes commented on #434
Addressed in pull-request https://github.com/MarcusBarnes/mik/pull/435 (merged with commit  https://github.com/MarcusBarnes/mik/commit/3fa3d979f459229bd43030f54aca1398fc3e7534).

[2018-02-15 16:43] #434 closed

[2018-02-15 17:02] #436 closed

[2018-02-15 17:04] mjordan commented on #431
I added a post-write hook for MIK to https://github.com/mjordan/islandora_rest_ingester and documented it in that README ("Integrating the Islandora REST Ingester with other tools"), so closing this.

[2018-02-15 17:04] #431 closed

[2018-02-15 17:08] mjordan commented on #430
@MarcusBarnes can we close this?

[2018-02-15 17:12] MarcusBarnes commented on #430
@mjordan Yes.  I'm closing this now.  Thanks!

[2018-02-15 17:12] #430 closed

[2018-02-19 23:40] mjordan opened #452 "Paged content from CONTENTdm has incorrect DSID for JPEG files"
Islandora objects that have the content models `islandora:pageCModel` and `islandora:newspaperPageCModel`, i.e., book and newspaper pages, use a datastream ID of 'JPG'. MIK's CONTENTdm toolchains write out a file with the name 'JPEG.jpg' (see https://github.com/MarcusBarnes/mik/blob/master/src/writers/CdmNewspapers.php#L209 and https://github.com/MarcusBarnes/mik/blob/master/src/writers/CdmBooks.p

[2018-02-19 23:46] mjordan commented on #452
Looks like the bug is very localized and the fix easy:

[code]

[2018-02-20 04:25] mjordan commented on #450
I think we already have the solution to this problem in https://github.com/MarcusBarnes/mik/wiki/Metadata-manipulator:-InsertXmlFromTemplate. We should just remove the `include_migrated_from_uri` .ini option and document how to add the following snippet:

[code]

[2018-02-20 15:32] mjordan opened #455 "Relocate php_codesniffer in composer.json"
`"squizlabs/php_codesniffer":"~2.3",` is currently in the `"require"` section of composer.json. It should be in the `"require-dev"` section.

[2018-02-26 15:13] mjordan commented on #452
Fix has been merged.

[2018-02-26 15:13] #452 closed

[2018-02-26 15:19] mjordan opened #456 "Document solution for renaming misnamed JPG datastreams"
We should document a solution to the problem caused by #452. Datastream CRUD is capable of doing this. Maybe a good Cookbook entry?

[2018-02-26 15:25] MarcusBarnes commented on #456
Good idea.  Would someone be able to confirm what happens if you try regenerating the misnamed JPEG datastream?  Does it stay JPEG or does it become JPG?   (I'm assuming that it stays JPEG, if not, there could be a solution that involves batch derivative regeneration.)

[2018-02-26 15:35] mjordan commented on #456
@MarcusBarnes We've got about 900,000 JPEG datastreams, so I'll check this. Checking one of the 900,000 or page objects we migrated from CONTENTdm, I notice that the JPEG datastream doesn't have a 'regenerate' link:

![jpeg](https://user-images.githubusercontent.com/403918/36679145-5e0cfc9a-1ac7-11e8-8bcd-c38632a451a8.png)

like the properly named JPG datastream does:

![jpg](https://user-images.g

[2018-02-26 15:40] MarcusBarnes commented on #456
Thank you for confirming.

[2018-02-26 15:48] mjordan commented on #456
How about documenting how to change a DSID in the CRUD README, and then in the MIK cookbook entry, point out that documentation and contextualize it for the JPEG/JPG issue?

[2018-03-05 20:05] bondjimbond opened #457 "CSVBooks: MIK fails when output directory doesn't exist"
In CSV Single File, if you set an output_directory that doesn't exist yet, MIK creates it for you without problems.

In CSV Books, however, MIK fails. Logs the following error:

If you create the output_directory and leave the config file alone, it runs just fine.

[2018-03-05 20:22] mjordan commented on #457
I'll take care of this.

[2018-03-09 19:54] mjordan opened #458 "Error puked out when we should provide a useful message"
When MIK can't find the input CSV file, it pukes something like this out to the user:

[code]
How scary! We should provide a useful message saying something like "Can't find input CSV file specified in the [FETCHER] section of your configuration file."

[2018-03-18 15:47] mjordan commented on #457
@bondjimbond I just opened #459 and, strangely, did not see this behaviour while running my new code numerous times. If you have time to test that PR, can you confirm that the problem still exists?

[2018-03-20 16:29] mjordan commented on #421
@bondjimbond OK, a fresh new branch that fixes all the nasty PHPUnit tests. Please smoke test at your convenience.

[2018-03-20 20:13] bondjimbond opened #461 "Inconsistent default configuration between toolchains"
According to the Wiki, the CSV Newspapers and Books likes to have child object sequences denoted with a hyphen and a number:

But CSV Compound's default delimiter is underscore, and needs special configuration to change it:

Can the defaults (i.e. without any configuration) be changed so that they're consistent between toolchains?

[2018-03-20 20:23] mjordan commented on #461
For compound objects, the separator is set at https://github.com/MarcusBarnes/mik/blob/master/src/writers/CsvCompound.php#L51. I have no issue making the defaults consistent, other than changing default behavior can introduce problems. But, as long as we document the change to compound clearly, I'm OK with it. @MarcusBarnes what do you think?

[2018-03-20 20:28] MarcusBarnes commented on #461
@mjordan It's probably better to make the defaults consistent and document the changes.  Maybe we should get in the habit of creating point releases more regularly?   That way those using MIK can stick to a specific release tag (unless they need any of the changes introduced).

[2018-03-20 20:30] mjordan commented on #461
Sounds good to me. Who wants to open a PR to fix the compound default? I'm happy to.

[2018-03-20 20:32] bondjimbond commented on #457
@MarcusBarnes Re the question of permissions: It shouldn't be a permissions thing, since it's only the CSV Books toolchain that fails to create the directory. Other toolchains (CSV Single File) do it without problems.

[2018-03-20 20:38] mjordan commented on #421
Closed with e7d7ece8ce363fcbe45b94b554dbdafa39ecd421.

[2018-03-20 20:38] #421 closed

[2018-03-20 20:54] mjordan commented on #421
@bondjimbond would you mind looking at the "Including page-level OCR files" section of https://github.com/MarcusBarnes/mik/wiki/Toolchain:-CSV-books to see if the part about validation is clear?

[2018-03-21 12:47] bondjimbond commented on #421
Seems clear enough!

[2018-03-21 15:40] mjordan commented on #421
Thanks, I've updated the corresponding text on https://github.com/MarcusBarnes/mik/wiki/Toolchain:-CSV-newspapers as well.

[2018-03-29 15:21] bondjimbond commented on #457
Update: Error also occurs in CsvCompound toolchain.

[2018-04-12 12:55] bondjimbond opened #462 "Compound CSV: new options for MODS.xml"
Given the issue raised here: https://jira.duraspace.org/browse/ISLANDORA-2194

Since default Islandora behaviour is to essentially ignore/hide the metadata on the compound parent object and instead display the first child, MIK should have the option to use the parent metadata (excluding the label) for child objects that don't have their own CSV rows.

[2018-04-12 14:13] mjordan commented on #462
If the intent is to assign the parent metadata to the first child, I suggest that we develop a post-write hook script to copy the parent's MODS.xml into the directory if its first child object. That way, we don't need to introduce complex logic into the CSVCompound writer (it's already quite complicated). We can also reuse the same post-write hook script for compound objects created from CONTENTdm

[2018-04-12 14:14] mjordan commented on #462
Forgot to add, overwriting the first child's metadata with the parent's begs the question of what to do if there is already a MODS.xml file for the child.

[2018-04-12 18:02] mjordan opened #463 "Add OAI to CSV toolchain to support migrations from Islandora 7.x to CLAW"
https://github.com/Islandora-CLAW/CLAW/issues/452 asks whether we can use Drupal 8's migration API to batch ingest content into CLAW. I've got an MIK toolchain that harvests content from 7.x using OAI-PMH and writes out input for a Migrate Plus ingest. Still working on it while travelling but will have something substantially complete within a couple days.

[2018-04-12 18:03] mjordan commented on #463
BTW, doing this work is also a good test of MIK's [developer documentation](https://github.com/MarcusBarnes/mik/wiki/Information-for-developers#addingmultiplecomponents). I'll probably be opening a couple issues resulting from this work.

[2018-04-12 18:05] mjordan commented on #463
Related issue: #378.

[2018-04-12 20:48] mjordan commented on #463
Got this to the point where you can harvest a collection via OAI-PMH and end up with a CSV file similar to the one prepared by @mark-cooper
seth-shaw-unlv at the CLAW issue linked above. Sample .in file is:

[code]

Here's the resulting CSV file:

[code]

[2018-04-15 15:16] mjordan opened #464 "Provide a fetcher manipulator tto limt harvested objects by Mime Type"
For example, you only want object for JPEG images, not PNG.

[2018-04-15 15:54] mjordan commented on #464
Wiki entry is at https://github.com/MarcusBarnes/mik/wiki/Fetcher-manipulator:-OaipmhIslandoraObjByMimetype.

[2018-04-15 16:26] MarcusBarnes commented on #457
@mjordan I'll schedule some time to attempt to reproduce the issue early this week and report back on this issue thread.

[2018-04-16 19:38] mjordan opened #466 "CsvBooks and CsvNewspapers file getters includes files from unrelated input directories"
The CsvBooks filegetter will select child (page) files that do not belong to the parent book. Here's the faulty code:

[code]
The following list of "pages" of `letter` is an example of what happens:
[code]

We need a more precise match so that "letter10", "letter11", "letter12", and other directories whose paths are supersets of the desired string do not get into the "pages" list.

[CsvNewspapers]

[2018-04-16 20:57] mjordan commented on #466
OK, fix is in place. How the list of pages for "letter1" contains only the files in the intended input directory:

[code]

Will open PR.

[2018-04-19 14:59] mjordan commented on #463
Based on discussion at the April 18 CLAW Technical call, I've added an option to output an XML file containing the harvested DC or MODS instead of a CSV file. The generation of this output file is not done via OAI to CSV toolchain, but rather via a shutdown hook script used with the existing OAI Islandora toolchain:

[code]

[2018-04-19 22:08] mjordan opened #468 "Fix broken images in README, wiki, etc."
In the main README and elsewhere, we (meaning mostly I) have linked to images served from Dropbox. These have not worked in some time, since Dropbox changed its public linking policy. We should move these images off Dropboxy and host them on Github directly. On approach I have heard of is to open a issue and attach the images. They will then be sharable across source files, READMEs, wikis, etc. Or

[2018-04-20 14:12] mjordan opened #469 "Provide a way to generate output for loading entities"
I want to batch load people entities into Islandora. Scholar's CSV entity importer seems to come with a lot of [caveats](https://wiki.duraspace.org/display/ISLANDORA/Entities+Solution+Pack) and AFAICT you can't load thumbnails using it. I've tried loading a few MADS.xml files using Islandora Batch but that didn't work well (maybe I missed something) but my Batch With Derivs module worked great. I'

[2018-04-20 14:15] bondjimbond commented on #461
@mjordan Just reminding you that this issue is still open, since nobody claimed the PR task.

[2018-04-20 14:58] MarcusBarnes commented on #468
Since wiki's are also repos, it may be possible to clone the wiki locally, add a directory like "images/" with the images, push the changes, then use the links to the images in the wiki repo image folder.

[2018-04-20 15:00] MarcusBarnes commented on #468
I can create a test repo. with a wiki to confirm that this works or not.

[2018-04-20 15:40] MarcusBarnes commented on #468
Sounds excellent!  Thank you for taking on this task.

[2018-04-20 20:25] MarcusBarnes commented on #466
Address in pull-request https://github.com/MarcusBarnes/mik/pull/467 (merged with commit https://github.com/MarcusBarnes/mik/commit/ff5788da76ed5fd930a67694a91216258268f787).  Thank you @mjordan for improving the path checking so that MIK can handle the situation described in this issue for CSV newspapers and books.

[2018-04-20 20:34] #466 closed

[2018-04-23 14:50] mjordan commented on #461
I'll open a PR now. I'm also going to mark the `testCsvCompoundInputValidator()` test as skipped, since there's obviously something larger going on with the CSV compound and book toolchains. Will open a separate issue for that.

[2018-04-23 16:34] mjordan opened #471 "Fix PHPUnit tests for Csv Compound"
We have marked a couple of PHPUnit tests for CSV Compound toolchain and input validators as 'skipped'. We need to figure out why they aren't working as intended.

Related issue #417 and PR #470.

[2018-04-24 12:56] mjordan commented on #468
Works great. I've moved all of the images and the .zip data for the Tutorial into an 'assets/mik_tutorial' directory in the wiki, updated the links in the text of the tutorial page, and it looks good: https://github.com/MarcusBarnes/mik/wiki/Tutorial

Will move on to others soon and will open a PR for fixes to the main MIK README.md file.

[2018-04-24 13:27] MarcusBarnes commented on #468
Thank you again @mjordan for fixing the images in the wiki and the README.

[2018-04-24 13:27] #468 closed

[2018-04-24 13:56] mjordan commented on #461
https://github.com/MarcusBarnes/mik/wiki/Toolchain:-CSV-compound-objects updated to note the change in default value.

[2018-04-24 13:56] #461 closed

[2018-04-24 14:18] bondjimbond commented on #461
@mjordan Was it updated? I'm still seeing underscore on the wiki page.

[2018-04-24 17:43] mjordan commented on #461
Yeah... should have been more specific there. By "updated" I added the text

But as you can see, I didn't update any of the example instances. Will do that.

[2018-04-24 18:04] mjordan commented on #461
@bondjimbond take a look now. Feel free to update any I have missed.

[2018-04-29 18:14] mjordan commented on #144
@MarcusBarnes I think this issue is obsolete. We are using cached metdata in all fetchers now except Filesystem, where it doesn't really apply. Can I close this and delete the accompanying branch?

[2018-04-29 18:25] mjordan commented on #450
Note: we would also need to remove https://github.com/MarcusBarnes/mik/blob/master/src/metadataparsers/mods/CdmToMods.php#L163-L172.

[2018-04-29 18:26] mjordan commented on #450
@jonathangreen If I opened a PR for this would you be able to test?

[2018-04-29 18:31] mjordan commented on #358
Closing this, it's been linked from the list of toolchains for some time.

[2018-04-29 18:31] #358 closed

[2018-04-29 18:32] mjordan commented on #345
@bondjimbond is this still an issue?

[2018-04-29 18:34] mjordan commented on #344
@bondjimbond not sure if you ever took a look at this, but if you could that would be great.

[2018-04-29 18:44] mjordan commented on #271
7.0 and 7.1 are passing travis, and we've had no reported issues from userland. Anyone mind if I close this?

[2018-04-29 18:47] mjordan commented on #450
Yikes, found #176 while sifting through old issues to close.

[2018-04-29 18:49] mjordan commented on #132
Obsolete, closing.

[2018-04-29 18:49] #132 closed

[2018-04-29 18:50] mjordan commented on #99
Closing.

[2018-04-29 18:50] #99 closed

[2018-04-29 18:50] mjordan commented on #49
Closing.

[2018-04-29 18:50] #49 closed

[2018-04-29 18:55] mjordan commented on #76
@MarcusBarnes I've added a note about this to https://github.com/MarcusBarnes/mik/wiki/Cookbook:-Running-MIK-on-Windows, closing.

[2018-04-29 18:55] #76 closed

[2018-04-30 12:58] MarcusBarnes commented on #144
I'm fine with closing this and deleting the accompanying branch.

[2018-04-30 12:58] #144 closed

[2018-04-30 13:42] MarcusBarnes commented on #188
@mjordan Please feel free to close issues that you think are no longer needed.   We can always reopen issues should there be enough feedback to do so.  Thanks!

[2018-04-30 13:42] #188 closed

[2018-04-30 14:01] jonathangreen commented on #450
@mjordan I can close this as a duplicate if you want? I am also willing to test.

[2018-04-30 14:14] mjordan commented on #450
@jonathangreen yes please, close this one. I'll pick up the work over at #176. Will have something for you to test this week.

[2018-04-30 14:15] bondjimbond commented on #344
@mjordan I don't know, it hasn't QUITE been a year yet... Maybe in another month?

Working on a few things this week, but I'll try to take a look soon.

[2018-04-30 14:15] jonathangreen commented on #450
Duplicate

[2018-04-30 14:15] #450 closed

[2018-04-30 14:56] bondjimbond commented on #345
@mjordan Hard to say. I don't have access to the Mac where the problem showed up, and my own Mac works fine. So perhaps this should be closed, and reopened if anyone else ever runs into the same problem?

[2018-04-30 17:11] mjordan commented on #345
Yes, let's close and reopen when necessary.

[2018-04-30 17:11] #345 closed

[2018-05-01 03:33] mjordan commented on #450
@jonathangreen and @MarcusBarnes, looking at this, I'd like to recommend that we create a new metadatamanipulator that uses a Twig template to add the XML fragment to the MODS in the CDM toolchains for the "migrated from" value. The template can take two values, the collection alias and the object or page pointer, both of which are available in the function where the respective MODS is generated.

[2018-05-01 03:33] mjordan commented on #176
@jonathangreen and @MarcusBarnes, looking at this, I'd like to recommend that we create a new metadatamanipulator that uses a Twig template to add the XML fragment to the MODS in the CDM toolchains for the "migrated from" value. The template can take two values, the collection alias and the object or page pointer, both of which are available in the function where the respective MODS is generated.

[2018-05-01 03:36] mjordan commented on #450
[sorry, I posted a comment here that was meant for #176. I then deleted it and posted it there :face_with_head_bandage: ]

[2018-05-01 13:37] MarcusBarnes commented on #176
I'm not sure how many people use the 'include_migrated_from_uri', but just in case, we should tag a point release before merging the result of work on this.  That way, if they need to, they can get a copy of the tagged release so that people who are currently using that in a workflow can still use their current workflow until they have the chance to modify their workflows to use the new suggested

[2018-05-01 14:00] mjordan commented on #445
Closing, thanks for testing.

[2018-05-01 14:00] #445 closed

[2018-05-01 14:02] mjordan commented on #176
Sounds good. @MarcusBarnes if you want to cut a point release, I can work on this.

[2018-05-01 14:44] bondjimbond opened #475 "Limit package generation - what is expected behaviour?"
Bringing this up in a new issue, since #445 is closed and this is a separate topic.

If I set --limit 5 in my test run, and objects at lines 1 and 4 are "problem records", MIK will skip over them and generate packages for 2, 3, 5, 6, and 7.

My expectation, since I use the limit option for testing, is that MIK should produce packages for only 2, 3, and 5, showing that objects 1 and 4 failed... tha

[2018-05-01 16:16] mjordan commented on #475
I think we can define expectations by better documentation.  The `--limit` option is intended for testing. I see the results you describe as valid test results: they identify some problem objects and also produce X good packages. Plus I think documenting the current behavior will take a lot less time and effort than changing code.

[2018-05-01 18:29] MarcusBarnes commented on #176
I've drafted a point release (visible to MIK maintainers) at https://github.com/MarcusBarnes/mik/releases/tag/untagged-50ba6f22dabb99534a02.  Once we have a pull-request that addresses this issue, we can publish the point v0.9.1 point release and merge the reviewed pull-request.

[2018-05-02 14:00] MarcusBarnes commented on #176
Thank you for the update and thank you in advance for your work on this.

[2018-05-02 18:29] mjordan commented on #344
Are you in the issue-344 branch?

[2018-05-02 18:32] mjordan commented on #344
OaipmhIslandoraObj.php isn't in the https://github.com/MarcusBarnes/mik/tree/issue-344/src/filegetters branch. Not sure why but I can create a new branch tonight that contains everything you need. Will reply with details here.

[2018-05-02 19:00] bondjimbond commented on #344
Sounds good!

[2018-05-03 02:34] mjordan commented on #344
OK, I've created a new branch, issue-344-new, which adds the new fetchermanipulator to the current master. Everything should be up to date and testable following the steps outlined above.

[2018-05-03 02:37] mjordan commented on #176
Update: the new metadatamanipluator works, but it interferes with other metadatamanipulators. Now all I have to do is figure out why it's doing that and make it stop :face_with_head_bandage:

[2018-05-03 12:52] bondjimbond commented on #344
Hmm.

Does this tell you anything about where the problem lies?

[2018-05-03 14:01] mjordan commented on #344
If you look in your output directory, are all the files .xml files? In other words, are there any OBJ files?

[2018-05-03 14:07] bondjimbond commented on #344
No files at all. But I do have a bunch of .metadata files in the temp directory.

Couple of errors in mik.log:

[2018-05-03 14:34] mjordan commented on #344
@bondjimbond there is a change in #465 that is causing no OBJ files to be retrieved. Would you  mind testing that PR first and merging it if it works so that I don't have to make the same change in this branch?

[2018-05-09 17:43] #475 closed

[2018-07-30 18:26] MarcusBarnes commented on #271
Travis CI tests for PHP 7.x added in pull-request https://github.com/MarcusBarnes/mik/pull/474 (merged with commit https://github.com/MarcusBarnes/mik/commit/df1682c91409179c6d6e7002a5b3320dae2bc588).

[2018-07-30 18:26] #271 closed

[2018-08-03 22:53] mjordan opened #478 "Create a post-write hook that renames files to use PIDs from existing objects"
It would be very useful to be able to produce MODS.xml files or others so they are named ready to be used as input to [Islandora Datastream CRUD](https://github.com/SFULibrary/islandora_datastream_crud). The main use case here is using MIK to regenerate MODS files from CSV input for bulk replacement of bad or incomplete MODS datastreams (yes that is sadly a real thing) of MODS that were-good-enoug

[2018-08-07 18:07] bondjimbond opened #479 "Reduce repetition in .ini files"
In many .ini files there are places where the same data needs to be repeated in different sections. For example, in the CdmCompound toolchain, you need to put the CDM webservices URL in FETCHER, METADATA_PARSER, and FILE_GETTER.

Similarly, you need to put the alias in four sections: FETCHER, METADATA_PARSER, FILE_GETTER, and WRITER.

If you work from a template, it's pretty easy to screw this up

[2018-08-07 18:13] MarcusBarnes commented on #479
Similar to issue https://github.com/MarcusBarnes/mik/issues/107.

[2018-08-09 16:24] mjordan opened #480 "Make CsvCompound's child_key setting optional"
Currently the CsvCompound toolchain's `[FILE_GETTER] child_key` setting is required in the .ini, but if the CSV metadata file does not contain any rows for child metadata, each row must have a column matching the field identified in `[FILE_GETTER] child_key` and it must be blank. This is a lot of overhead in preparing the CSV and the .ini file.

[2018-08-27 20:11] bondjimbond opened #482 "CDM toolchains: use field nicknames instead of field names?"
It's a lot easier to work with machine names ("nicknames") for CDM fields rather than the field display names, because the field names can be full of spaces, punctuation, etc. This makes it really hard to use Twig templates, among other things. Any way to get an option to use nicknames instead?

[2018-08-27 21:53] mjordan commented on #482
Using templates predates our migration from CONTENTdm, so we encounter that problem. But good point. I'll let @MarcusBarnes weigh in, but I think that it could be possible to add logic so that the code that calls https://github.com/MarcusBarnes/mik/blob/master/src/metadataparsers/mods/CdmToMods.php#L74 could be bypassed, using nicknames would work fine. A new option in the metadata parser's .ini s

[2018-08-28 00:14] MarcusBarnes commented on #482
@mjordan Your suggestion would be a good first way of approaching this.   @bondjimbond Have you heard feedback from anyone else whether this would be helpful?  It's a good suggestion for those like @bondjimbond who have ongoing work dealing with CDM toolchains and are familiar enough with how CONTENTdm works to be able to figure out nicknames directly.

[2018-08-28 03:29] mjordan commented on #482
Thanks @MarcusBarnes. @bondjimbond I've added the logic I was describing to issue-482 branch. You will need to add the following to the `[METADATA_PARSER]` section of your .ini file:

I haven't tested this at all, but it should work.

[2018-08-28 14:35] bondjimbond opened #483 "CdmSingleFile: Blank "input_directories" creates ambiguous error"
[According to the wiki](https://github.com/MarcusBarnes/mik/wiki/Toolchain:-CONTENTdm-single-file-objects), if you want the OBJ datastream for a given file, you should "Comment out, remove, or use an empty value for input_directories".

If you use an empty value, it fails to download the objects. Instead you get ambiguous errors:

Commenting out the line entirely works.

Leaving it empty DOESS wor

[2018-08-28 14:44] mjordan commented on #483
I vote for changing the wiki. I'm reluctant to change any code since I don't have a CONTENTdm instance to test against...

[2018-08-28 14:50] bondjimbond commented on #483
Changing the wiki sounds good to me. I'll take care of it.

[2018-08-28 14:50] #483 closed

[2018-08-28 15:27] bondjimbond commented on #482
It seems to work! Which is great, because even field names without spaces were getting messed up in my Twig templates.

[2018-08-28 15:42] bondjimbond commented on #482
Update: definitely working, and working so much better than the alternative. (This is important when you have fields with names like `Latitude (°,'N)`). I'd say it's good to go for a pull request.

[2018-08-28 15:50] mjordan commented on #482
Super! That was lucky, changing code without testing it.

I'll update the wiki in a couple of hours and have you take a look,  and then we can merge.

[2018-08-28 21:36] mjordan commented on #482
@bondjimbond can you send me a sample .ini file where you use this new 'feature'? I assume that you were using

[code]
with no mention of Cdm in the `[METADATA_PARSER]` section your but I'd like to confirm that.

[2018-08-29 14:18] bondjimbond opened #484 "Misleading results from checkconfig"
In the FILE_GETTER section of a given MIK INI file, put a nonexistent directory under `input_directory =` and run `--checkconfig all`.

The result will tell you that the input_directory doesn't exist, but MIK will create one.

This is obviously wrong, since MIK isn't going to create your input directory -- but if you're just skimming for errors, you won't pick it up (since the message is identical

[2018-08-29 14:30] bondjimbond opened #485 "include_migrated_from_uri hard-codes SFU URL"
Ran the CdmSingleFile toolchain on some content from Athabasca...

`<identifier type="uri" invalid="yes" displayLabel="Migrated From">http://content.lib.sfu.ca/cdm/ref/collection/Herbarium/id/670</identifier>`

This should of course be `http://deck.cs.athabascau.ca/cdm/ref/collection/Herbarium/id/670`.

Is there a way to fix this within the .ini file?

[2018-08-29 14:46] mjordan commented on #485
Not yet, see #176.

[2018-08-29 15:09] bondjimbond commented on #485
That looks complex! So it's not as simple as, say, creating a new option (say, "migrated_from=(base CDM URL)") and replacing the hard-coded SFU base with the new variable? It feels like it should be pretty simple.

[2018-08-29 15:18] mjordan commented on #485
Possibly - as long as if that new option was absent, no migrated_from identifier would be added (i.e., add that element is optional). @MarcusBarnes and @jonathangreen what do you think of this simpler approach, as opposed to the manipulator approach I had been pursuing?

[2018-08-29 15:33] bondjimbond commented on #485
Yeah, that could work... By default, no migrated_from_uri happens. Here's my thought...

Instead of making `include_migrated_from_uri` TRUE or FALSE, make it the base URI for the CDM instance. If it's simpler to keep it required, then allow FALSE or a base URL.

So, if FALSE, keep the same code

If a base URL, follow the code for TRUE but replace `http://content.lib.sfu.ca` with the value of `incl

[2018-08-29 15:38] MarcusBarnes commented on #485
The simpler approach would be good for resolving this quicker, both for @bondjimbond but also for other potential parties that may use MIK to move from CDM to Islandora (we may see an increase of this with the continuing work on ISLE).  That said, the manipulator approach is still valuable and we should pursue this if there's sufficient community need for this flexibility of this approach.

[2018-08-29 15:46] bondjimbond commented on #485
I'm thinking this approach meets the need pretty effectively. Perhaps we can leave the manipulator approach on the back burner for now and push the simple one through for expediency?

[2018-08-29 16:32] mjordan commented on #485
Sweet, we're all on board then. Simplest solution wins!

[2018-08-29 17:35] bondjimbond commented on #485
@mjordan I can attempt a PR, though I'd prefer you get issue-482 merged first... would make it a lot easier to test.

[2018-08-29 17:38] mjordan commented on #485
OK, I'm cool with merging issue-482 with proper documentation. Being stretched in a bazillion directions but will get to a PR by end of the day.

[2018-08-29 17:41] mjordan commented on #482
Unlike me, who is using mappings files less and less and drinking the Twig koolaide more and more. But I may never use Cdm toolchains again in production :champagne:

Let me do up some docs based on what you have provided and then I'll open a PR for this.

[2018-08-29 17:46] mjordan commented on #482
@bondjimbond  Would you mind sharing your mappings file as well so I am completely clear on what we're doing here?

[2018-08-29 18:20] bondjimbond opened #486 "regex_replace filter not available?"
`[2018-08-29 18:17:47] ErrorException.ERROR: ErrorException {"message":"problem with metadataparser","record_key":669,"details":"[object] (Twig_Error_Syntax(code: 0): Unknown \"regex_replace\" filter. at /Users/brandon/sfuvault/mik/manipulations/athabasca_manipulations_nicknames/coordinates_herbarium.xml:4)"} []`

My code:

[code]
Is there no regex_replace filter available, or did I just do a bad

[2018-08-29 18:26] mjordan commented on #486
It's not listed at https://twig.symfony.com/doc/1.x/ or at https://twig.symfony.com/doc/2.x/ - where is it documented?

[2018-08-29 18:31] bondjimbond commented on #486
https://learn.getgrav.org/themes/twig-filters-functions

https://www.branchcms.com/learn/docs/developer/twig/filters/item/regex-replace

And other places

[2018-08-29 18:34] mjordan commented on #486
I think those two platforms provide regex_replace as a Twig extension. It doesn't appear to come as part of Twig itself.

MIK does provide an example of adding a custom extension, twigTruncate, at https://github.com/MarcusBarnes/mik/blob/master/src/utilities/MikTwigExtension.php.

[2018-08-29 18:35] mjordan commented on #486
... and I failed to add, we could implement our own regex_replace there if we wanted to.

[2018-08-29 18:42] bondjimbond commented on #486
No worries. Looks like I was able to get what I need out of a couple of other functions plus the "replace" function.

[2018-08-29 18:42] #486 closed

[2018-08-29 18:43] mjordan commented on #486
Cool. That said, if we want to extend Twig, we can do that.

[2018-08-29 19:02] mjordan commented on #482
Take a look at https://github.com/MarcusBarnes/mik/wiki/Cookbook:-Using-CONTENTdm-field-nicknames-instead-of-labels and let me know if it needs any changes (or go ahead and change it yourself).

[2018-08-29 19:12] mjordan commented on #482
PR is in #487.

[2018-09-05 19:44] bondjimbond opened #488 "Postwritehook suggestion: reorganize output by filetype?"
Use case: I'm running CONTENTdm migrations right now, and just ran into an issue where, of a 619-item image collection, 614 are JPGs and 5 are JP2s. I failed to notice the JP2s, and attempted to ingest the whole set as Basic Images, which of course meant that the five JP2s were not ingested.

In migrations where the source collection contains a mix of content models, it would be helpful to create

[2018-09-05 20:07] mjordan commented on #488
This might do the trick: https://github.com/MarcusBarnes/mik/blob/master/extras/scripts/postwritehooks/move_packages_by_extension.php

I just used it in our Summit migration, it was very useful.

[2018-09-06 14:02] bondjimbond commented on #488
Ah, so it already exists! Awesome, thanks.

[2018-09-17 14:29] bondjimbond commented on #457
@MarcusBarnes Any update on reproducing the problem?

[2018-09-17 18:47] MarcusBarnes commented on #457
Confirming that for CSVBook,  if you set an output_directory that doesn't exist yet, you get an error:

[2018-09-17 18:55] MarcusBarnes commented on #457
Looking at CSVSingleFile, it uses the [createOutputDirectory()](https://github.com/MarcusBarnes/mik/blob/master/src/writers/Writer.php#L130) method:

https://github.com/MarcusBarnes/mik/blob/master/src/writers/CsvSingleFile.php#L64

Following a similar pattern from CSVSingleFile in CSVBook from about [L84 to L97](https://github.com/MarcusBarnes/mik/blob/master/src/writers/CsvBooks.php#L84-L97) sho

[2018-09-17 19:44] mjordan commented on #457
I'm not saying my previous testing was iron-clad, but it's strange the I couldn't replicate this problem on Linux, and I use the compound toolchain frequently (not sow much the book toolchain) at work on Windows. @MarcusBarnes just to be sure, could you run the same config, etc. you used to confirm this on your Mac on a linux VM like the Islandora Vagrant? I'll also replicate my attempts to reprod

[2018-09-17 19:54] MarcusBarnes commented on #457
@mjordan Despite my pull-request, I now know what the issue is now based on your most recent comment.  In the `createOutputDirectory` method, we are explicitly providing the MODE parameter for `mkdir`, whereas in the CSVBook writer, we are not.

Compare

https://github.com/MarcusBarnes/mik/blob/master/src/writers/Writer.php#L135

with

https://github.com/MarcusBarnes/mik/blob/master/src/writers/Cs

[2018-09-17 19:57] mjordan commented on #457
@MarcusBarnes good catch. Modifying your current PR is probably the most complete fix if you're OK with that.

[2018-09-17 19:58] mjordan commented on #457
Just curious, does what you've discovered explain any differences between OSX and Linux?

[2018-09-17 20:00] MarcusBarnes commented on #457
@mjordan I'm OK with modifying my pull-request.  Do you want me to leave the call to createOutputDirectory?

[2018-09-17 20:01] mjordan commented on #457
Yes, I think for consistency, we should be using that method everywhere, since it is defined in the parent class.

[2018-09-21 17:57] bondjimbond opened #490 "CDM toolchains extracting wrong files due to repeating ID numbers"
Looks like the CONTENTdm toolchains expect the CONTETNdm Numbers to be unique, but they aren't in all cases. So running MIK against a given collection can potentially extract objects from a different collection instead of the ones in the target collection.

Examples:
http://digicon.athabascau.ca/cdm/singleitem/collection/MK/id/36/rec/1
http://digicon.athabascau.ca/cdm/singleitem/collection/seniors

[2018-09-21 18:04] bondjimbond commented on #490
[config.ini.txt](https://github.com/MarcusBarnes/mik/files/2406471/config.ini.txt)
Config file attached.

[2018-09-22 13:50] mjordan commented on #490
In any given job, MIK does not know about items that do not have the configured collection alias. Are you actually seeing the metadata and binary files from the seniors item being retrieved when the data from the MK item should be?

I'm not sure, but it might be possible that if you are seeing the same metadata for two objects that have the same number, make sure that your "temp" directory is dele

[2018-09-22 13:56] MarcusBarnes commented on #490
If this ends up being related to temp files, I would suggest adding the [delete temp files shutdown hook script](https://github.com/MarcusBarnes/mik/blob/master/extras/scripts/shutdownhooks/delete_temp_files.php) within your configuration files.

[2018-09-23 14:51] mjordan commented on #490
Right, nice catch @MarcusBarnes.

[2018-09-24 13:32] bondjimbond commented on #490
@mjordan Yes, the person who reported (not myself) reports that they were coming from two different collections. But of course I neglected to check whether he was deleting his temp files. Thanks for that - I'll make sure he's doing that and see whether the issue remains.

[2018-10-16 21:04] xing93111 opened #492 "Toolchain: CONTENTdm compound PDFs"
On this page:
https://github.com/MarcusBarnes/mik/wiki/Toolchain:-CONTENTdm-compound-PDFs
I read for compound PDFs, `CdmPhpDocuments` class should be used. However, when I run `mik`

[code]
Then, I went to `mik/src/filegetters` and `mik/src/writers`. I found a class named `CdmPdfDocuments'. So I thought maybe there are typos on the document, and changed the class name to `CdmPdfDocuments'. However

[2018-10-17 14:30] bondjimbond commented on #492
Thanks for submitting the issue, @xing93111.

Further detail: If MIK is run instead with the class CdmCompound, compound objects are generated with the directory structure of a Book, except each page is a PDF (instead of a TIFF). These PDFs are OK (not corrupt).

As far as we understand, the CdmPdfDocuments class is supposed to merge these page-level PDFs into a single aggregated PDF. The result i

[2018-10-17 15:20] mjordan commented on #492
I can't see anything wrong with the configuration. This particular toolchain relies on CONTENTdm's internal functionality to merge the PDF pages into a single document. It used to work fine - for example the PDFs in https://ecuad.arcabc.ca/islandora/object/ecuad%3Acals were generated using it, with this .ini file: https://github.com/MarcusBarnes/mik/blob/master/extras/samples/calendars_config.ini

[2018-10-17 15:36] xing93111 commented on #492
The configuration file [here](https://github.com/MarcusBarnes/mik/blob/master/extras/samples/calendars_config.ini) uses `CdmPhpDocuments`, but I don't see such class is included in mik toolkit source code. Where can I find the file?

[2018-10-17 15:51] mjordan commented on #492
@xing93111, sorry, that config file was an early one and predates #223. The configuration should use `CdmPdfDocuments` in lines 22 and 29.

[2018-10-17 16:05] mjordan commented on #492
... and I've just updated https://github.com/MarcusBarnes/mik/wiki/Toolchain:-CONTENTdm-compound-PDFs. Very sorry about that.

[2018-10-18 21:09] mjordan commented on #492
We need to establish that CONTENTdm still supports the ability to join PDF pages into a single multipage PDF file (it may have changed since this code was written). To do that we need to create a request URL using the code below (from [here](https://github.com/MarcusBarnes/mik/blob/master/src/filegetters/CdmPdfDocuments.php#L107)):

[code]

and see if we get a PDF from the server. So that would lo

[2018-10-18 21:18] mjordan commented on #492
If you don't mind sharing your CONTENTdm API URL with me I can take a look.

[2018-10-18 22:05] xing93111 commented on #492
@mjordan Here is the output:
[code]

[2018-10-18 22:12] mjordan commented on #492
You need the 'utils' subdirectory. Try:

`curl http://digicon.athabascau.ca/utils/getdownloaditem/collection/auarchives/id/499/type/compoundobject/show/1/cpdtype/document-pdf/filename/485.pdf/width/0/height/0/mapsto/pdf/filesize/0/title/Page%201`

[2018-10-18 22:47] mjordan commented on #492
At http://digicon.athabascau.ca/cdm/ref/collection/auarchives/id/499, if I wanted to download the entire document as a single PDF, how would I do that? I don't see a link that will allow me to do that. Is there an admin option that turns off that feature, and if so, do you have it turned off?

[2018-10-19 15:32] xing93111 commented on #492
I don't see a button allowing to download the entire compound object as a single PDF file and I don't find an option at the backend to turn it on/off. However, for this object: http://digicon.athabascau.ca/cdm/ref/collection/auriver/id/454, it has a download link. But I think it is a single object rather than a compound one.

[2018-10-19 15:51] mjordan commented on #492
Correct, that is a single-file object, not a compound.

[2018-10-19 16:22] xing93111 commented on #492
I think the manipulator has some problems. If I configure it like:
[code]
It does not work because the output of the MIK is:
[code]
It just filtered out the two records in the collection. Then, I changed the manipulator like this:
[code]
because I found the object types are
[code]
It does work but again I get corrupted PDF files because they are indeed XML files.

So I am thinking the manipulators

[2018-10-25 15:30] mjordan commented on #492
@xing93111 can you test compound PDF documents with MIK as it stood prior to #223 and the work that brought MIK in line with coding standards? Try commit 9c6b8c537f477fd82f20f3c6ba2563fcd30bd7f5. The compound PDF toolchain code at that commit is essentially how it stood when SFU migrated its compound PDFs (as far as the compound PDF document code anyway). You will need to adjust your .ini file to

[2018-10-25 21:01] xing93111 commented on #492
@mjordan I don't see the class named CdmPhpDocuments on this page: https://github.com/MarcusBarnes/mik/tree/9c6b8c537f477fd82f20f3c6ba2563fcd30bd7f5/src/filegetters. I suppose this is the commit you would like me to pull out the code. If no such class, the command line will definitely fail

[2018-10-26 14:13] bondjimbond commented on #492
@xing93111 You're looking at the current code rather than the code from the earlier commit. In your MIK directory:

`git checkout -b CdmPhpDocuments`

Then you'll need to `git reset --hard 9c6b8c5`

This will take you to the earlier commit... Look in src/filegetters to see what the filename is.

[2018-10-26 14:57] xing93111 commented on #492
I still don't see the class. Here are my commands:
[code]
Anything wrong?

[2018-10-26 15:34] mjordan commented on #492
I gave you the wrong commit hash. Try `b6b8f0a280509cdae4ff11324c99ef14ffad8781`, that puts the old filegetter back.

[2018-10-26 15:54] xing93111 commented on #492
@mjordan It seems `vendor` folder missed in this version of the code. Here is the output:
[code]

[2018-10-26 16:01] mjordan commented on #492
When I check that commit out, `vendor` is still there. Did you try running `composer update` after you checked out b6b8f0a280509cdae4ff11324c99ef14ffad8781?

[2018-10-26 16:02] MarcusBarnes commented on #492
Also good to run `composer dump-autoload` to regenerate the autoloading of classes.

[2018-10-26 16:08] xing93111 commented on #492
@MarcusBarnes got the `vendor` folder, but now:
[code]

[2018-10-26 16:16] mjordan commented on #492
Do you still get that error after running `composer dump-autoload`?

[2018-10-26 16:29] xing93111 commented on #492
After running `composer dump-autoload`, I have the `vendor` folder, but was caught by the above error `Commando\Command` not found.

[2018-10-26 16:36] mjordan commented on #492
What do you see if you run `ls vendor/nategood/commando/src/Commando/` from within the mik directory?

[2018-10-26 16:38] MarcusBarnes commented on #492
@xing93111 Following up on @mjordan comment, double check if it's in your composer.json file (it might have been added after the commit that we're working from).  If it's not there, over-write your exiting composer.json file with a copy of the latest composer.json file and then run `composer install`, the `composer dump-autoload`.

[2018-10-26 17:11] xing93111 commented on #492
The command line works now @MarcusBarnes. However, it still outputs corrupted PDFs as I mentioned above: https://github.com/MarcusBarnes/mik/issues/492#issuecomment-431150182

[2018-10-26 17:44] mjordan commented on #492
@xing93111 we could go back further in time until it works, but I am not convinced that your CONTENTdm is the same as SFU's was. Is there any way we can confirm that it can in fact allow a user do download a single multipage PDF from a compound PDF object?

[2018-10-26 17:50] bondjimbond commented on #492
@xing93111 More specifically... are there any objects where this is the case? And/or, can you try creating compound PDF object in your CDM with the option to download a full one?

If this is just a problem with the Athabasca CDM instance, it may be more productive to close the issue and just use the Automator scripts we discussed to convert the PDF pages to TIFFs.

[2018-10-26 17:57] mjordan commented on #492
Sorry, that is exactly what I think we need to confirm before looking closer at the MIK code. If we can confirm that the Athabasca CDM instance can produce multipage PDFs from compound single-page PDF documents, we will have narrowed the issue down to the MIK code, which we can then fix.

[2018-10-31 17:59] MarcusBarnes commented on #457
Addressed in pull-request https://github.com/MarcusBarnes/mik/pull/489 (merged with commit https://github.com/MarcusBarnes/mik/commit/38514834edb30b4a2513e0638605ea23560bb3e2).

[2018-10-31 17:59] #457 closed

[2019-01-21 20:55] bondjimbond opened #494 "CSV Compound Child metadata ignored"
I'm trying to run a Compound CSV job, and running into problems getting the metadata in child rows to end up in the child MODS.xml files. MIK is treating the objects as if they do not appear in the spreadsheet.

Here are my relevant config settings:

[code]
Am I missing some setting to allow MIK to read the child objects' metadata rows, or is MIK broken?

[2019-01-21 20:58] mjordan commented on #494
@bondjimbond I can take a look at this tonight. Can you share your metadata spreadsheet and mappings file with me via email?

[2019-01-21 21:11] bondjimbond commented on #494
Sorry @mjordan, I just figured out what the problem is.

So my CSV's child_key colum includes "1" for the first child, "2" for the second. Due, most likely, to annoying spreadsheet editor tendencies to auto-format numerical cells as numbers instead of text. The filenames, meanwhile, end in _01.tif and _02.tif.

MIK throws the error:

Because based on the filenames, MIK created directories named "0

[2019-01-21 21:14] mjordan commented on #494
Agreed that we should do something here. These two things are a good start, but I wonder if we should have a `--checkconfig` option for this as well.

[2019-01-21 21:15] bondjimbond commented on #494
Indeed!

[2019-01-21 21:20] mjordan commented on #494
Or possibly building a check into https://github.com/mjordan/iipqa.

[2019-02-05 04:41] mjordan opened #495 "Make extensions of page images configurable in CSV Book and Newspaper toolchains"
https://github.com/MarcusBarnes/mik/blob/master/src/filegetters/CsvBooks.php#L12 and https://github.com/MarcusBarnes/mik/blob/master/src/filegetters/CsvNewspapers.php#L11 hardcode `$allowed_file_extensions_for_OBJ = array('tiff', 'tif', 'jp2')`. But Islandora Book Batch (and I assume Newspaper Batch), can ingest pages that are JPEGs. We should allow the alllowed extenstions to be configurable, wit

[2019-02-05 15:38] mjordan opened #497 "Test using PHP 7.2 and 7.3"
We should try testing MIK using PHP 7.2 and 7.3.

[2019-02-13 18:47] bondjimbond opened #498 "CsvBooks doesn't like periods in filenames"
I got a bunch of files with names like this: `1987.0019.0039.0001.TIF`

I set `page_sequence_separator = .`

Result:

If I change the filename: `1987.0019.0039_0001.tif` and set `page_sequence_separator = _`, it works.

Hypothesis: using a period as a page sequence separator doesn't work because MIK reads ".tif" as the page rather than the extension.

Alternate hypothesis: MIK is reading `.0001.ti

[2019-02-16 17:41] mjordan commented on #498
I think this is more to do with using `TIF` as an extension that using a period. The validation error is coming from https://github.com/MarcusBarnes/mik/blob/master/src/inputvalidators/CsvBooks.php#L140. Coincidentally I opened  a PR (#496) two weeks ago that will let you indicate `TIF` as a valid file extension.

Just to be sure, can you change the filenames back to using periods as separators bu

[2019-02-16 18:08] mjordan commented on #498
Sorry, my logic is wrong. Change the extension to `tif` and try using periods as separators.

[2019-02-19 14:51] bondjimbond commented on #498
OK, a couple of tests:

Separator `_`, extension `tif` = success
Separator `_`, extension `TIF` = fail
Separator `.`, extension `TIF` = fail
Separator `.`, extension `tif` = success

So it looks like the uppercase/lowercase extension is the culprit.

But interestingly, it behaves very unpredictably in my set -- because the first record is not `.0001.tif` but instead `.0000.tif`.

The presence of t

[2019-02-19 15:04] mjordan commented on #498
@bondjimbond when you say "can also", are you saying that it behaves differently across runs of MIK with the same input data?

[2019-02-19 15:20] bondjimbond commented on #498
Yes... I was running with a text directory of just four images (0000.tif through 0003.tif).

The first few runs, it produced directories 1, 2, and 3.

Later runs, just 1 and 3.

Another later run, just 3.

After removing 0000.tif, it consistently produced 1, 2, and 3.

[2019-02-19 15:27] mjordan commented on #498
Could you zip up all your data and config files and send them to me so I can try to replicate that?

[2019-02-19 15:31] bondjimbond commented on #498
Sure, here's my test directory and ini file: https://vault.sfu.ca/index.php/s/ChGaez7NLOygY3w

[2019-02-19 15:35] mjordan commented on #498
OK, got it, I'll give it a try this evening.

[2019-02-19 15:41] mjordan commented on #498
Can you send me your mappings file?

[2019-02-19 15:47] bondjimbond commented on #498
Ack, of course, sorry
[barkerville_mapping.txt](https://github.com/MarcusBarnes/mik/files/2880742/barkerville_mapping.txt)

[2019-02-20 03:08] mjordan commented on #498
@bondjimbond Strangely, I can't replicate the behavior you are seeing. I ran MIK about 10 times and always got the same thing: page objects for pages 1-3 and an error indicating a problem with the `0000` file (`[...]` added by me):

[code]

The problem is coming from https://github.com/MarcusBarnes/mik/blob/master/src/writers/CsvBooks.php#L132-L134: since we trim all left padding 0s, we need somet

[2019-02-20 03:17] mjordan commented on #498
Although a check to see if `$page_number` is an empty string, and if it is, to create a `0` directory, might be a simple fix. But do you want `0` to be the first page number instead of `1`?

[2019-02-20 03:51] mjordan commented on #498
Just tried that, it worked:

[code]

MODS.xml for page 0 is:

[code]

MODS.xml for page 1 is:

[code]

[2019-02-20 14:36] bondjimbond commented on #498
That's exactly what I need! :)

[2019-02-20 15:12] mjordan commented on #498
OK, I can open a  PR for this if you want.

[2019-02-20 15:14] bondjimbond commented on #498
Please do!

[2019-02-20 15:17] mjordan commented on #498
I've made the same change to the CsvNewspapers writer and pushed up the issue-498 branch. I'll need to assemble some test data later but once I do that I'll open a PR.

[2019-02-27 20:08] #495 closed

[2019-02-27 20:16] mjordan commented on #495
I've updated the wiki pages for the CSV Books and CSV Newspapers toolchains to document how to use the new `allowed_file_extensions_for_OBJ` configuration option.

[2019-04-26 21:52] mjordan opened #500 "checkconfig doesn't detect missing CSV input file"
`php mik -c foo.ini --checkconfig all` does not detect a missing CSV input file, but if it is missing, running `mik` without `--checkconfig` results in an exception reporting it can't find the input file.

[2019-06-05 14:17] bondjimbond opened #501 "Simple Archive toolchain"
I've got a DSpace repository to migrate, and aside from OAI-PMH, the most promising of their export options seems to be the [Simple Archive format](https://wiki.duraspace.org/display/DSDOC3x/Importing+and+Exporting+Items+via+Simple+Archive+Format).

This provides a directory full of subdirectories, each subdirectory representing an object, containing the main object file (PDF or JPG or whatever),

[2019-06-05 14:20] MarcusBarnes commented on #501
Thank you @bondjimbond for the use-case.  If there are any other groups interested in using this kind of toolchain to migrate from DSpace, please chime in the comments so that I can gauge interest.  Thank you in advance.

[2019-06-05 17:07] bondjimbond opened #502 "OAI toolchain error: "Undefined namespace prefix""
See attached ini, mik.log and example metadata files...

I'm trying to pull down objects via the METS metadataPrefix, since it's the only one that contains useful information from the repository I'm targeting.

Problem: I'm getting the XML, but not the files. I've tried a few different XPaths, one of which should be valid according to [this handy tool](http://www.qutoric.com/xslt/analyser/xpathtoo

[2019-06-06 14:19] mjordan commented on #501
Looking at the Simple Archive Format now. You will likely need to write all of the components in a new toolchain as described at https://github.com/MarcusBarnes/mik/wiki/Information-for-developers#writingcomponents.

* The fetcher would get all of the directories that are immediate children of the `archive_directory`, and grab the DC file from within each item directory
* You might be able to use

[2019-06-11 13:42] bondjimbond commented on #502
And I can't even pull it out of the `xlink:href` attribute in the `FLocat` element...

So it turns out that XPath really doesn't like it if some of your elements (or attributes) have namespaces and others don't, or if you have a mix of namespaces.

Typical suggestion is to use the [`local-name()` function](https://examples.javacodegeeks.com/core-java/xml/xpath/xpath-local-name-example/) within you

[2019-06-25 20:32] bondjimbond opened #503 "OAI toolchain error: "No such file or directory""
I'm getting errors in the OAI toolchain as MIK wants to put them into folders that don't yet exist.

[code]

Are we missing a `mkdir` command or something?

[2019-07-02 19:01] bondjimbond opened #505 "OAI-PMH Filegetter only works for DC"
I want to extract objects from a repository using the MODS metadataPrefix, but I'm finding that I can't get the files.

It turns out that `src/filegetters/OaipmhXpath.php` only works when the metadataPrefix is DC:

[code]

We need to either make this file work for multiple metadataPrefix choices, or have a separate fileGetter for MODS.

[2019-07-02 19:07] mjordan commented on #505
@bondjimbond there is https://github.com/MarcusBarnes/mik/blob/master/src/metadataparsers/mods/OaiToMods.php. If you use

[code]

in conjunction with

[code]

(or whatever the correct metadataPrefix value is) what happens?

[2019-07-02 19:41] bondjimbond commented on #505
[code]

And if I leave the METADATA_PARSER section at `dc\OaiToDc` it's the same...
[code]

[2019-07-04 18:54] bondjimbond commented on #505
@mjordan Really this is about the FileGetter and not the MetadataParser, isn't it? The problem is that I use an XPath to find the link to download, but XPath can't recognize it because the FileGetter defines a Dublin Core namespace and not a MODS namespace.

[2019-07-04 19:11] bondjimbond commented on #505
I added a new filegetter to #504 to address this. No longer saying "undefined namespace prefix" -- now it's just saying "No content file found in oai-pmh record".

[2019-07-04 21:15] mjordan commented on #505
@bondjimbond Since you're requesting MODS over OAI, is it safe to assume that you're source repository is Islandora? If so, then yes, I think we should just be grabbing the MODS datastream as a file and not get tangled up in metadata parsers. In that case, we can just fetch the MODS datastream using the (working?) DC metadata parser and then throw away the resulting DC XML files.

I was sure that

[2019-07-05 14:08] bondjimbond commented on #505
@mjordan Nope, it's actually a DSpace repository. They've got decent MODS, though, so it's nice to be able to pull that down and tweak it instead of extracting DC and then trying to reverse engineer roleTerms etc.

[2019-07-05 16:33] mjordan commented on #505
Does DSpace's MODS have a predictable URL where you can download it (as per my last comment) or do you need to get it via OAI as metadata?

[2019-07-05 16:47] bondjimbond commented on #505
You need to get it via OAI, unfortunately. The filename is made of some mix of parts of the title and some seemingly arbitrary numbers.

[2019-07-05 16:50] mjordan commented on #505
Can you send me the OAI endpoint via email?

[2019-07-05 16:55] bondjimbond commented on #505
The .ini file is attached to #502

[2019-07-05 16:57] bondjimbond commented on #505
Also, here's an example file link: http://mruir.mtroyal.ca/xmlui/bitstream/11205/98/1/Human+Rights+Software.pdf

I think the `11205/98/1` is the handle, but the filename is not really predictable.

[2019-08-21 15:05] bondjimbond commented on #501
@mjordan @MarcusBarnes It's starting to look like this is going to be the best approach... their implementation of OAI is too weird for MIK to handle as-is.

I don't see a DC-to-MODS metadata parser. Would creating a Twig template make sense here?

This is a sample DC XML file:

[code]

[2019-08-21 15:53] bondjimbond commented on #501
@mjordan So trying to figure out what is needed for a new toolchain like this... I'm not 100% certian what each component does, so this might be inaccurate.

We'll need a new Fetcher for sure... Perhaps the Filesystem fetcher can be tweaked? It will need to get a list of subdirectories, use the subdirectory names as identifiers, and fetch the dublin_core.xml file (and rename it to the identifier I

[2019-08-21 16:37] mjordan commented on #501
@bondjimbond admittedly, the required methods, etc. of each type of class are not thoroughly documented, but the "Required properties and functions in subclassed components" section of https://github.com/MarcusBarnes/mik/wiki/Information-for-developers (which you probably have already seen) does provide some detail.

A twig template for the metadata parser is a good idea, but since you're getting

[2019-08-21 17:16] bondjimbond commented on #501
@mjordan Yes, so long as it's good enough to meet our requirements. LoC transforms are often inadequate.

This is the latest one: https://www.loc.gov/standards/mods/v3/DC_MODS3-5_XSLT1-0.xsl

Have we got a way in MIK to apply an XSLT to a metadata file?

[2019-08-21 17:29] mjordan commented on #501
I can help with that.

[2019-08-21 17:33] bondjimbond commented on #501
Thanks. :) I think I'm going to need a lot of help developing this..

[2019-08-30 18:52] bondjimbond commented on #501
@mjordan Those are the same lines... Which are the ones that need changing?

I'm working on some of these, but operating blind until I test them, I guess. I may have some questions for you soon.

[2019-08-30 19:21] bondjimbond commented on #501
@mjordan Well I'm giving it a shot, but I do foresee a lot of failure.

First attempt crashed out on the Fetcher with a very unhelpful error message:

[code]

[Filesystem_Subdirectories.php.txt](https://github.com/MarcusBarnes/mik/files/3561233/Filesystem_Subdirectories.php.txt)
[mods.xsl.txt](https://github.com/MarcusBarnes/mik/files/3561234/mods.xsl.txt)
[mru_xsl.ini.txt](https://github.com/Marc

[2019-09-02 22:38] mjordan commented on #501
@bondjimbond I've done a bit of work to these and am attaching a zip containing my versions. Your .ini should work with them. This toolchain produces output, but the .xml files are not being created properly. The stylesheet is not transforming the dublin core in each item's dublin_core.xml file to MODS.

[mik501code.zip](https://github.com/MarcusBarnes/mik/files/3567173/mik501code.zip)

[2019-09-03 15:27] bondjimbond commented on #501
Thanks, @mjordan! I don't get output with these, but I do get errors that produce possibly helpful direction.

[code]

At line 78 I have this code:
`        $xslt = file_get_contents($this->xslt_stylesheet_path);`

In my .ini file, I have:
`stylesheet = "mru/mods.xsl"`

I had originally had this without quotes, but it's the same result. The actual mods.xsl file is in mik/mru/mods.xsl.

Is there so

[2019-09-03 15:33] bondjimbond commented on #501
Update: It's not the path. Same error even if I set the path to stylesheet = "/users/Brandon/sfuvault/mik/mru/mods.xsl"

[2019-09-03 15:54] bondjimbond commented on #501
Update again: Problem seems to be the code... `$xslt = file_get_contents($this->xslt_stylesheet_path);` kills the whole function (tested with `print` statements before and after). But `$xslt = file_get_contents("/users/Brandon/sfuvault/mik/mru/mods.xsl");` actually produces results (albeit problematic ones).

[2019-09-03 16:38] bondjimbond commented on #501
One more update:

I tried using standard DC files and the standard LOC transform. If I hard-code line 78 of `Xslt.php` to the standard DC-to-MODS XSL, it works!

So there are two tasks ahead...

1. For the toolchain, make it accept a transform file from the .ini settings
2. For my own stuff, make the DC and XSLT match

[2019-09-03 17:07] mjordan commented on #501
@bondjimbond can you make the following change to see if it resolves the path issue? Change `file_get_contents($this->xslt_stylesheet_path);` to `file_get_contents(realpath($this->xslt_stylesheet_path));` and then try to use `stylesheet = "mru/mods.xsl"` in your config?

[2019-09-03 17:14] bondjimbond commented on #501
@mjordan New error: "Filename cannot be empty" (referring to same line)

[2019-09-03 17:17] mjordan commented on #501
Hm, it worked for me. It is possible I zipped up the wrong file. Anyway, my laptop is at home so I won't be able to investigate until this evening. Sounds like we're making progress though.

[2019-09-03 17:21] mjordan commented on #501
Just opened the zip to take a look. Problem is in line 20 of the metadataparser. Can you change it to `$this->xslt_stylesheet_path = realpath($settings['METADATA_PARSER']['stylesheet']);`?

[2019-09-03 17:27] bondjimbond commented on #501
Awesome, that worked! Thanks!

So I think this means the toolchain is pretty much ready to go -- except that my XSLTs don't work for the dublin_core.xml files that I have.

Guess it's time to figure out how to write custom ones...

Or could these files also be used with Twig, hopefully without modification?

[2019-09-03 17:36] mjordan commented on #501
Nice!

To avoid using XSLT and just use plain old Twig, you'd have to parse out the values from the incoming DC XML. Not sure if doing that is preferable to tweaking the existing XSLT stylesheet.

[2019-09-03 17:40] mjordan commented on #501
I'd be willing to try to tweak the XSLT if you want.

[2019-09-03 17:49] bondjimbond commented on #501
That would be extremely helpful, thanks. The XSL is attached.

[mods from MRU.xsl.txt](https://github.com/MarcusBarnes/mik/files/3570762/mods.from.MRU.xsl.txt)

It looks like the XSLT we got from MRU is based on a different DC record than the one that comes from the Simple Archive format. Simple Archive DC elements look like this:

`<dcvalue element="contributor" qualifier="author" language="">Sal

[2019-09-03 17:49] mjordan commented on #501
Can I use any of the DC XML files in the sample simple archive you sent me earlier?

[2019-09-03 17:52] bondjimbond commented on #501
Yep! They're all real data.

[2019-09-04 03:09] mjordan commented on #501
It's not perfect (for example, it only picks up a single subject) but it's a good start.

[mods.xsl.txt](https://github.com/MarcusBarnes/mik/files/3572522/mods.xsl.txt)

[2019-09-04 13:34] bondjimbond commented on #501
That's fantastic. Thanks, @mjordan! I'll see if I can figure out how to get all instances of a given element.

[2019-09-04 13:39] mjordan commented on #501
Wrapping the rule in a for-each is the standard way but it doesn't seem to be working here.

[2019-09-04 14:17] bondjimbond commented on #501
I'm just looking at one of the files (ajp-v4-id1057.xml), but it seems to be handling the multiple subjects just fine.

I am seeing a weird problem, though, with `<dcvalue element="publisher" qualifier="none" language="en_US">` getting mapped both to `<mods:publisher>` and `<mods:genre>`, and `<dcvalue element="publisher" qualifier="uri" language="en_US">` mapping just to `<mods:genre>`.

I'll do

[2019-09-04 15:03] bondjimbond commented on #501
@mjordan Regarding your subject problem - here's where you're going wrong:

`<xsl:for-each select="dcvalue[@element='subject' and @qualifier='none' or qualifier='lcsh']">`

You can't have an AND and an OR in the same line in XSL. These need to be in two separate select statements.

I'll have this finished soon and upload a new XSL file just for the record.

[2019-09-04 15:10] bondjimbond commented on #501
Also, the line omits the `@` in `@qualifer='lcsh'`

[2019-09-04 15:18] bondjimbond commented on #501
Update: Nope, that's not the only problem. Sigh. More digging to do...

[2019-09-04 15:24] bondjimbond commented on #501
Here's my updated XSLT -- everything working except, it seems, subjects.

Subjects with `qualifier="none"` work just fine, while subjects with `qualifer="lcsh"` are no good. I can't figure out why.

[mods_fixed.xsl.txt](https://github.com/MarcusBarnes/mik/files/3575263/mods_fixed.xsl.txt)

[2019-09-04 15:46] bondjimbond commented on #501
And if I just remove the attribute stuff from the subject entry, it works with no problems. Bizarre.

[2019-09-04 15:50] mjordan commented on #501
Ha, that's XSLT in a nutshell. I'm glad you got it working.

Once you're happy with the new toolchain components (and of course you have the stylesheet you need), let's review what we have and see if it's consistent with the other toolchains. Then, someone should document the new components... any opinions on any of this @MarcusBarnes ?

[2019-09-04 15:56] bondjimbond commented on #501
Update again: I have no idea why this worked, but behold a working XSLT with subjects and authorities!

[mods_allgood.xsl.txt](https://github.com/MarcusBarnes/mik/files/3575414/mods_allgood.xsl.txt)

Will put the toolchain files together in a ZIP next and let you review. Or should this just go in a PR?

[2019-09-04 15:59] mjordan commented on #501
I'll review first, then you can open a PR.

[2019-09-04 15:59] mjordan commented on #501
Nice work BTW.

[2019-09-04 16:05] bondjimbond commented on #501
Files for testing then... Adjust paths in .ini file as required. Should work with the Simple Archive export sample at the start of this issue. My output is attached as well.

[output.zip](https://github.com/MarcusBarnes/mik/files/3575445/output.zip)

[Filesystem_Subdirectories.php.fetcher.txt](https://github.com/MarcusBarnes/mik/files/3575437/Filesystem_Subdirectories.php.fetcher.txt)
[mods.xsl.tx

[2019-09-04 17:45] bondjimbond commented on #501
Ran this on my full export, and there were some problem files.

The attached folder can be added to the sample group. Its output ended up giving me 0-IGDA-Curriculum.pdf.txt instead of 0-IGDA-Curriculum.pdf. So something wrong with the filegetter, I think.

[214.zip](https://github.com/MarcusBarnes/mik/files/3575815/214.zip)

[2019-09-04 17:47] mjordan commented on #501
Look in the "content" file for that item. If it doesn't list the PDF as the first item, that would explain it.

[2019-09-04 17:56] bondjimbond commented on #501
Yep, that's the case. So how do we fix that?

My initial attempt used the (new) `filetype` setting and searched for items with the appropriate extension. But that isn't necessarily the best approach...

Perhaps a better way would be to simply extract everything listed in `contents` excluding license.txt and license.rdf?

Would Islandora Batch recognize a bundle of PDF, XML, and TXT as OBJ, MODS, a

[2019-09-04 17:59] mjordan commented on #501
If we know that the rows in the 'contents' file are not in any specific order, my approach would be to parse each line into an associative array and picking out the specific key that we want. I can take a look this evening or tomorrow morning.

[2019-09-04 18:01] mjordan commented on #501
WRT your question "Would Islandora Batch recognize a bundle of PDF, XML, and TXT as OBJ, MODS, and OCR?", I don't think so. https://github.com/mjordan/islandora_batch_with_derivs does though, and this toolchain's writer could have an option to write out the packages in the format that batch module requires.

[2019-09-04 18:08] bondjimbond commented on #501
For this option, would the `filetype` parameter come back into play, then? This would provide the associative array the input required to make a decision on which file to extract.

I also got a bunch of items that could only be conceived of as Compound Objects, which have more than one of a given filetype.. But these will need a separate version of the toolchain, I think. Simple one first.

[2019-09-04 18:28] bondjimbond commented on #501
@mjordan This tweak seems to solve the problem.

[SimpleArchive.php.filegetter.txt](https://github.com/MarcusBarnes/mik/files/3575954/SimpleArchive.php.filegetter.txt)

[code]

[2019-09-04 19:04] mjordan commented on #501
If that works on all known variations of the manifest file, excellent. How consistent can we assume that file's structure is?

[2019-09-05 13:14] bondjimbond commented on #501
For single-file objects, I think it's pretty sound. The problem is when you get into multi-file objects... for example:

[code]

I'm thinking, start with a simple single-file toolchain. Once that's working well, create a more expansive copy that deals with compound objects.

My absolute ideal would be one toolchain that covers the whole Simple Archive export. It would look like this:

- Reviews th

[2019-09-05 14:33] mjordan commented on #501
Agreed, let's start simple and expand later. From my reckoning we now have two new components that could be used in other toolchains:

1. Filesystem_Subdirectories fetcher
1. Xslt metadata parser

and two new components that are specific to the DSpace Simple Archive Format:

1.  SimpleArchive filegetter
1. SimpleArchive writer

Let's do some cleanup (remove `var_dump()`, etc.) and code style check

[2019-09-05 14:34] mjordan commented on #501
@bondjimbond when you say "Processes single-file objects and puts them into new directories according to file extension" in your "Ideally...." list, are you suggesting that the Simple Archive toolchain be used with https://github.com/mjordan/islandora_batch_with_derivs?

[2019-09-05 14:56] mjordan commented on #501
One way to approach the compound requirement is to make only the filegetter and the writer aware that some items might need to be split out into compounds. That way, the general components, the fetcher and metadata parser, won't even need to know about compounds in the input.

Specifically, the filegetter currently parses the manifest, which is where the distinction between compound and single is

[2019-09-05 15:08] bondjimbond commented on #501
Not necessarily... Just to create Islandora Batch-ready packages.

e.g. in my export, I have PDFs, videos, MS Office files, and images. Batch only handles one CModel at a time, so I want to send each object to a subdirectory that reflects its CModel. I think you created a post-write hook for this?

However, it would be nice to have the option to include the .pdf.txt file (the OCR) for use with isl

[2019-09-05 15:08] bondjimbond commented on #501
Yes!

[2019-09-05 15:51] mjordan commented on #501
Oh yeah, sorry, I understand "according to file extension" now. https://github.com/MarcusBarnes/mik/blob/master/extras/scripts/postwritehooks/move_packages_by_extension.php is the one that does that.

[2019-09-05 16:13] mjordan commented on #501
Just thought of something: before we add the Filesystem_Subdirectories fetcher, let's see what it would take to make the existing Filesystem fetcher do the same thing if an .ini option was set. It might just be a few if/else blocks in the Filesystem fetcher code.

[2019-09-05 16:37] bondjimbond commented on #501
It's probably doable. In Filesystem_Subdirectories there are just a few changes...

* Removed `$this->record_key = 'ID';` at line 19
* Added empty array `$records = array();` at line 43
* Substantive changes to lines 49-50 (`is_dir` instead of `is_file`, change to how `$record->key` is set)
* Lines 55-67: Commented out all of the `$filtered_records` stuff because it was causing problems; just retu

[2019-09-06 14:23] mjordan commented on #501
Let me take a stab at a single version of the fetcher over the weekend.

[2019-09-11 14:54] bondjimbond commented on #501
Any luck @mjordan?

[2019-09-17 14:40] mjordan commented on #501
I've flip flopped on this. The new toolchain seems to be pretty much complete and I don't think it's worth combining the two fetchers, since we'd need to test that the integrated Filesystem fetcher still works as it currently does. Plus, I'm going on vacation for two weeks and that will just hold you up even more.

[2019-09-17 14:53] bondjimbond commented on #501
Sounds good to me. So I will commit my changes and submit a PR.

[2020-02-12 19:51] bondjimbond opened #507 "Mysterious mapping error?"
When running with `--checkconfig all`, I'm suddenly getting an odd error with the mapping file:

`Error: Mapping snippet +ACI-+ADw-titleInfo+AD4APA-title+AD4AJQ-value+ACUAPA-/title+AD4APA-/titleInfo+AD4-+ACI- appears to be not well formed`

This mapping file has worked fine the previous times I've run MIK, and no changes to the Title section were made. Any idea what's happening here?

[Archive.zip

[2020-02-13 14:08] bondjimbond commented on #507
In fact, all my mappings - hitherto just fine - are now "not well formed".

[2020-02-13 14:52] mjordan commented on #507
@bondjimbond sorry, I don't have time to test, but can you clarify that if you use MIK to generate content (i.e, not run its checks), do things work as expected? Perhaps the problem is with the check code. But, as to why it would suddenly stop working like it used to, I have no idea.

[2020-02-13 14:55] bondjimbond commented on #507
Nope, it crashes out.

[code]

[2020-02-13 15:01] mjordan commented on #507
Have their been any code changes since it stopped working?

[2020-02-13 15:02] bondjimbond commented on #507
None. The only difference is that I am running the same .ini file with a new metadata CSV -- but no changes to the mapping file, which is the file that's throwing errors.

[2020-02-13 15:09] mjordan commented on #507
I'm sorry, I can't think of why that is happening. Not sure if @MarcusBarnes has any insights.

[2020-02-13 16:13] bondjimbond commented on #507
Ack, looks like an OpenOffice problem. Somehow it's saving my files without quoting the cells, even though they're opening with quotes. What the heck.

[2020-02-13 16:13] #507 closed

[2020-02-13 16:43] bondjimbond commented on #507
What happened:

- Allowed my Mac to install Numbers
- Numbers made itself the default program for CSVs
- ???
- Numbers messed up my recently-opened CSVs even though they were only opened and saved with OpenOffice

Solution:
- Make sure CSV default is OpenOffice
- Copy an older mapping CSV
- Rewrite
- Seems to work now

[2020-02-14 14:58] mjordan commented on #507
Good to hear it was a Numbers problem. Can't go wrong with LibreOffice, in my experience.

[2020-03-06 15:03] bondjimbond commented on #503
I think the real problem here is that MIK is not escaping the special character found in the recodr identifier. The ID in this case is "oai_mruir.mtroyal.ca_11205/434" -- which is really terrible. Maybe we can escape the IDs when creating files?

[2020-03-11 13:53] bondjimbond opened #508 "OAI: If item identifier has special characters, temp metadata filename doesn't match filegetter"
I'm doing an OAI migration, and running into problems in `src/fetchers/Oaipmh.php`.

The Fetcher assumes that the `$identifier` and `$record_key` are the same value, but they aren't necessarily.

If the item identifier contains special characters (e.g. `oai:thisvancouver.vpl.ca:islandora_1910`), MIK treats it differently in different contexts.

When writing the temporary metadata files: https://gi

[2020-03-11 14:03] bondjimbond commented on #508
Trying to find where $record_key is first defined.

[2020-03-11 14:08] mjordan commented on #508
I've never liked the fact that the OAI identifiers are so ugly and complex. There is a [spec for OAI-PMH identifiers](http://www.openarchives.org/OAI/2.0/guidelines-oai-identifier.htm), that defines identifiers using the pattern ` oai-identifier = scheme ":" namespace-identifier ":" local-identifier`. (Note that "namespace" here is not related to Fedora namespaces, it identifies the source OAI rep

[2020-03-11 14:22] bondjimbond commented on #508
That sounds reasonable to me. Where are you thinking of doing this, and what would the function be?

For a quick and dirty patch, I'm thinking the convert-to-underscore would have to happen here: https://github.com/MarcusBarnes/mik/blob/master/src/fetchers/Oaipmh.php#L80-L82

That might just do the job... What do you think?

[2020-03-11 14:45] bondjimbond commented on #508
OK, I've made a change. In that section:

[code]

This seems to work; I'm getting files! Unfortunately, the files are not being written to the directories that are created... Weird.

[2020-03-18 14:46] mjordan opened #510 "Islandora 8: Create a toolchain that produces YAML config files for CSV migrations"
https://github.com/Islandora/migrate_islandora_csv describes how to use Drupal's Migrate framework to batch ingest into Islandora 8 from CSV. Doing so requires the creation of a [set of YAML config files](https://github.com/Islandora/migrate_islandora_csv/tree/dev/config/install).

Creating a CSV metadata file is easy, but creating corresponding YAML not so much. MIK to the rescue! We could create

[2020-03-18 15:33] MarcusBarnes commented on #510
This makes MIK completely relevant to Islandora 8.  Love this.

[2020-03-31 15:28] #501 closed

[2020-04-20 15:31] bondjimbond opened #511 "CsvCompound fails to create directories"
If your output directory doesn't exist, `checkconfig all` will tell you "The path /Path/To/Target/(defined in configuration setting output_directory) does not exist but will be created for you."

This is not true. If you run MIK, you get errors:

[code]

This is because the target directory doesn't exist, and MIK fails to bother creating it.

A `mkdir` in the writer, just like the other writers, s

[2020-04-20 17:25] mjordan commented on #511
@bondjimbond the place for these shared functions is in the Writer abstract class, https://github.com/MarcusBarnes/mik/blob/master/src/writers/Writer.php.

[2021-08-16 15:51] bondjimbond opened #512 "Delimiter problem in CSV Newspapers toolchain?"
Strange error coming up when I try to process a Newspaper CSV. I can't understand what's wrong with my delimiters. It looks like there's some hidden issue in my CSV file perhaps. Any ideas?

[code]

[CSVs.zip](https://github.com/MarcusBarnes/mik/files/6993686/CSVs.zip)
[newspapers.ini.zip](https://github.com/MarcusBarnes/mik/files/6993690/newspapers.ini.zip)

[2021-08-16 16:01] MarcusBarnes commented on #512
To possibly assist with debugging, note that the error created by preg_match() happens here https://github.com/MarcusBarnes/mik/blob/12cdadd9a6e334043679f064f32ecd6c146842b7/src/filegetters/CsvNewspapers.php#L161

[2021-08-16 16:23] bondjimbond commented on #512
@MarcusBarnes do you think it's a code problem, or likely something I'm missing in the `.ini` file? I can't see anything wrong with my CSV.

[2021-08-16 16:24] MarcusBarnes commented on #512
Not sure yet.  I'll share if I have any leads to for you to follow up on.

[2021-08-17 15:01] bondjimbond commented on #512
Is it applying the directory regex to the metadata for some reason?

`\"key\":\"46\",\"Directory\":\"1946-11-20\",\"Identifier\":\"ASMN-001216\`

It looks like it's inserting the `DIRECTORY_SEPARATOR` in between the metadata keys and values for reasons I can't grasp.

[2021-08-17 16:24] MarcusBarnes commented on #512
@bondjimbond Based on the second error message, would you check that the filename and access permissions on /Volumes/UFV_FILES/UFV-ASMN-1946/1946/  that corresponds to key 46 are all correct and that there's nothing there that is suspicious?

Another approach to debugging is adding some print_r statements just before the https://github.com/MarcusBarnes/mik/blob/12cdadd9a6e334043679f064f32ecd6c1468

[2021-08-17 19:01] bondjimbond commented on #512
Hm, I tried `print_r` both inside and outside of the loop, but nothing printed.

[2021-08-17 19:05] bondjimbond commented on #512
File permissions all look OK: `-rwxrwxrwx`

[2021-08-17 19:06] MarcusBarnes commented on #512
@bondjimbond Try using dump() instead? https://github.com/MarcusBarnes/mik/blob/master/src/utilities/Dumper.php

[2021-08-17 19:11] bondjimbond commented on #512
How does that work? If I try `dump($path)` I get `fatal error: Uncaught Error: Call to undefined function mik\filegetters\dump()`

[2021-08-17 19:30] bondjimbond commented on #512
OK, `var_dump` worked. Here are the results for `$path` and `$directory_regex`:

[code]

[2021-08-18 14:29] bondjimbond commented on #512
So based on this error: `Delimiter must not be alphanumeric or backslash`, is MIK interpreting the backslash that is added by the regex function as a delimiter rather than as an escape character?

[2021-08-18 15:17] bondjimbond commented on #512
The last time I sued CsvNewspapers it worked -- wondering if the problem comes from a commit between then and now?

I see there's a commit that affects the directory path here: https://github.com/MarcusBarnes/mik/commit/47884d71ad16c44a4dbbbc98cf58edd0879cdc55#diff-35c8aa40361be605efe8d8fa1a65bf7affad5853bfa9e003c5d318196b7f4f8c

Wondering if that might be the cause..

[2021-08-18 15:20] bondjimbond commented on #512
No -- tried reverting that file to the older state, continuing to get the same error.

I also tried rewriting the `.ini` file from scratch, no change.

[2021-08-19 14:14] bondjimbond commented on #512
Noticing now there are some other bits in `mik.log` that are looking troublesome:

`ErrorException.ERROR: ErrorException {"message":"Undefined index: metadata_filename"`
and
`[2021-08-19 14:10:57] ErrorException.ERROR: ErrorException {"message":"problem instantiating writer class","details":"[object] (mik\\exceptions\\MikErrorException(code: 0):  at /Users/brandon/sfuvault/mik/mik:105)"} []`

My `

[2021-08-19 14:19] bondjimbond commented on #512
The undefined index error in more detail:

[code]

[2021-08-19 14:48] bondjimbond commented on #512
The problem has to be here, right? `"directory_regex":"\\#1946\\-01\\-09\\#"`

I added a before-and-after `var_dump` to see what happens to the `$directory_regex` variable here:

[code]

and this is what I see:

[code]

While in `mik.log` the backslash -- which is intended to escape the hyphen -- is doubled up. So it looks like the escaping happens twice somehow, which is probably the cause of thi

[2021-08-19 14:49] bondjimbond commented on #512
SUCCESS

I removed the `preg_quote` line, and now MIK runs successfully.

[2021-08-19 15:16] #512 closed

[2022-07-19 15:40] bondjimbond opened #519 "Mysterious failures in the CSV Newspaper toolchain"
I'm hitting errors that I can't figure out with some objects I'm processing.

Five of the Newspaper Issues in this set error out: record numbers 34, 37, 71, 72, and 76.

Their metadata is no different from the pages that process without issue:
![Screen Shot 2022-07-19 at 11 17 34 AM](https://user-images.githubusercontent.com/6069170/179787161-d39f3128-f550-42e2-bdcb-33f4556520cf.png)

No unusual c

[2022-07-21 15:36] bondjimbond commented on #519
I have traced these failures to several different factors:

- The existence of a `Thumbs.db` file, automatically created by Windows, which might be throwing off MIK
- The existence of those random hidden files (like `._2002-11-03-003.tif`)
- The use of an uppercase file extension (`.TIF instead of .tif`) also throws a failure

We should of course be getting clean data from digitizers, but that cle

[2022-07-21 15:50] mjordan commented on #519
Thumbs.db is skipped in some toolchains:

[code]

Maybe try to run the remove_files.php script to get rid of them? I think the case of the extension doesn't matter, but I haven't checked the code to confirm that. And yes, we can modify the toolchain to skip them.

[2022-07-21 15:57] bondjimbond commented on #519
I've been going through my massive batch of files to process, and while MIK isn't showing any actual errors in the log anymore after I removed all those hidden files, there is still a set that aren't processing and do show up in the problem_records file.

The only difference between these files and the others is the uppercase `.TIF` extension.

After changing the extension from uppercase to lowerc

[2022-07-21 15:59] mjordan commented on #519
:+1: then let's make the file extension case irrelevant!

[2022-07-21 16:04] bondjimbond commented on #519
Do you know offhand which file needs to be edited for this? I can give it a shot.

[2022-07-21 16:51] MarcusBarnes commented on #519
@bondjimbond Here's where the tiff file extensions for newspapers are defined:     https://github.com/MarcusBarnes/mik/blob/dd26fa8ff7892f1cca61c6e66e0fc90235fb23b1/src/filegetters/CdmNewspapers.php#L49

Probably the best way to approach this is where ever else $allowed_file_extensions_for_OBJ is used, use strtolower when doing the file extension comparison check.  This would handle other cases wh

[2022-07-21 16:52] MarcusBarnes commented on #519
The quicker fix is just to add TIFF and TIF to $allowed_file_extensions_for_for_OBJ.

[2022-07-21 17:05] bondjimbond commented on #519
@MarcusBarnes Perfect, thanks!