[2015-04-26 16:52] mjordan opened #1 "Remove .php extension from mik.php and add shebang"
Let's rename mik.php to mik, and add an 'env' shebang as in this example:

[code]

That way if mik is executable we can run:

`mik --config=foo.ini`

If it's not executable, `php mik --config=foo.ini` will still work.

[2015-05-04 19:30] MarcusBarnes opened #2 "Handle multiple input directories in FILE_GETTER configuration"
In the case that the files that will be used for the OBJ streams for a particular collection are spread across multiple directories, provide a way to handle multiple input directories in the FILE_GETTER configuration.  (In particular, see the CdmNewspaper->getIssueMasterFiles method.)

[2015-05-05 00:01] MarcusBarnes opened #3 "Make HTTP requests more robusts against network connectivity and latency issues"
Currently, MIK is uses several methods that use the [file_get_contents] (http://php.net/manual/en/function.file-get-contents.php) function.  This makes MIK particularly susceptible to network connectivity (say, if the network cuts out momentarily) and latency issues for larger collections.  Below are some suggestions for approaches that may make MIK more robust against these network issues when re

[2015-05-06 06:41] mjordan commented on #3
Guzzle has a component called Retry-Subscriber (https://github.com/guzzle/retry-subscriber) that looks like it should be useful. Can be installed via composer.

[2015-05-11 15:43] mjordan commented on #1
Works as intended.

[2015-05-11 15:43] #1 closed

[2015-05-11 15:46] mjordan opened #4 "Provide sample CONTENTdm to MODS mapping file"
Provide a sample file to populate the mapping_csv_path value in config files. Running mik without a mappings file results in this error:

[code]

[2015-05-12 05:05] mjordan opened #5 "Use the CLImate library to add a progress bar"
CLImate provides a method to add a progress bar (http://climate.thephpleague.com/terminal-objects/progress-bar/) to PHP CLI scripts. Might prove to be a bit more concise than just scrolling print statements off the console.

[2015-05-12 19:48] MarcusBarnes commented on #5
Very cool.  Great suggestion.

[2015-05-12 19:54] MarcusBarnes commented on #4
A basic sample CONTENTdm to MODS mapping CSV file was added in commit c301ea7898f54fb90ff0de82a943a2c90471049e

Please set mapping_csv_path to the be the path to this file in your configuration file under the METADATA_PARSER section.

[2015-05-12 19:54] #4 closed

[2015-05-15 19:09] MarcusBarnes commented on #2
This enhancement issue was addressed in commit 3384ec3f412f92984f1e796c353163808bec1fb8.

[2015-05-15 19:09] #2 closed

[2015-05-15 19:26] MarcusBarnes opened #6 "Ability to set metadata and file manipulators in configuration file"
Engineer a way to have metadata and file manipulators processes metadata and files appropriately by simply setting them in the configuration file.

[2015-05-15 19:36] MarcusBarnes opened #7 "Simplify mappings file and related code"
A mapping file will also be necessary for non-CONTENTdm sources.

Task: Simplify the mapping structure.  For example, using these columns:

source field label | language of field | target element | note
------------------------| ---------------------- | --------------------| ------------

The 'Language of field' and 'note' columns would be optional.

Thank you to @mjordan for the suggestions.

[2015-05-15 19:37] mjordan commented on #6
+1 on this. I could come up with some use cases if that would help.

[2015-05-15 19:39] MarcusBarnes commented on #6
Thank you.  Use cases would help.  Additional suggestions for needed or desired filemanipulators and metadatamanipulators would be best added as additional issues with the ToDo label.

[2015-05-15 20:02] MarcusBarnes opened #8 "'metadata_filename' option missing from the WRITER section of the default configuration file"
The 'metadata_filename' option missing from the WRITER section of the sample default.config.ini file.

[2015-05-15 20:06] MarcusBarnes commented on #8
Updated default.config.ini to have the metadata_filename option under the WRITER section. See commit 032782193fc362082e3e8361834ca548bdc92458 for details.  Thanks to @mjordan for spotting that the option was missing.

[2015-05-15 20:06] #8 closed

[2015-05-15 21:35] MarcusBarnes opened #9 "If the mappings file contains a row for a field that is not in the source collection, a non-fatal error is triggered."
If the mappings file contains a row for a field that is not in the source collection, a series of errors is triggered (for example, in CdmtoMODS). (The mappings are human-made and a row for a field may not match due to spelling differences, absences, or other reasons.)

Suggested fix: add a check (in CdmtoMODS) to ensure that the $CONTENTdmField key is present in the $CONTENTdmFieldValuesArray arr

[2015-05-15 22:21] mjordan commented on #6
Manipulators should be reusable across source-to-target combinations. Some use cases:

filemanipulators: 1) create a TN datastream from an image, PDF or video OBJ datastream, 2) create a PDF from an image OBJ or other datastream, 3) create a TIFF from a JPEG2000 OBJ datastream, 4) validate an XML datastream.

metadatamanipulators: 1) take any date value and convert it to yyyy-mm-dd, 2) take any pe

[2015-05-17 17:31] mjordan opened #10 "Special characters in metadata field values need to be encoded"
&, <, >, etc. in metadata field values need to be encoded or MODS generation breaks.

[2015-05-17 17:42] mjordan opened #12 "Call to $writer->writePackages() in mik should have a $record_id parameter"
Passing a $record_id parameter to $writer->writePackages($metadata, $child_pointers); will give us convenient access to a unique ID to use for single-file content model ingest packages. Only backward compatibility issue will be at writers/CdmNewspapers.php line 57, but that is easily fixed by adding the new parameter to the end of writePackages().

To summarize, the call to $writer->writePackages(

[2015-05-17 18:27] mjordan opened #14 "Add function-level documentation"
I can't find any reference in the PSR standards for documenting methods/functions (although I didn't look too hard). If PSR doesn't provide any guidance, I recommend we adopt Drupal's documentation style (https://www.drupal.org/coding-standards/docs#functions).

[2015-05-18 22:59] MarcusBarnes commented on #14
Section 7 - Conclusion of  http://www.php-fig.org/psr/psr-2/ indicates that recommendations for comments and documentation blocks were intentionally omitted (for the time being).  Thus, I second your suggestion to use Drupal's documentation style for methods and functions.

It might be useful to put together existing PHP Code Sniffer sniffs for PSR2 and add additional sniffs that cover Drupal's fu

[2015-05-19 18:06] mjordan opened #15 "Generalize $record_id in mik"
[$record_id](https://github.com/MarcusBarnes/mik/blob/master/mik#L56) in the main loop in mik is specific to CONTENTdm records, which are identified by a "pointer". Before we do any additional work on non-CONTENTdm fetchers (like the CSV fetcher), we should remove CONTENTdm-specific naming and logic from mik, and establish a pattern for other record types.

[2015-05-19 19:54] MarcusBarnes commented on #10
In commit 33561ad4a88919cee922005c394979f8226cbc93, I made some adjustments to the initial fix  contributed by @mjordan.  I'm going to close this issue as resolved.

[2015-05-19 19:54] #10 closed

[2015-05-19 21:18] MarcusBarnes commented on #9
FYI: There is now a check to ensure that $CONTENTdmField key is present in the $CONTENTdmFieldValuesArray array so that notice errors are not generated (for example, see commit 33561ad4a88919cee922005c394979f8226cbc93).  Logging still needs to be added before I close this bug.

[2015-05-20 22:03] MarcusBarnes commented on #6
There is some partial work on this issue for metadatamanipulators in 7029a107dbd1667e921910f427a481cef296ea26 and 4f659d770d25391e74e7d4fe6cb22761b9b11aca.

Note the addition of the manipulate() wrapper method of the FilterModsTopic metadatamanipulator class.

[2015-05-21 22:50] MarcusBarnes commented on #15
A first attempt at addressing this issue can be found in commits 2ea22608ab34d720d8de5bb1be7e56b7b8cffd3b and 3697fd7cf675025ad11e6b586274262a31f21b39.

[2015-05-22 21:14] MarcusBarnes commented on #12
First go at addressing this issue in commit ff107ad79133a27284417a7559da8f9548420a84.

[2015-05-22 21:14] #12 closed

[2015-05-25 17:01] mjordan commented on #15
Looks good.

[2015-05-25 17:01] #15 closed

[2015-05-25 17:36] mjordan opened #16 "Remove src/filegetters/Cdm.php"
We should remove src/filegetters/Cdm.php if it is not being used.

[2015-05-25 17:42] MarcusBarnes commented on #16
src/filegetters/Cdm.php has been removed.  See b53d4ece5e083dff475cdc4ab4fcdce505a7ec74.  Note that much of what was in src/filegetters/Cdm.php was rolled into the more appropriately named src/filegetters/CdmNewspapers.php class.

[2015-05-25 17:42] #16 closed

[2015-05-25 18:02] mjordan opened #17 "getChildrenPointers() shold be getChildren()"
https://github.com/MarcusBarnes/mik/blob/master/mik#L73 : getChildrenPointers() and source function at https://github.com/MarcusBarnes/mik/blob/master/src/filegetters/CdmNewspapers.php#L88 should not contain CONTENTdm-specific language. getChildren() is more generic.

[2015-05-25 20:22] mjordan commented on #14
I can't think of any Drupalisms that we wouldn't want in our code-level documentation. Since D.O. API docs are based on Doxygen, I wonder if we can use that to generate docs. Is worth trying?

[2015-05-25 23:56] MarcusBarnes commented on #9
Basic logging is now included related to this issue in d6b2f33ed1819629176137021190e7623e6a0dac.

[2015-05-25 23:56] #9 closed

[2015-05-26 19:48] MarcusBarnes opened #19 "Make fetchers/Fetcher.php an abstract class"
Refactor fetachers/Fetcher.php as an abstract class to be extended by particular instances (such as fetchers/Cdm.php or fetchers/Csv.php).  In particular, be sure to include versions of the getItemInfo() and queryTotalRec() methods to force extending classes to define these methods.

PHP Abstract Class documentation: http://php.net/manual/en/language.oop5.abstract.php

After successfully completin

[2015-05-26 19:51] mjordan commented on #19
Great minds think alike... I was just reading up on abstract classes myself since they seemed to be a good fit for what we're doing.

[2015-05-26 19:59] MarcusBarnes commented on #19
Yes - thank you. It seems appropriate to create at least one abstract class for each major section of MIK: fetchers, metadata_parser, file_getter, writer, file_manipulators,  and metadata_manipulators.

[2015-05-26 20:12] mjordan commented on #19
:+1: .

[2015-05-28 20:05] MarcusBarnes commented on #19
Initial work on this issue is addressed in commit d30da9319964bc68d908855f86931972c6e262fe.   For further refinements and modifications, please create separate issues.

[2015-05-28 20:05] #19 closed

[2015-05-28 21:44] MarcusBarnes commented on #17
Addressed in commit 5e9b9dda5d9732d23e0b68c5a6948a14d68eccbe.

[2015-05-28 21:44] #17 closed

[2015-05-28 22:52] MarcusBarnes opened #20 "Make writers/Writer.php an abstract class"
Refactor writers/Writer.php as an abstract class to be extended by particular instances (such as writers/CdmNewspapers.php).

PHP Abstract Class documentation: http://php.net/manual/en/language.oop5.abstract.php

[2015-05-28 23:03] MarcusBarnes opened #21 "Make filegetters/FileGetter.php an abstract class"
Refactor filegetters/FileGetter.php as an abstract class to be extended by particular instances (such as filegetter/CdmNewspapers.php).

PHP Abstract Class documentation: http://php.net/manual/en/language.oop5.abstract.php

[2015-05-29 22:41] MarcusBarnes opened #22 "Fail more gracefully if unable to access directories from config input_directories"
Fail gracefully with a message that will make more sense to general users should mik be unable to access directories in the configuration FILE_GETTER input_directories[].  This may happen if one fails to connect to input_directories from a network drive or if the user makes a mistake when providing the input directory path.  Currently, mik will issue a fatal error that may cause unnecessary confus

[2015-05-30 00:27] MarcusBarnes commented on #21
Initial work on this in commit 5f5154e3e340106c1bde3224543ec13b6e0cca76.  As the project progresses, please identify appropriate class methods to mark as abstract as appropriate.

[2015-05-30 00:27] #21 closed

[2015-06-03 22:48] MarcusBarnes opened #23 "Warning issued when no metadatamanipulators set in configuration file."
The code CdmToMods class currently has the assumption built-in that at least one metadata manipulator is set in the configuration file, but this need not be the case.  An undefined index notice warnning is issued as a result when no metadata manipulators are set in the configuration file.

[2015-06-04 00:18] MarcusBarnes commented on #23
Addressed in commit 2bb4a4a12e65d182276210198642c81e9964cdc1.

[2015-06-04 00:18] #23 closed

[2015-06-04 22:00] MarcusBarnes commented on #7
Updated CdmToMods metadata parser class to handle the simplified mappings file structure in commit feac7a34f05fee87fd459cee63d63183b2d861bd.  Documentation and examples are still required.

[2015-06-04 22:02] MarcusBarnes opened #24 "Document simplify mappings file usage"
Document the simplified mappings file structure from https://github.com/MarcusBarnes/mik/issues/7 in the project wiki and or the developer README.  Give examples on usage for CONTENTdm and other data sources as appropriate.

[2015-06-04 23:35] mjordan commented on #7
The private function [getCDMtoModsMappingArray](https://github.com/MarcusBarnes/mik/blob/master/src/metadataparsers/mods/CdmToMods.php#L63) in CdmToMods.php is [duplicated](https://github.com/MarcusBarnes/mik/blob/master/src/metadataparsers/mods/Mods.php#L50) in the (also private) parent Mods class. I would recommend removing it from the Modc class but the mapping doesn't need to be specific to CO

[2015-06-05 17:18] MarcusBarnes commented on #7
Thank you @mjordan for the comment.  I'll review the code in the classes more closely and make changes as appropriate.  My first thought is that we will need to rename  [getCDMtoModsMappingArray](https://github.com/MarcusBarnes/mik/blob/master/src/metadataparsers/mods/CdmToMods.php#L63) to remove the short-hand reference to CONTENTdm in the method in the parent Mods class and use something more ge

[2015-06-05 18:31] MarcusBarnes opened #25 "Review and clean up Mods and CdmToMods classes"
Remove duplicated code and other cruft in [Mods](https://github.com/MarcusBarnes/mik/blob/master/src/metadataparsers/mods/Mods.php) class that should only be in the child [CdmToMods](https://github.com/MarcusBarnes/mik/blob/master/src/metadataparsers/mods/CdmToMods.php) class.

Rename methods in the Mods parent class so that they are more generic, removing specific references to CONTENTdm.

[2015-06-05 18:35] MarcusBarnes commented on #7
@mjordan I've opened a more general review [issue](https://github.com/MarcusBarnes/mik/issues/25) related to your comment.  Thank you again for your ongoing suggestions and comments.

[2015-06-05 20:14] MarcusBarnes opened #26 "Make breakTopicMetadaOnSemiColon in FilterModsTopic more general"
In the [FilterModsTopic](mik/src/metadatamanipulators/FilterModsTopic.php) metadatamanipulator, make the [breakTopicMetadaOnSemiColon](https://github.com/MarcusBarnes/mik/blob/master/src/metadatamanipulators/FilterModsTopic.php#L37) more general, for cases where it may be desirable to break up metadata on another character.

[2015-06-05 20:51] MarcusBarnes commented on #25
Some initial work on this issue in commits 4e35c1a3b1d37a9c40ba7b66c9ef1ec6ea098422 and dd4aaeb323886b9f711c31abf878e7142f082f2f.

[2015-06-05 23:05] MarcusBarnes commented on #25
Additional clean up in c16af2b0c7f244a7890f6a1a0ae763335028ff57, e4d0af6ef50d17edded889f36000636cf5a01919, ce4ee54a58d36e4e065d70f48e6a6805329f06ee.

[2015-06-08 16:42] mjordan commented on #7
Just tested creating a mappings file in Excel 2013, LibreOffice Calc, and Google Sheets. Excel and Sheets export CSV like this:

[code]
That is, with annoying escaped quotation marks around the attribute value, and no option that I could see to not do that. LibreOffice Calc did provide an option to define the text delimiter, which allows you to specify none, producing this ready-to-use mappings fi

[2015-06-08 17:37] mjordan opened #27 "Language of field not being populated"
Using the format of the mappings file as defined in #7, the Language of field is not being populated. For example, a mappings file with a row like this:

`Publisher,eng,<originInfo><publisher>%value%</publisher></originInfo>,`

should produce markup like this:

[code]
Currently, the markup being produced is like this:

[code]

[2015-06-08 18:23] MarcusBarnes opened #28 "Use Csv parsing library in CdmToMods class"
Use the League\Csv parsing library in the getMappingsArray method of the metadataparsers/mods/CdmToMods.php class.  The League\Csv parsing library is already in use in the [CSV fetcher](https://github.com/MarcusBarnes/mik/blob/master/src/fetchers/Csv.php).  Initial testing by @mjordan  indicates that the library handles CSV files exported from various spreadsheet programs more robustly than the cu

[2015-06-09 20:32] MarcusBarnes commented on #7
After reflecting on the use of "language of field" in the mapping file, it was determined that it was best to handle this in the "target element", which is typically an XML snippet.   In the case of MODS XML snippets, manually setting the lang attribute in a MODS element (or child element) provides greater control.

TASK:  Remove "language of field" from the mappings file and related code.

[2015-06-09 21:25] MarcusBarnes commented on #7
The 'language of field' has been removed from the default mappings file structure.  See commit 76118cdcf3fd7350c86d8caf5299d7781e8a9b66.

The default mappings file now has the following structure:

source field label | target element | note
------------------------| --------------------| ------------

The 'note' field is optional.

[2015-06-09 21:25] #7 closed

[2015-06-09 21:29] MarcusBarnes commented on #27
This issue no longer needs to be addressed as the default mappings file format no longer contains the "language of field" column.  Please see these comments: in https://github.com/MarcusBarnes/mik/issues/7#issuecomment-110496088.

[2015-06-09 21:29] #27 closed

[2015-06-09 23:01] MarcusBarnes commented on #28
Basic usage of League\Csv added in commit 051309ceb389f0eb23ac080f3336c73466bded47.

[2015-06-09 23:01] #28 closed

[2015-06-09 23:05] mjordan commented on #28
Cool! Will test this evening.

[2015-06-09 23:08] MarcusBarnes commented on #28
Thank you.  It will be interesting to see if even the basic usage of League\Csv has results as robust as your tests.  Please note that you should use the updated mappings structure that excludes the "language of field" column.  Please see this comment for details: https://github.com/MarcusBarnes/mik/issues/7#issuecomment-110508196.

[2015-06-10 00:42] mjordan commented on #28
Nice work @MarcusBarnes. Using this mappings file:

[code]

and this .ini file:

[code]

I was able to create MODS files that implemented the mappings. There was one error, which I wasn't able to track down:

[code]

I'll leave another comment on unrelated issue (nested mappings).

[2015-06-10 21:40] MarcusBarnes commented on #20
Addressed in commit 362722287c85950e134a1071ec66e8949bacac41.  If there are methods that should be candidates to be marked as abstract in writers/Writers.php, please create a separate issue.

[2015-06-10 21:40] #20 closed

[2015-06-10 23:43] mjordan opened #29 "In field mappings, only add shared parent wrapper elements once"
If we have two mappings that define MODS elements that share a common parent wrapper element, we should only add the parent element to the MODS XML once. For example, in the following mapping file the 'Medium' and 'Work Measurements' source fields map to MODS `<form>` and `<note>` elements, respectively:

[code]
These two MODS elements share the parent `<physicalDescription>`. Currently, the XML p

[2015-06-11 00:07] MarcusBarnes commented on #26
This has been addressed in commit 393b7fb3faa33ffe1e3cd37671e901525300edc3.

[2015-06-11 00:07] #26 closed

[2015-06-11 00:19] MarcusBarnes opened #30 "Using the configuration file to pass parameters to metadatamanipulators"
It may be useful to be able to pass parameters to metadata manipulators via the configuration file.  For example, the breakTopicMetadaOnCharacter method of the FilterModsTopic metadatamanipulator class splits topic metadata on a delimiter which is now a parameter (see https://github.com/MarcusBarnes/mik/issues/26).   One way we might consider doing this in the MANIPULATORS section of the configura

[2015-06-11 00:24] MarcusBarnes opened #31 "Make metadatamanipulators/MetadataManipulator an abstract class."
Make metadatamanipulators/MetadataManipulator an abstract class to enforce certain expected patterns within metadata manipulors (specifically, that all metadata manipulators should implement their own version of the manipulate method).

[2015-06-11 22:50] MarcusBarnes opened #32 "fetchers/Csv must implement queryTotalRec and getItemInfo"
Class mik\fetchers\Csv contains 2 abstract methods and must therefore be declared abstract or implement the remaining methods (mik\fetchers\Fetcher::queryTotalRec, mik\fetchers\Fetcher::getItemInfo).

Please note that phpunit will fail until this issue is addressed.

[2015-06-11 22:56] MarcusBarnes commented on #31
This has been initially addressed in commits 3f02bfeeb40409876a9b9059bf81e5a6358846b0 and cd49ebc07d353ccea46a1cb174b04d34fff035ad.

[2015-06-11 22:56] #31 closed

[2015-06-12 00:23] MarcusBarnes commented on #32
Address in commit 8f0ea30ec95a21f16b21f7765019969a0fe08ea8, however, the implementation specific details were left out.

Please note that phpunit still fails, but for a different reason.

[2015-06-12 00:30] MarcusBarnes opened #33 "Add implementation details to fetchers\Csv queryTotalRec and getItemInfo"
Please add implementation specific details to the queryTotalRec and getItemInfo methods in fetchers\Csv class.

Please see the related issue https://github.com/MarcusBarnes/mik/issues/32.

[2015-06-12 00:34] MarcusBarnes opened #34 "PHPUnit tests failing"
Running phpunit --bootstrap vendor/autoload.php tests creates fatal errors.

Please update the code and related so that phpunit runs successfully.  Additionally, identify potential unit tests to add in separate issues.

[2015-06-12 16:59] mjordan commented on #34
Happy to help - got any more details?

[2015-06-12 16:59] mjordan commented on #33
@MarcusBarnes I'll take a stab at this over the weekend.

[2015-06-12 17:02] MarcusBarnes commented on #33
@mjordan Thank you.  Much appreciated.

[2015-06-12 17:09] mjordan commented on #30
I can't think of a better way to define multiple metadata manipulators in the config file, so let's go with this syntax.

One comment though - in CONTENTdm metadata, the semicolon can be used in any field to delimit "repeated" values. In the spirit of avoiding field- or source-specific language, I'd like to suggest that we define the manipulator that splits repeated values on a delimiter not be sp

[2015-06-12 17:18] MarcusBarnes commented on #30
Regarding your comment: Should we remove field- or source-specific language from FitlerModsTopic, we'd need to make "topic" a parameter, so that the refactored version of FilterModsTopic would be able to determine the correct text-node child element of which MODS element to split on a delimiter.  This will be a good test case for the providing parameters in the configuration file.  Thank you for y

[2015-06-12 20:13] MarcusBarnes commented on #34
On my system, I get the following error from PHPUnit:
"Fatal error: Cannot instantiate abstract class mik\fetchers\Fetcher in /Applications/MAMP/htdocs/mik/tests/FetcherTest.php on line 11."

[2015-06-15 19:11] MarcusBarnes commented on #29
I was able to successfully validate a test MODS XML document with repeated physicalDescription elements against the MODS XML 3.5 schema.

[2015-06-15 19:42] mjordan commented on #29
Grepping through the MODS 3.5 XSD file shows that every element is repeatable (at least, every occurrence of 'maxOccurs' has a value of 'unbounded' ). However, the LoC MODS User Guidelines say of `<physicalDescription>` "Repeating this element is not recommended." So, in this case we have schema constraints that do not match "best practice." Regardless, I'd like to have a generic solution to this

[2015-06-20 00:23] MarcusBarnes commented on #29
I've made a commit to resolve this issue:  fffc7ccd92e72436f76bda6137d5cf709d097396.  However, I'm not particularly pleased with the code and would like to improve it.  Suggestions are welcome.

[2015-06-22 16:29] mjordan opened #35 "CdmPhpDocuments.php is consuming excessive memory"
`file_put_contents()` at https://github.com/MarcusBarnes/mik/blob/master/src/writers/CdmPhpDocuments.php#L56 is throwing an "Allowed memory size of xxx bytes exhausted" error even if the PHP CLI `memory_limit` setting is 512M.

The source PDF file's contents are retrieved at https://github.com/MarcusBarnes/mik/blob/master/src/filegetters/CdmPhpDocuments.php#L67. Perhaps a way to avoid keeping the

[2015-06-22 16:41] mjordan commented on #35
Just occurred to me that we probably won't be able to use PHP's `fwrite()` since it also writes a string. Maybe this a good opportunity to incorporate Guzzle, since it can [write to a stream](http://stackoverflow.com/questions/16939794/copy-remote-file-using-guzzle).

[2015-06-22 16:48] MarcusBarnes commented on #35
@mjordan If you would like to take a stab at this issue, please do so.  As you mention, this may be a good opportunity to give Guzzle a test within the code base.  Thank you for your input and assistance.

[2015-06-22 18:58] MarcusBarnes commented on #29
Thank you to @mjordan for the test case that demonstrates that the code in commit https://github.com/MarcusBarnes/mik/commit/fffc7ccd92e72436f76bda6137d5cf709d097396 doesn't handle repeated extension elements as desired.  I will reopen this issue while I finish off a fix.

[2015-06-22 20:51] mjordan commented on #35
Implemented in branch issue-35 and ready for testing/merging. Note: this fix introduces a new configuration option in the FILE_GETTER .ini file section, `temp_directory`, which is where the content retrieved by the Guzzle request is written before being moved to the output directory (if not set defaults to '/tmp'). You'll also need to run `composer dump-autoload` and `composer update` to get this

[2015-06-22 20:52] mjordan commented on #3
First implementation in 81b6eead95b141f551ab011255038396212221e2.

[2015-06-22 20:53] mjordan commented on #35
Also note that Guzzle requires PHP 5.5.0 or higher.

[2015-06-22 23:10] MarcusBarnes commented on #29
Commit b233bf4fc794183f170e188a413cd377d32b847b adds the ability to set repeated elements in the configuration file under the METADATA_PARSER section.  For example, you might want the MODS extension top-level element to repeat, rather than the child elements consolidated within one parent wrapper element.

[2015-06-23 19:49] mjordan opened #36 "Metadata manipulators are only being applied to mappings from Subject"
The `if` statement at https://github.com/MarcusBarnes/mik/blob/issue-35/src/metadataparsers/mods/CdmToMods.php#L131 is only applying metadata manipulators to mappings that from "Subject" fields in the source metadata.

[2015-06-26 04:54] mjordan commented on #35
Can this branch be merged into master?

[2015-06-26 19:51] MarcusBarnes commented on #35
Please go ahead and merge.

[2015-06-26 21:19] mjordan opened #37 "General code cleanup"
We should remove the echoPhrase() and testMethod() functions from various classes.

[2015-06-26 21:50] MarcusBarnes commented on #36
Initial work was carried out to address this issue at commit 16e44fc6ad322e0c202311b51311eb48621a7037 and some additional improvements at 0dfbff636563d7a36cdeb8a6c19541414b67903a.

[2015-06-26 21:50] #36 closed

[2015-06-26 22:04] mjordan opened #38 "Need a way to filter specific "content types" in fetchers"
Since our filegetters and writers are very specific about the types of files (and directory structures) they deal with, we need a way to handle sources that may contain objects multiple "content types". For example, in CONTENTdm, a single collection can contain still images, movies, newspapers, books, and general compound objects. The Islandora batch loaders can only ingest objects of a single con

[2015-06-26 22:51] mjordan commented on #38
The most comprehensive list of CONTENTdm compound object types I can find is:

* Document
* Document-PDF
* Document-EAD
* Postcard
* Picture Cube
* Monograph

A quick mapping of these content types to Islandora batch loaders is:

* Document -> as yet unwritten general compound object batch loader, and Islandora Newspaper Batch
* Document-PDF -> Islandora Batch, with content type islandora:sp_pdf (

[2015-06-26 23:08] mjordan commented on #6
I think we can close this Nice work @MarcusBarnes.

[2015-06-26 23:08] #6 closed

[2015-06-26 23:09] #30 closed

[2015-06-26 23:10] mjordan commented on #35
Done with 6019abe945ac19dea01a0c013ec1087df34f1ab7.

[2015-06-26 23:10] #35 closed

[2015-06-26 23:15] mjordan commented on #24
Started in https://github.com/MarcusBarnes/mik/wiki.

[2015-06-28 03:45] MarcusBarnes commented on #6
Thank you @mjordan.

[2015-06-30 05:52] mjordan opened #39 "Remove createModsXML() from Mods.php"
Child classes implement this method so it should be declared as an abstract method.

[2015-06-30 05:56] mjordan opened #40 "Move XML utility functions from child classes into Mods.php"
getChildNodesFromModsXMLString(), determineRepeatedWrapperChildElements(), consolidateWrapperElements(), oneParentWrapperElement(), and possibly applyMetadatamanipulators() are duplicated within CdmToMods.php and the new CsvToMods.php metadata parser. Is there any reason these functions can't live within the parent Mods.php class?

[2015-06-30 06:48] mjordan commented on #33
Done in 1fdafb457d6ff58dcac2728c2dda7bcb1c344441.

[2015-06-30 06:48] #33 closed

[2015-06-30 06:49] mjordan commented on #32
Done in 1fdafb457d6ff58dcac2728c2dda7bcb1c344441.

[2015-06-30 06:49] #32 closed

[2015-07-01 15:13] mjordan opened #41 "Add a file manipulator that validates the MODS file"
File manipulators can validate files generated by MIK. We should provide a file manipulator that runs each MODS.xml file through xmllint, or (more portably) using PHP's [builtin DOM validation function](http://php.net/manual/en/domdocument.schemavalidate.php) using a local copy of the MODS schema file. We'd need to figure out how to report invalid MODS files or other errors, a good task for loggin

[2015-07-01 16:04] mjordan commented on #38
@MarcusBarnes as discussed, the "we could build similar checks into filegetter classes" approach is the simpler of the two we identified. For CONTENTdm filegetters, I can't think of a situation where we couldn't do this reliably.

[2015-07-02 00:45] mjordan commented on #41
Done in 9b0ed8daaa14ec12baa7db8fcafb9f3999ab9714, validating through the DOM (that is, there is no dependency on having xmllint installed). We should add this to all writer classes that write MODS files.

[2015-07-02 00:49] mjordan commented on #24
Largely done in the wiki.

[2015-07-02 00:49] #24 closed

[2015-07-02 00:53] mjordan opened #42 "Add more logging, and come up with a more readable log format"
We have added Monolog logging in a few places, but there are a lot more where we should be logging the outcomes of file creation, etc. Currently, the log format is the monolog default, e.g.:

[code]

We should consider creating a more readable log format as per https://github.com/Seldaek/monolog/blob/master/doc/01-usage.md.

[2015-07-02 14:49] mjordan opened #43 "Add method to Fetcher abstract class to check well formedness of snippets in mapping file"
Since snippets in metadata mapping files are XML, manually creating them is error prone. MIK should check each snippet for well formedness before it proceeds with creating import packages, and if it detects an error, quit and tell the user to check the bad snippet(s). Perhaps a good place for this is in the Fetcher abstract class. I can start this feature.

[2015-07-02 19:42] mjordan commented on #43
Maybe putting this check, and the others for URLs, etc., in src/config/Config.php is a better place, since the tests are against configuration information. Any objections to putting them there?

[2015-07-02 19:48] MarcusBarnes commented on #43
I have no objections to this.

[2015-07-03 04:14] #41 closed

[2015-07-03 04:23] mjordan commented on #43
Options to check mappings snippets, URLs, and file paths are in place. If an .ini option ends in '_url', that value is checked; if it ends in '_path' or '_directory', the value is checked. I decided to make checking a separate, preliminary step to running mik to perform the conversion and have documented the workflow in the README.

I can merge the feature branch (issue-43) into master whenever is

[2015-07-06 23:29] #43 closed

[2015-07-07 04:10] #5 closed

[2015-07-07 04:14] #37 closed

[2015-07-07 04:56] mjordan commented on #22
Mitigated to some extent (for configuration typos anyway) by resolution of #43.

[2015-07-07 05:14] mjordan commented on #38
Adding a fetcher manipulator to filter records within fetchers' getRecords() method is probably the way to go. Each fetcher can have a default set in its __construct() function, which could be overridden in configuration. For the single-file CONTENTdm fetcher and the CSV fetcher, the manipulator can take a parameter to indicate file extensions (e.g., 'jpeg,jpg,png) to filter on.

[2015-07-08 14:10] mjordan opened #45 "In the CONTENTdm fetcher, account for CONTENTdm's limit of only returning 1024 records per query"
As documented with a todo comment.

[2015-07-08 14:28] #38 closed

[2015-07-09 19:10] MarcusBarnes opened #46 "CdmNewspaper writer produces errors when packages already exist in output directory"
The CdmNewspaper writer may produce errors when packages (newspaper issues) already exist in the output directory.  Adding some checks to see if item-level directory and files already exist should resolve this issue.

[2015-07-09 19:45] mjordan commented on #46
Thanks for finding this @MarcusBarnes. I'll add an option to all Writer configs to overwrite or not.

[2015-07-10 04:28] mjordan opened #47 "Add CONTENTdm single file fetcher manipulator"
Would work similar to the CsvSingleFile manipulator but inspect the extension of the file identified in the 'find' element of the CONTENTdm getItemInfo record.

[2015-07-10 19:36] mjordan opened #48 "Add support for multiple fetchermanipulators"
The current implementation of fetcher manipulators only allows for one. Add support for multiple, like we have for metadata manipulators. We'd probably need to apply each manipulator in a specific order so that each one progressively reduced the fetched record set.

[2015-07-14 16:56] mjordan opened #49 "CLImate progress bar doesn't work on Windows"
There is a [known issue with the CLImate library on Windows](https://github.com/thephpleague/climate/issues/9). As a quick and dirty workaround, I recommend simply printing dots when MIK is run under Windows to indicate that it is doing something.

[2015-07-14 22:19] #48 closed

[2015-07-16 17:16] mjordan opened #50 "Create exception class"
We need to be able to catch errors at any point in the class hierarchy and have them bubble up to the main loop in mik so that if an exception is caught, mik can move on to the next record in the loop after logging the error).

Ideally, we'd have a custom MIK Exception class that was extended by a fetcher exception class, a metadata parser exception class, a writer exception class, etc. I'm not su

[2015-07-22 22:25] mjordan opened #51 "Change CdmSingleFile file getter and/or writer to get the thumbnail from CONTENTdm"
The Islandora Batch module will load thumbnails for objects (tested with JPEG2000 objects) if they have a .jpg entension. For example, an object with files 3456.jp2, 3456.xml, and 3456.jpg will be loaded as expected, with the datastreams JP2, MODS, and TN respectively.

Note that if a file with an extension appropriate to the OBJ datastream (.tif in the large image SP example) is missing, Islandor

[2015-07-27 02:56] mjordan commented on #49
Fixed with 1c76ffc410660d33b02ea930e93e19ffa8699c3f. mik and fetchermanipulators (the only places where the progress bar is used) now print periods when run on Windows. The hacky code should be removed once the CLImate issue is resolved.

[2015-07-27 13:30] mjordan commented on #45
Tested on collections smaller than 1024 with chunk sizes of 10 and 5, and appears to work as intended.

[2015-07-27 13:30] #45 closed

[2015-07-27 13:38] mjordan commented on #22
I wonder if we can close this since we now have the ability to check the existence of directories named in config files.

[2015-07-27 16:42] MarcusBarnes commented on #22
The config check should deal with most cases where this may happen for general users, especially when first starting MIK.  We will want to deal gracefully  situations where directories become unavailable. for example, during a temporary network malfunction,  but we can do this using the proposed exception class https://github.com/MarcusBarnes/mik/issues/50 .  The idea being that MIK will log such

[2015-07-27 16:42] #22 closed

[2015-07-27 21:11] MarcusBarnes opened #52 "CLI parameter --limit no longer handled properly"
I've just pulled down the latest commits to master a57cb58ebe1771e07a2572d73669a7c709411822 and the CLI --limit parameter appears to no longer function as expected.  I used --limit=4 when testing against a newspaper collection, but MIK continued outputting more than 4 newspaper issues.

[2015-07-30 21:24] MarcusBarnes opened #53 "getRecords should be an abstract method of fetchers/Fetcher.php abstract class"
The getRecords method is called within the main MIK script https://github.com/MarcusBarnes/mik/blob/master/mik#L64 and is implemented in both [fetchers/Cdm.php](https://github.com/MarcusBarnes/mik/blob/master/src/fetchers/Cdm.php) and [fetchers/Csv.php](https://github.com/MarcusBarnes/mik/blob/master/src/fetchers/Csv.php) classes.  It may make sense to make getRecords an abstract method with requi

[2015-07-30 22:50] MarcusBarnes opened #54 "Monolog logger creates warning message when date.timezone PHP ini setting not set."
A warning message is created by Monolog when date.timezone PHP  ini setting is not set.  We can check for this at the top of the main MIK and set a default date.timezone (I have some code in a local feature branch) - is this a good approach?   Additionally and or alternatively, where's the best place to document this?  Is there a way to check for this setting using composer?

[2015-07-30 23:03] MarcusBarnes commented on #53
Addressed in commit 51ccca3fd63bd08fbf976897db6ff01356676e6d.

[2015-07-30 23:03] #53 closed

[2015-08-04 21:31] MarcusBarnes commented on #52
Addressed in commit e276d6465ac4e1bd2a76ca9d28429f1cdb0e9151.

[2015-08-04 21:31] #52 closed

[2015-08-04 21:50] MarcusBarnes commented on #39
The child classes [CsvToMods.php] (https://github.com/MarcusBarnes/mik/blob/master/src/metadataparsers/mods/CsvToMods.php) and [CdmToMods.php](https://github.com/MarcusBarnes/mik/blob/master/src/metadataparsers/mods/CdmToMods.php) use slightly different function signatures for the createModsXML method.  I suggest we adopt the function signature used in CsvToMods.php for createModsXML($collectionMa

[2015-08-05 00:41] MarcusBarnes commented on #39
FYI:  I have addressed this issue in a local feature branch.  I want to clean up the code a little more before I push my changes.

[2015-08-05 17:51] MarcusBarnes commented on #39
Addressed in commit 9a29fce5c9ab262bd110e20151c7faeb8f3ebfed.

[2015-08-05 17:51] #39 closed

[2015-08-06 18:12] mjordan opened #55 "Add an option to the CSV file writer to write the output to the input directory"
As per @mark-cooper suggestion. Purpose is to eliminate unnecessary copying of files.

[2015-08-06 18:34] MarcusBarnes commented on #55
To clarify, we'd use the same single source files inside the input directory, but write out the metadata and other related files - correct?

[2015-08-06 18:38] mjordan commented on #55
Yes, that's what Mark and I discussed. We may also want to rename the files to they conform to the IDs in the CSV file.

[2015-08-09 04:53] mark-cooper commented on #55
Thanks for adding this @mjordan

I wanted to see if I could get something working quickly and this seems to be doing the job:

https://github.com/mark-cooper/mik/commit/93ecb06d377d9bbc40923ff1104dc0a0c5fa0981

I haven't looked at the coding standards or anything like that yet ... should I test some more and pull request?

[2015-08-10 17:50] MarcusBarnes commented on #55
Thank you @mark-cooper for the feedback on MIK and for the first go at incorporating this requested enhancement. I'll schedule some time to review and test your code in mark-cooper@93ecb06 and we can take things from there.  Thanks again!

[2015-08-18 19:41] MarcusBarnes commented on #55
@mark-cooper  - I've run your contributed code several times to test your modifications.  So far everything functions as expected - thank you for your contribution.  Please issue a pull request and I'll integrate this into master.  It would be good to have some use-case scenarios on the project wiki that describes a use-case where using the settings you've contributed would be a good choice and wh

[2015-08-18 23:11] MarcusBarnes commented on #55
@mark-cooper's pull request https://github.com/MarcusBarnes/mik/pull/56 addresses this feature request and was merged into master with commit https://github.com/MarcusBarnes/mik/commit/bfd74c5e481cdba3c2e98dc0806210f3c3b6a819.

[2015-08-18 23:11] #55 closed

[2015-08-21 21:36] MarcusBarnes opened #57 "Remove"

[2015-08-27 23:04] mjordan opened #58 "Add a metadata manipulator to split personal names"
Take names like "Mark Jordan" and return MODS like:

[code]

Of course, any programmatic attempt at this will be pretty unreliable. So we should probably need to log all split names along with the ID of the object being loaded so a human can do QA on them easily.

[2015-08-28 16:23] mjordan opened #59 "Settings are not accessible to metadata manipulators"
The $settings property in the FilterModsTopic class is NULL:

[code]

Consequently, MIK settings are not accessible through that variable. Settings are accessible to the fetcher and file manipulators. It would be useful to make them accessible to all manipulators, for grabbing the paths to log files, etc. defined in the .ini files.

Perhaps pass settings into manipulators via applyMetadatamanipula

[2015-08-28 18:21] MarcusBarnes commented on #59
A first go at addressing this issue is in commit 27ac1b9af7defe5210d69b453026cd8064005d90.  The commit should be comprehensive, but if some files related to this issue were not properly updated, please reopen the issue.

[2015-08-28 19:42] MarcusBarnes opened #60 "CLImate progress bar give the proper progress when the optional limit argument is used."
The CLImate progress bar does give display the proper progress when the optional MIK limit argument is used.

[2015-08-28 19:44] MarcusBarnes commented on #60
I have a preliminary fix which I'm currently testing.

[2015-08-28 19:52] mjordan commented on #59
@MarcusBarnes thanks, your fix works if I pass  $settings as the first parameter to a child class's constructor and add

[code]
to the child constructor. Does that sound right?

[2015-08-28 19:58] MarcusBarnes commented on #60
This issue should be addressed in commit 12d87e0b173bb8b6b54887cbf15faba9c2bfa9c9.  If you encounter problems, please reopen this issue.

[2015-08-28 19:58] #60 closed

[2015-08-28 19:59] mjordan commented on #60
Thanks! Will test.

[2015-08-28 20:01] mjordan commented on #60
Works as intended.

[2015-08-28 20:04] MarcusBarnes commented on #59
Yes - that is correct.  I note that in the child classes I declared a settings property and used:
[code]
... inside the constructor.  But as you rightly point out above, I should have simply used

[code]
... inside the child classes constructor.

[2015-08-28 20:09] MarcusBarnes opened #61 "Clean up constructor code in child metadata manipulator classes"
Note that since the abstract metadata manipulator class has a settings property that is set inside the constructor (by passing the configuration settings via $settings), it is better to use the following in the child class constructors:

[code]
Thank you to @mjordan for pointing this out in https://github.com/MarcusBarnes/mik/issues/59#issuecomment-135872348.

[2015-08-28 20:11] mjordan commented on #58
@MarcusBarnes thanks to your fix in #59, I can now continue with this new manipulator.

[2015-08-28 21:12] MarcusBarnes commented on #61
Cleaned up in commit fbad238b599a8a8517c45e08b778dbe93ee2b017.

[2015-08-28 21:12] #61 closed

[2015-08-31 22:43] MarcusBarnes commented on #50
Initial work on this feature request is provided in commit 99873c86c8f117c388b6670cd13f22a0bb6e4744.  Additional refinements or improvements may be required.  Please open additional specific issues if this is the case.

[2015-08-31 22:43] #50 closed

[2015-08-31 22:49] MarcusBarnes opened #62 "Log problem records as they occur rather than at the end of the script"
In the main mik foreach loop, log record_keys of records that cause exceptions as they occur, rather than at the end of the script https://github.com/MarcusBarnes/mik/blob/master/mik#L188-L197.  This should help in the event that a machine or network that mik is running makes it impossible to continue processing a collection.   This will make it easier to determine whether one can continue process

[2015-09-01 15:08] mjordan commented on #59
@MarcusBarnes can we add the change you made in 27ac1b9af7defe5210d69b453026cd8064005d90 to CsvToMods.php?

[2015-09-01 17:15] MarcusBarnes commented on #59
This should now be available in CsvToMods.php as of commit d4706b69a7444e842c830258031efa5b00fe4841.

[2015-09-01 17:15] #59 closed

[2015-09-01 19:54] mjordan commented on #54
Some googling didn't turn up any hints on how to use Composer to check, but maybe we could add a check using the --checkconfig= option.

[2015-09-01 21:51] mjordan commented on #50
Nice work @MarcusBarnes - this caught an error in my metadata manipulator code and skipped creation of the affected objects.

[2015-09-01 21:57] mjordan commented on #62
If I can hijack this issue and suggest an improvement to the problem_records.log format - don't overwrite the log (thereby obliterating the list of skipped objects) but instead append to it, adding all items in the .ini file's [CONFIG] section plus a timestamp to the beginning of a job's output of skipped objects.

Let me know if you want a separate issue for this.

[2015-09-01 22:04] MarcusBarnes commented on #62
@mjordan That is a good suggestion and doable.  Thank you.

[2015-09-02 21:13] MarcusBarnes commented on #62
Commit af3d04f6525b91aa99f53242627e1b1b14845706 addresses this issue while incorporating suggestions from @mjordan  in comment https://github.com/MarcusBarnes/mik/issues/62#issuecomment-136876281.

Note that every time mik is run, the problem_records.log will be initialized with a line containing the CONFIG section of the configuration .ini file used.  Monolog timestamps log entries by default.

[2015-09-02 21:13] #62 closed

[2015-09-08 21:36] MarcusBarnes opened #63 "CdmNewspapers writer class allowed memory size PHP fatal error for large source files"
Large source files may cause an allowed memory size PHP fatal error in the CdmNewspaper writer class.  Modify CdmNewspaper writer class to use Guzzle like the CdmPdf and CdmSingle file tool chains to resolve this issue.

[2015-09-10 19:00] MarcusBarnes opened #64 "Fetcher Manipulator to target a subset of a CdmNewspaper collection"
For large collections with large files, it may be desirable to target subsets of a larger newspaper collection.  For example, the ability to process one year of newspaper issues at a time.  The fetcher manipulator functionality created by @mjordan demonstrates how to filter fetched records for the CsvSingleFile toolchain (for example https://github.com/MarcusBarnes/mik/blob/master/src/fetchermanip

[2015-09-10 22:01] MarcusBarnes opened #65 "Cdm Book Toolchain"
An MIK toolchain for migrating books - Create a CONTENTdm book filegetter/writer

The input that Islandora Book Batch expects is documented at https://github.com/Islandora/islandora_book_batch. MIK jobs that migrate books from CONTENTdm would need to use the CdmCompound fetchermanipulator with a document type parameter of 'Monograph'.

One significant difference between CONTENTdm newspapers and mo

[2015-09-10 22:47] MarcusBarnes opened #66 "Use realpath to expand configuration and mappings files referred to by symbolic links"
In some cases, it may be useful to refer to configuration files or mappings files by symbolic links.  For example, if you want to manage changes to your configuration files and mappings files using separate git repositories.  In this case, using symbolic links may be useful.  Using the realpath function will expand symbolic links so that symbolic links can be used as shortcuts when providing the -

[2015-09-11 20:47] MarcusBarnes opened #67 "When processing Cdm collections, create a work cue."
When processing Cdm collections, create a work cue with pertinent source data for records in a collection so that processing can be continued from last processed record without having to reprocess paths to OBJ files, calculate child records, etc.

The work cue can be a file written to the directory used for the MIK logs.  Provide a command line optional flag that would make MIK use this file rathe

[2015-09-15 23:08] MarcusBarnes commented on #64
Initial work on this feature request is in the following branch: https://github.com/MarcusBarnes/mik/tree/CdmNewspaperFetcherManipulator

[2015-09-15 23:10] MarcusBarnes commented on #64
I'd like to compare the performance between master and https://github.com/MarcusBarnes/mik/tree/CdmNewspaperFetcherManipulator before merging into master (or issuing a pull request).

[2015-09-19 03:52] mjordan opened #68 "Generate a minimal MODS file for newspaper and book pages"
We should generate a minimal MODS file for each newspaper and book page, like this one:

[code]
This will allow for page-level redirects and for better integration with the CONTENTdm API Emulator. It will also let us define the page-level labels rather than rely on the horrible auto-generated labels that the newspaper and book solution packs provide.

Each MODS.xml file will need to be written int

[2015-09-21 15:00] mjordan opened #69 "Add a filemanipulator that gets compound objects' .cpd file"
We need to ingest compound objects' .cpd files, in order to support CONTENTdm API emulation via https://github.com/mjordan/islandora_cdm_api (see https://github.com/mjordan/islandora_cdm_api/issues/2 for example). The resulting datastream should probably have a DS ID of 'CDMCPD'.

[2015-09-22 22:27] mjordan commented on #69
Filegetters don't have a generalized way of calling filegettermaniplators. ThumbnailFromCdm is hardcoded in CdmNewspapers. Also, to get this to work, filemanipulators need to implement a ->manuipulate() method, like metadata manipulators do.

I can take a stab at implementing this.

[2015-09-23 04:16] mjordan commented on #69
In the interest of saving time, I'd recommend we hard-code getting the CPD file in the CdmNewspapers filegetter and when they're ready, the book and generic compound filegetters. We can figure out later the best way to integrate this functionality as manipulators.

[2015-09-25 20:52] MarcusBarnes commented on #68
Commit 6c1cb256bec46c03ac11a71ddaaadf7c22a634bd is a first go at making minimal page level mods available for the CDM newspaper toolchain.  Further changes may be needed depending on the needs of the CONTENTdm API Emulator and to enhance the logical structure of the MIK source code.

[2015-09-25 20:52] #68 closed

[2015-09-28 17:43] MarcusBarnes commented on #69
Work on [issue-69](https://github.com/MarcusBarnes/mik/issues/69) with respect to @mjordan's comment https://github.com/MarcusBarnes/mik/issues/69#issuecomment-142486310  has been merged into master at commit d47fe825aeeafde8e8fba43d8792751640bc51b2.  Thank you @mjordan for your work adding this functionality.

It might be good to keep branch [issue-69]https://github.com/MarcusBarnes/mik/tree/issu

[2015-09-29 16:02] mjordan opened #70 "Add a filemanipulator that gets objects' CONTENTdm metadata"
The [Islandora CONTENTdm API emulator](https://github.com/mjordan/islandora_cdm_api) will be much simpler if we can have it return the original CONTENTdm metadata for an object in JSON (specifically, in the format returned by [dmGetItemInfo](https://www.oclc.org/support/services/contentdm/help/customizing-website-help/other-customizations/contentdm-api-reference/dmgetiteminfo.en.html) instead of t

[2015-09-29 23:53] MarcusBarnes opened #71 "Extras: output package checker - all expected files present?"
Provide a QA tool as part of the extras that will double check the output packages from MIK to verify that all files that are expected are present.

Here is an example scenario for the CdmNewspaper toolchain. A newspaper collection is processed by a user, but one or more issues cause exceptions while writing the package for the issues.  These issues were properly logged in the problem_records.log

[2015-09-30 00:03] MarcusBarnes opened #72 "CdmNewspaper Toolchain: Handle input_directories for OJB files that may not be locally accessible directories?"
The CdmNewspaper toolchain assumes that the input_directories[] as part of the FILE_GETTER configuration are accessible via the local environment for retrieving the OBJ.TIFF.  For example, via mounted network drives where the user has permissions to read files on the mounted drive and a full path to the drives is provided in the input_directories[] settings in the FILE_GETTER section of the associ

[2015-09-30 23:03] mjordan commented on #70
Another approach to addressing this issue is to migrate the JSON metadata by adding it to a MODS extension element, like this:

[code]

I think this approach is more flexible than adding the JSON metadata as a separate datastream on ingest. Some advantages to this approach:

* we can use a simple metadata manipulator to supplement the MODS documents instead of hard-coding logic into the main class

[2015-10-03 16:00] #70 closed

[2015-10-03 16:17] mjordan commented on #72
I'm satisfied with supporting only locally accessible directories until we have a need to support anything else.

[2015-10-03 16:17] #72 closed

[2015-10-03 16:20] mjordan commented on #71
I like this idea. Would be add a "on completion" hook mechanism or similar to the main mik script so we could add it to toolchains?

[2015-10-07 18:29] MarcusBarnes commented on #29
Wrapper elements with attributes are skipped by the [determineRepeatedWrapperChildElements](determineRepeatedWrapperChildElements) and related methods in the [CdmToMods](https://github.com/MarcusBarnes/mik/blob/master/src/metadataparsers/mods/CdmToMods.php) metadataparsers.  The existing methods are not sufficient to track wrapper elements with differing attributes.  there are situations where the

[2015-10-09 19:26] mjordan opened #73 "Add a CdmSingleFileByExtension fetcher manipulator"
This would add the ability to create packages for single file objects from Cdm of extension .jp2, jpg, etc. Could be modelled after the CsvSingleFileByExtension fetcher manipulator.

I'll take care of this over the weekend.

[2015-10-12 21:10] #73 closed

[2015-10-12 21:11] #69 closed

[2015-10-12 22:27] mjordan opened #74 "Create a fetcher manipulator that selects a random set of objects to generate"
For testing and QA purposes, it would be useful to be able to generate a random set of ingest packages. This could easily be done with a fetcher manipulator.

[2015-10-12 23:10] #74 closed

[2015-10-14 06:27] mjordan opened #75 "Improve messages printed to console by fetcher manipulators"
Currently, all fetcher manipulators print a message that follows the pattern `"Filtering $numRecs records through the Foo manipulator.\n"`. When combining fetcher manipulators, this produces confusing output. This example is what is printed when the CdmCompound and RandomSet fetcher manipulators:

[code]

The message printed by each fetcher manipulator should be more descriptive, e.g.

[code]

[2015-10-15 03:01] mjordan commented on #64
It would be easy to write a fetcher manipulator similar to the new RandomSet that takes in a list of record keys (instead of a randomly generated list) and to limit the items processed by MIK to just those. Might be useful if a job ran but skipped some problematic items; after the problems were fixed, rerun the job using their record keys as input. The path to the list of keys could be passed in a

[2015-10-15 03:51] MarcusBarnes commented on #64
:thumbsup:

[2015-10-15 14:28] mjordan commented on #64
OK, I'll write up this manipulator.

[2015-10-18 17:45] #75 closed

[2015-10-19 02:23] mjordan commented on #47
Done.

[2015-10-19 02:23] #47 closed

[2015-10-21 21:49] MarcusBarnes opened #76 "FYI: (Windows) Paths in the configuration file may make MIK fail if they include junction points."
If mounted Window share drives include junction points for input_directories[] or output_directory paths in the configuration file, MIK filgetters or writers may fail.

Temporary solution is to use paths that do not include junctions.

[2015-10-26 16:45] MarcusBarnes opened #77 "Csv Book Toolchain"
An MIK toolchain for migrating books (monographs): create a CSV book filegetter/writer.

The input that Islandora Book Batch expects is documented at https://github.com/Islandora/islandora_book_batch.

N.B: We may need to flatten hierarchical source books for importing into Islandora since Islandora's Book Solution Pack currently only supports flat books.

[2015-10-27 19:10] MarcusBarnes opened #78 "Create exception when no full-text OCR is present when it is expected in the CdmNewspaper toolchain"
In commit https://github.com/MarcusBarnes/mik/commit/567085270a4ddb09e144a55d6d8d623b067774a4 a check was added to see if a the Cdm Object Info contained the full text for creating the OCR datastream.    Thus, if a newspaper collection that is processed as part of the CdmNewspaper toolchain does not have full-text OCR as part of the Cdm Object Info, MIK will simply not create this datastream.  How

[2015-10-29 23:30] MarcusBarnes commented on #78
This issue has been addressed for the CdmNewspaper writer class via commit fb4099ccb7b463fa9d45f263bfbef146274e258b.

Documentation for the WRITER section of the configuration file will need to be update to include how stipulate the expected datastreams.

[2015-10-29 23:30] #78 closed

[2015-10-30 17:41] MarcusBarnes opened #79 "Update CdmNewspaper toochain documentation."
Update the CdmNewspaper toolchain documentation to include details on how to use the `datastreams[]` configuration setting in the `WRITER`section (available as of commit https://github.com/MarcusBarnes/mik/commit/fb4099ccb7b463fa9d45f263bfbef146274e258b).

[code]

[2015-10-30 18:09] MarcusBarnes opened #80 "Set expected OBJ file extension in configuratoin file for use in writer classes."
More than one file type can be used for the purpose of the OBJ datastream.  For example, for newspapers, both OBJ.tiff and OBJ.jpg can be used to ingest into Islandora.   Allow the ability to explicitly state the desired file extension for the OBJ datastream for use in the writer class and anywhere else it is needed.

[2015-10-30 23:16] MarcusBarnes commented on #80
Addressed as of commit https://github.com/MarcusBarnes/mik/commit/7ab83e173543cfb30edebc5a2804283d655aeffe.

For the CdmNewspaper toolchain, the following can be added to the configuration file:

[FILE_GETTER]
; One or more allowed file extension for the master OBJ files
; to handle variations of the file extension for the same MIME type.
; for example, the use of .tiff or .tif extensions for stan

[2015-10-30 23:16] #80 closed

[2015-11-02 21:27] MarcusBarnes opened #81 "Extras: Create input file for the Specificset fetcher maninpuator from problem_record log"
Create a utility script that will take the problem_record.log file as input and write out a file suitable for input to the SpecificSet fetcher manipulator.

SpecificSet fetcher manipulator wiki documentation: https://github.com/MarcusBarnes/mik/wiki/Fetcher-manipulator:-SpecificSet

[2015-11-04 20:47] MarcusBarnes commented on #81
Addressed as of commit https://github.com/MarcusBarnes/mik/commit/d0a4d9880c3f3ea7a6a357a4dd76c0a92d7e15c7.

[2015-11-04 20:47] #81 closed

[2015-11-06 00:21] mjordan opened #83 "Create fetcher manipulator for Cdm toolchains that filters out compound child objects"
The generic compound object toolchain under development will migrate single-file CONTENTdm objects that are children of compound objects. To ensure that we don't load the same single-file object twice, we need to be able to perform a migration of only parentless single-file objects, that is, ones that have a 'find' field value of -1.

[2015-11-07 00:16] MarcusBarnes commented on #65
Note that one will need to use the CdmCompound fetcher manipulator for this toolchain: https://github.com/MarcusBarnes/mik/blob/master/src/fetchermanipulators/CdmCompound.php

[2015-11-07 17:36] mjordan opened #84 "Create a metadta manuipulator that adds a UUID to a MODS identifier element"
Similar to the AddContentdmData manipulator, this one would simply add a V4 UUID to a MODS identifier element. Use the Composer-friendly https://github.com/ramsey/uuid to generate the UUIDs since PHP can't seem to do that.

[2015-11-08 18:08] mjordan commented on #84
@MarcusBarnes if you could test this on a Windows box I'd appreciate it. The code is in the issue-84 branch, and you will need to run composer update before running MIK. I've added a wiki page for this manipulator that explains what it does.

[2015-11-08 18:50] MarcusBarnes commented on #84
@mjordan Thanks - I'll test this on a Windows box and report back.

[2015-11-09 19:02] mjordan commented on #83
@mbarnes, can you test issue-83 branch when you have a minute? [Wiki page](https://github.com/MarcusBarnes/mik/wiki/Fetcher-manipulator:-CdmNoParent) is available.

[2015-11-09 19:04] MarcusBarnes commented on #83
@mjordan Yes.  I will test and report back.

[2015-11-09 19:37] mjordan opened #85 "Add ability to CdmSingleFile file getter to get masters"
CdmSingleFile.php does not get master files from local drives like CdmNewspapers.php does. Should work the same way it does now for newspapers.

[2015-11-09 21:09] MarcusBarnes commented on #83
Initial test runs on my end create output as expected.

[2015-11-09 22:29] MarcusBarnes commented on #84
I've tested the code with the CdmNewspaper toolchain on a Windows 7 box and the UUID is added to the issue level MODS XML as expected. :thumbsup:

[2015-11-09 22:34] mjordan commented on #84
Excellent, thanks. Please merge and delete branch issue-84 at your convenience.

[2015-11-09 23:18] #84 closed

[2015-11-09 23:29] MarcusBarnes commented on #83
Addressed in commit 2889a0b8cb145700d24c33cae77b2b1c87bc235b.

[2015-11-09 23:29] #83 closed

[2015-11-09 23:39] MarcusBarnes opened #88 "CdmNewspaper toolchain: V4 UUID for page-level MODS XML"
Add a V4 UUID to the page-level MODS XML generated from the CdmNewspaper toochain when `datastreams[] = MODS` (for page level MODS XML) is set for in the WRITER section of the MIK configuration file and the ` metadatamanipulators[] = "AddUuidToMods"` is set in the MANIPULATORS section. See the wiki page for the [AddUuidtoMods metadata manipulator](https://github.com/MarcusBarnes/mik/wiki/Metadata-

[2015-11-10 20:17] MarcusBarnes commented on #88
Addressed in commit https://github.com/MarcusBarnes/mik/commit/d75ca3eb3ba0f6bb3d9b20f385f60af35fcf635f.

[2015-11-10 20:17] #88 closed

[2015-11-10 20:19] mjordan commented on #88
Great, I'll give this a whirl this evening.

[2015-11-10 20:19] MarcusBarnes commented on #88
@mjordan Thank you.

[2015-11-12 15:06] mjordan commented on #71
Currently, the script assumes that MODS.xml is the issue-level metadata file. Newspaper batch allows MODS, DC or MARCXML (.xml). Maybe we should add an optional command-line option  (with a default of MODS.xml) so the user can specific which one to check for at the newspaper issue level, e.gi `--issue_level_metadata=DC.xml`.

[2015-11-12 18:29] MarcusBarnes commented on #71
Capturing a thought related to comment https://github.com/MarcusBarnes/mik/issues/71#issuecomment-145261972:  For the extras scripts, provide an option to return a boolean value or values to be handed off to the next extras script so that these can be chained when using an on-completion mechanism.

[2015-11-12 19:36] MarcusBarnes commented on #71
I've tested both newspaper and single item packages with the check_files.php extras script.  It functioned as expected.  I will close this issue and merge into master.  Additional enhancements such as that suggested in comment https://github.com/MarcusBarnes/mik/issues/71#issuecomment-156132600 can be added as separate issues.

[2015-11-12 19:44] MarcusBarnes commented on #71
Address in commit 31ce77e5d75ea46d5ec6c9ae3389bb4ba7146786.

[2015-11-12 19:44] #71 closed

[2015-11-12 20:50] mjordan opened #90 "Add option to check_files.php to allow for metadata other than MODS.xml"
Based on https://github.com/MarcusBarnes/mik/issues/71#issuecomment-156132600.

Add an option to extras/check_files.php to allow the user to indicate DC.xml or MARCXML.xml as the issue-level metadata to check for. Currently, MODS.xml is hard coded.

[2015-11-12 22:14] mjordan commented on #64
@MarcusBarnes can we close this one?

[2015-11-12 22:21] MarcusBarnes commented on #64
The SpecificSet fetcher manipulator that @mjordan contributed as an outgrowth of discussions on this issue is slightly different than what was originally envisioned.  That said, let's close this issue for now and reopen should we require the ability to fetch specific date range of things such as newspapers.

[2015-11-12 22:21] #64 closed

[2015-11-12 22:27] MarcusBarnes commented on #90
This feature enhancement was merged into master at https://github.com/MarcusBarnes/mik/commit/c463e7018018e5c9fbc56f16cedffddd2210e6c1.

[2015-11-12 22:27] #90 closed

[2015-11-15 17:31] mjordan opened #92 "Allow for "hooks" that can be fired after MIK has written out a package"
Picking up on an idea mentioned in [issue 71](https://github.com/MarcusBarnes/mik/issues/71#issuecomment-145261972), we should provide a way for scripts to run after MIK has completed writing an object's ingest package. Ideally, the script fired by the hook would run in a separate process so that it would not interfere with MIK's continued operation. Perhaps a component like https://github.com/coc

[2015-11-17 05:03] mjordan commented on #92
Initial work complete. Sample PHP script tasks are in extras/scripts/postwritehooks. To use, add the following to your .ini file:

[code]

The record_key gets passed as the only parameter to the scripts. Issue has come up re. how to pass `$settings` into the scripts. We could have the scripts read the .ini file, but that would limit us to using PHP post write hook scripts. I tried converting `$set

[2015-11-17 15:45] mjordan commented on #92
@MarcusBarnes when you get a chance, can you review/test this implementation? Feedback welcome...

[2015-11-17 17:51] MarcusBarnes commented on #92
Thanks - will do.

[2015-11-17 19:53] MarcusBarnes commented on #92
@mjordan Thank you.  I've done some basic testing and things appear to function as expected.

[2015-11-17 19:58] mjordan commented on #92
Cool, thanks. I'm happy to merge into master but label it "experimental" in the documentation, which I will add to the wiki.

[2015-11-17 20:09] MarcusBarnes commented on #92
@mjordan Please feel free to merge into master given that the master branch is still pre-alpha/alpha and functionality can be easily reverted.  It would be interesting to gather, compile, and document use-cases both locally and from other potential users of MIK for the postwritehook functionality.  Wish-list items can be added as issues with the "enhancement" label.  Thank you again for your contr

[2015-11-23 21:56] mjordan commented on #3
We should implement Guzzle in the other filegetters, in order to mitigate against slow response times on the CONTENTdm server due to backup jobs, etc. I can do the CdmNewspapers filegetter if you want.

[2015-11-23 22:10] MarcusBarnes commented on #3
That would be great.  Thank you.

[2015-11-24 03:31] mjordan opened #93 "Replace ValidateMods filemanipulator with a post write hook script"

[2015-11-24 03:32] mjordan commented on #93
Closed with c4c196bae6fdae57d9b1cf76fd96b5c9fd9d09f9.

[2015-11-24 03:32] #93 closed

[2015-11-27 14:24] mjordan opened #94 "check_files.php needs to check for files that should not be in the input directories"
check_files.php currently checks for the existence of each newspaper page-level file named in $file_patterns. We also need to check for extraneous files.

[2015-11-27 19:20] mjordan opened #95 "Allow SpecificSet fetcher manipulator specify a set of record_keys to *not* fetch"
It would be useful to be able to tell a fetcher to skip specific set of records. Should be able to modify the existing [SpecificSet](https://github.com/MarcusBarnes/mik/blob/master/src/fetchermanipulators/SpecificSet.php) to do this, perhaps by taking an "exclude" parameter.

[2015-11-30 15:58] mjordan commented on #94
check_files.php now looks for unexpected files in the top-level input directory, in each issue-level directory, and in each page directory. Paths to unexpected files are logged.

[2015-11-30 15:58] #94 closed

[2015-11-30 20:37] MarcusBarnes opened #96 "CdmNewspaper writer: Set directory number name from page OBJ filename"
For CdmNewspaper writer, infer the name to use for the page directory from the corresponding OJB file name.  This will help deal with cases where there are pages missing (no OBJ files for those pages - for whatever reason).  For example, pages 1-5 and  9-10 exist, but pages 6 and 7 do not exit for a 10 page newspaper issue.

[2015-12-01 00:10] mjordan opened #97 "Add utility script to extract CONTENTdm pointer from MODS.xml"
We are developing utility scripts (like extras/scripts/check_files.php) that write out the path to problematic newspaper issues in MIK output. In order to reprocess these problematic newspaper issues, it would be useful to be able to convert the issue paths (which for SFU use the publication date as the directory name) to a list of corresponding (issue-level) CONTENTdm pointers.

@MarcusBarnes sug

[2015-12-01 05:45] mjordan opened #98 "Simplify parameters passed to post-write hook scripts"
Passing JSON serializations as command-lind parameters is overly complex and brittle. Convert the list of child IDs from a JSON list to a simple comma-separated lists, and pass the path to the .ini file instead of a JSON version of the config array. Thanks to @MarcusBarnes for pointing out that Python can read a standard .ini file.

[2015-12-01 05:53] mjordan commented on #98
Wiki updated.

[2015-12-01 05:53] #98 closed

[2015-12-01 15:21] #95 closed

[2015-12-01 20:51] mjordan opened #99 "Use cases for conditional mapping from source to output metadata structures"
Currently, the source->output mappings that MIK does can't accommodate conditional logic; the mappings are strictly one to one, from source to output, with at most the value of the source element interpolated into the output XML snippet through use of the %value% token. This issue is a place to collect use cases for adding conditional logic to the mappings.

[2015-12-01 20:53] mjordan commented on #99
Use case: If an element already exists in the output document, skip a metadata manipulator or mapping.

Example: An `<identifier>` element already exists in the metadata (for example, as defined in a mapping file), so we don't want to add an additional one that has the same attribute or value.

[2015-12-02 15:49] mjordan commented on #99
This is not a use case but a possible way to allow metadata manipulators to use a simple "session" to track information about XML elements they have already processed. Basically, this allows metadata manipulators to write data to a file and then retrieve it later. I've implemented this for discussion in https://github.com/MarcusBarnes/mik/blob/session/src/metadatamanipulators/MetadataManipulator.p

[2015-12-02 16:18] mjordan commented on #99
Some basic documentation for using the session:

Metadata manipulators process a single MODS element, not the entire MODS XML document. This means that they inspect and modify elements in isolation from the rest of the XML document, which makes it impossible to do things like check for the existence of an element other than the one being manipulated, or to inspect the value of another element and

[2015-12-02 17:40] MarcusBarnes commented on #99
@mjordan Awesome! Thank you for the contribution.  I will review and report any issues I encounter.  Thanks again.

[2015-12-02 17:41] mjordan commented on #99
Great. I'm going to add something else to the basic documentation comment now.

[2015-12-04 00:43] MarcusBarnes opened #100 "CdmtoMods metadataparser: oneParentWrapperElement method does not function as expected"
@mjordan and I.S. identified a case where the oneParentWrapperElement method within the CdmToMopds metadataparser did not properly handle certain repeated MODS child elements with attributes  resulting in the child element being removed from the resulting MODS.xml file.

Once a fix has been made, a comment pointing to the appropriate commit will be added.

[2015-12-04 00:50] MarcusBarnes commented on #29
There was progress on this, but it is still not working as expected.  See https://github.com/MarcusBarnes/mik/issues/100

[2015-12-04 01:15] mjordan opened #101 "Add check for valid UTF-8 in OCR files"
Add check to check_files.php to ensure that OCR.txt files are valid UTF-8.

[2015-12-04 03:24] #101 closed

[2015-12-04 03:55] mjordan opened #102 "Provide a framework to replace check_files.php"
[check_files.php](https://github.com/MarcusBarnes/mik/blob/master/extras/scripts/check_files.php) is becoming long and bloated, and is also becoming more specific to SFU's migration. It would be great to provide a wrapper script that allowed people to add specific tests easily. This script would iterate down a directory tree and allow the scripts to check specific files.

It would be interesting t

[2015-12-04 04:16] MarcusBarnes commented on #102
:thumbsup:

[2015-12-04 05:40] MarcusBarnes commented on #101
:thumbsup:

[2015-12-04 23:47] MarcusBarnes commented on #100
Addressed in commit https://github.com/MarcusBarnes/mik/commit/d4fa81c26ad7f215e355c7c5cbf5394844833b93.  If other issues are found, please describe the behaviour and reopen this issue.

[2015-12-04 23:48] MarcusBarnes commented on #29
https://github.com/MarcusBarnes/mik/commit/d4fa81c26ad7f215e355c7c5cbf5394844833b93

[2015-12-04 23:48] #29 closed

[2015-12-07 14:55] mjordan commented on #3
@MarcusBarnes can you take a look to make sure that how I've implemented error catching in https://github.com/MarcusBarnes/mik/blob/issue-3/src/filegetters/CdmNewspapers.php#L107 (and similar at lines 220, 252, 277)?

[2015-12-09 18:54] MarcusBarnes opened #103 "FilterModsTopic metadata manipulator not handling topic element attributes as expected"
In the current implementation of the [FilterModsTopic](https://github.com/MarcusBarnes/mik/commit/3373ffb7551ce2cef808e581ffaf43ee93db3581) metadata manipulator, if the topic element has attributes, these are not added back after filtering.  Retain any subject and topic element attributes.

[2015-12-09 20:50] MarcusBarnes commented on #103
Addressed as of commit https://github.com/MarcusBarnes/mik/commit/9bdbd7414a5904907cfb127bd962c8a06d13b400.

[2015-12-09 20:50] #103 closed

[2015-12-11 23:38] mjordan commented on #85
I'll make a first pass at this feature this weekend.

[2015-12-13 21:41] mjordan opened #104 "Cache object metadata"
If we cache each object's raw metadata as it is retrieved from the source, we don't need to refetch the metadata each time we call $fetcher->getItemInfo(). Manipulators and post-write hook scripts can also use this cached metadata.

[2015-12-13 21:42] mjordan commented on #104
Done for Cdm and Csv fetchers in 624a094.

[2015-12-13 21:42] #104 closed

[2015-12-14 22:10] mjordan opened #105 "The SpecificSet fetcher manipulator always includes record with record key 0"
Title describes the problem.

[2015-12-14 23:53] #105 closed

[2015-12-16 04:36] mjordan commented on #54
@MarcusBarnes I'll close this since you've added

[code]

to the top of mik to work around this problem

[2015-12-16 04:36] #54 closed

[2015-12-17 05:59] mjordan commented on #3
@MarcusBarnes I've added logging to the Guzzle calls. Take a quick look? https://github.com/MarcusBarnes/mik/blob/issue-3/src/filegetters/CdmNewspapers.php#L115

I tested by turning off my network connection half way through a job. Pointers showed up in problem_records.log and Guzzle errors showed up in mik.log.

[2015-12-17 16:14] mjordan opened #107 "Reduce repetition of values in .ini files"
MIK .ini files contain a number of duplicate values, for example "alias", "ws_url", and "temp_directory". We should add a "[GENERAL]" section and include those values there. Although I can't think of a use case at the moment, we may want to allow for overriding values at the .ini file section level.

[2015-12-17 19:16] MarcusBarnes commented on #3
:thumbsup: Tested with a CT SpecificSet batch.  It appears to function as expected.  When I disconnected the network, the pointers showed up in problme_records.log and the Guzzle errors were recorded in the mik.log.   Thank you @mjordan for your work on this.

[2015-12-17 19:17] MarcusBarnes commented on #107
:thumbsup: Good suggestion.

[2015-12-17 21:11] mjordan commented on #3
Great, thanks. I'll incorporate this into the CdmSingleFile filegetter as well.

[2015-12-17 22:37] MarcusBarnes commented on #3
@mjordan That would be awesome.  Thank you.

[2015-12-18 15:46] mjordan commented on #3
Done in 169597c1615de0ab015491937be2ff3843098cca. I think we can merge issue-3 into master and close this issue. @MarcusBarnes any reason not to do that?

[2015-12-18 16:08] mjordan commented on #3
... and now CdmPhpDocument is done.

[2015-12-18 16:15] mjordan commented on #63
@MarcusBarnes is this still an issue?

[2015-12-18 18:35] MarcusBarnes commented on #3
@mjordan Thank you.  I don't see any reason to not to merge.  I'll double check and then go ahead if everything looks good.  Thanks again for the contribution.

[2015-12-18 18:47] MarcusBarnes commented on #63
@mjordan We were able to process the large CT files with the CdNewpaper writer class without issue after modifications were made after this issue was created.  I'll close this issue.  Should anyone encounter allowed memory size PHP fatal errors for large source files, we can reopen this issue or create a new related issue.  Thanks.

[2015-12-18 18:47] #63 closed

[2015-12-19 15:49] mjordan opened #109 "Allow for the creation of metadata only"
We have a use case with the Lake District Collection where we want to get MODS documents for all of the books so they can be manually edited before migrating the collection. We could generate MODS from CONTENTdm with a bespoke script but we'd lose the ability to use fetcher and metadata manipulators, etc.

A simple implementation would be to add a 'metadata_only' value to the WRITER section of .in

[2015-12-19 15:52] mjordan commented on #3
Merged into master.

[2015-12-19 15:52] #3 closed

[2015-12-20 07:04] MarcusBarnes commented on #109
For the [CdmNewspaper writer](https://github.com/MarcusBarnes/mik/blob/master/src/writers/CdmNewspapers.php) class, this feature has already been implemented with the datastreams property set within the Writer parent class.  In the Writer section of the configuration file, you'd only list datastreams[] = "MODS"; it would then skip writing all other default output files other than the MODS.xml file

[2015-12-20 17:43] mjordan commented on #109
Nice! I'll implement this in the other Writers, if that's OK.

[2015-12-20 17:45] MarcusBarnes commented on #109
@mjordan Yes - that would be awesome if you could do that.  Thank you.

[2015-12-21 00:13] mjordan commented on #109
I've implemented your checking for DSIDs in the CdmSingleFile, CdmPhpDocuments, and CsvSingleFile writers. Unlike with the CdmNewspapers writer where the DSIDs are known in advance, for the SingleFile writers, the non-metadata file can be OBJ or something else, depending on the content model. In other words, we can't specify a DSID like we do for MODS because the writer is used to create ingest pa

[2015-12-22 17:25] mjordan commented on #109
@MarcusBarnes I've tested on CsvSingleFile writer, and had to move some stuff around within that class file - can you take a look at https://github.com/MarcusBarnes/mik/commit/6804a8ad45ea8f541194e4ddfe0ddf667e219ad1 ?. I am unclear what `$enforce_metadata_only` does. Is that variable still necessary?

[2015-12-22 18:12] MarcusBarnes commented on #109
@mjordan  `$enforce_metadata_only` is related to Mark Cooper's use-case and pull-request: https://github.com/MarcusBarnes/mik/pull/56/files  It would be good to preserve the functionality for his use-case.

[2015-12-22 20:08] mjordan commented on #109
OK, thanks. I'll make sure it remains intact.

[2015-12-22 20:10] MarcusBarnes commented on #109
:thumbsup:

[2015-12-23 18:28] mjordan commented on #109
@MarcusBarnes sBarnes OK, I've confirmed that @mark-cooper's functionality is unchanged by my recent work on #109. I will email you some test data if you have time to confirm.

[2015-12-23 18:32] MarcusBarnes commented on #109
@mjordan That would be great.  Thanks.

[2015-12-23 18:55] mjordan commented on #85
@MarcusBarnes can we close this issue?

[2015-12-23 19:02] MarcusBarnes commented on #85
Yes, as the work was merged into master.  Thanks again @mjordan for your contribution.

[2015-12-23 19:02] #85 closed

[2015-12-24 15:51] mjordan commented on #109
Closed wiit https://github.com/MarcusBarnes/mik/pull/110.

[2015-12-24 15:51] #109 closed

[2015-12-24 19:24] MarcusBarnes commented on #65
The the toolchain is working for non-hierarchical "book" like content that will be imported into Islandora instances using Islandora Book Batch for use with the Islandora Book Solution Pack.   The filegetter assumes that the the source paths contain the CONTENTdm pointer within the file path to the OBJ files for the "book".

I've put the preliminary code here https://github.com/MarcusBarnes/mik/tr

[2015-12-31 06:55] mjordan opened #111 "CONTENTdm compound object toolchain"
The compound branch contains a proof of concept implementation of a CONTENTdm compound object toolchain.
## Getting the files from CONTENTdm

The output of the filegetter organizes top-level objects (the CONTENTdm "parent" objects) in their own directories; each of these contains subdirectories for all children of the parent, plus a 'structure.xml' file that contains the output of CONTENTdm's dmGe

[2015-12-31 06:56] MarcusBarnes commented on #111
:thumbsup:

[2016-01-05 00:52] MarcusBarnes opened #112 "Provide documentation for toolchains in the wiki?"
Would it be desirable and useful to have a wiki pages that describe how to use MIK for various tool chains (for example, Cdm Newspaper)?   Currently, the main wiki page describes how to set up MIK with examples and there are pages for various manipulators.  Toolchains seem similar to use-cases.

[2016-01-05 05:57] mjordan commented on #111
I've pushed a post-write hook script generate_compound_structure_file.php to the compound branch to illustrate how we might use the output of the tree utility to generate the following XML structure file from a directory tree:

[code]
Parsing out the node paths and parent paths works as well as it does for the CONTENTdm .cpd file, with minor modifications to the script above.

[2016-01-05 15:33] mjordan opened #113 "Add the equivalent of the AddContentdmData metadata manipulator for CSV toolchains"
We only have one collection that will be migrated using the CSV toolchain (the Editorial Cartoons) but we should capture all the original metadata for these items, just like we are doing for CONTENTdm source objects.

[2016-01-05 19:18] #100 closed

[2016-01-05 19:22] MarcusBarnes opened #114 "CSV tool Chain, CSVtoMods: Repeated MODS elements with (or without attributes) not handled properly when consolidating wrapper elements"
Within the CSVtoMods.ph metadataparser, repeated MODS elements with (or without attributes) are not handled properly when consolidating wrapper elements, resulting in some metadata not being added to the output MODS.xml file.

There was a similar issue with the CdmToMods.php metadataparser:  https://github.com/MarcusBarnes/mik/issues/100

[2016-01-05 20:34] MarcusBarnes commented on #114
Addressed with commit 2a67c0eac33ed7d99ba745df423697a802fce03c.

[2016-01-05 20:34] #114 closed

[2016-01-05 20:38] MarcusBarnes opened #115 "CdmToMods, CsvToMods Metadataparsers: Move consolidate wrapper methods to parent mods.php class"
As of commit 2a67c0eac33ed7d99ba745df423697a802fce03c, both CdmToMods and CsvToMods use similar code to deal with repeated wrapper MODS elements.  Move these common methods to the common parent - Mods.php  - to reduce repetition.

[2016-01-06 15:40] #113 closed

[2016-01-06 15:54] mjordan commented on #113
[Wiki page](https://github.com/MarcusBarnes/mik/wiki/Metadata-manipulator:-AddCsvData)

[2016-01-06 15:55] mjordan commented on #112
Yes it would. I can take a first crack at this.

[2016-01-06 19:30] MarcusBarnes opened #116 "CdmNewspapers, CdmBooks writers: ORC text in .txt files"
Currently, both the CdmNewspapers and CdmBooks writer classes assume that ORC text is contained in the $page_object_info['full'] variable, which is an array of key=>value data from CONTENTdm.  If no OCR text was loaded into CONTENTdm for a book (for example), page_object_info['full'] will not be set.  However, it could be the case that OCR text exists in a meaningfully organized fashion, like the

[2016-01-08 15:59] mjordan opened #117 "Deprecate file manipulators?"
@MarcusBarnes I'm still unsure of the general use case for file manipulators, especially if we are now using post-write hooks. I'd like to consider deprecating them for the 1.0 release and have added the following note to the wiki page:

I guess my main argument for using post-write hooks is that they run in the background, so are better suited for potentially expensive operations like creating de

[2016-01-08 17:19] mjordan commented on #99
@MarcusBarnes with the new metadata caching feature in 6192d0880a8e08d47c12fffdda8df78227e0e93f, it will be possible for metadata manipulators to access the raw metadata and react accordingly. So the caveat I expressed above, "Keep in mind that the elements in the MODS document are processed sequentially", may not be as big deal.

Would you mind testing the "session" branch to make sure it works?

[2016-01-08 18:00] MarcusBarnes commented on #99
@mjordan Yes - I'll test the session branch.   Please provide any suggested scenarios for the testing.  Thank you!

[2016-01-08 18:34] MarcusBarnes commented on #117
@mjordan Once nice thing about how we set up the current filemanipulators is that it's rather easy to add the functionality back-in should a suitable use case come up.  Based on how we've been using them, post-write hooks are suitable place for our "filemanipulators" and, as you point out, better suited for expensive operations like creating derivatives.

I agree that we should consider deprecatin

[2016-01-09 17:46] mjordan commented on #99
To test the latter approach using the cartoons data, in *master* branch do the following:

1. Add the [sample metadata manipulator](https://gist.github.com/mjordan/9f5813dd99281ddb2ff7)  to your toolchain (copy it to src/metadatamanipulators/MJTest.php, run `composer 1. dum-autoload`, and add `metadatamanipulators[] = "MJTest"` to your config file).
1. Add `null6,<extension><foo></foo></extension>

[2016-01-09 17:51] mjordan commented on #99
Now that I reread the original use case that I supplied, there might still be a use for the session, since it saves the XML for later inspection. There might be a use for both approaches.

[2016-01-10 22:21] mjordan commented on #112
I've created a wiki page for the [CSV single file toolchain](https://github.com/MarcusBarnes/mik/wiki/Toolchain:-CSV-single-file-objects). Let me know if you think it would act as a useful template for the others.

I'd like to provide a cookbook like the one I did up for [Islandora Feeds](https://github.com/mjordan/islandora_feeds/wiki/Cookbook) to document how to add extra elements to a MODS file

[2016-01-11 15:51] mjordan commented on #34
I removed tests/FetcherTest.php, which removed the error, and updated tests/CsvTest.php so that it now passes.

[2016-01-11 19:43] mjordan opened #118 "Provide configuration option to set the CSV reader's enclosure character"
League CSV uses the double quotation mark as the default field enclosure character. We should provide a configuration option to allow the setting of this.

[2016-01-12 04:04] mjordan commented on #118
I've added this option, and while I was in there I added the option to define the CSV escape character and made [FETCHER] field_delimiter setting optional, giving it a default of ','.

* To test that the field_delimiter setting is now optional, comment it out in the cartoons_config.ini file and run the CSV toolchain.
* To test the new [FETCHER] field_enclosure option run the CSV toolchain using [t

[2016-01-12 04:50] mjordan opened #119 "Ignore Thumbs.db, ._.DStore, etc"
The CSV single file toolchain (and the CSV compund toolchain when it is developed) must ignore all occurrences of Thumbs.db (Windows) and .DS_Store / ._.DStore (Mac) when scanning directories. We may need to account for how the various operating systems define hidden files as well, since we generally don't want to include them in Islandora ingest packages.

[2016-01-12 23:04] MarcusBarnes commented on #99
@mjordan I have tested the scenario described in your your [comment](https://github.com/MarcusBarnes/mik/issues/99#issuecomment-170264456).  It worked as expected.  Very cool.  Thank you.

[2016-01-13 00:23] mjordan commented on #99
Thanks. Maybe I'll write up a cookbook recipe based on this technique, on "How do I modify the value of a MODS element based on specific metadata values?" or something similar? Seems like a useful topic.

[2016-01-13 00:28] MarcusBarnes commented on #99
@mjordan Great idea.  Thanks.

[2016-01-14 15:02] mjordan commented on #99
@MarcusBarnes if you've tested the session branch, could you merge it into master? There is some code that is in the Metadtamanipulator abstract class that should be merged. The second, cached metadata, approach doesn't use any code outside of manipulators so there's nothing to merge for that.

[2016-01-14 15:48] mjordan commented on #49
Just a followup, the fix suggested at the CLImate issue linked above doesn't work for us. I'll document this in the MIK Cookbook and we can remove it when the upstream issue is resolved.

![climate_on_windows](https://cloud.githubusercontent.com/assets/403918/12329000/056fd490-ba93-11e5-9d61-add1a41a54de.png)

[2016-01-14 17:05] mjordan opened #120 "Create [FETCHER] temp_directory if it doesn't exist?"
Any reason not to do this? We create the [WRITER] output_directory if it doesn't exist. [FILE_GETTER] also defines a temp_directory, and it probably doesn't need to have the same value as [FETCHER]'s, but I can't think of good use case for it not to be, other than you were getting very large quantities of files and you wanted to write them to some specially configured or temporary file space.

If

[2016-01-14 17:54] MarcusBarnes commented on #120
@mjordan Please go ahead.   We can document that the specified folder is created automatically if it does not already exist so that people with unique use cases can modify this as required.

[2016-01-14 18:15] MarcusBarnes commented on #49
@mjordan Thank you for the update.

[2016-01-14 18:17] mjordan opened #121 "Windows PowerShell and cmd shell cannot run post-write hook scripts"
When running MIK under the Windows cmd shell or PowerShell, post-write hook scripts fail and produce the error  `Fatal Error Unable to reattach to base address`, at least on Windows 7 Enterprise SP1 (64 bit). This does not happen when running MIK in Git Bash.

I will open an issue with [cocur/background-process](https://github.com/cocur/background-process), the component used to run these jobs.

[2016-01-14 18:35] MarcusBarnes commented on #99
@mjordan I'm not done testing the session branch.  It did not run as expected on my machine for the cartoon test Csv test data.  I haven't yet been able to determine why it's not generating the packages as expected.

[2016-01-14 18:38] mjordan commented on #121
Here's the upstream issue: https://github.com/cocur/background-process/issues/15

[2016-01-14 18:47] mjordan commented on #99
I'm happy to help troubleshoot tomorrow when I'm in the office.

[2016-01-14 18:57] MarcusBarnes commented on #99
@mjordan Thanks.

[2016-01-14 21:35] MarcusBarnes commented on #118
@mjordan I have successfully tested that the field_delimiter setting is optional. Thanks.

[2016-01-14 21:36] MarcusBarnes commented on #118
@mjordan I have successfully tested that the new [FETCHER] field_enclosure option using the test csv file that uses the bar character as an enclosure.

[2016-01-14 22:22] MarcusBarnes commented on #118
@mjordan For the test of the [FETCHER] escape_character in your [comment above](https://github.com/MarcusBarnes/mik/issues/118#issuecomment-170779543), what was the expected result?

[2016-01-15 00:17] MarcusBarnes opened #123 "Improve ErrorException messages"
There is a mismatch between the keys and values in the ErrorException messages, making them harder to use than they would otherwise.    This is related to the use of [set_error_handler block](https://github.com/MarcusBarnes/mik/blob/master/mik#L57) in the main MIK script and the [ErrorException class](https://github.com/MarcusBarnes/mik/blob/master/src/exceptions/MikErrorException.php)

[2016-01-15 01:48] mjordan commented on #121
Commenting out `opcache.enable_cli=1` in php.ini resolves this issue.

[2016-01-15 03:16] MarcusBarnes commented on #121
@mjordan :thumbsup:

[2016-01-15 16:05] mjordan commented on #120
@MarcusBarnes I've got this done in a local feature branch, but notice that fetchers don't use any logging. I'd like to add instantiation of a log object to the fetcher abstract class so we can log its inability to create the temp directory (for example). That OK?

[2016-01-15 17:52] MarcusBarnes commented on #120
@mjordan Yes, that would be great.  Thank you.

[2016-01-15 19:33] mjordan commented on #118
Merged with c79258770a3809ecb8e82b45d0b13b3c21001dc2. I'll open a separate issue about the inclusion of the escape character in the CSV field values.

[2016-01-15 19:33] #118 closed

[2016-01-15 19:37] MarcusBarnes commented on #118
:thumbsup:  Thank you @mjordan

[2016-01-15 21:59] mjordan opened #124 "Add option to write start time of the MIK job to mik.log"
It would be useful to write a log entry that indicated what time the job started. This could be done within src/config/Config.php, and the config option could look like `[CONFIG] log_start_time = TRUE`.

[2016-01-15 22:10] MarcusBarnes commented on #124
The first variable set in the main MIK script is [`$time_start`](https://github.com/MarcusBarnes/mik/blob/master/mik#L9).  The logging is instantiated afterwards.

[2016-01-16 17:53] mjordan commented on #120
I've pushed this to the issue-120 branch but logging is not working the way I expect. To test, use a temp_directory setting like

[code]

and make `issue-120` not writable by the user running MIK.

When I run MIK, it dies (which is what I expect) but the error message written to mik.log is not the one I implement [in the fetcher child class](https://github.com/MarcusBarnes/mik/blob/issue-120/src/f

[2016-01-16 18:07] mjordan opened #125 "Put post-write hook settings in .ini file"
Currently, config variables for post-write hook scripts are hard-coded in the scripts themselves. Since these scripts have access to the MIK config file, we should allow adding variables used by these scripts in the .ini file. Each script could get its own section in the .ini file. For example, the validate_mods.php script defines these variables internally:

[code]

We should allow these variable

[2016-01-16 18:12] mjordan commented on #125
Duh. Just noticed that the two functional post-write hook scripts already parse the .ini file:

[code]

but they do so to get the `['WRITER']['output_directory']`, not their own settings.

[2016-01-16 18:14] mjordan opened #126 "validate_mods.php post-write hook script does not work for the CSV single-file toolchain"
When `[WRITER] preserve_content_filenames` is set to true.

[2016-01-16 18:32] mjordan opened #127 "validate_mods.php post-write hook script does not work for the CDM book toolchain"
Can probably follow pattern set by CDM newspapers.

[2016-01-16 18:37] mjordan commented on #65
@MarcusBarnes  was this merged into master with 7827a115d1cc58355c17b146324f4635801403d3?

[2016-01-16 20:42] MarcusBarnes commented on #65
@mjordan Thanks.  This issue should have been closed as of commit 09ad0a750da4f4cbf5e10dd80845dfaec56ce409.

[2016-01-16 20:42] #65 closed

[2016-01-17 18:04] mjordan commented on #126
@MarcusBarnes I pushed this directly to master after testing the new code for the CSV single file toolchain and also confirming that the CONTENTdm single-file toolchain functionality was not affected. I though it would be good to have this in place for when we start work on #127.

[2016-01-17 18:04] #126 closed

[2016-01-17 18:42] mjordan commented on #124
I didn't add an option for adding the start time, since we don't provide an option for the "Completed in" log entry. Please test and merge at your convenience.

[2016-01-18 14:49] mjordan opened #128 "FilterDate metadata manipulator triggers error"
Running the FilterDate manipulator results in this error:

[code]

Argument 2 is $input, should be $paramsArray.

[2016-01-18 17:33] mjordan opened #129 "CSV reader's escape character appears in ouput"
Related MIK issue: https://github.com/MarcusBarnes/mik/issues/118

If an escape character is used within a CSV value, it appears in the CSV reader's output. The maintainer of League CSV [has confirmed](https://github.com/thephpleague/csv/issues/149) that this is a [PHP bug](https://bugs.php.net/bug.php?id=55413).

For example, using this input CSV file, with the default escape character of `\`:

[

[2016-01-18 17:35] MarcusBarnes commented on #129
@mjordan Thank you for following up on this.  Much appreciated.

[2016-01-18 18:59] MarcusBarnes commented on #124
Merged with pull-request https://github.com/MarcusBarnes/mik/pull/130.

[2016-01-18 18:59] #124 closed

[2016-01-18 22:58] MarcusBarnes commented on #34
@mjordan Thank you.  I've just tested the issue-34 branch.  I'll merge momentarily and open a more general issue for adding tests for the 1.0 milestone.  Please feel free to add comments and suggestions to that issue once it's open.  Thanks again.

[2016-01-18 23:00] MarcusBarnes commented on #34
Closed with commit 757c376ddd6663934db954c967310faa88b8bddc.

[2016-01-18 23:00] #34 closed

[2016-01-18 23:02] MarcusBarnes opened #132 "Add tests and other quality control features"
For the 1.0 milestone, it is desirable to enhance the ongoing quality of MIK by adding Unit Tests and other quality control features.  This is a general issue - please feel to make suggestions in this thread and break into more specific issues as required.

[2016-01-18 23:03] MarcusBarnes commented on #34
The more general issue for adding Unit Tests and other quality control features for the 1.0 milestone release:  https://github.com/MarcusBarnes/mik/issues/132

[2016-01-18 23:12] MarcusBarnes commented on #120
@mjordan Thank you for your work so far on this.  I'll plan on taking a look at this later this week.  Once I have it working, I should probably create developer documentation on custom log messages.

[2016-01-18 23:14] mjordan commented on #120
Awesome, thank you.

[2016-01-18 23:56] mjordan commented on #119
This would make an excellent post-write hook script. Define a list of files to delete, iterate down through the output directory, and if they are found, blast them.

[2016-01-19 03:44] mjordan commented on #128
In ca53886ba252290d3fd88ea7d70e8a5a55f56485 I've rewritten this manipulator so that the cached metadata field name and the XPath to the target element are parameterized in the .ini file like this:

[code]

But, there is still a lot of specific logic in the manipulator required to modify the value of the snippet that it might not be worth parameterizing at all. Or, we could make this  manipulator g

[2016-01-19 07:57] mjordan commented on #128
OK, I think this manipulator can be pretty general now, but only if we use it to normalize dates that are destined for MODS' originInfo/dateIssued, dateCreated, dateCaptured, dateValid, dateModified, copyrightDate, and dateOther child elements. This should pretty much cover most dates used in MODS. Also, the entry in the .ini file can be much simplified, e.g.,

[code]
where `Date` is the date fiel

[2016-01-19 16:01] mjordan commented on #128
OK, this is working out nicely. The manipulator now checks for incoming dates of format \d\d-\d\d-\d\d\d\d, \d\d\d\d \d\d \d\d, and empty/nonstring. Here are two sample configs:

CSV/Cartoons:
[code]
Cdm/Vanpunk:
[code]
If the specified input date field is empty, that fact is logged.

[2016-01-19 23:52] mjordan commented on #119
The ever perspicacious @MarcusBarnes points out that some dot files can be generated simply by viewing a directory, so it would be very useful to be able to run this post-write hook script in "standalone" mode too, so it could be run just before loading a set of packages into Islandora.

[2016-01-20 19:28] mjordan commented on #119
I've just pushed a 'remove_files.php' script to branch issue-119 that recurses down and directory and removes files whose name is in the specified list. There is a logging option:

[code]

If not included, messages are printed to STDOUT.

@MarcusBarnes can you test on your Mac? Works as intended in Windows.

[2016-01-20 19:31] MarcusBarnes commented on #119
@mjordan  Yes - I'll test on a Mac.  If it runs as expected, I'll create a pull-request and merge.  Thanks.

[2016-01-20 19:36] mjordan commented on #119
@MarcusBarnes don't merge, I need to fix some formatting/indentation issues.

[2016-01-20 19:41] MarcusBarnes commented on #119
@mjordan OK.  Thanks for the warning.

[2016-01-20 21:53] MarcusBarnes commented on #119
@mjordan The 'remove_files.php' script functions as expected.  Thank you.

I've pushed a small change.  The script will check that the log path exists and exits with a message if it does not.  This is to catch typos and similar erros when specifying the log path parameter.

@mjordan  Please feel free to create a pull request once you are happy with the formatting/indentation.  I'll then review and

[2016-01-20 23:51] mjordan commented on #119
Fixed. I'd rather you merged issue-119 into master than do a PR - is that OK?

[2016-01-20 23:53] mjordan commented on #119
OK, PR to merge issue-119 into master created.

[2016-01-20 23:56] mjordan commented on #119
I'll close this and add a cookbook page for the feature.

[2016-01-20 23:56] #119 closed

[2016-01-21 00:16] MarcusBarnes commented on #119
@mjordan Awesome.  Thanks.

[2016-01-21 07:07] mjordan opened #134 "Add identifier ranges to the SpecificSet fetcher manipulator"
It will be useful to be able to specify a range of identifiers rather than list specific identifiers in a file. A simple syntax for use within the .ini file that would cover all use cases could be

[code]
to limit the fetch to records with record keys less than 1000,

[code]
to limit the fetch to records with record keys greater than 1000, and

[code]
to limit the fetch to records with record keys

[2016-01-21 15:13] mjordan commented on #134
Looking at the SpecificSet manipulator code, I think it makes more sense to add a new manipulator for ranges.

[2016-01-21 15:53] mjordan commented on #134
Two issues to connsider:

1. Examples above assume that the identifiers are integers, which may not be true in all cases. We can probably use PHP's `strnatcmp()` function to determine the boundaries of sets of alphanumeric identifiers.
2. In addition to ranges of specific identifiers, we may also want to support relative positions in the entire record set, maybe using SQL-like 'limit' and 'offset'

[2016-01-21 21:01] mjordan opened #135 "Write unit test for FITS"
Given all of paths, Java environment variables, etc. that are involved in getting FITS to run, it would be useful to be able to tell if FITS is working in a given environment. We should be able to write a PHPUnit test to do that.

Thanks to @rbos for the suggestion.

[2016-01-21 21:02] MarcusBarnes commented on #135
:thumbsup:

[2016-01-21 21:02] mjordan commented on #135
Our second test! Yay!

[2016-01-21 23:20] MarcusBarnes opened #136 "Is a METS-bagger workflow possible in MIK?"
Is a MET-bagger workflow possible in MIK similar to the METS-Bagger tool?  The METS-Bagger tool was a Python script that I helped develop for normalizing existing digitized content into standardized packages wrapped in BagIt to help with monitoring file fixity.

This issue is to help me determine how flexible MIK architecture is while potentially also improving the METS-Bagger tool flow with the a

[2016-01-22 21:03] mjordan commented on #135
@MarcusBarnes I've tested this on Linux and Windows, and it works. Can you merge into master?

[2016-01-22 21:04] mjordan commented on #135
... but feel free to test on OS X first :smile:

[2016-01-22 21:17] MarcusBarnes commented on #135
@mjordan I'll test on OS X first, then merge.  Thanks.

[2016-01-22 21:50] MarcusBarnes commented on #135
@mjordan Works as expected on OS X.

[2016-01-22 21:56] mjordan commented on #135
Merged after discussion with @MarcusBarnes.

[2016-01-22 21:56] #135 closed

[2016-01-23 18:10] mjordan commented on #134
[Wiki page](https://github.com/MarcusBarnes/mik/wiki/Fetcher-manipulator:-RangeSet) for this fetcher manipulator.

[2016-01-23 18:10] #134 closed

[2016-01-23 23:23] mjordan commented on #132
Added some more tests for the CSV toolchain in c4cde1d1fa4d37eac3a4e2606a26b19b73a2565f. Test for fetcher manipulators isn't working for some reason.

[2016-01-25 16:01] mjordan commented on #136
I think there would be an issue with writing a file to a package like FITS output and then performing operations on the package like copying it, zipping it, or generating a Bag from it because post-write hook scripts are executed as background processes. Even though we can control the order that post-write hook scripts are initiated, we can't (and probably don't want to) block a script from execut

[2016-01-25 22:02] MarcusBarnes commented on #120
Closed as of commit https://github.com/MarcusBarnes/mik/commit/bd94688b3bf764406b9862b3bfde234a2f4b9076 with pull-request https://github.com/MarcusBarnes/mik/pull/138

The logging is not functioning in the best possible way.  This can be an area for improvement for the 1.0 milestone.  I've updated https://github.com/MarcusBarnes/mik/issues/42 to reflect this.

[2016-01-25 22:11] MarcusBarnes commented on #42
More generally, improve overall logging throughout MIK to provide more meaningful log messages.

[2016-01-25 23:03] mjordan commented on #120
Reopening as these changes conflict with test code.

[2016-01-25 23:59] mjordan commented on #120
I've added logging configuration to all the fetcher tests. Tests all pass now.

[2016-01-25 23:59] mjordan commented on #120
Fixes are in branch issue-120.2.

[2016-01-26 04:22] mjordan opened #139 "Parellelize writers"
We should investigate how https://github.com/amphp/thread could be used within MIK's writers, and possibly other classes.

[2016-01-26 04:27] mjordan commented on #128
@MarcusBarnes mind if I rename this manipulator to NormalizeDate and merge this into master? I'll provide tests.... :smile:

[2016-01-26 04:29] MarcusBarnes commented on #128
@mjordan NormalizeDate it is!  Thank you very much. :+1:

[2016-01-26 16:03] mjordan commented on #128
I'll wait to merge this one into master until branch issue-120.2 is merged into master, otherwise there will be conflicts in the Metadatamanipuator test file.

[2016-01-26 18:12] mjordan commented on #128
OK, I've merged issue-120.2 into master. Will add some tests for the new Normalize Date manipulator later today.

[2016-01-26 18:13] MarcusBarnes commented on #128
Thank you @mjordan :thumbsup:

[2016-01-26 23:34] mjordan commented on #128
Merged into  master with 3c16dfd5fef87f4b67507252998c776d98e21bac with tests. I've updated the [wiki page](https://github.com/MarcusBarnes/mik/wiki/Metadata-manipulator:-NormalizeDate) for this manipulator.

[2016-01-26 23:34] #128 closed

[2016-01-26 23:35] MarcusBarnes commented on #128
:thumbsup:

[2016-01-27 00:19] mjordan commented on #120
A fix has been merged into master - can we close this issue?

[2016-01-27 00:19] #120 closed

[2016-01-27 15:00] mjordan opened #141 "Provide a MARC fetcher and metadata parser"
http://pear.php.net/package/File_MARC (also [available](https://github.com/scriptotek/php-marc) via composer) provides parsing of binary and XML MARC data. A minimalistic example of its use is:

[code]

MIK mappings could take the form

`
"245a","<titleInfo><title>How to migrate stuff</title></titleInfo>",
`
etc.

[2016-01-27 16:21] mjordan opened #142 "Provide an OAI-PMH toolchain"
https://github.com/caseyamcl/phpoaipmh looks promising. OAI-PMH has no standard way of referencing content files like PDFs, etc. So each type of source repository (DSpace, etc.) would need its own file getter class.

[2016-01-27 18:27] MarcusBarnes commented on #141
:thumbsup:

[2016-01-27 19:03] mjordan opened #143 "For the CONTENTdm toolchain, allow setting a custom user agent in Guzzle"
Useful for filtering out logs during stress testing, etc. on the source web server.

[2016-01-27 19:16] mjordan opened #144 "Allow reuse of cached metadata if it exists"
It would speed up MIK jobs if fetchers could avoid re-fetching and filtering large record sets. One way to do this is to reuse any cached metadata if it exists. One possible implementation would be that if the SpecificSet fetcher manipulator is being used, the fetcher's getRecords() method could look to see if there is a corresponding metadata cache for each object and if there is, skip the refetc

[2016-01-27 19:17] MarcusBarnes commented on #144
@mjordan Good suggestion and definitely worth exploring as an optimization.  Thank you for the suggestion.

[2016-01-27 19:20] mjordan commented on #144
OK,thanks. I'll do up a quick implementation of  this now that I'm troubleshooting the current issue with the Chinese Times job..

[2016-01-27 19:21] MarcusBarnes commented on #144
@mjordan Sounds good.  It will be interesting to do some comparisons to help determine if how much of an improvement in speed we see.  Thanks again.

[2016-01-27 19:26] mjordan commented on #144
Now that I'm looking at this, we can skip checking for the specific set manipulator and just provide a [FETCHER] option like 'use_cached_records'.

[2016-01-27 22:16] mjordan commented on #144
Or even overload the `--limit`` option to allow `--limit=cached`. Too git-like?

[2016-01-28 03:29] mjordan commented on #144
Added to the Cdm and Csv fetchers. Syntax is:

`php mik --config=cartoons_config.ini --limit=cached`

@MarcusBarnes you can test this by running an MIK job as usual, then rerunning using the `--limit=cache` option. Only the records that are cached in the FETCHER's temp_directory will be used. Delete the contents of the output directory before running with `--limit=cached`.

[2016-01-28 03:33] mjordan commented on #144
@MarcusBarnes I'm not sure how much performance this will boost but it will be useful during debugging and testing since it provides a way of rerunning MIK using the same objects as the previous run used.

[2016-01-28 22:17] MarcusBarnes commented on #144
@mjordan This appears to work properly for the CSV toolchain (tested with a small cartoons set).  I'm getting some unexpected behaviour for a test I'm running with the Cdm Newspaper toolchain.

[2016-01-28 22:35] MarcusBarnes opened #145 "--checkconfig=all option reports an error for a working Cdm utils_url"
The checkconfig=all option reports an error for a valid Cdm utils_url:

``Error: The URL [utils_url] (defined in configuration setting utils_url) appears to be a bad URL (response code 200).``

This may be due to the fact that the utils_url is a base URL for the utility URL  and does not return any data without additional URL parts and parameters.

[2016-01-28 22:40] mjordan commented on #145
Yes, I was aware of this. Has to do with bad HTTP response codes. I'll investigate.

[2016-01-28 22:57] mjordan commented on #144
Ok, thanks. I only tested with single file objects from CONTENTdm. Let me take a look.

[2016-01-28 23:54] mjordan commented on #145
The problem is that CONTENTdm returns a 404 for that URL. Looks like if we append 'getthumbnail' (e.g., `http://content.lib.sfu.ca/utils/getthumbnail`) we get a proper 200. I'll implement this workaround.

[2016-01-29 00:36] MarcusBarnes opened #146 "Consolidate or Check repeated alias setting in configuration files for Cdm workflows"
The Cdm alias setting is repeated in various sections of the configuration files for Cdm workflows.  This opens the possibility of human error.  Possible solutions could be consolidating the alias setting under one configuration section or add a check to --checkconfig that will look for repeated settings with the configuration file and confirm that settings repeated under different sections have t

[2016-01-29 00:46] mjordan commented on #145
@MarcusBarnes this is ready for testing.

[2016-01-29 00:47] MarcusBarnes commented on #145
@mjordan Cool.  I'll test now.  Thanks.

[2016-01-29 00:49] mjordan commented on #146
Related issue: #107

[2016-01-29 00:50] MarcusBarnes commented on #145
:thumbsup:

[2016-01-29 00:52] MarcusBarnes commented on #145
Closed with the merging of pull-request https://github.com/MarcusBarnes/mik/pull/147.  Thank you @mjordan

[2016-01-29 00:54] #145 closed

[2016-01-29 01:06] mjordan opened #148 "Provide option to send email at end of MIK run"
Might be useful and pretty easy to implement.

[2016-01-29 15:42] mjordan commented on #144
The glob pattern at https://github.com/MarcusBarnes/mik/blob/issue-144/src/fetchers/Cdm.php#L242 picks the first cached record and passes it back to mik. When mik gets to getChildren(), if the Cdm object corresponding to the cached record doesn't have children, things go south from there. So, looks like reusing this cached metadata works for single-file objects, but not compound. Let me think abou

[2016-01-29 15:55] mjordan opened #149 "Allow exceptions in config check checkPaths() for directories that will be created automatically"
We create the directories specified in temp_directory and output_directory settings, so we should provide exceptions for those in the config check's checkPaths() function. Perhaps it's more useful to tell the user that mik can create those directories, i.e., that their parent directories are writable.

[2016-01-29 16:04] mjordan commented on #144
Just a thought - if reusing cached metadata doesn't give us noticeable performance gains, and the only use case for doing this is testing / debugging, maybe a simple post-write hook that dumps out a list of record keys that can then be reused by the SpecificSet fetcher manipulator gives us the same thing. Would at least work for simple and compound source objects.

[2016-01-29 19:22] mjordan opened #150 "Implement filegetter manipulators in the CdmNewspaper filegetter to allow fine-grained control over source directory list"
Tests confirm that limiting the specificity of the list of input directories for newspaper master images can increase the time-to-process for newspaper issues substantially. Given the number of possible locations where master images can be stored, it would be very useful to provide a way for implementors to have fine-grained control over the list of input paths.

Currently we don't implement fileg

[2016-01-29 19:41] mjordan commented on #150
Also going to try adding a static cache to the the directory list.

[2016-01-29 19:42] MarcusBarnes commented on #150
Cool.

[2016-01-29 19:59] mjordan commented on #150
Just confirmed that using a static cache within getIssueMasterFiles() lets us build the list only once. One optimization down!

[2016-01-29 20:03] MarcusBarnes commented on #150
:thumbsup:

[2016-01-31 19:00] mjordan commented on #142
And maybe this would be useful for getting the URLs for linked content files: https://github.com/oscarotero/Embed/. For example, use OAI to get the metadata (which does not contain links to files) and then this component to parse out URLs on public pages corresponding to harvested objects.

[2016-01-31 19:03] mjordan commented on #132
Maybe consider something like https://github.com/phpro/grumphp for code quality checks?

[2016-01-31 19:37] mjordan commented on #150
I've modified the Cdm newspapers filegetter class to load fetcher manipulators that return true/false value for a given path in `$potentialFilesArray`, and added a fetcher maniplator that has the following [MANIPULATORS] signature:

`filegettermanipulators[] = "FilterCdmNewspaperMasterPaths|out|foo|baz"`

The first parameter is 'in' or 'out' and the remaining paramters are regex patterns. If the f

[2016-01-31 19:41] mjordan commented on #150
We may want to add this fillegetter manipulator to the CDM book toolchain too.

[2016-01-31 21:48] mjordan opened #151 "Add a CDM fetcher manipulator that filters on date of object creation"
Each record returned by CONTENTdm has a 'dmcreated' field with  a value in yyyy-mm-dd format. It will be useful to be able to filter a fetch based on this value. One use case is to fetch all the objects that have been added to a Cdm collection after a specific date.

[2016-01-31 23:51] mjordan commented on #151
Pushed to master. Wiki page is at https://github.com/MarcusBarnes/mik/wiki/Fetcher-manipulator:-CdmByDmDate.

[2016-01-31 23:51] #151 closed

[2016-02-01 01:54] MarcusBarnes commented on #151
@mjordan Very cool.  Thanks so much.

[2016-02-01 23:16] kbolko opened #152 "Missing thumbnail at the issue level for newspapers"
Newspaper issues are currently missing an issue level thumbnail when a package is generated.  Reusing the thumbnail, TN.jpg, from the first available page and placing it in the root of the issue's package works when test manually.

Simplest place to check that the issue level thumbnail shows up is when doing an Islandora Simple Search.

[2016-02-01 23:27] MarcusBarnes opened #153 "Add thumbnail to root package generated by CdmBook toolchain"
Add a TN.jpg within the root directory (along with the metadata file) to use as root object thumbnail for ingested book object.

Related to https://github.com/MarcusBarnes/mik/issues/152

[2016-02-02 00:29] MarcusBarnes commented on #152
@kbolko Addressed in pull-request https://github.com/MarcusBarnes/mik/pull/154  @mjordan would you test and merge as appropriate?

[2016-02-02 02:20] mjordan commented on #152
Tested and merged. Thanks @kbolko and @MarcusBarnes.

[2016-02-02 02:20] #152 closed

[2016-02-02 04:21] mjordan opened #155 "CdmSingleFile filegetter can no longer create packages that don't have masters on local filesystem"
It appears I was overzealous in my fix for #85. Looking at the source code of the CdmSingleFile writer I think it would be much simpler to just set `[FILE_GETTER] input_directories[]` to false to have MIK get the file associated with the object from CONTENTdm than to use the byzantine logic that we have now.

[2016-02-02 06:37] mjordan commented on #155
Fixed. If `[FILE_GETTER] input_directories` is set to an array like this:

`input_directories[] = "/home/mark/Downloads/punk_poster_tiffs"`

MIK looks for masters in the designated directories, in conjunction with the CdmSingleFile filegetter manipulator. If `[FILE_GETTER] input_directories` is commented out, not present, or is is set to false like this:

`input_directories = false`

(note that it

[2016-02-02 07:19] mjordan commented on #155
Here is the documentation on this toolchain: https://github.com/MarcusBarnes/mik/wiki/Toolchain:-CONTENTdm-single-file-objects.

[2016-02-02 17:01] mjordan opened #156 "Add post-completion hooks"
It would be useful to be able to fire one or more scripts just before MIK stops executing. Some use cases are to send an email when the job completes, to run QA scripts on all the output, or to copy/Bag MIK's output.

One way of implementing this would be using register_shutdown_function(), having the hook scripts run as background processes.

[2016-02-02 17:05] mjordan commented on #156
Related issue: https://github.com/MarcusBarnes/mik/issues/148.

[2016-02-02 17:05] mjordan commented on #148
Related issue: https://github.com/MarcusBarnes/mik/issues/156.

[2016-02-02 18:43] MarcusBarnes commented on #155
Thank you @mjordan. I'll test and get back to you about how things go.

[2016-02-02 21:08] MarcusBarnes commented on #155
@mjordan I've tested the changes and they function as expected.

[2016-02-02 21:47] mjordan commented on #155
Merged with https://github.com/MarcusBarnes/mik/pull/157.

[2016-02-02 21:47] #155 closed

[2016-02-02 23:15] MarcusBarnes commented on #153
Addressed in pull-request https://github.com/MarcusBarnes/mik/pull/158.

[2016-02-04 00:09] MarcusBarnes commented on #153
Closed with commit a918d77d3f296e9b59f4a4c1833ffb750258ff9f.

[2016-02-04 00:09] #153 closed

[2016-02-04 04:53] mjordan commented on #149
Input and temp directories are now created automatically, so we don't need to make exceptions for these. Fixed with 9f80d72dcb9d0340dbc6468353a4ab5c4821ea84.

[2016-02-04 04:53] #149 closed

[2016-02-04 14:50] mjordan opened #159 "Add a GUI"
Part of MIK's flexibility is due to the fact that it's a command-line app..... but it would be interesting to see if a basic GUI could be added using something like http://wxphp.org/.

[2016-02-05 00:45] MarcusBarnes commented on #150
@mjordan Unfortunately, my local tests are not giving me expected results.  I'm going to see if I can get things fixed up tomorrow.  Are you OK with me pushing changes to this feature branch or would you like me to make a separate branch?

[2016-02-05 00:54] mjordan commented on #150
Keep any changes in that branch. Perhaps my testing instructions weren't clear or complete?

[2016-02-05 15:13] mjordan commented on #141
In the composerized version:

[code]

[2016-02-05 18:06] mjordan commented on #121
I'd like to repoen this issue and suggest that we set opcach.enabled_cli to 0 using a solution similar to the one we have used [here](https://github.com/MarcusBarnes/mik/blob/master/mik#L15) to set the default timezone.

[2016-02-05 20:06] kbolko opened #160 "remove_files.php contains a typo"
`.Thumbs.db` is not the file you are looking for, the file you are looking for is `Thumbs.db`.

On line 18 replace,
'.Thumbs.db',
with
'Thumbs.db',

Tested and now removes Thumbs.db files.

[2016-02-05 22:05] kbolko opened #161 "check_files.php fails to detect missing issue level thumbnails"
Specifically it doesn't detect missing issue level thumbnails for the islandora:newspaperIssueCModel content model.

[2016-02-06 07:16] mjordan commented on #161
I'll take a look at this.

[2016-02-06 07:22] mjordan opened #162 "Allow for absolute paths and URLs in CSV single file filegetter"
Currently the CSV single file toolchain assume that filename values in its "[FILE_GETTER] file_name_field" are relative to the "{FILE_GETTER] input_directory" value. Add logic to allow for absolute file paths and http URLs in "[FILE_GETTER] file_name_field".

[2016-02-06 17:50] mjordan commented on #161
Fixed. Tested as follows. Given this MIK output:

[code]
running `php check_files.php --cmodel=islandora:newspaperIssueCModel --dir=/tmp/ctimes_output --files=JP2.jp2,JPEG.jpg,MODS.xml,OBJ.tiff,OCR.txt,TN.jpg`

produces this error log:

[code]
All good. If I remove the TN.jpg file from one of the issue level directories and rerun check_files.php, I now get:

[code]
I hard-coded the check for TN.jp

[2016-02-06 17:50] #161 closed

[2016-02-06 17:53] mjordan commented on #160
@kbolko  Are you sure that there aren't hidden (.) versions of this filename? I'm pretty sure I've seen them. I'd rather just add both versions of the filename to the list.

[2016-02-06 20:45] kbolko commented on #160
@mjordan I'm sure.  You can take a look at the wiki page [https://en.wikipedia.org/wiki/Windows_thumbnail_cache](url).

[2016-02-06 22:19] mjordan commented on #160
OK, fixed and closed.

[2016-02-06 22:19] #160 closed

[2016-02-07 19:35] mjordan commented on #159
Another approach would be to provide a slick tool for creating MIK configuration files. Maybe http://electron.atom.io/ would be worth looking into.

[2016-02-07 19:49] mjordan commented on #148
Subsumed into #156.

[2016-02-07 19:49] #148 closed

[2016-02-07 22:06] mjordan commented on #121
Tested on Linux with no side effects so merging into master.

[2016-02-07 22:06] #121 closed

[2016-02-07 22:59] mjordan commented on #146
I've added a --checkconfig option for this so am closing.

[2016-02-07 22:59] #146 closed

[2016-02-08 15:15] #129 closed

[2016-02-09 18:59] MarcusBarnes commented on #159
A GUI would especially be useful if one is using MIK as part of normal digitazation workflows.  Some users are uncomfortable editing .ini files.  The GUI could allow the creation of .ini files for some defined collection types (e.g., newspapers) based on known local-configurations of MIK (after set-up by someone with more technical knowledge).  The GUI could also set off processing, including qual

[2016-02-09 20:38] MarcusBarnes commented on #132
:thumbsup:

[2016-02-10 05:25] mjordan opened #163 "Running checks on CSV toolchain should not report URLs and CONTENTdm aliases"
Running mik with --checkconfig=all on a CSV .ini file produces the following:

[code]
We should not be checking or reporting on URLs or CONTETNdm aliases, since the CSV toolchains use neither.

[2016-02-10 05:32] mjordan opened #164 "Add checks to validate CSV metadata file"
It would be useful to provide a check for the CSV metadata file and report its column headings and how many records it contains. It would also be useful to catch this error:

`Fatal error: Uncaught exception 'InvalidArgumentException' with message 'The array must contain unique values' in /mik//vendor/league/csv/src/Reader.php:249`

and report if it occurs. This error is triggered in the CSV fetch

[2016-02-11 04:10] mjordan commented on #150
@MarcusBarnes outstanding work in the cdmnewspaper_optimization branch. This gives us a huge performance improvement and is much more robust than my work in the issue-150 branch. I'm willing to close this ticket for now and abandon my work there. We can reexamine adding filegetter manipulators later when the dust settles.

I've tested the changes in the cdmnewspaper_optimization branch to my satis

[2016-02-11 04:10] #150 closed

[2016-02-15 23:35] MarcusBarnes commented on #14
Having spent some time working on another project today, I'm reminded how useful it is to have developer reference that is easily searchable like [Drupal's API reference](https://api.drupal.org/api/drupal).  Here are some additional automatic tools for [generating developer documentation](https://github.com/ziadoz/awesome-php#documentation) of this sort.  It's becoming clearer to me that not havin

[2016-02-17 22:07] mjordan opened #166 "Add a version of the 'field inspector' as an extras script for use with CONTENTdm migrations"
That utility is coming in handy for a few things (like figuring out what field nickname to use for the full text, since it's not always 'full'). We should package it up for other MIK users.

[2016-02-17 22:25] mjordan opened #167 "Need to accommodate full text fields in CONTENTdm that do not have the nickname 'full'"
The "nicknames" that CONTENTdm assigns to fields internally is pretty consistent but in some cases it will assign unpredictable nicknames. Good example is that 'full' is the most common nickname for the field containing an object's full text, but we have encountered collections where the nickname is 'fullte'.

A simple hotfix is appropriate for now, but we probably should add a configuration optio

[2016-02-17 22:39] MarcusBarnes commented on #167
@mjordan Hotfix committed to master in 059b7def0dbb10ce5847ec7be5ff7387957000ec.

[2016-02-17 22:40] mjordan commented on #167
Sweet, I'm in a meeting now but will test around 4 pm.

[2016-02-17 22:41] MarcusBarnes commented on #167
@mjordan Thank you for testing.  I've already tested the hotfix against a CT newspaper.

[2016-02-17 22:42] mjordan commented on #167
Sorry, you can test now by running mik against the lat_m.ini file in mik_mark. Delete the lat_m output directory in production_loads first though. This config file is for generating 5 random samples.

[2016-02-17 22:42] MarcusBarnes commented on #167
@mjordan OK.  I'll confirm the results once I've done so.

[2016-02-17 23:13] MarcusBarnes commented on #167
@mjordan Tested lat_m locally with the hotfix in place.  Worked as expected.

[2016-02-17 23:17] mjordan commented on #167
Excellent, thanks. Let's leave this open so we can include it in the 1.0 milestone.

[2016-02-21 17:54] mjordan opened #168 "Add a sleep option"
In some cases, it might be preferable to slow down MIK so that it puts less demand on the CONTENTdm server, local disk, etc.

[2016-02-21 18:28] mjordan commented on #168
@MarcusBarnes can you test the issue-168 branch and merge at your convenience?

Adding `sleep = 5` to the [FETCHER] section of the .ini file will cause MIK to pause for 5 seconds before processing the next object. If the `sleep` option is absent there should be no side effects.

[2016-02-21 18:32] MarcusBarnes commented on #168
@mjordan Thanks - will do.

[2016-02-21 22:32] mjordan commented on #166
Decided to make this a standalone tool: https://github.com/mjordan/cdminspect. I've added an MIK [Cookbook entry](https://github.com/MarcusBarnes/mik/wiki/Cookbook:-Analyzing-the-values-in-a-CONTENTdm-collection's-fields-to-prepare-for-using-metadata-manipulators) that points to it.

[2016-02-21 22:32] #166 closed

[2016-02-22 14:50] mjordan commented on #163
@MarcusBarnes can you test and merge at your convenience? I've modified only src/config/Config.php so there should be no conflicts with the fix for #168.

Running `--checkconfig=all` on a CONTENTdm toolchain .ini should produce:

[code]

whereas running it on a CSV toolchain .ini should produce

[code]

[2016-02-22 16:28] mjordan commented on #164
Added checks for column header uniqueness and emptiness, and check to make sure the all rows have same number of columns as header row. The tests on the header row will detect the condition that throws the error documented above.

Branch issue-164 was created from issue-163, so it should be merged into master after issue-163 is.

[2016-02-22 18:32] mjordan opened #169 "Make --checkconfig check for existence of input directories"
This would be very useful.

[2016-02-22 22:05] mjordan opened #170 "Provide option to add additional namespaces to MODS XML"
If the XML within an `<extension>` element uses a namespace prefix, PHP's DOM complains. We should allow the addition of namespaces to the MODS XML files in the [METADATA_PARSER] sections of .ini files to accommodate this.

`namespaces[] = thesis:http://www.ndltd.org/standards/metadata/etdms/1.1/`

This feature may also be useful if people write metadata manipulators that add non-MODS namespaced e

[2016-02-23 00:59] mjordan commented on #170
Work in the issue-170 branch adds namespaces registered in the .ini file, but the metadata manipulators don't like the namespaced elements coming in without a corresponding namespace declaration. In other words, namespaced elements withing `<extension>` break the metadata manipulators.

[2016-02-23 02:18] mjordan commented on #170
Declaring the namespace locally in the mapping, like this:

`null1,<extension><thesis xmlns="http://www.ndltd.org/standards/metadata/etdms/1.1/"><degree xmlns="http://www.ndltd.org/standards/metadata/etdms/1.1/">Masters</degree></thesis></extension>
`

is totally legal and produces output like this, which validatates:

[code]
The document-level namespace declaration is redundant if we do this but

[2016-02-23 20:35] MarcusBarnes opened #171 "CdmNewspaper Writer: Throw an Exception if preg_match in directoryNameFromFileName finds no matches"
Throw an exception if preg_match in the directoryNameFromFileName method in the CdmNewspaper writer class finds no matches (returns 0 or false).

The above can happen if the assumed file name pattern for OJB master files is not satisfied, for example, an extra period before the file extension: 1920-12-01-05..tif.

[2016-02-24 22:24] MarcusBarnes commented on #168
@mjordan Thank you - this appears to function as expected.

[2016-02-24 22:27] mjordan commented on #168
Great, thanks - merge at your convenience and I'll document it on the toolchain wiki pages.

[2016-02-24 22:28] MarcusBarnes commented on #168
Closed with commit https://github.com/MarcusBarnes/mik/commit/6204b783f2a63471b7e9751943f8546fecc03651  Thank you @mjordan for your contribution.

[2016-02-24 22:28] #168 closed

[2016-02-24 22:41] MarcusBarnes commented on #163
@mjordan Worked as expected in my local tests.

[2016-02-24 22:44] MarcusBarnes commented on #163
Addressed with commit https://github.com/MarcusBarnes/mik/commit/62fd9b5cf38543bc24b763f2d9e352a16e0fb0c9

[2016-02-24 22:44] #163 closed

[2016-02-26 22:52] MarcusBarnes opened #175 "CdmNewspaper Multiple pointers for the same date"
Should a newspaper issue be loaded into Cdm more than once, multiple Cdm pointers may refer to the same newspaper issue date.  MIK  CdmNewspaper write will attempt to create the newspaper issue directory more than once.  MIK currently handles this by creating an ErrorException as the directory will already exist.  However, it may be useful to allow MIK to create numbered newspaper issues and repor

[2016-02-29 15:54] mjordan opened #176 "Move 'include_migrated_from_uri' config option from metadata parser class to a metadata manipulator"
include_migrated_from_uri setting in CONTENTdm to MODS metadata parser uses a hard-coded hostname, and the form of the MODS element created is specific to SFU's requirements.  We have a pattern already for adding identifiers via metadata manipulators in the AddUuidToMods. We should create a metadata manuiplator that adds the migrated from URL.

[2016-03-04 01:10] MarcusBarnes commented on #175
Initial work to address this issue has been pushed to https://github.com/MarcusBarnes/mik/tree/issue-175.

The code looks to see if the newspaper issue directory already exists in the output directory, and if it does, creates another using the pattern yyyy-mm-dd.1,  yyyy-mm-dd.2, etc.

It logs this to the mik log.  Some of the scripts in the extras should probably be updated if this is merged into

[2016-03-04 18:18] MarcusBarnes commented on #175
Closed with pull-request https://github.com/MarcusBarnes/mik/pull/177 and commit https://github.com/MarcusBarnes/mik/commit/3c5879a17fefd32b7689682cf2ececdc265f251d

Create additional issues for enhancements for scripts in extras should the need arise.

[2016-03-04 18:18] #175 closed

[2016-03-04 22:24] MarcusBarnes commented on #169
@mjordan I needed a quick win.  An initial go at addressing this issue is located in https://github.com/MarcusBarnes/mik/tree/issue-169  It should be tested on Windows.  Use is similar to other checks by using option `--checkconfig=all` or for just the input_directories paths, using the option `--checkconfig=input_directories`  @mjordan: if you are happy with the code, please create a pull-request

[2016-03-07 20:47] kbolko opened #178 "check_files.php tries to access OCR.txt even if you don't check for it"
Appears to be missing and IF statement near line 198

                    // Check each OCR.txt file to ensure it's encoded in UTF-8.
                    $path_to_ocr_file = $page_dir . DIRECTORY_SEPARATOR . 'OCR.txt';
                    $ocr_content = file_get_contents($path_to_ocr_file);
                    if (!mb_check_encoding($ocr_content, 'UTF-8')) {
                        error_log("$pat

[2016-03-07 20:50] mjordan commented on #178
I'll push a fix shortly.

[2016-03-08 20:09] MarcusBarnes commented on #171
Fix in pull request https://github.com/MarcusBarnes/mik/pull/179.

[2016-03-09 23:41] MarcusBarnes opened #181 "CdmToMods Metadataparser: If %value% replacement text which contains $"
The CdmToMods Metadataparser uses the preg_replace function to replace the Cdm metadata into the MODS metadata mapping snippet.  Should the replacement value contain a substring such as $1.95 - these may be interpreted with special meaning and removed from the output.  See this comment on the PHP docs for example: http://us1.php.net/manual/en/function.preg-replace.php#103985

Since we are using th

[2016-03-10 00:02] MarcusBarnes commented on #181
@mjordan I have a fix for this issue in the following pull request: https://github.com/MarcusBarnes/mik/pull/182  Please merge if you are satisfied with the fix.  Thank you.

[2016-03-10 01:29] mjordan commented on #181
Nice work @MarcusBarnes, testing looks good so I've merged this fix.

[2016-03-10 01:29] #181 closed

[2016-03-11 18:03] mjordan commented on #178
@kbolko can you confirm that this works?

[2016-03-11 20:40] mjordan commented on #169
Works as expected, closing.

[2016-03-11 20:40] #169 closed

[2016-03-11 20:53] MarcusBarnes commented on #169
@mjordan Thank you.

[2016-03-11 21:06] kbolko commented on #178
@mjordan The fix appears to resolve the issues.

[2016-03-11 21:06] #178 closed

[2016-03-14 14:02] mjordan opened #183 "Validate the values of --checkconfig, and validate the options users are allowed to pass to mik"
If the user provides a value to `--checkconfig` that is not expected, mik will execute as if `--checkconfig` was not provided. Also, we should restrict allowed options to mik to only `--config`, `--limit`, and `--checkconfig`.

[2016-03-14 14:07] mjordan opened #184 "Make output from --checkconfig=snippets more useful"
Currently, if `--checkconfig=snippets` or `--checkconfig=all` finds a problem with a mapping snippet, it provides the following output:

[code]

This is way too verbose and not very helpful in resolving the problem. It would be if we can provide more user-friendly and helpful output.

[2016-03-14 14:46] mjordan commented on #183
I've addressed invalid values for `--checkconfig` but it looks like checking for MIK options other than the allowed ones is a bit more challenging. Will continue work later today.

[2016-03-14 15:06] mjordan opened #185 "Mismatches in metadata mappings CONTENTdm to MODS metadata parser results in a broken log message"
In the CONTENTdm to MODS metadata parser, mismatches in the metadata mappings file produce log messages like `Mappings file contains a row $CONTENTdmField that`; in the CSV to MODS parser, "is not in source CONTENTdm metadata for this object." is appended to the message.

I've smoke tested this and it works so committing it directly to master.

[2016-03-14 15:07] #185 closed

[2016-03-14 16:28] MarcusBarnes commented on #185
@mjordan Thank you.

[2016-03-14 18:40] MarcusBarnes commented on #46
The resolution to this issue https://github.com/MarcusBarnes/mik/issues/175 provides a fix to this as MIK will first check for the existence of the newspaper issue directory and if it exits, create another by  appending a period plus a number at the end of the directory name (for example, 1979-01-23.1).

[2016-03-14 19:48] MarcusBarnes commented on #46
Based on my earlier [comment](https://github.com/MarcusBarnes/mik/issues/46#issuecomment-196463809) - I will close this issue for now.

[2016-03-14 19:48] #46 closed

[2016-03-15 18:05] mjordan commented on #183
@MarcusBarnes would you mind testing this work so far so we can merge it? I don't know when I will have time to complete it but what I have done so far is useful. To test, in the issue-183 branch, run MIK with the `--checkconfig` option as you normally would to make sure there are no side effects. Then, run MIK with an invalid value for `--checkconfig`. It should tell you that your value is not al

[2016-03-15 18:08] MarcusBarnes commented on #183
@mjordan Thanks.  I'll test.

[2016-03-15 18:43] MarcusBarnes commented on #183
@mjordan Works as expected. I will issue a pull-request and merge momentarily.  Thank you for your contribution.

[2016-03-15 18:44] MarcusBarnes commented on #183
Closed with commit 979cfa4d1861f9de78836b905ff13b84a1fe55bc.

[2016-03-15 18:44] #183 closed

[2016-03-15 19:00] MarcusBarnes commented on #171
Addressed in commit 23b28efa2cfc81d110ec321a8964ee1a85e7f2be.

[2016-03-15 19:00] #171 closed

[2016-03-21 21:49] mjordan opened #188 "Add desktop notifications that MIK jobs are complete"
Using this cool component: https://github.com/jolicode/JoliNotif.

[2016-03-21 21:51] MarcusBarnes commented on #188
:+1:

[2016-03-22 03:51] mjordan commented on #188
Tested on Ubunutu and Win7. On Win7, MIK doesn't exit until you close the notification. Works as expected otherwise. @MarcusBarnes can you test on OS X?

[2016-03-22 03:58] MarcusBarnes commented on #188
@mjordan Cool!  I'll test tomorrow when I'm next at my development machine.  Thank you.

[2016-03-22 04:24] mjordan commented on #188
Thanks. Just added some logic to allow you to not send the notification, e.g., if you're using MIK in a scripted workflow. Couldn't think of a better place to add the option, so I used `[WRITER][notification] = true`. If `[WRITER][notification]` is absent, or if it is set to `false`, the notification is not sent.

[2016-03-22 17:33] MarcusBarnes commented on #188
@mjordan My first go at testing on my development machine (Mac using bash terminal) didn't appear to work as expected.

[2016-03-23 16:51] kbolko opened #189 "Normalize logging behavior of post-write hooks"
Current post-write hooks currently log successes to the mik.log.  This is different than the core MIK tool which only logs failures.  They also don't log to the problem_records.log meaning there is no one stop shop to check for problems.

Both of these issues together make it difficult to detect the failure of a post-write hook.

[2016-03-23 16:57] mjordan commented on #189
Logging successful execution of post-write hooks has its uses. I'm currently trying to figure out why none of the three post-write hooks defined in my .ini file are not firing, and it was useful to see that none of them had entries in mik.log.

That said, we can modify the post-write hooks so they log to a file other than mik.log. That way we can can both a cleaner mik.log and confirm that the pos

[2016-03-23 17:02] kbolko commented on #189
Logging success to another file is fine but without splitting the success and failures you're not going to see failures in a stream of thousands of successes.

[2016-03-23 17:12] mjordan commented on #189
Success is logged as INFO entries and failure as ERROR entries to make it easy to do a so a quick scan or a grep to split the logs, but if separate logs are more useful we can do that to.

[2016-03-23 17:15] mjordan commented on #189
Or another option is to log failure to mik.log and success to a separate log.

[2016-03-23 17:19] kbolko commented on #189
I'm suggesting that splitting the two into separate logs is the way to go.  Its much easier to see what the failures are and its more in line with core MIK tool.

[2016-03-23 17:22] mjordan commented on #189
OK, I'll do that. @MarcusBarnes any comments?

[2016-03-23 17:24] MarcusBarnes commented on #189
I'm OK with splitting warnings and errors into one log and success and info. messages to another, if this makes it easier for people.  Thank you for the input.

[2016-03-23 17:29] mjordan commented on #189
I'll have this done by end of the day.

[2016-03-23 19:12] mjordan commented on #125
#189 is related to this. For milestone 0.9 we'll hard-code the paths to the log files in the post-write hook scripts but for milestone 1.0 we should combine these two issues.

[2016-03-23 19:13] mjordan commented on #189
#125 is related to this issue.

[2016-03-23 19:50] mjordan commented on #189
OK, I've split out the error and success logs for the validate MODS script and the generate FITS script. File paths are hard coded to the output directory plus descriptive log names. I'd like to make these options as per #125 with decent defaults.

To test, do `git fetch`, then `git checkout issue-189`, then run an MIK job.

[2016-03-23 20:01] mjordan commented on #189
Just noticed that if there are any warnings, they are logged to the success log. So that needs a bit more work. But, everything is being logged to the success log, and nothing to mik.log, so at there's that until I can fiddle with Monolog's use of log levels.

[2016-03-23 20:14] mjordan commented on #189
Merged into master as of fba21b17817cfc72b3e7247443e64b910fc5386d. Will fix the problem described in the previous comment over the weekend.

[2016-03-23 23:09] mjordan commented on #189
OK, both validate_mods.php and generate_fits.php now generate logs named like:

[code]

mik.log will contain entries produced by core MIK classes including manipulators.

I've also renamed the log for the object timer post-write hook script to be consistent with the example log filenames provided above. I've merged these changes into master and will pull down them down on the MIK processing VMs, s

[2016-03-23 23:09] #189 closed

[2016-04-04 22:13] mjordan opened #190 "BOM in mappings files causes field mismatches"
If a mappings file is encoded with a BOM (Byte Order Mark), MIK fails to map the first field in the mappings file. Possible solutions:

1. Humans should not save the mappings files with BOMs.
2. MIK, if possible, should remove the BOM for the humans. This should be safe to do if the mappings file is encoded in UTF-8, where the BOM is [optional and not recommended](http://unicode.org/faq/utf_bom.ht

[2016-04-06 00:05] mjordan opened #191 "Use "Page x" for book page titles"
CONTENTdm Book toolchain should create page-level MODS files that generate the following MODS:

[code]

This is consistent with how the CONTENTdm newspaper toolchine works.

[2016-04-06 18:36] MarcusBarnes commented on #191
@mjordan Addressed in feature branch https://github.com/MarcusBarnes/mik/tree/issue-191.  Please test when you have a moment.

[2016-04-06 22:45] mjordan commented on #191
Looks good @MarcusBarnes, thanks for fixing. I'll merge into master and delete this branch.

[2016-04-06 22:45] #191 closed

[2016-04-07 03:38] mjordan opened #192 "Trailing whitespace at the end of mappings rows causes XML creation errors"
These errors can be hard to track down. Trimming this whitespace eliminates the errors.

[2016-04-07 03:40] mjordan commented on #192
@MarcusBarnes this was a trivial change, but I tested thoroughly before I merged.

[2016-04-07 03:40] #192 closed

[2016-04-07 03:50] mjordan commented on #190
Turns out that the CSV library we're using offers an [easy way to strip out the BOM](http://csv.thephpleague.com/query-filtering/#stripbomstatus).

[2016-04-07 03:54] mjordan opened #193 "Add check for UTF-8 encoding of mappings files"
We should add a check in checkMappingSnippets() that the mappings file is UTF-8 encoded. If we know that it has that encoding, we can remove the BOM with no worries as per #190.

[2016-04-07 04:01] mjordan opened #194 "Allow comments and commented out rows in mappings files"
It would be very useful to allow comments in mappings files, and to be able to comment out rows while troubleshooting mappings issues. I propose that we use the double forward slash (`//``) to indicate that a line is to be skipped.

[2016-04-07 04:09] mjordan commented on #194
On second thought, maybe we should use `#` like we do in the [Specific Set](https://github.com/MarcusBarnes/mik/wiki/Fetcher-manipulator:-SpecificSet) manipulator. I think it's a pretty safe bet that it wouldn't occur as the first character in any field labels.

[2016-04-07 04:11] MarcusBarnes commented on #192
Thank you @mjordan.  Great catch.

[2016-04-07 04:22] mjordan commented on #192
Been spending a lot of time with mappings files past few days!

[2016-04-07 04:44] mjordan commented on #194
Added to both CdmToMods.php and CsvToMods.php. To test, check out the issue-194 branch, add a `#` as the very first character in a row in the mappings file, run MIK, and inspect the resulting MODS. The element that was mapped in the commented-out row should be absent from the MODS.

@MarcusBarnes can you test and merge into master if you see no problems?

[2016-04-07 05:34] mjordan opened #195 "NormalizeDate manipulator should accommodate dd/mm/yyyy and mm/dd/yyyy"
The regex `/^(\d\d)\-(\d\d)\-(\d\d\d\d)$` in the NormalizeDate metadata manipulator is intended to match on dd/mm/yyyy. This pattern is identical to the one that would match mm/dd/yyyy. We should add a parameter to indicate which we want to match on.

[2016-04-07 18:22] mjordan commented on #195
I've added a third, optional parameter, 'm', which indicates that for patterns that can be interpreted as either starting with a day or a month, the first part of the incoming date values should be considered months. For example,

`metadatamanipulators[] = "NormalizeDate|Date|dateCreated|m"`

will indicate that the first part of dates in the incoming metadata like 10/9/1923 and 10-9-1923 is a mont

[2016-04-07 18:55] MarcusBarnes commented on #194
@mjordan Tested using both CdmToMods.php (using the Newspaper toolchain) and CsvToMods.php (using the CsvSingleFile toolchain).  Works as expected.  I'll merge into master momentarily.  Thank you for your contribution.

[2016-04-07 18:55] #194 closed

[2016-04-07 18:57] mjordan commented on #194
Thanks!

[2016-04-07 18:57] MarcusBarnes commented on #194
Closed with commit https://github.com/MarcusBarnes/mik/commit/c3b30c8fb80ec01a6103150315e284e8f785dd01.

[2016-04-07 21:28] mjordan opened #197 "generate_fits.php post-write hook doesn't work with book toolchain"
Shouldn't be hard to fix.

[2016-04-07 22:56] mjordan commented on #195
Merged into master.

[2016-04-07 22:56] #195 closed

[2016-04-08 00:00] mjordan opened #198 "Add ability for CONTENTdm Compound writer to produce all datastreams"
Currently, the CONTENTdm compound writer only gets the 'DSID' datastream, which as a placeholder from the proof of concept as defined in #111. It needs to be able to get any datastream from CONTENTdm that is defined in the [WRITER] section of the .ini file.

[2016-04-08 02:29] mjordan commented on #197
Merged into master.

[2016-04-08 02:29] #197 closed

[2016-04-08 05:30] mjordan commented on #198
Looking into this a bit more I am leaning toward having this toolchain only produce

* the MODS datastream and
* the OBJ datastream corresponding to the main file associated with the CONTENTdm object
  * or, if configured to do so, get the OBJ (master) from the local filesystem

This is consistent with how the Cdm Single File toolchain works; in fact, the Cdm Compund toolchain essentially wraps th

[2016-04-09 15:37] mjordan opened #199 "Define a default path to manipulator log"
If an .ini file does not contain an ['LOGGING']['path_to_manipulator_log'] entry, we should define a default value. Since there is no single abstract class for manipulators, the best place to do this is probably in the Config.php class.

[2016-04-11 19:16] GarrettArm opened #200 "Commas in <null> field cause crash"
In a mappings_file, if the static field in a line contains a comma, it crashes mik.

null4,<location>Library, 3rd Flood</location>

Problem is just around line 75 in CdmToMods.php where $this->collectionMappingArray is a 2-element array for all pairs, except null4.  Null4 is a 3-element array.  I suspect it is incorrectly parsed.

For a temporary work-around, I've removed all commas from that fiel

[2016-04-11 19:21] GarrettArm opened #201 "Simple mispelling"
line 142 in CdmToMods.php.    fieldValue is misspelled.

Didn't cause any error.

[2016-04-11 19:34] MarcusBarnes commented on #200
@GarrettArm Thank you for your feedback.  As you discovered, because the comma is the field separator in your mappings CSV file, your snippet would be interpreted as having three values, not two as you desired.  Changing the default field separator character will work, assuming that you don't have another mapping with a colon in the field value.    What is often done is to put double-quotes like t

[2016-04-11 19:39] MarcusBarnes commented on #201
@GarrettArm Thank you for spotting this.  This issue been address with commit https://github.com/MarcusBarnes/mik/commit/d2c6b2beeb60d78ea09f4be809e3e1986b8b40b1

[2016-04-11 19:39] #201 closed

[2016-04-11 19:49] MarcusBarnes commented on #200
@GarrettArm @mjordan For the 1.0 milestone, one possible enhancement to the checks on the mappings file that would be to verify that each row has the same number of fields to help avoid such issues. The format for MIK mappings files assumes that each row will have the same number of fields (even if they are empty).  Currently, running MIK with --checkconfig=snippets does not appear to detect this.

[2016-04-12 04:23] mjordan commented on #200
:+1:  to adding a check that the mappings file has the expected number of columns.

[2016-04-12 13:48] mjordan opened #203 "Improve validation of command-line options"
Currently, there is little feedback from MIK if the user misspells an .ini file, or worse, misspells 'limit' (in which case MIK starts up and doesn't apply a limit).

We could perform better option validation, or incorporate a CLI library like https://github.com/nategood/commando/ that does this automatically. We'd want a CLI library that didn't interfere with our class loading or other code-level

[2016-04-12 18:16] MarcusBarnes commented on #203
:thumbsup:

[2016-04-13 19:50] mjordan opened #204 "check_files.php needs to be updated to work on book input"
Title says it all.

[2016-04-13 21:24] #204 closed

[2016-04-14 17:50] mjordan opened #205 "check_files.php needs to be updated to handle multiple non-xml patterns"
Also, it doesn't check for unexpected files in single-file content model ingest directories.

[2016-04-14 17:51] mjordan commented on #205
Fixed in b4affa42440fe15349ceb9a7ae8f06a9bd9c8117.

[2016-04-14 17:51] #205 closed

[2016-04-19 20:28] MarcusBarnes opened #206 "CdmBook Toolchain: Allow for creation of packages when original OBJ is not available"
In certain circumstances, original source OBJ files (e.g., original TIFF files) may be (temporarily) unavailable.  Allow creation of book packages using data from Cdm only.  This will require using either JP2 or JPEG from Cdm as the required OBJ data stream for the packages.

N.B. Once the packages have been loaded into Islandora, the OBJ data streams may be updated with the original source OBJ fi

[2016-04-20 21:12] MarcusBarnes commented on #206
Some initial work on this issue have been pushed to https://github.com/MarcusBarnes/mik/tree/issue-206.

Two more things need to be completed before closing this issue and making a pull-request:

1.  Assign OBJ DSID to a copy of JPEG or JP2 files (depending on which is available).

2.  If the package for the book has already been written to the output directory, make a duplicate.

[2016-04-21 00:19] MarcusBarnes commented on #206
If no original source OBJ are available for use with the OBJ datastream, make a copy of JP2 as OBJ.jp2 or if that is not available make a copy of the JPEG as OBJ.jpeg:  https://github.com/MarcusBarnes/mik/commit/1eed4a6207efe0888f95d54d12b010f0953df62c

I'd like to add one additional setting to the writer section, something like skip_obj in cases where we are not creating import packages, but for

[2016-04-21 19:41] MarcusBarnes commented on #206
In commit https://github.com/MarcusBarnes/mik/commit/53a8d6c44c148a06caff1bbcabce5ccb3cb2c2f5  I've added the ability to skip OBJ datastream creation by adding skip_obj = true to the [WRITER] section of the configuration file.  This may be desirable should you wish to create test runs on specific datastreams other than the OBJ datastream.

@mjordan  Would you please give https://github.com/MarcusB

[2016-04-21 19:41] #206 closed

[2016-04-21 19:43] MarcusBarnes opened #207 "Document skip_obj setting in Wiki"
Assuming the the issue-206 branch is merged into master, document the skip_obj WRITER setting in the wiki documentation for the CdmBook toolchain (and any other toolchains it becomes used).

[2016-04-21 19:47] MarcusBarnes opened #208 "CdmNewspaper Writer: Fix duplicate issue directory name code"
When a newspaper issue directory already exists in the output directory, the copies are labeled for example:

1999-12-12
1999-12-12.1
1999-12-12.1.2
1999-12-12.1.2.3
...

rather than

1999-12-12
1999-12-12.1
1999-12-12.2
1999-12-12.3
...

See https://github.com/MarcusBarnes/mik/blob/issue-206/src/writers/CdmBooks.php#L353 from the CdmBooks writer on how to address this.

[2016-04-21 21:48] MarcusBarnes commented on #208
Fix is in feature branch https://github.com/MarcusBarnes/mik/tree/issue-208  @mjordan  Are you OK with me merging into master?

[2016-04-22 14:52] mjordan opened #209 "check_files.php needs to be updated to check compound object input"
I'll do this today.

[2016-04-22 19:05] MarcusBarnes commented on #206
Merged into master with https://github.com/MarcusBarnes/mik/commit/2848125e6b17bdf4e3248cdb585263e36e0c1d2b.

[2016-04-22 19:07] MarcusBarnes commented on #208
Merged into master with https://github.com/MarcusBarnes/mik/commit/ebd7fe44389cd5aad3f32820d016d8f7c4429477.

[2016-04-22 19:07] #208 closed

[2016-04-24 16:27] mjordan commented on #207
@MarcusBarnes I'm not seeing an issue-206 branch. DId you push it up?

[2016-04-24 16:53] MarcusBarnes commented on #207
@mjordan After reviewing it again, I merged the pull request.  The changes are in master.    The changes are documented in: https://github.com/MarcusBarnes/mik/issues/206.

[2016-04-24 22:40] #209 closed

[2016-04-24 22:57] mjordan commented on #207
@MarcusBarnes thanks very much, I'll document on wiki and close this issue.

[2016-04-25 21:23] MarcusBarnes opened #212 "CdmNewspaper Toolchain: Allow for creation of packages when original OBJ is not available"
In certain circumstances, original source OBJ files (e.g., original TIFF files) may be (temporarily) unavailable. Allow creation of newspaper packages using data from Cdm only. This will require using either JP2 or JPEG from Cdm as the required OBJ data stream for the packages.

N.B. Once the packages have been loaded into Islandora, the OBJ data streams may be updated with the original source OBJ

[2016-04-27 00:10] MarcusBarnes commented on #212
This issue is addressed in pull request https://github.com/MarcusBarnes/mik/pull/213.

@mjordan Would you be able to review and accept the merge the pull request if everything looks OK?  Thank you.

[2016-04-27 22:02] MarcusBarnes commented on #212
Closed with commit https://github.com/MarcusBarnes/mik/commit/4b5369d63af87728968db0293e24c871f71376b2.

[2016-04-27 22:02] #212 closed

[2016-05-13 22:53] mjordan opened #215 "Make the date.timezone PHP setting in MIK a configuration option"
We've hard coded 'America/Vancouver' but this will, obviously, be different for others.

[2016-05-13 22:58] MarcusBarnes commented on #215
@mjordan I'll address this now.  Thanks.

[2016-05-14 14:55] mjordan commented on #215
@MarcusBarnes just a reminder that all settings in the `[CONFIG]` section are added to the mik.log. Maybe we should introduce a `[SYSTEM]` section for this sort of thing?

[2016-05-14 14:59] mjordan opened #216 "CSV newspapers toolchain"
Time to move on to additional CSV toolchains. One for newspapers is as good a place to start as any, since the CONTENTdm newspapers toolchain has been so thoroughly tested and the CSV toolchain can probably be just a simplification of that one.

[2016-05-15 14:34] mjordan commented on #216
Wiki page started at https://github.com/MarcusBarnes/mik/wiki/Toolchain:-CSV-newspapers.

Only real outstanding issue is that specifying MODS or OBJ in the `datastreams[]` option doesn't work yet.

[2016-05-15 17:45] mjordan commented on #216
@mbarnes if you have time to smoke test this new toolchain I'd appreciate it. Note that the resulting ingest packages only contain the issue-level MODS.xml file and a TIFF and a MODS.xml file for each page. We can look at adding derivatives later using post-write hooks.

[2016-05-16 14:28] mjordan commented on #216
Sample .ini file

[code]

[2016-05-16 19:53] MarcusBarnes commented on #215
@mjordan Thank you for the reminder.  Though it may be useful to know which timezone was used for the logging timestamps in some cases, the main reason for including this is that a timezone value for date.timezone is required for monolog to work.   This provides a work-around should date.timezone not be set in the PHP.ini where MIK is run.

The expected behavior is to use [SYSTEM][date_default_tim

[2016-05-17 20:56] mjordan commented on #176
@MarcusBarnes I can probably find time to take this on.

[2016-05-17 21:02] MarcusBarnes commented on #176
@mjordan Great - that would be helpful.  Thank you.

[2016-05-17 22:55] mjordan commented on #215
PR merged.

[2016-05-17 22:55] #215 closed

[2016-05-18 14:57] mjordan commented on #176
@MarcusBarnes can you test branch issue-176? You will need to run `composer dump-autoload` as I have added a new class file. If you run it on newspapers, please make sure that both the issue and page level MODS contain the migrated from URL.

Wiki page for this new manipulator is at https://github.com/MarcusBarnes/mik/wiki/Metadata-manipulator:-AddCdmMigratedFromUrl.

[2016-05-18 17:08] MarcusBarnes commented on #176
@mjordan Awesome - I will test.

[2016-05-18 19:00] MarcusBarnes commented on #176
@mjordan My test on a newspaper has the migrated from URL appearing in the issue level MODS, but not the page level MODS.

[2016-05-18 19:05] mjordan commented on #176
OK, thanks for testing, I'll take a look.

[2016-05-18 19:06] MarcusBarnes commented on #176
@mjordan Since the page level MODS is not generated using the mapping, we'll have to conditionally check for the specific manipulator and add some code like that for adding the UUID here:

https://github.com/MarcusBarnes/mik/blob/master/src/metadataparsers/mods/CdmToMods.php#L246

[2016-05-18 23:10] mjordan commented on #176
OK, I hadn't notice that. Thanks for pointing it out.

[2016-05-20 16:48] jpeak5 commented on #111
@mjordan earlier in this issue, there's reference to a 'compound' branch; is this a thing ? if so, would you be willing to share it ?

[2016-05-20 17:10] mjordan commented on #111
@jpeak5 sorry, it was merged into master with 0df7ba789f5996a1311a1c9de09d9f8e833bb7aa but we haven't documented it yet. It exports compound CONTENTdm objects of all types, and includes the .cpd file, which expresses the compound object's structure. We've been working on a corresponding Islandora batch module which will ingest the resulting packages (in its initial release, "flat" only, hierarchic

[2016-05-20 22:01] mjordan opened #220 "Deprecate CONTENTdm .cpd files in favor of generic structure files"
This issue documents a discussion between myself and @MarcusBarnes about the relationship between the forthcoming Islandora Compound Batch module and various MIK tookchains.

We currently have a CONTENTdm Compound Object toolchain, the development of which is documented in issue #111. The Islandora Compound Batch module parses the .cpd files as described in #111 and creates relationships in the re

[2016-05-20 22:42] jpeak5 commented on #111
@mjordan this is great! We tested this afternoon, and it works beautifully. We would be glad to assist with the batch ingest functionality in whatever way might be useful, definitely including testing and documentation. Big thanks to you all for so much great work !

[2016-05-22 00:37] mjordan commented on #220
One issue we need to keep in mind if we are going to have MIK represent the structure of a CONTENTdm compound object as a directory tree is that we need to preserve the order of the child objects. Using the .cpd file below as an example, and assuming we would create child object subdirectories using the value of the `<pageptr>` elements, the second child may precede the first, depending on how the

[2016-05-26 15:50] mjordan opened #221 "Add a wiki page for the CdmCompound fetcher manipulator"
Title says it all.

[2016-05-27 22:58] MarcusBarnes commented on #216
@mjordan Initial tests worked with both flat and hierarchical directories containing issue master page images.

[2016-05-27 23:00] mjordan commented on #216
Great, thanks. If you have no objections, feel free to merge that branch into master and I'll link the wiki page from the table of contents. I can update the README as well.

[2016-05-27 23:01] MarcusBarnes commented on #216
@mjordan No objections.  I'll create a pull-request and merge momentarily.

[2016-05-27 23:04] MarcusBarnes commented on #216
Closed with commit fbd3a82.  Thank you @mjordan for your contribution.

[2016-05-27 23:04] #216 closed

[2016-05-30 21:42] mjordan opened #223 "src/writers/CdmPhpDocuments.php should be named CdmPdfDocuments.php"
This filename and classname is obviously the result of fatigue: https://github.com/MarcusBarnes/mik/blob/master/src/writers/CdmPhpDocuments.php

This should be renamed to match what it does: generates PDF files.

[2016-05-31 04:15] mjordan opened #224 "Add extras script that fixes back JP2 files from CONTENTdm"
Some .jp2 files generated by CONTENTdm do not work in Islandora, they are completely black. The files are valid JPEG2000 files, they just don't work with Islandora. Running them through IM's `convert` command fixes them, but increases their size considerably.

Write a script that recurses down a directory of ingest packages and fix all the JP2s.

[2016-05-31 04:20] mjordan commented on #224
extras/scripts/fixjp2s.php added.

[2016-05-31 04:20] #224 closed

[2016-05-31 05:14] MarcusBarnes commented on #224
👍

[2016-05-31 16:10] mjordan commented on #220
We can have MIK produce Islandora compound structure files from CONTENTdm .cpd files using the following code:

[code]

This preserves the order of the elements in the .cpd file, addressing the issue I raised in the previous comment. Applied to the .cpd file in that comment, this script ouputs:

[code]

Perhaps we can make generation of these files the default, but add a setting to the `[WRITER]`

[2016-05-31 17:06] MarcusBarnes commented on #220
@mjordan I think that would be a suitable solution to the issue.  Thank you.

[2016-05-31 19:32] mjordan commented on #220
OK,  thanks, I'll integrate this solution into the Cdm writers.

[2016-06-01 02:07] mjordan commented on #220
@MarcusBarnes can you test? Run the issue-220 branch against the BC Postcards. Your output should contain `structure.xml` files using thw `<islandora_compound_object>` XML. If you want to retain the CPD file in addition to the new `structure.xml` file, add `cpd_filename = foo.xml` to your .ini file's `[WRITER]` section and the CPD file will be written to a file with the specified name.

I'd like t

[2016-06-01 03:17] MarcusBarnes commented on #220
@mjordan Yes - I'll test.  Thank you!

[2016-06-01 19:00] MarcusBarnes commented on #220
@mjordan I've tested BC Postcard output and the MIK created packages as expected.  I'll double check that the batch loader handle the packages MIK created as expected.

I noticed that we'll need to update the validate_mods.php postwrite hook to handle the CdmCompound case as the default case doesn't work with CdmCompound https://github.com/MarcusBarnes/mik/blob/master/extras/scripts/postwritehooks

[2016-06-01 19:55] mjordan commented on #220
Thanks. I hadn't noticed that the post-write hook didn't work for compound objects because I've gotten into the habit of running https://github.com/MarcusBarnes/mik/blob/master/extras/scripts/validate_mods_xml.php to validate MODS, which recurses down a directory tree.

[2016-06-01 19:57] MarcusBarnes commented on #220
@mjordan I've tested batch loading the packages I created earlier and everything appears to work as expected.  Please feel free to merge if you feel comfortable with the state of things.

[2016-06-01 20:11] mjordan commented on #220
Will do!

[2016-06-02 18:00] mjordan opened #225 "Provide configuration option for the CONTENTdm nickname associates with full text"
CONTENTdm can assign any nickname to an object's full text/OCR data. The CONTENTdm Newspaper writer [contains logic](https://github.com/MarcusBarnes/mik/blob/master/src/writers/CdmNewspapers.php#L158) to account for the two nicknames we've encountered so far, 'full' and 'fullte', but I've just encountered a newspaper where the nickname is 'audien'.

Instead of adding more `if/else` logic chasing t

[2016-06-05 16:31] mjordan commented on #220
Merged into master with 32e0697dbb5a9e4171991a49829ba08c3bdcf204.

Note that there are some ingest packages queued up for import that use .cpd files, not structure.xml files, so the Islandora Compound Batch module should not be updated until these are done.

[2016-06-05 16:31] #220 closed

[2016-06-05 17:03] mjordan commented on #111
@jpeak5, we're almost ready with the compound batch module and would love if  you could test. @MarcusBarnes will be testing one last feature on Monday or Tuesday and then it's ready to hand off to you.

[2016-06-06 14:53] mjordan commented on #142
Some initial work in the issue-142 branch on this using the OAI-PMH component linked above. Using the following .ini, the new OAI-PMH fetcher will write records into the temp directory.

[code]
So the basics of an OAI-PMH fetcher work. But, an interesting question arises: The records retrieved via OAI-PMH are full XML. Do we continue to use a mappings file as with CONTENTdm and CSV (say with expat

[2016-06-07 20:05] mjordan commented on #142
@MarcusBarnes as discussed, I'll continue with the whole-document XSLT approach for now so we can have some tires to kick.

[2016-06-07 20:09] MarcusBarnes commented on #142
@mjordan Awesome.  Thanks.

[2016-06-12 09:53] mjordan commented on #142
The issue-142 branch contains a working toolchain to harvest content using OAI-PMH from an [OJS](https://pkp.sfu.ca/ojs/) instance and create Islandora ingest packages containing one DC file and one PDF file. Here is a working .ini file:

[code]

OAI-PMH does not provide a standardized way to indicate the URL of the PDF or other non-metadata content. As a result, the MIK filegetter and writer clas

[2016-06-12 16:18] mjordan commented on #142
Draft wiki page at https://github.com/MarcusBarnes/mik/wiki/Toolchain:-OAI-PMH-for-Open-Journal-Systems.

[2016-06-12 19:41] mjordan opened #226 "Add a CONTRIBUTING.md file"
This could be based on the CONTRIBUTING.md files distributed with the Islandora release modules but also include some MIK-specific content.

[2016-06-13 18:17] MarcusBarnes commented on #142
@mjordan Awesome!  Yes, I'll test and get back to you.  Thank you.

[2016-06-15 21:02] MarcusBarnes commented on #142
@mjordan I've done some initial testing and the main script appears to function as expected.   We will need to update src/config/Config.php since it expects a mapping_csv_path and creates an undefined index error when running --configcheck=all.  If you're comfortable with the code for this example OAI-PMH toolchain, please create a pull-request.  We can add an issue to fix the problem with --confi

[2016-06-16 09:13] mjordan commented on #142
@MarcusBarnes great catch on the --checkconfig oversight. I'll open a PR for work to date and then open an issue. Thanks for testing.

[2016-06-30 16:47] mjordan commented on #142
Branch 142 merged.

[2016-06-30 16:47] #142 closed

[2016-06-30 16:49] mjordan opened #228 "Modify --checkconfig to allow toolchains that don't use mapping files"
Follow up from #142. The new OAI-PMH, and possibly other future toolchains, don't use mapping files, so we need to add logic to checkconfig to allow this.

[2016-07-03 21:03] mjordan commented on #228
Fixed in the issue-228 branch. Also added a new function, `checkOaiEndpoint()`, that determines if the ['FETCHER']['oai_endpoint'] value returns a Guzzle `RequestException` or not.

Test by running `mik --config=oaiconfig.ini --checkconfig=all`. There should be no message about snippets (the check is skipped for this toolchain) and if the OAI-PMH endpoint is OK, the 'URLs are OK' message should ap

[2016-07-05 18:16] MarcusBarnes commented on #228
@mjordan Tested and works as expected.

Since this workflow does not expect input_directories, the message "No input directories are defined in the FILE_GETTER section." appears when using `--checkconfig=all`.  Would this cause some confusion for less experienced MIK users?

[2016-07-05 18:19] MarcusBarnes commented on #228
@mjordan Please feel free to close this issue and create a pull-request.

[2016-07-05 18:21] mjordan commented on #228
@MarcusBarnes yes, I thought about that. Let me wrap the check for input directories in the same sort of logic that the check for mappings files is in.

Thanks for testing.

[2016-07-05 18:27] MarcusBarnes commented on #228
@mjordan You're welcome.

[2016-07-08 00:15] mjordan commented on #228
@MarcusBarnes I've added FILE_GETTER-specific logic to checkInputDirectories(), and done a bit of cleanup around making this work better. I am beginning to think that there are so many toolchain-specific options that it's getting challenging to have the checkconfig code offer informative messages  to end users.

If you wouldn't mind giving this a quick smoke test by commenting out the [FETCHER][in

[2016-07-08 00:22] MarcusBarnes commented on #228
@mjordan Thanks.  I will test.

I was thinking that there are "classes" of workflows and part of creating a new workflow would be selecting which configuration class matches the workflow (and if there is no match to existing configurations, create a new one or extend the existing Config class).  I would have to think about how we'd implement this since the Config class loads the configuration file

[2016-07-08 02:55] mjordan commented on #228
Interesting idea. Makes me think about how we could automate MIK jobs (which is something we will certainly want to do). Quite a while ago we had talked about "preflight" hooks that work similar to the existing post-write hooks but that would be more suited to input data validation or preprocessing. Perhaps a workflow configuration framework could incorporate this as well.

[2016-07-08 18:26] MarcusBarnes commented on #228
@mjordan Tested and worked as expected.

[2016-07-08 18:31] MarcusBarnes commented on #228
Addressed in commit c21194680182f0f92e3cdac1eeadaedb130fda9e.  Thank you @mjordan for your contribution.  We can continue the conversation regarding the ideas in https://github.com/MarcusBarnes/mik/issues/228#issuecomment-231263589 and https://github.com/MarcusBarnes/mik/issues/228#issuecomment-231244927 in other issues or elsewhere.  Thank you again.

[2016-07-08 18:31] #228 closed

[2016-07-21 22:03] mjordan opened #230 "Add a filegetter for CSV toolchains that fetches a file from a URL"
If the CSV input file has a field that contains a URL to a PDF, image, etc., we should be able to write a FileGetter that fetches the specified file. Digital Commons, from example, provides a CSV file that contains such a field.

[2016-07-22 22:59] mjordan opened #231 "Provide a file getter for the OAI-PMH toolchain that gets the URL for the PDF, etc. from a field in the Dublin Core"
Some OAI-PMH compliant platforms follow a convention where they put the direct link to the PDF or other payload file in a specific field in the OAI Dublin Core. For example, BePress' [Digital Commons platform](http://digitalcommons.bepress.com/cgi/viewcontent.cgi?article=1087&context=reference) puts it in the second `<dc:identifier>` element. The [RIOXX Application Profile](http://www.rioxx.net/pr

[2016-07-23 21:49] mjordan commented on #231
@MarcusBarnes I've pushed up branch issue-231, with documentation at https://github.com/MarcusBarnes/mik/wiki/OAI-PMH-for-repositories-that-identify-resource-files-in-a-record-element. I've only got one OAI-PMH repository to test against, so perhaps there's no need for you to test this toolchain, but if you'd like to test let me know and I'll share the .ini file with you.

[2016-07-28 20:07] mjordan opened #232 "Potential problem with mapping source field labels that contain hyphens"
We've discovered an instance where a mapping from a CONTENTdm field name that contained a hypen didn't work - all resulting MODS documents had an empty target element. The row from the mapping file is:

`Series-group,"<relatedItem type=""series""><titleInfo><title>%value%</title></titleInfo></relatedItem>"`

We need to test to see if the hyphen may have caused the problem of it was caused by somet

[2016-07-28 20:07] mjordan commented on #232
@MarcusBarnes if you have time to test this I'd appreciate it, if not I can.

[2016-07-28 20:08] MarcusBarnes commented on #232
@mjordan I'd like to test.  Would you send me some additional material so that I can test?  Thank you.

[2016-07-28 20:09] mjordan commented on #232
@MarcusBarnes will do.

[2016-07-28 22:31] MarcusBarnes commented on #232
@mjordan I've confirmed the issue, but it's related to wrapper element code in CdmToMods.php metadata parser rather than an issue with the source field containing a hyphen.   To confirm this, one can add the `repeatable_wrapper_elements[] = titleInfo` under the `[METADATA_PARSER]` section of the configuration file.  Wrapper element code doesn't adequately deal with top-level elements that are chil

[2016-07-28 22:31] #232 closed

[2016-07-28 22:42] MarcusBarnes opened #233 "CdmToMods metadata parser: Repeated Wrapper Element code inadequately handles top-level elements that are also children of top-level elements in the same MODS file."
Issue#232 identified a problem with the code that deals with consolidating repeated wrapper elements.  If the CdmToMods metadata parser produces MODS like during the metadata parsing process

[code]

The result will be
[code]
within the created MODS.xml, contrary to what is desired.   This can be confirmed by adding
`repeatable_wrapper_elements[] = titleInfo` under the `[METADATA_PARSER]` section

[2016-07-28 22:47] MarcusBarnes commented on #233
Related to https://github.com/MarcusBarnes/mik/issues/29

[2016-07-28 23:34] mjordan commented on #233
Makes sense, but I was under the impression (wrong obviously) that wrapper elements controlled by that config option were restricted to be top-level (i.e., direct children of mods:mods) elements.

[2016-07-28 23:36] MarcusBarnes commented on #233
@mjordan You are correct - it's a bug with the code that deals with consolidating the content of top-level elements.

[2016-08-05 02:27] mjordan opened #234 "Create CSV Compound toolchain"
Initial requirements are to create ingest packages for flat (non-hierarchical) objects, with ooptional child-level metadata. The CSV Newspapers toolchain is a good place to start.

[2016-08-05 03:04] mjordan commented on #234
The source files should be arranged like this:

[code]

The metadata should be structured like this:

[code]

The Identifier and Child columns are reserved (although like other CSV toolchains the actual column names are configurable in the .ini file). The `identifier` column indicates the directory name of the compound object, and all other non-reserved fields in the row contain metadata that appl

[2016-08-05 16:03] mjordan opened #235 "Add better logging of "No such file or directory" errors in CSV toolchains"
If the CSV Single File toolchain can't find a file it expects, it writes the following to the MIK log as a general exception:

[code]

This is not particularly useful when you have hundreds of these in the log. We should add a pre-emptive check to the CSV writers to log this issue in a way that is more amendable to grepping out these lines for handing off to the person preparing the content.

[2016-08-05 16:21] mjordan commented on #235
In addition, the MODS file for an object for which there is no matching source file is still written to the output directory. This is not the desired behavior as it results in an output directory that contains orphan .xml files. The logic we add to change the logging should avoid writing the .xml file.

[2016-08-05 16:34] mjordan commented on #235
I've made this change to the CSV Single File writer and everything appears to work as expected - entries in the MIK log are much more useful:

[code]
(and now contain the object's ID) and no orphan .xml files are appearing in the output directory. No corresponding entries are being written to the problem_records.log but this is expected since the check is not an exception.

@MarcusBarnes I see no

[2016-08-05 16:41] MarcusBarnes commented on #235
@mjordan Please feel to merge.  Thank you.

[2016-08-05 18:25] mjordan commented on #235
OK, will do. I just finished a run of 10,000+ cartoons and the number of MODS and TIFFs are the same, with a bunch of lines in the MIK log indicating missing TIFFs.

[2016-08-05 18:30] #235 closed

[2016-08-07 22:11] mjordan commented on #234
Substantially done, but still needs some testing and documentation. Here's a same .ini file:

[code]

Corresponding to this input CSV data:

[code]

[2016-08-08 14:06] mjordan commented on #234
Draft wiki page at https://github.com/MarcusBarnes/mik/wiki/Toolchain:-CSV-compound-objects

[2016-08-08 19:34] mjordan opened #236 "Separate templates for child/page-level MODS files from code, and make their locations configurable"
The MODS.xml files generated by MIK as described in the following toolchain guides use templates that exist within the writer class files. We should separate out these templates into their own files and allow users to configure the path to those template files.

https://github.com/MarcusBarnes/mik/wiki/Toolchain:-CONTENTdm-newspapers
https://github.com/MarcusBarnes/mik/wiki/Toolchain:-CSV-newspape

[2016-08-08 19:39] mjordan commented on #231
@MarcusBarnes I'm happy to have this branch merged into master without any testing since it's somewhat experimental anyway. Unless you object, I can merge it and link its wiki page from the MIK homepage.

[2016-08-08 19:42] MarcusBarnes commented on #231
@mjordan Would you please create a pull-request?  I'll double check the modified files and if it's just the new class files for the workflow I'll merge.  Thank you for this work!

[2016-08-08 19:49] mjordan commented on #231
Will do.

[2016-08-08 19:59] MarcusBarnes commented on #231
Closed with commit 44a78c7b60d9fd893de744e4a25f374cddd8f05a.  Thank you @mjordan for the initial work on this tool chain.

[2016-08-08 19:59] #231 closed

[2016-08-08 21:03] mjordan commented on #231
Sweet - I'll update the MIK README to mention this new toolchain after testing on the CSV Compound branch is done. Thanks!

[2016-08-09 14:12] mjordan opened #238 "Add end-to-end tests for CSV toolchains"
Currently, we only have PHPUnit tests for the CSV single-file fetcher. We should add tests for all  of the CSV toolchains that test filegetters and writers as well.

[2016-08-09 14:34] mjordan commented on #159
Another option for a GUI is to create a simple web a app in [SIlex](http://silex.sensiolabs.org/) or [Slim](http://www.slimframework.com/) and run it locally using PHP's built-in web server (`php -S localhost:8000`). Some tasks we could build into such a web app to provide more user-friendly tool than a command-line script could include:

* create and validate .ini files
* create mappings files us

[2016-08-09 14:51] mjordan commented on #159
Although apparently, `ini_set('max_execution_time', 0);` will let the web server run indefinitely, so we could even perform long-running MIK migration/conversion jobs using a local web server.

[2016-08-11 22:14] MarcusBarnes commented on #234
Closed with commit 7b7e0d24b89ce8b795c539c4932a56759f823754.  Thank you @mjordan for this nice toolchain.

[2016-08-11 22:14] #234 closed

[2016-08-13 14:37] mjordan opened #240 "Make MIK validate its input data"
Following up on some ideas from #228, we should look into making MIK validate its own input. This would perhaps be a bit complicated for CONTENTdm toolchains, but for CSV toolchains it would be simpler since all the data is already in a known location.

Validation should probably be enabled by default but configurable so that it could be disabled in the .ini file, maybe with a `validate_input = fa

[2016-08-13 14:40] mjordan commented on #226
We may also want to consider adding a `.github` directory that provides a pull request template, like Islandora modules use.

[2016-08-13 15:52] mjordan commented on #226
And maintain a list of contributors on in the README.

[2016-08-13 20:41] MarcusBarnes commented on #240
Two use cases that demonstrate how one might want to use `validate_input`:

1. For large, time-limited MIK jobs (for example, while migrating systems on a tight timeline), you'd want to have your data validated and well-prepared before handing this off to MIK.  In this use-case, you may want to include `validate_input = false` in order to decrease processing times for large volumes of data.

2.  F

[2016-09-06 14:58] mjordan opened #241 "Provide a utility script to generate a mappings file from a sample MODS XML file"
Given a simple MODS XML file like:

[code]

it should be possible to use an XSLT stylesheet, for example, to produce a mappings file.

[2016-09-20 19:31] mjordan opened #242 "Create metadata manipulator that allows simple regular expression subsititions on specific MODS fields"
Use case is to replace "Page x" in CONTENTdm child objects with "Part x".

[2016-09-20 19:57] MarcusBarnes opened #243 "Fedora3 toolchain"
Create a toolchain that exports data from [Fedora Commons 3](https://github.com/fcrepo3) into ingest ready packages.

There may be situations where Fedora Commons 3 was used as the datastore for a digital repository ecosystem, but where the ability to use the metadata and file manipulators or other features of MIK, would help create better quality ingest packages than direct upgration.

If this to

[2016-09-20 22:23] mjordan commented on #242
First version tested on a batch of compound objects that had 'Page' in their MODS `<title>` elements that needed to be replaced with 'Part'. Uses the following signature in .ini files:

`metadatamanipulators[] = "SimpleReplace|/pattern/|replacement text"`

e.g. in my use case:

`metadatamanipulators[] = "SimpleReplace|/<title>Page/|<title>Part"`

Will write up wiki entry on how to use it.

[2016-09-20 23:54] mjordan commented on #242
Wiki entry is at https://github.com/MarcusBarnes/mik/wiki/Metadata-manipulator:-SimpleReplace.

[2016-09-20 23:55] mjordan commented on #243
upgration++

[2016-09-21 00:48] mjordan commented on #242
@MarcusBarnes I've documented a few complex patterns and tested this new manipulator in CONTENTdm and CSV MODS toolchains and it works as expected. Unless you want to do additional testing, please merge the issue 242 branch into master at your convenience.

[2016-09-21 14:02] MarcusBarnes commented on #242
@mjordan Awesome stuff.  Thank you for testing.   Since the issue-242 branch only adds the manipulator and does not modify other parts of MIK, I'm comfortable merging the code for the new manipulator at this time.  Please create separate issues should problems with the manipulator become apparent.

[2016-09-21 14:02] MarcusBarnes commented on #242
Addressed in commit 1dab8c7.

[2016-09-21 14:02] #242 closed

[2016-09-21 14:10] mjordan commented on #242
Cool, thanks. In writing the PHPUnit test I noticed that the method we were using to exclude the FITS test wasn't working as intended, so I just pushed a small tweak directly to master, basically just using the command-line option `--exclude-group` to skip that test. It'd documented in README_DEV.md.

[2016-09-21 14:12] MarcusBarnes commented on #242
@mjordan Thank you.

[2016-09-21 14:46] mjordan opened #245 "Add PHPUnit test for FilterModsTopic metadata manipulator, complete its wiki page"
Wiki page is at https://github.com/MarcusBarnes/mik/wiki/Metadata-manipulator:-FilterModsTopic.

[2016-09-21 15:18] mjordan commented on #245
Test passes, wiki page updated.

[2016-09-21 18:56] mjordan opened #246 "Update check_files.php expects structre.cpd files, not structure.xml files"
The Islandora Compound Batch module (still under internal testing) now uses structure.xml as the filename for its structure files.

[2016-09-21 18:59] mjordan commented on #246
@MarcusBarnes I've tested this and it works as expected, I don't see a need for additional testing the issue-246 branch before merging into master if you don't.

[2016-09-21 19:01] MarcusBarnes commented on #246
Merged into master via pull-request https://github.com/MarcusBarnes/mik/pull/247 in commit 1f8792e .

[2016-09-21 19:01] #246 closed

[2016-09-21 23:16] mjordan opened #248 "OAI toolchain should provide option to write out ingest packages organized by set"
Many OAI-PMH repositories express collection membership using OAI sets. For example, Digital Commons. The OAI-PMH protocol, however, doesn't provide a way to determine an object's set membership; in other words, you can query an OAI-PMH repository to determine an object's set membership. You can only query the repository by setSpec, which provides all records that are in a specific set.

The OAI t

[2016-09-22 01:05] mjordan commented on #248
Looking at this a bit more, we might be able to implement "writer manipulators" following the pattern we have already established, which would, in this use case, modify the output path that a set of ingest files is written to. In this case, the output path would be based on the set the record was a member of. We'd need to have some way to relate each object to a set and corresponding directory, bu

[2016-09-22 01:22] mjordan commented on #248
Then again, a much simpler approach would be to not introduce writer manipulators but to have the helper script offer an option that organized the harvested content into set-based subdirectories after the fact. This is probably the preferable approach until there are additional use cases for writer manipulators.

[2016-09-22 03:01] mjordan commented on #248
I was wrong about determining a record's set membership. Its setSpecs are included in both `GetRecord` requests and `ListRecord` requests.

[2016-09-22 17:39] mjordan commented on #248
Working through a use case with someone performing a migration from an OAI repository, please stay tuned.....

[2016-09-23 14:10] mjordan commented on #243
A couple of ideas for approaching this toolchain.

First, if MIK has HTTP access to Fedora's REST API, the toolchain could ask Fedora to describe an object, then retrieve each of its datastreams, and write them to Islandora ingest packages for ingest.

Second, if MIK did not have access to the REST API, exporting the [FOXML](https://wiki.duraspace.org/pages/viewpage.action?pageId=27001041) of the

[2016-09-26 19:54] mjordan opened #249 "Remove generation of structure files from CONTENTdm compound toolchain"
The Islandora Compound Batch module contains a utility to generate these files. Discussion at https://github.com/MarcusBarnes/islandora_compound_batch/issues/2 led to the decision to remove equivalent functionality from MIK.

[2016-09-26 20:38] mjordan commented on #245
Can we close this one?

[2016-09-26 20:41] MarcusBarnes commented on #245
Closing.  Re-open as necessary.  Thanks @mjordan for your contribution.

[2016-09-26 20:41] #245 closed

[2016-09-29 02:58] mjordan commented on #249
@MarcusBarnes, output of the CdmCompound toolchain now looks like:

[code]

I see no need to test further if the output looks correct. Your call.

[2016-09-29 20:32] MarcusBarnes commented on #249
@mjordan  Thanks. If this is ready, please create a pull-request.

[2016-09-29 21:12] mjordan commented on #249
PR is at https://github.com/MarcusBarnes/mik/pull/250

[2016-09-30 13:18] MarcusBarnes commented on #249
Resolved with 9c28054.

[2016-09-30 13:18] #249 closed

[2016-09-30 18:40] mjordan opened #251 "Add support to the CSV Newspapers toolchain for page-level metadata"
Use case is adding page-level keywords to aid in searching. We have a related feature in the CSV Generic Compound toolchain that may be applicable here.

[2016-10-17 12:32] mjordan opened #252 "Replace FilterModsTopic metadata manipulator with a more generic version"
We should convert repeated values in source metadata to be split on a delimter and generate a MODS element for each. The FilterModsTopic manipulator does this for `<subject><topic>` elements, so we should replace this with a more generic manipulator that can be applied to any element.

[2016-10-17 12:35] mjordan commented on #252
@MarcusBarnes I will add tests and wiki entry in next day or so and ask you to do a smoke test.

[2016-10-17 12:40] mjordan commented on #252
For the record, here are some sample .ini options (parameters are source field, XPath to MODS mapping, delimeter):

[code]

[2016-10-17 13:27] mjordan commented on #252
Wiki page: https://github.com/MarcusBarnes/mik/wiki/Metadata-manipulator:-SplitRepeatedValues

[2016-10-18 01:18] mjordan commented on #252
@MarcusBarnes test added. Please smoke test at your convenience.

[2016-10-20 18:14] bondjimbond opened #253 "Make FilterModsTopic conform to DLF Aquifer"
FilterModsTopic (according to the documentation) places multiple Topics into a single Subject container. According to DLF Aquifer guidelines, separate Subject elements/containers should be used for each chain of related subjects - see https://www.loc.gov/standards/mods/userguide/subject.html
i.e. each Topic element should be inside its own Subject element.

The example output from the documentaito

[2016-10-20 19:31] MarcusBarnes commented on #253
@bondjimbond Thank you.  To confirm, the following snippet is displayed nicely in Islandora Solr metadata display?

[code]

The task then is to provide a way to generate the snippet above when generating packages from source metadata where using the FilterModsTopic metadatamanipulator makes sense.

[2016-10-20 23:01] bondjimbond commented on #253
Yes, the snipped quoted displays best in all places (search results, Solr metadata display, etc). In Arca:

(1) Here's a display result with all topics under one <subject> element:
http://arcabc.ca/islandora/object/unbc%3A7310

(2) Here's a display result with each topic under its own <subject>:
http://arcabc.ca/islandora/object/unbc%3A46

With dc.subject as our search result display field, here's

[2016-10-21 01:07] mjordan commented on #253
@bondjimbond can you add the following to your .ini file's `[METADATA_PARSER]` section and try again:

`repeatable_wrapper_elements[] = subject`

That should result in output where each `<topic>` is wrapped in its own `<subject>` element.

[2016-10-21 01:18] mjordan commented on #253
Also point out that it is possible to make `<topics>` that share a `<subject>` wrapper display on their own using a custom Solr metadata display. The MODS for http://digital.lib.sfu.ca/bcp-5831/blueberry-farm-near-mission-bc-1906 looks like

[code]
I can probably get more information if you're interested. @librarychik did the configuration on this. Not sure if there's a way to do this in search re

[2016-10-21 14:58] mjordan commented on #203
I've integrated the Commando component (linked above) into `mik` and it appears to work as intended, on Linux at least (haven't tested yet on Windows). So, now, `./mik  --help` produces:

[code]

We get aliases, so that `./mik  --c tutorial_config.ini` and `./mik  --config tutorial_config.ini` are equivalent.

And, most importantly, we get option validation, so that `./mik  --config tutorial_confi

[2016-10-21 15:06] mjordan commented on #203
To test, switch to the issue-203 branch, then run `composer update`, since we are adding

[code]

to composer.json.

[2016-10-21 15:06] mjordan commented on #203
AFAICT, only README.md and the tutorial (including screenshots) would need to be updated to reflect the change in command-line syntax.

[2016-10-21 16:14] MarcusBarnes commented on #203
@mjordan Thanks.  I will schedule some time to test.

[2016-10-21 16:37] mjordan commented on #203
Excellent thanks. Just did a smoke test on Windows and everything appears to work as expected.

[2016-10-21 20:10] MarcusBarnes commented on #203
@mjordan Passed my initial basic tests.

[2016-10-21 21:03] mjordan commented on #203
As discussed offline, I've tested this pretty thoroughly so I'll merge into master.

[2016-10-21 21:08] mjordan commented on #203
Merged with  72b5d88; reopening because updating tutorial is yet to be done.

[2016-10-22 15:08] mjordan opened #255 "OAI PMH for repositories that identify resource files in a record element broken"
Running this toolchain against any OAI endpoint results in the following error:

[code]

[2016-10-23 16:51] mjordan commented on #255
@MarcusBarnes I'm working with @bondjimbond on a migration to Arca and thought I'd add a post-write hook script to this branch that transforms the harvested OAI DC into MODs. One trick I used in that script that I think is new is that I instantiate the OAI writer class so I can reuse a method that it defines. If you're interested see https://github.com/MarcusBarnes/mik/blob/issue-255/extras/script

[2016-10-24 14:39] mjordan commented on #255
@MarcusBarnes you probably don't need to test the changes I've made to the OAI toolchain. @bondjimbond and I will be running it frequently over the next little while, and the changes don't affect other MIK code. OK if I merge into master if we're happy with the changes on this end?

[2016-10-24 15:01] MarcusBarnes commented on #255
@mjordan @bondjimbond - yes, that would be great.  Thank you for contributing this new toolchain.

[2016-10-24 15:07] mjordan commented on #255
Great, will get @bonjimbond's feedback from the latest changes and then merge.